Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

chore(oblique/sticky): remove `api.json` & `description.html` files
  projects/oblique/src/lib/sticky/sticky.api.json
  projects/oblique/src/lib/sticky/sticky.description.html
Due: eslint --fix --cache, prettier --write

feat(oblique/sticky): make sticky compatible with `onPush`
  projects/oblique/src/lib/sticky/sticky.component.ts
Due: eslint --fix --cache, prettier --write

chore(oblique/nav-tree): remove `api.json` & `description.html` files
  projects/oblique/src/lib/nav-tree/nav-tree.api.json
  projects/oblique/src/lib/nav-tree/nav-tree.description.html
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): add public scss variables and mixins examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/layout/public-scss-variables-and-mixins-example-layout-preview.component.html
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/layout/public-scss-variables-and-mixins-example-layout-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/layout/public-scss-variables-and-mixins-example-layout-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/palette/public-scss-variables-and-mixins-example-palette-preview.component.html
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/palette/public-scss-variables-and-mixins-example-palette-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/palette/public-scss-variables-and-mixins-example-palette-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/public-scss-variables-and-mixins-example-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/shadow/public-scss-variables-and-mixins-example-shadow-preview.component.html
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/shadow/public-scss-variables-and-mixins-example-shadow-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/shadow/public-scss-variables-and-mixins-example-shadow-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/typography/public-scss-variables-and-mixins-example-typography-preview.component.html
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/typography/public-scss-variables-and-mixins-example-typography-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/typography/public-scss-variables-and-mixins-example-typography-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/variables/public-scss-variables-and-mixins-example-variables-preview.component.html
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/variables/public-scss-variables-and-mixins-example-variables-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/variables/public-scss-variables-and-mixins-example-variables-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/public-scss-variables-and-mixins-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/public-scss-variables-and-mixins-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/notification): remove `PreviewComponent` interface
  projects/sds/src/app/component-pages/code-examples/notification/previews/default/notification-example-default-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/notification/previews/other-options/notification-example-other-options-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/sticky): add code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/sticky/previews/default/sticky-example-default-preview.component.html
  projects/sds/src/app/component-pages/code-examples/sticky/previews/default/sticky-example-default-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/sticky/previews/sizes/sticky-example-sizes-preview.component.html
  projects/sds/src/app/component-pages/code-examples/sticky/previews/sizes/sticky-example-sizes-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/sticky/previews/sticky-example.scss
  projects/sds/src/app/component-pages/code-examples/sticky/sticky-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/sticky/sticky-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/popover): add `panelContentId` input
  projects/oblique/src/lib/popover/popover.directive.spec.ts
  projects/oblique/src/lib/popover/popover.directive.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): add nested form examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/nested-form/nested-form-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/nested-form/nested-form-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/nested-form/previews/nested-form-example-preview.scss
  projects/sds/src/app/component-pages/code-examples/nested-form/previews/reactive/child/nested-form-example-reactive-preview-child.component.html
  projects/sds/src/app/component-pages/code-examples/nested-form/previews/reactive/child/nested-form-example-reactive-preview-child.component.ts
  projects/sds/src/app/component-pages/code-examples/nested-form/previews/reactive/grandchild/nested-form-example-reactive-preview-grandchild.component.html
  projects/sds/src/app/component-pages/code-examples/nested-form/previews/reactive/grandchild/nested-form-example-reactive-preview-grandchild.component.ts
  projects/sds/src/app/component-pages/code-examples/nested-form/previews/reactive/nested-form-example-reactive-preview.component.html
  projects/sds/src/app/component-pages/code-examples/nested-form/previews/reactive/nested-form-example-reactive-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/nested-form/previews/template-driven/child/nested-form-example-template-driven-preview-child.component.html
  projects/sds/src/app/component-pages/code-examples/nested-form/previews/template-driven/child/nested-form-example-template-driven-preview-child.component.ts
  projects/sds/src/app/component-pages/code-examples/nested-form/previews/template-driven/grandchild/nested-form-example-template-driven-preview-grandchild.component.html
  projects/sds/src/app/component-pages/code-examples/nested-form/previews/template-driven/grandchild/nested-form-example-template-driven-preview-grandchild.component.ts
  projects/sds/src/app/component-pages/code-examples/nested-form/previews/template-driven/nested-form-example-template-driven-preview.component.html
  projects/sds/src/app/component-pages/code-examples/nested-form/previews/template-driven/nested-form-example-template-driven-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/popover): improve popover design
  projects/oblique/src/lib/popover/popover.directive.ts
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/core/components/_popover.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

chore(oblique/spinner): remove `api.json` & `description.html` files
  projects/oblique/src/lib/spinner/spinner.api.json
  projects/oblique/src/lib/spinner/spinner.description.html
Due: eslint --fix --cache, prettier --write

feat(sds/material): update the datepicker examples to show the hints in the `en-CH` format
  projects/sds/src/app/component-pages/code-examples/datepicker/previews/default/datepicker-example-default.component.html
  projects/sds/src/app/component-pages/code-examples/datepicker/previews/other-options/datepicker-example-other-options-preview.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/notification): deduplicate css selector
  projects/sds/src/app/component-pages/code-examples/notification/previews/other-options/notification-example-other-options-preview.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/off-canvas): add off-canvas stackblitz link example
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/off-canvas/off-canvas-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/off-canvas/off-canvas-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/off-canvas/previews/stackblitz-link/off-canvas-example-stackblitz-link-preview.component.html
  projects/sds/src/app/component-pages/code-examples/off-canvas/previews/stackblitz-link/off-canvas-example-stackblitz-link-preview.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/tabbed-page): move the `tabbed-page` component into its own "feature folder"
  projects/sds/src/app/component-pages/component-pages.routes.ts
  projects/sds/src/app/tabbed-page/tabbed-page.component.html
  projects/sds/src/app/tabbed-page/tabbed-page.component.scss
  projects/sds/src/app/tabbed-page/tabbed-page.component.spec.ts
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

chore(oblique/notification): remove `api.json` & `description.html` files
  projects/oblique/src/lib/notification/notification.api.json
  projects/oblique/src/lib/notification/notification.description.html
Due: eslint --fix --cache, prettier --write

chore(sandbox/spinner): remove api & description sections
  projects/sandbox/src/app/samples/spinner-sample/spinner-sample.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): add form examples
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/form/form-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/form/form-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/horizontal/form-example-horizontal-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/horizontal/form-example-horizontal-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/input-clear/form-example-input-clear-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/input-clear/form-example-input-clear-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/sizes/form-example-sizes-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/sizes/form-example-sizes-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/form/previews/sizes/form-example-sizes-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/ux/form-example-ux-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/ux/form-example-ux-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/form/previews/ux/form-example-ux-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

chore(oblique/nested-form): remove `api.json` & `description.html` files
  projects/oblique/src/lib/nested-form/nested-form.api.json
  projects/oblique/src/lib/nested-form/nested-form.description.html
Due: eslint --fix --cache, prettier --write

refactor(sds): rename interface `ComponentPageShortCms` to `TabbedPageShortCms` and refactor
  projects/sds/src/app/cms/cms-data.service.ts
  projects/sds/src/app/cms/models/component-page.model.ts
  projects/sds/src/app/side-navigation/side-navigation.component.ts
  projects/sds/src/app/side-navigation/utils/accordion-composer.ts
  projects/sds/src/app/side-navigation/utils/accordion-mapper.ts
Due: eslint --fix --cache, prettier --write

feat(sds/popover): add code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/popover/popover-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/popover/popover-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/popover/previews/default/popover-example-default-preview.component.html
  projects/sds/src/app/component-pages/code-examples/popover/previews/default/popover-example-default-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/popover/previews/other-options/popover-example-other-options-preview.component.html
  projects/sds/src/app/component-pages/code-examples/popover/previews/other-options/popover-example-other-options-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/popover/previews/other-options/popover-example-other-options-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/toolchain): remove copying of `*.api.json` & `*.description.html` files
  projects/oblique/scripts/post-dist/steps/copy-dist-files.ts
Due: eslint --fix --cache, prettier --write

feat(sds/toolchain): set `LOCALE_ID` to `en-CH`
  projects/sds/src/main.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/material): reorder material theme alphabetically
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): apply material legacy migration for list
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/autocomplete): finish material legacy migration
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/material): finish material legacy migration for chips
  projects/sandbox/src/app/material/chips/chips.component.html
  projects/sandbox/src/app/material/chips/chips.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds): display tabbed pages for the categories `helpers` and `foundations`
  projects/sds/src/app.routes.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/material): finish material legacy migration for radio button
  projects/oblique/src/styles/scss/material/_mat-checkbox-radio.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-checkbox-radio.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/external-link): finish material legacy migration
  projects/oblique/src/styles/scss/core/components/_external-link.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/schema-validation): add type to private properties
  projects/oblique/src/lib/schema-validation/schema-validation.directive.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/material): remove unused legacy variables
  projects/oblique/src/styles/scss/material/_material-palette.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/material): remove `sb-description` from mandatory page
  projects/sandbox/src/app/material/mandatory/mandatory.sample.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/material): apply material legacy migration for menu
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/material): finish material legacy migration for form field
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
  projects/oblique/src/styles/scss/material/_mat-form.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/schematics): correct the path to the `CodeExamplesMapper`
  projects/sds/schematics/src/sds.utils.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/material): finish material legacy migration for slide-toggle
  projects/oblique/src/styles/scss/material/_mat-slide-toggle.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/material): finish material legacy migration for list
  projects/sandbox/src/app/material/list/list.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/schema-validation): remove incorrect `private readonly` on input
  projects/oblique/src/lib/schema-validation/schema-validation.directive.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/material): remove unused code
  projects/sandbox/src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
