Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

feat(sds/code-examples): remove `layout` example
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/layout/spacing-and-layout-example-layout-preview.component.html
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/layout/spacing-and-layout-example-layout-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/layout/spacing-and-layout-example-layout-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/spacing/spacing-and-layout-example-spacing-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/spacing-and-layout-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/spacing-and-layout-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/spacing/previews/spacing/spacing-example-spacing-preview.component.html
  projects/sds/src/app/code-examples/code-examples/spacing/previews/spacing/spacing-example-spacing-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/spacing/previews/spacing/spacing-example-spacing-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/spacing/spacing-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/spacing/spacing-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/code-examples): don't highlight styling rules for spacing example
  projects/sds/src/app/code-examples/code-examples/spacing/previews/spacing/spacing-example-spacing-preview.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/code-examples): make the padding visible in spacing example
  projects/sds/src/app/code-examples/code-examples/spacing/previews/spacing/spacing-example-spacing-preview.component.html
  projects/sds/src/app/code-examples/code-examples/spacing/previews/spacing/spacing-example-spacing-preview.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): add material styling
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/service-navigation): allow `https` connection on localhost
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout-cookie.service.spec.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout-cookie.service.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/service-navigation): don't start the timeout service when PAMS is not configured
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout.service.spec.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout.service.ts
Due: eslint --fix --cache, prettier --write

test(oblique/service-navigation): reduce code duplication for timeout service
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout.service.spec.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update Angular to 17.2
  package-lock.json
  package.json
Due: prettier --write

feat(sds/code-examples): stackblitz example for Date pipe
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/date/date-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/date/date-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/date/previews/default/date-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/date/previews/default/date-example-default-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): stackblitz example for setLocaleOnAdapter()
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/language/language-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/language/language-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/language/previews/default/language-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/language/previews/default/language-example-default-preview.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/service-navigation): remove css code that has no effect
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/service-navigation): make sure badge on message widget is displayed above next element
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/service-navigation): use a tertiary button instead of a secondary one
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.html
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/collapse): vertically align the toggle icon with the text
  projects/oblique/src/lib/collapse/collapse.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/styles): vertically align button in an `ob-inline-form`
  projects/oblique/src/styles/scss/material/_mat-form.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/styles): add datepicker and button to inline form sample
  projects/sandbox/src/app/samples/horizontal-forms/horizontal-forms.component.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 11.0.0-RC.3
  CHANGELOG.md
  Jenkinsfile
  package-lock.json
  package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove publish instructions for 11.0.0-rc.3
  Jenkinsfile
Due: none

feat(service-navigation): add new project structure
  CONTRIBUTING.md
  angular.json
  package-lock.json
  package.json
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/app.component.html
  projects/service-navigation-web-component/src/app/app.component.ts
  projects/service-navigation-web-component/src/index.html
  projects/service-navigation-web-component/src/main.ts
  projects/service-navigation-web-component/tsconfig.app.json
  projects/service-navigation-web-component/tsconfig.spec.json
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `@angular/elements`
  package-lock.json
  projects/service-navigation-web-component/package.json
Due: prettier --write

feat(service-navigation): provide the service navigation as a webcomponent
  angular.json
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/app.component.html
  projects/service-navigation-web-component/src/app/app.component.ts
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
  projects/service-navigation-web-component/src/assets/fonts/FrutigerNeueW02-Bd.woff2
  projects/service-navigation-web-component/src/assets/fonts/FrutigerNeueW02-It.woff2
  projects/service-navigation-web-component/src/assets/fonts/FrutigerNeueW02-Light.woff2
  projects/service-navigation-web-component/src/assets/fonts/FrutigerNeueW02-Regular.woff2
  projects/service-navigation-web-component/src/index.html
  projects/service-navigation-web-component/src/main.ts
  projects/service-navigation-web-component/tsconfig.app.json
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add environment and basic inputs
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
  projects/service-navigation-web-component/src/index.html
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add languages management
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
  projects/service-navigation-web-component/src/app/translations-service.ts
  projects/service-navigation-web-component/src/index.html
  projects/service-navigation-web-component/src/main.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add display inputs
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
  projects/service-navigation-web-component/src/index.html
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `infoContact`
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
  projects/service-navigation-web-component/src/index.html
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `infoLinks` and `profileLinks`
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
  projects/service-navigation-web-component/src/app/service-navigation-web-component.model.ts
  projects/service-navigation-web-component/src/app/translations-service.ts
  projects/service-navigation-web-component/src/index.html
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `languageChange` event
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
  projects/service-navigation-web-component/src/app/translations-service.ts
  projects/service-navigation-web-component/src/index.html
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `loginState` event
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
  projects/service-navigation-web-component/src/index.html
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add basic content projection
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
  projects/service-navigation-web-component/src/app/service-navigation-web-component.model.ts
  projects/service-navigation-web-component/src/index.html
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `handleLogout` and `logoutTriggered`
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
  projects/service-navigation-web-component/src/index.html
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `pamsAppId`
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.html
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
  projects/service-navigation-web-component/src/index.html
Due: eslint --fix --cache, prettier --write

test(service-navigation): add unit tests
  angular.json
  projects/service-navigation-web-component/jest.config.js
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.spec.ts
  projects/service-navigation-web-component/src/app/translations-service.spec.ts
  projects/service-navigation-web-component/tsconfig.spec.json
Due: eslint --fix --cache, prettier --write

feat(oblique/error-messages): improve the error message
  projects/oblique/src/lib/error-messages/error-messages.directive.ts
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): add `error-messages` examples
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/error-messages/error-messages-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/error-messages/error-messages-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/error-messages/previews/reactive-form/error-messages-example-reactive-form-preview.component.html
  projects/sds/src/app/code-examples/code-examples/error-messages/previews/reactive-form/error-messages-example-reactive-form-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/error-messages/previews/template-driven-form/error-messages-example-template-driven-form-preview.component.html
  projects/sds/src/app/code-examples/code-examples/error-messages/previews/template-driven-form/error-messages-example-template-driven-form-preview.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/toolchain): update CSP to allow directus to load sds in an iframe
  projects/sds/src/nginx/security_headers.conf
Due: none

feat(sds/code-examples): add stackblitz example for unknown route
  projects/sds/src/app/code-examples/code-examples/unknown-route/previews/default/unknown-route-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/unknown-route/previews/default/unknown-route-example-default-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/unknown-route/previews/stackblitz-link/unknown-route-example-stackblitz-link-preview.component.html
  projects/sds/src/app/code-examples/code-examples/unknown-route/previews/stackblitz-link/unknown-route-example-stackblitz-link-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/unknown-route/unknown-route-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add publish instructions
  Jenkinsfile
  angular.json
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/scripts/post-dist/adapt-package-json.ts
  projects/service-navigation-web-component/scripts/post-dist/add-banner.ts
  projects/service-navigation-web-component/scripts/post-dist/index.ts
  projects/service-navigation-web-component/scripts/post-dist/pack.ts
  projects/service-navigation-web-component/scripts/post-dist/package-json.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add new CI with multiple publish
  Jenkinsfile
Due: none

fix(oblique/service-navigation): remove `padding-top` on `ob-autocomplete`
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/material): add starterkit pages
  projects/sandbox/src/app/app-routing.module.ts
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/starterkit/nav-page/nav-page.component.html
  projects/sandbox/src/app/starterkit/nav-page/nav-page.component.ts
  projects/sandbox/src/app/starterkit/starterkit.module.ts
  projects/sandbox/src/app/starterkit/table-page/table-page.component.html
  projects/sandbox/src/app/starterkit/table-page/table-page.component.scss
  projects/sandbox/src/app/starterkit/table-page/table-page.component.ts
  projects/sandbox/src/app/starterkit/title-page/title-page.component.html
  projects/sandbox/src/app/starterkit/title-page/title-page.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write
