Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

refactor(oblique/spinner): remove unnecessary default values in some private functions
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/spinner/spinner.service.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): add placeholder box-shadow variable
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
  projects/oblique/src/styles/scss/material/_mat-select.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/material): add TS files to the chips's previews
  projects/sds/src/app/component-pages/code-examples/chips/chips-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/button): add TS files to the previews
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/material): add TS files to the slider's previews
  projects/sds/src/app/component-pages/code-examples/slider/slider-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds): remove unused & duplicated `styles.scss` file
  projects/sds/src/styles.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/component-pages): add title above the tab selection
  projects/sds/src/app/component-pages/component-pages/component-pages.component.html
  projects/sds/src/app/component-pages/component-pages/component-pages.component.scss
  projects/sds/src/app/component-pages/component-pages/component-pages.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/material): add TS files to the badge's previews
  projects/sds/src/app/component-pages/code-examples/badge/badge-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/spinner): remove dead code
  projects/oblique/src/lib/spinner/spinner.component.html
  projects/oblique/src/lib/spinner/spinner.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds): initialize the `TranslateService` so that translations are loaded
  projects/sds/src/app/app.component.spec.ts
  projects/sds/src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/material): add card code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/card/card-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/card/card-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/card/previews/basic-card/basic-card.component.html
  projects/sds/src/app/component-pages/code-examples/card/previews/basic-card/basic-card.component.ts
  projects/sds/src/app/component-pages/code-examples/card/previews/card-with-multiple-sections/card-with-multiple-sections.component.html
  projects/sds/src/app/component-pages/code-examples/card/previews/card-with-multiple-sections/card-with-multiple-sections.component.scss
  projects/sds/src/app/component-pages/code-examples/card/previews/card-with-multiple-sections/card-with-multiple-sections.component.ts
  projects/sds/src/app/component-pages/code-examples/card/previews/clickable-cards/clickable-cards.component.html
  projects/sds/src/app/component-pages/code-examples/card/previews/clickable-cards/clickable-cards.component.scss
  projects/sds/src/app/component-pages/code-examples/card/previews/clickable-cards/clickable-cards.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/component-pages): `slide-toggle` tests cleanup
  projects/sds/src/app/component-pages/code-examples/slide-toggle/slide-toggle-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): slide-toggle redesign to match the WGL 2023
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/material/_mat-slide-toggle.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/component-pages): add master layout example
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/master-layout/master-layout-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/master-layout/master-layout-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/master-layout/previews/stackblitz-link/master-layout-example-stackblitz-link-preview.component.html
  projects/sds/src/app/component-pages/code-examples/master-layout/previews/stackblitz-link/master-layout-example-stackblitz-link-preview.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/component-pages): add `scss` for responsive layout in code previews
  projects/sds/src/app/component-pages/code-example-flex-layout.scss
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-color-warn/badge-example-color-warn.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-default/badge-example-default.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-default/badge-example-default.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-overlap-false/badge-example-overlap-false.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-position-below-before/badge-example-position-below-before.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/shared/badge-code-examples.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/component-pages): add tab code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/tabs/previews/basic/tabs-example-basic-preview.component.html
  projects/sds/src/app/component-pages/code-examples/tabs/previews/basic/tabs-example-basic-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/tabs/previews/variations/tabs-example-variations-preview.component.html
  projects/sds/src/app/component-pages/code-examples/tabs/previews/variations/tabs-example-variations-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/tabs/previews/variations/tabs-example-variations-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/tabs/tabs-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/tabs/tabs-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/component-pages): add slide toggle code examples
  projects/sds/src/app/component-pages/code-example-flex-layout.scss
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-default/badge-example-default.component.ts
  projects/sds/src/app/component-pages/code-examples/slide-toggle/previews/first-colors/slide-toggle-example-first-colors-preview.component.html
  projects/sds/src/app/component-pages/code-examples/slide-toggle/previews/first-colors/slide-toggle-example-first-colors-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/slide-toggle/previews/second/slide-toggle-example-second-preview.component.html
  projects/sds/src/app/component-pages/code-examples/slide-toggle/previews/second/slide-toggle-example-second-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/slide-toggle/slide-toggle-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/slide-toggle/slide-toggle-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/component-pages): rename tab property `title` to `name` to remove standard browser tooltip
  projects/sds/src/app/component-pages/code-example/code-example.component.html
  projects/sds/src/app/component-pages/code-example/source-code.model.ts
  projects/sds/src/app/component-pages/component-pages/component-pages.component.html
  projects/sds/src/app/component-pages/tabs/tab/tab.component.ts
  projects/sds/src/app/component-pages/tabs/tabs.component.html
  projects/sds/src/app/component-pages/tabs/tabs.component.spec.ts
  projects/sds/src/app/component-pages/tabs/tabs.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): update slide toggle themes
  projects/oblique/src/styles/scss/material/_material-palette.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/material): tab redesign to match the WGL 2023
  projects/oblique/src/styles/scss/material/_mat-tab.scss
  projects/oblique/src/styles/scss/material/_material-palette.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-tab.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): release version 11.0.0-alpha.1
  CHANGELOG.md
  Jenkinsfile
  package-lock.json
  package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/nav-tree): add toggle for the filter feature
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.html
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.spec.ts
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): make alert adhere to sds component documentation guidelines
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/alert/previews/has-role-alert/alert-example-has-role-alert-preview.component.html
  projects/sds/src/app/component-pages/code-examples/alert/previews/has-role-alert/alert-example-has-role-alert-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/alert/previews/info/alert-example-info-preview.component.html
  projects/sds/src/app/component-pages/code-examples/alert/previews/info/alert-example-info-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/alert/previews/success/alert-example-success-preview.component.html
  projects/sds/src/app/component-pages/code-examples/alert/previews/success/alert-example-success-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/alert/previews/type/alert-example-type-preview.component.html
  projects/sds/src/app/component-pages/code-examples/alert/previews/type/alert-example-type-preview.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/nav-tree): remove commented test case
  projects/oblique/src/lib/nav-tree/nav-tree.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/nav-tree/nav-tree-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sds): add `SafeHtmlPipe` (`safeHtml`) to turn a string into `SafeHtml`
  projects/sds/src/app/shared/safeHtml/safeHtml.pipe.spec.ts
  projects/sds/src/app/shared/safeHtml/safeHtml.pipe.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): ensure the `sub menu` is always fully displayed
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/file-upload): correct `ob-button` sizing within `ob-file-info` & `ob-file-progress`
  projects/oblique/src/lib/file-upload/file-info/file-info.component.scss
  projects/oblique/src/lib/file-upload/progress/progress.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): update background-color, border and box-shadow of cards
  projects/oblique/src/styles/scss/material/_mat-card.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-card.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/file-upload): fix progress margin issue
  projects/oblique/src/lib/file-upload/progress/progress.component.html
  projects/oblique/src/lib/file-upload/progress/progress.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/nav-tree): add code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/nav-tree/nav-tree-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/nav-tree/nav-tree-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/data-from-service/nav-tree-data.service.ts
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/data-from-service/nav-tree-example-data-from-service-preview.component.html
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/data-from-service/nav-tree-example-data-from-service-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/default/nav-tree-example-default-preview.component.html
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/default/nav-tree-example-default-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/expand-collapse/nav-tree-example-expand-collapse-preview.component.html
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/expand-collapse/nav-tree-example-expand-collapse-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/expand-collapse/nav-tree-example-expand-collapse-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/filter/nav-tree-example-filter-preview.component.html
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/filter/nav-tree-example-filter-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/side-navigation): add margin to last item
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/documentation-pages): display pages for the foundations category
  projects/sds/src/app.routes.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove `masterBranchName` from `Jenkinsfile`
  Jenkinsfile
Due: none

feat(sds/component-pages): make button adhere to sds component documentation guidelines
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/colors/button-example-colors.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/colors/button-example-colors.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/other-options/button-example-other-options.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/other-options/button-example-other-options.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/primary-link-frown/button-example-primary-link-frown.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/primary-login-disabled/button-example-primary-login-disabled.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-link-no-icon/button-example-secondary-link-no-icon.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-link-no-icon/button-example-secondary-link-no-icon.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-wheelchair/button-example-secondary-wheelchair.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-wheelchair/button-example-secondary-wheelchair.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-link-no-icon-disabled/button-example-tertiary-link-no-icon-disabled.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-link-no-icon-disabled/button-example-tertiary-link-no-icon-disabled.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-repeat-no-text/button-example-tertiary-repeat-no-text.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-repeat-no-text/button-example-tertiary-repeat-no-text.component.ts
Due: eslint --fix --cache, prettier --write

test(sds/component-pages): improve `badge-code-examples` tests
  projects/sds/src/app/component-pages/code-examples/badge/badge-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): make badge adhere to sds component documentation guidelines
  projects/sds/src/app/component-pages/code-examples/badge/badge-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-color-warn/badge-example-color-warn.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-color-warn/badge-example-color-warn.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-default/badge-example-default.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-overlap-false/badge-example-overlap-false.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-overlap-false/badge-example-overlap-false.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-position-below-before/badge-example-position-below-before.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-position-below-before/badge-example-position-below-before.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/colors/badge-example-colors.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/colors/badge-example-colors.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/other-options/badge-example-other-options.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/other-options/badge-example-other-options.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): update buttons with new color scheme
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/component-pages): hide tabs that have no content
  projects/sds/src/app/component-pages/component-pages/component-pages.component.html
  projects/sds/src/app/component-pages/component-pages/component-pages.component.ts
  projects/sds/src/app/component-pages/no-match/no-code-examples-match.component.html
  projects/sds/src/app/component-pages/no-match/no-code-examples-match.component.spec.ts
  projects/sds/src/app/component-pages/no-match/no-code-examples-match.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): extend tabs with additional functions/options
  projects/sds/src/app/component-pages/tabs/tab/tab.component.ts
  projects/sds/src/app/component-pages/tabs/tabs.component.html
  projects/sds/src/app/component-pages/tabs/tabs.component.ts
Due: eslint --fix --cache, prettier --write

test(oblique/material): `ObSelectDirective` cleanup
  projects/oblique/src/lib/form-field/select.directive.spec.ts
Due: eslint --fix --cache, prettier --write
