Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(service-navigation): add sample page
  src/app/app.component.ts
  src/app/samples/samples-routing.module.ts
  src/app/samples/samples.module.ts
  src/app/samples/service-navigation/service-navigation-sample.component.html
  src/app/samples/service-navigation/service-navigation-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add feature
  CONTRIBUTING.md
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/oblique.module.ts
  projects/oblique/src/lib/service-navigation/index.ts
  projects/oblique/src/lib/service-navigation/service-navigation.api.json
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.description.html
  projects/oblique/src/lib/service-navigation/service-navigation.harness.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

showcase: add `deprecated` property to `*.api.json` files
  src/app/api/api-element.component.html
  src/app/api/api.component.html
  src/app/api/api.model.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): cache application info for applications feature
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications-store.service.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications-store.service.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.service.ts
Due: eslint --fix --cache, prettier --write

showcase(master-layout): add service navigation configuration to `ObMasterLayoutService`
  src/app/samples/master-layout/master-layout-sample.component.html
  src/app/samples/master-layout/master-layout-sample.component.scss
  src/app/samples/master-layout/master-layout-sample.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(toolchain): use a dedicated class to perform a commit
  projects/oblique/scripts/release/commit.ts
  projects/oblique/scripts/release/release-commit.ts
Due: eslint --fix --cache, prettier --write

showcase(service-navigation): add `infoContact` to info feature
  src/app/samples/service-navigation/service-navigation-sample.component.html
  src/app/samples/service-navigation/service-navigation-sample.component.ts
Due: eslint --fix --cache, prettier --write

showcase(master-layout): activate the service navigation component
  src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `applicationsUrl` to applications feature
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

showcase: fix spacing for `Default value` in `*.api.json` files
  src/app/api/api-element.component.html
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add basic authentication feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/api/service-navigation-config-api.service.spec.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-config-api.service.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation.api.model.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.html
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.scss
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.spec.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.harness.ts
  projects/oblique/src/lib/service-navigation/index.ts
  projects/oblique/src/lib/service-navigation/service-navigation.api.json
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.scss
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.harness.ts
  projects/oblique/src/lib/service-navigation/service-navigation.model.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation): add application image for applications feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/api/service-navigation.api.model.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.scss
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.service.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.service.ts
  projects/oblique/src/lib/service-navigation/service-navigation.model.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/lib/service-navigation/shared/safe-image.pipe.spec.ts
  projects/oblique/src/lib/service-navigation/shared/safe-image.pipe.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation): add `userName` to profile feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.html
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover.harness.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `logout` feature to authentication widget
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.spec.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `isLoggedIn` to applications feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.harness.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add basic `lastUsedApplications` to applications feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.scss
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.model.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation): add `inboxMailUrl` to message feature
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.html
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.spec.ts
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

showcase(service-navigation): update the `returnUrl` on each route change
  src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `avatarUrl` to profile feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.html
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.scss
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.harness.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): add option to configure the service navigation
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `infoContact` to info feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/index.ts
  projects/oblique/src/lib/service-navigation/info/contact-to-links.pipe.spec.ts
  projects/oblique/src/lib/service-navigation/info/contact-to-links.pipe.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.html
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.spec.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.model.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

showcase(master-layout): monitor the `loginState$` observable
  src/app/samples/master-layout/master-layout-sample.component.html
  src/app/samples/master-layout/master-layout-sample.component.ts
Due: eslint --fix --cache, prettier --write

showcase(service-navigation): limit the number of displayed applications for applications feature
  src/app/samples/service-navigation/service-navigation-sample.component.html
  src/app/samples/service-navigation/service-navigation-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(master-layout): add service navigation configuration to `ObMasterLayoutService`
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout-header.service.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.service.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.service.ts
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add application url for applications feature
  projects/oblique/src/lib/service-navigation/api/service-navigation.api.model.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.service.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.service.ts
  projects/oblique/src/lib/service-navigation/service-navigation.model.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add optional paragraph for the popover section component
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.html
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.spec.ts
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.ts
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.harness.ts
Due: eslint --fix --cache, prettier --write

chore(nav-tree): deprecate `ObNavTreeFakeFocus`
  projects/oblique/src/lib/nav-tree/nav-tree-fake-focus.directive.ts
  projects/oblique/src/lib/nav-tree/nav-tree.api.json
  projects/oblique/src/lib/nav-tree/nav-tree.description.html
Due: eslint --fix --cache, prettier --write

showcase(service-navigation): deactivate non toggleable widgets
  src/app/samples/service-navigation/service-navigation-sample.component.html
Due: eslint --fix --cache, prettier --write

showcase(service-navigation): include possibility to add custom widgets
  src/app/samples/service-navigation/service-navigation-sample.component.html
  src/app/samples/service-navigation/service-navigation-sample.component.ts
Due: eslint --fix --cache, prettier --write

showcase(service-navigation): add authentication feature
  src/app/app.component.model.ts
  src/app/samples/service-navigation/service-navigation-sample.component.html
  src/app/samples/service-navigation/service-navigation-sample.component.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): automatically commit dependencies update
  package.json
  projects/oblique/scripts/release/update-dependencies.ts
Due: eslint --fix --cache, prettier --write

fix(search-box): ensure the search result do have enough space
  projects/oblique/src/lib/search-box/search-box.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase(search-box): add control to limit the search-box width
  src/app/samples/search-box/search-box.component.html
  src/app/samples/search-box/search-box.component.scss
  src/app/samples/search-box/search-box.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation): improve tooltips texts
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
Due: prettier --write

feat(schematics): create schematic to replace header-widget with service-navigation
  projects/oblique/schematics/collection.json
  projects/oblique/schematics/index/service-navigation/index.ts
Due: eslint --fix --cache, prettier --write

chore: update typescript
  package-lock.json
  package.json
Due: prettier --write

chore(toolchain): show output of `update-dependencies.ts`
  projects/oblique/scripts/release/update-dependencies.ts
Due: eslint --fix --cache, prettier --write

docs(icon): improve description for "How to register additional icons on build time?"
  projects/oblique/src/lib/icon/icon.description.html
Due: eslint --fix --cache, prettier --write

format(service-navigation): fix lint problems
  projects/oblique/src/lib/service-navigation/api/service-navigation-applications-api.service.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-state-api.service.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.html
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
