Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

chore(toolchain): increase budget for styles to accomodate `master-layout-navigation.component.scss`
  angular.json
Due: prettier --write

feat(sandbox/master-layout): add granchildren examples to samples sub menu
  projects/sandbox/src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): add recursive master layout sub menu item component
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.harness.ts
  projects/oblique/src/lib/master-layout/master-layout.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/master-layout): correct mobile sub menu when scrolling down
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/material): add table code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/html-table/html-table-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/html-table/html-table-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/html-table/previews/collapse/html-table-example-collapse-preview.component.html
  projects/sds/src/app/component-pages/code-examples/html-table/previews/collapse/html-table-example-collapse-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/html-table/previews/collapse/html-table-example-collapse-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/html-table/previews/default/html-table-example-default-preview.component.html
  projects/sds/src/app/component-pages/code-examples/html-table/previews/default/html-table-example-default-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/html-table/previews/sizes/html-table-example-sizes-preview.component.html
  projects/sds/src/app/component-pages/code-examples/html-table/previews/sizes/html-table-example-sizes-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/html-table/previews/sizes/html-table-example-sizes-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/html-table/previews/styles/html-table-example-styles-preview.component.html
  projects/sds/src/app/component-pages/code-examples/html-table/previews/styles/html-table-example-styles-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/html-table/previews/styles/html-table-example-styles-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/material-table/material-table-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/material-table/material-table-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/material-table/previews/default/material-table-example-default-preview.component.html
  projects/sds/src/app/component-pages/code-examples/material-table/previews/default/material-table-example-default-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/material-table/previews/editable/material-table-editable-dialog.component.html
  projects/sds/src/app/component-pages/code-examples/material-table/previews/editable/material-table-editable-dialog.component.ts
  projects/sds/src/app/component-pages/code-examples/material-table/previews/editable/material-table-example-editable-preview.component.html
  projects/sds/src/app/component-pages/code-examples/material-table/previews/editable/material-table-example-editable-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/material-table/previews/editable/material-table-example-editable-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/material-table/previews/editable/mock-backend.service.ts
  projects/sds/src/app/component-pages/code-examples/material-table/previews/sizes/material-table-example-sizes-preview.component.html
  projects/sds/src/app/component-pages/code-examples/material-table/previews/sizes/material-table-example-sizes-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/material-table/previews/sizes/material-table-example-sizes-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/material-table/previews/styles/material-table-example-styles-preview.component.html
  projects/sds/src/app/component-pages/code-examples/material-table/previews/styles/material-table-example-styles-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/material-table/previews/styles/material-table-example-styles-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/material): add spinner code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/spinner/previews/custom-channel/custom-channel-preview.component.html
  projects/sds/src/app/component-pages/code-examples/spinner/previews/custom-channel/custom-channel-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/spinner/previews/custom-channel/custom-channel-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/spinner/previews/multiple-activations/multiple-activations-preview.component.html
  projects/sds/src/app/component-pages/code-examples/spinner/previews/multiple-activations/multiple-activations-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/spinner/previews/multiple-activations/multiple-activations-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/spinner/spinner-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/spinner/spinner-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/master-layout): master-layout sub-menu nesting examples
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/samples/samples-routing.module.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/master-layout): add startOfRightSideLinks to samples
  projects/sandbox/src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/material): split margin-top-and-active mixin into two mixins
  projects/oblique/src/styles/scss/material/_mat-autocomplete.scss
  projects/oblique/src/styles/scss/material/_mat-select.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-panel.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/component-pages): use the `inject` method instead of constructor parameters for DI
  projects/sds/src/app/component-pages/component-pages/component-pages.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): use new shadow mixin for main nav
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): remove `readonly` styles from `mat-radio` & `mat-checkbox`
  projects/oblique/src/styles/scss/material/_mat-checkbox-radio.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/component-pages): remove unecessary & duplicate imports
  projects/sds/src/app/component-pages/component-pages/component-pages.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): use new shadow mixin for popover
  projects/oblique/src/styles/scss/core/components/_popover.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/toolchain): ensure newly generated components, directives and pipes are standalone
  angular.json
Due: prettier --write

refactor(oblique/material): remove superfluous use of the active mixinin the autocomplete style
  projects/oblique/src/styles/scss/material/_mat-autocomplete.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/material): add slide toggle page
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/material/material.module.ts
  projects/sandbox/src/app/material/slide-toggle/slide-toggle.component.html
  projects/sandbox/src/app/material/slide-toggle/slide-toggle.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/button): limit disabling of default focus to oblique buttons
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): sub-menu - add parent link & consolidate mobile & desktop back buttons
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/master-layout/aria-menu-button.directive.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-item.directive.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-item.directive.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec-data.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/masterLayoutNavigationSubMenuFilter.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/masterLayoutNavigationSubMenuFilter.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/navigation-link.model.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/navigation-link.model.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.ts
  projects/oblique/src/styles/scss/core/_variables.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

test(sds): clean up
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/badge/badge-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/datepicker/datepicker-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/dialog/dialog-code-examples.spec.ts
  projects/sds/src/app/component-pages/code-examples/list-group/list-group-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/paginator/paginator-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/slider/slider-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/spinner): use `inject` for dependency injection
  projects/oblique/src/lib/spinner/spinner.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/alert): add TS files to the previews
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): use new shadow mixin for autocompletes
  projects/oblique/src/lib/autocomplete/autocomplete.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique): adjust standard label font size & weight
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/core/components/_type.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): add option to move links to right side
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/navigation-link.model.ts
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/paginator): add TS files to the previews
  projects/sds/src/app/component-pages/code-examples/paginator/paginator-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/translation): replace key `i18n.oblique.off-canvas.close` with `i18n.common.close`
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/styles): add mixins for shadows
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/master-layout): consolidate 2 previously seperated ob-sub-menu styles
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): sub-menu layout & color changes
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): readonly form field adjustments
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): use new shadow mixin for primary buttons
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): sub-menu fixes & nav cleanup
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(toolchain): adapt `additional scopes` usage in `CONTRIBUTING.md`
  CONTRIBUTING.md
Due: prettier --write

refactor(oblique/spinner): simplify code with an observable for the state
  projects/oblique/src/lib/spinner/spinner.component.html
  projects/oblique/src/lib/spinner/spinner.component.spec.ts
  projects/oblique/src/lib/spinner/spinner.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): adjust scroll buttons to look & feel like `.ob-main-nav-item` buttons
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component-scrollable.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): use new shadow mixin for sliders
  projects/oblique/src/styles/scss/material/_mat-slider.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): use new shadow mixin for dialogs
  projects/oblique/src/styles/scss/material/_mat-dialog.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): increase `anyComponentStyle` budget
  angular.json
Due: prettier --write

feat(oblique/master-layout): set default value of `footer.hasLogoOnScroll` to `false`
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/master-layout/master-layout.config.ts
Due: eslint --fix --cache, prettier --write
