Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/schematics): add standalone check
  projects/oblique/schematics/index/ng-add/index.ts
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/styles): add missing `ob-blue-100` color
  projects/oblique/src/styles/scss/core/_palette.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/alert): use `ob-blue-100` as background color for info variant
  projects/oblique/src/lib/alert/alert.component.scss
  projects/oblique/src/styles/scss/oblique-alert.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/styles): remove unnecessary `ob-blue-200` color
  projects/oblique/src/styles/scss/core/_palette.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/side-navigation): add space underneath of the menu
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/side-navigation): reorder categories, text pages and tabbed pages
  projects/sds/src/app/cms/cms-data.service.ts
  projects/sds/src/app/side-navigation/utils/accordion-composer.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/utilities): add `obliqueExports` variable
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): remove `obliqueProviders` from `ObFormFieldModule`
  projects/oblique/src/lib/form-field/form-field.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/collapse): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/collapse/collapse.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/error-messages): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/error-messages/error-messages.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/input-clear): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/input-clear/input-clear.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/column-layout): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/column-layout/column-layout.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/icon): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/icon/icon.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/master-layout/master-layout.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/nav-tree): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/nav-tree/nav-tree.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/notification): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/notification/notification.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/button): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/button/button.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/breadcrumb): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/breadcrumb/breadcrumb.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/alert): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/alert/alert.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/autocomplete): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/autocomplete/autocomplete.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/nested-form): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/nested-form/nested-form.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/external-link): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/external-link/external-link.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/number-format): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/number-format/number-format.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/file-upload): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/file-upload/file-upload.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/document-meta): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/document-meta/document-meta.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/selectable): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/selectable/selectable.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/off-canvas): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/off-canvas/off-canvas.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/paginator): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/paginator/ob-paginator.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/scrolling): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/scrolling/scrolling.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/popover): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/popover/popover.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schema-validation): export `ObFormFieldModule` and `ObCheckboxModule`
  projects/oblique/src/lib/schema-validation/schema-validation.module.ts
Due: eslint --fix --cache, prettier --write

fix(sds/off-canvas): update the stackblitz example
  projects/sds/src/app/code-examples/code-examples/off-canvas/previews/stackblitz-link/off-canvas-example-stackblitz-link-preview.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/styles): remove min-with property of first `td`
  projects/sds/src/styles/scss/core/_table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): update Angular to 17.1.0
  package-lock.json
  package.json
Due: prettier --write

feat(sds/toolchain): add `feedback` scope
  CONTRIBUTING.md
Due: prettier --write

feat(sds/feedback): add feedback button linked to a JIRA collector
  projects/sds/src/app/app.component.html
  projects/sds/src/app/app.component.ts
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.html
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.scss
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.spec.ts
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds): add JIRA collector service
  angular.json
  package-lock.json
  projects/sds/package.json
  projects/sds/src/app/shared/collector/collector.model.ts
  projects/sds/src/app/shared/collector/collector.service.spec.ts
  projects/sds/src/app/shared/collector/collector.service.ts
Due: eslint --fix --cache, prettier --write

feat(sds): add possibility to give default values to collector fields on dialog opening
  projects/sds/src/app/shared/collector/collector.model.ts
  projects/sds/src/app/shared/collector/collector.service.spec.ts
  projects/sds/src/app/shared/collector/collector.service.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
