Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

fix(file-upload): reset `drop-zone` input after upload
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.spec.ts
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  .eslintrc.yml
  angular.json
  package-lock.json
  package.json
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/autocomplete/autocomplete.component.html
  projects/oblique/src/lib/error-messages/error-messages.component.html
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.html
  projects/oblique/src/lib/file-upload/file-info/file-info.component.html
  projects/oblique/src/lib/file-upload/progress/progress.component.html
  projects/oblique/src/lib/multiselect/multiselect.component.html
  projects/oblique/src/lib/notification/notification.component.html
  src/app/samples/language/language-sample.component.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 9.3.1
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

test(unsaved-changes): add tests
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.guard.spec.ts
Due: eslint --fix --cache, prettier --write

test(nested-form): add tests
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/nested-form/nested-form.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(master-layout): ensure consitant button height in the main navigation
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

test(toolchain): update coverage threshold for `nested-form`
  projects/oblique/jest.config.prod.js
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 9.3.2
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

feat(styles): remove special `padding-bottom` rule on overflowing elements for Firefox 12 to 88
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.firefox.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
  projects/stylesBuilder/oblique-components.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(column-layout): remove `overflow: hidden`
  projects/oblique/src/lib/column-layout/column-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(schematics): add the structure of schematics for migration to oblique 10
  projects/oblique/schematics/index/ng-update/update-v9-to-v10.ts
  projects/oblique/schematics/migration.json
Due: eslint --fix --cache, prettier --write

showcase(bootstrap): remove bootstrap only pages
  src/app/app-routing.module.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/bootstrap/bootstrap.module.ts
  src/app/bootstrap/list-group/list-group.component.html
  src/app/bootstrap/list-group/list-group.component.ts
  src/app/bootstrap/tabs/tabs.component.html
  src/app/bootstrap/tabs/tabs.component.ts
  src/app/samples/datepicker-sample/datepicker-sample.component.html
  src/app/samples/datepicker-sample/datepicker-sample.component.spec.ts
  src/app/samples/datepicker-sample/datepicker-sample.component.ts
  src/app/samples/form-control-state-sample/form-control-state-sample.component.html
  src/app/samples/form-control-state-sample/form-control-state-sample.component.scss
  src/app/samples/form-control-state-sample/form-control-state-sample.component.spec.ts
  src/app/samples/form-control-state-sample/form-control-state-sample.component.ts
  src/app/samples/multiselect/multiselect-sample.component.html
  src/app/samples/multiselect/multiselect-sample.component.spec.ts
  src/app/samples/multiselect/multiselect-sample.component.ts
  src/app/samples/samples-routing.module.ts
  src/app/samples/samples.module.ts
  src/app/samples/search-box/search-box.component.ts
  src/assets/i18n/de.json
  src/assets/i18n/en.json
  src/assets/i18n/fr.json
  src/assets/i18n/it.json
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(bootstrap): remove bootstrap templates
  src/app/samples/button/button.component.html
  src/app/samples/button/button.component.ts
  src/app/samples/collapse/collapse-sample.component.html
  src/app/samples/collapse/collapse-sample.component.ts
  src/app/samples/dropdown/dropdown.component.html
  src/app/samples/dropdown/dropdown.component.ts
  src/app/samples/form/form.component.html
  src/app/samples/form/form.component.ts
  src/app/samples/horizontal-forms/horizontal-forms.component.html
  src/app/samples/horizontal-forms/horizontal-forms.component.ts
  src/app/samples/input-clear/input-clear.component.html
  src/app/samples/input-clear/input-clear.component.ts
  src/app/samples/language/language-sample.component.html
  src/app/samples/language/language-sample.component.ts
  src/app/samples/nested-form/nested-form-child-sample.component.html
  src/app/samples/nested-form/nested-form-child-sample.component.ts
  src/app/samples/nested-form/nested-form-child-td-sample.component.html
  src/app/samples/nested-form/nested-form-child-td-sample.component.ts
  src/app/samples/nested-form/nested-form-grandchild-sample.component.html
  src/app/samples/nested-form/nested-form-grandchild-sample.component.ts
  src/app/samples/nested-form/nested-form-grandchild-td-sample.component.html
  src/app/samples/nested-form/nested-form-grandchild-td-sample.component.ts
  src/app/samples/nested-form/nested-form-sample.component.html
  src/app/samples/nested-form/nested-form-sample.component.ts
  src/app/samples/samples.module.ts
  src/app/samples/schema-validation/schema-validation-sample.component.html
  src/app/samples/schema-validation/schema-validation-sample.component.spec.ts
  src/app/samples/schema-validation/schema-validation-sample.component.ts
  src/app/samples/unsaved-changes/unsaved-changes-sample-modal.component.html
  src/app/samples/unsaved-changes/unsaved-changes-sample-modal.component.ts
  src/app/samples/unsaved-changes/unsaved-changes-sample.component.html
  src/app/samples/unsaved-changes/unsaved-changes-sample.component.ts
Due: eslint --fix --cache, prettier --write

showcase(theme): remove theme handling
  angular.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/common/theme.service.ts
  src/scss/styles.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(theme): rename `ThemeService` into `FontService`
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/common/font.service.ts
Due: eslint --fix --cache, prettier --write

showcase(bootstrap): replace bootstrap with material
  src/app/app.component.html
  src/app/app.module.ts
  src/app/material/tooltip/tooltip.component.html
  src/app/samples/column-layout-full-height/column-layout-full-height-sample.component.html
  src/app/samples/column-layout/column-layout-sample.component.html
  src/app/samples/http-interceptor/http-interceptor-sample.component.html
  src/app/samples/nav-tree/nav-tree-detail-sample.component.html
  src/app/samples/nav-tree/nav-tree-sample.component.html
  src/app/samples/nav-tree/nav-tree-sample.component.spec.ts
  src/app/samples/notification/notification-sample.component.html
  src/app/samples/number-format/number-format-sample.component.html
  src/app/samples/samples.module.ts
  src/app/samples/sticky/sticky-sample.component.html
  src/app/samples/unsaved-changes/unsaved-changes-sample.component.html
  src/app/styles/palette/palette.component.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): generate `oblique-components.scss` before transpiling
  package.json
  projects/oblique/scripts/post-dist/run-post-dist-steps.ts
  projects/oblique/scripts/pre-dist/generate-component-styles.ts
  projects/oblique/scripts/pre-dist/run-pre-dist-steps.ts
  projects/stylesBuilder/oblique-components.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(datepicker): remove the component and associated files
  CONTRIBUTING.md
  projects/oblique/jest.config.prod.js
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/datepicker/_mocks/mock-date-formatter.pipe.ts
  projects/oblique/src/lib/datepicker/_mocks/mock-datepicker-config.service.ts
  projects/oblique/src/lib/datepicker/_mocks/mock-datepicker-i18n.service.ts
  projects/oblique/src/lib/datepicker/_mocks/mock-datepicker-placeholder.directive.ts
  projects/oblique/src/lib/datepicker/_mocks/mock-datepicker.component.ts
  projects/oblique/src/lib/datepicker/_mocks/mock-datepicker.module.ts
  projects/oblique/src/lib/datepicker/date-formatter.pipe.ts
  projects/oblique/src/lib/datepicker/date-parser-formatter.spec.ts
  projects/oblique/src/lib/datepicker/date-parser-formatter.ts
  projects/oblique/src/lib/datepicker/datepicker-config.service.ts
  projects/oblique/src/lib/datepicker/datepicker-i18n.service.ts
  projects/oblique/src/lib/datepicker/datepicker-placeholder.directive.spec.ts
  projects/oblique/src/lib/datepicker/datepicker-placeholder.directive.ts
  projects/oblique/src/lib/datepicker/datepicker.api.json
  projects/oblique/src/lib/datepicker/datepicker.component.html
  projects/oblique/src/lib/datepicker/datepicker.component.scss
  projects/oblique/src/lib/datepicker/datepicker.component.spec.ts
  projects/oblique/src/lib/datepicker/datepicker.component.ts
  projects/oblique/src/lib/datepicker/datepicker.description.html
  projects/oblique/src/lib/datepicker/datepicker.model.ts
  projects/oblique/src/lib/datepicker/datepicker.module.ts
  projects/oblique/src/lib/oblique-testing.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(form-control-state): remove the directive and associated files
  CONTRIBUTING.md
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/form-control-state/_mocks/mock-form-control-state.directive.ts
  projects/oblique/src/lib/form-control-state/_mocks/mock-form-control-state.module.ts
  projects/oblique/src/lib/form-control-state/form-control-state.description.html
  projects/oblique/src/lib/form-control-state/form-control-state.directive.spec.ts
  projects/oblique/src/lib/form-control-state/form-control-state.directive.ts
  projects/oblique/src/lib/form-control-state/form-control-state.module.ts
  projects/oblique/src/lib/oblique-testing.module.ts
  projects/oblique/src/lib/oblique.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(multiselect): remove the component and associated files
  CONTRIBUTING.md
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/multiselect/_mocks/mock-multiselect-search.pipe.ts
  projects/oblique/src/lib/multiselect/_mocks/mock-multiselect.component.ts
  projects/oblique/src/lib/multiselect/_mocks/mock-multiselect.config.ts
  projects/oblique/src/lib/multiselect/_mocks/mock-multiselect.module.ts
  projects/oblique/src/lib/multiselect/_mocks/mock-multiselect.texts.ts
  projects/oblique/src/lib/multiselect/multiselect-search.pipe.spec.ts
  projects/oblique/src/lib/multiselect/multiselect-search.pipe.ts
  projects/oblique/src/lib/multiselect/multiselect.api.json
  projects/oblique/src/lib/multiselect/multiselect.component.html
  projects/oblique/src/lib/multiselect/multiselect.component.scss
  projects/oblique/src/lib/multiselect/multiselect.component.spec.ts
  projects/oblique/src/lib/multiselect/multiselect.component.ts
  projects/oblique/src/lib/multiselect/multiselect.config.ts
  projects/oblique/src/lib/multiselect/multiselect.description.html
  projects/oblique/src/lib/multiselect/multiselect.module.ts
  projects/oblique/src/lib/multiselect/multiselect.texts.ts
  projects/oblique/src/lib/oblique-testing.module.ts
  projects/oblique/src/lib/oblique.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(unsaved-changes): remove the handling of Bootstrap's tabs
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/unsaved-changes-tabs/_mocks/mock-unsaved-changes-tabs.directive.ts
  projects/oblique/src/lib/unsaved-changes-tabs/_mocks/mock-unsaved-changes-tabs.module.ts
  projects/oblique/src/lib/unsaved-changes-tabs/_mocks/mock-unsaved-changes-tabs.service.ts
  projects/oblique/src/lib/unsaved-changes-tabs/unsaved-changes-tabs.api.json
  projects/oblique/src/lib/unsaved-changes-tabs/unsaved-changes-tabs.description.html
  projects/oblique/src/lib/unsaved-changes-tabs/unsaved-changes-tabs.directive.spec.ts
  projects/oblique/src/lib/unsaved-changes-tabs/unsaved-changes-tabs.directive.ts
  projects/oblique/src/lib/unsaved-changes-tabs/unsaved-changes-tabs.module.ts
  projects/oblique/src/lib/unsaved-changes-tabs/unsaved-changes-tabs.service.spec.ts
  projects/oblique/src/lib/unsaved-changes-tabs/unsaved-changes-tabs.service.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(error-messages): remove the component and associated files
  projects/oblique/src/lib/error-messages/error-messages.api.json
  projects/oblique/src/lib/error-messages/error-messages.component.html
  projects/oblique/src/lib/error-messages/error-messages.component.spec.ts
  projects/oblique/src/lib/error-messages/error-messages.component.ts
  projects/oblique/src/lib/error-messages/error-messages.description.html
  projects/oblique/src/lib/error-messages/error-messages.module.ts
  projects/oblique/src/lib/error-messages/error-messages.service.spec.ts
  projects/oblique/src/lib/error-messages/error-messages.service.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

refactor(nav-tree): don't rely on bootstrap to collapse menu level
  projects/oblique/src/lib/nav-tree/nav-tree.component.html
  projects/oblique/src/lib/nav-tree/nav-tree.component.scss
  projects/oblique/src/lib/nav-tree/nav-tree.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(bootstrap): remove the Bootstrap theme
  .eslintrc.yml
  .stylelintrc.yml
  CONTRIBUTING.md
  angular.json
  projects/oblique/src/lib/breadcrumb/breadcrumb.description.html
  projects/oblique/src/lib/icon/icon.description.html
  projects/oblique/src/lib/telemetry/telemetry-record.spec.ts
  projects/oblique/src/lib/telemetry/telemetry-record.ts
  projects/oblique/src/lib/telemetry/telemetry.service.spec.ts
  projects/oblique/src/lib/telemetry/telemetry.service.ts
  projects/oblique/src/lib/theme.service.spec.ts
  projects/oblique/src/lib/theme.service.ts
  projects/oblique/src/styles/scss/core/_palette.scss
  projects/oblique/src/styles/scss/oblique-utilities.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_badge.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_button-group.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_button.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_dropdown.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_form-check.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_form.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_input-group.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_list-group.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_master-layout-header-dropdown.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_nav-stepper.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_select.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_table.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_tabs.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_text-control.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_typography.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_variables.scss
  projects/oblique/src/styles/scss/themes/bootstrap/mixins/_badge.scss
  projects/oblique/src/styles/scss/themes/bootstrap/mixins/_button.scss
  projects/oblique/src/styles/scss/themes/bootstrap/mixins/_form-check.scss
  projects/oblique/src/styles/scss/themes/bootstrap/mixins/_form.scss
  projects/oblique/src/styles/scss/themes/bootstrap/mixins/_icon.scss
  projects/oblique/src/styles/scss/themes/bootstrap/mixins/_table.scss
  projects/oblique/src/styles/scss/themes/bootstrap/mixins/_text-control.scss
  projects/oblique/src/styles/scss/themes/bootstrap/mixins/_toggle.scss
  projects/oblique/src/styles/scss/themes/oblique-bootstrap.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(master-layout): ensure the autocomplete has no padding while injected in the header
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(icon): fix typos in icon names
  projects/oblique/icons/Attachment.svg
  projects/oblique/icons/MailAttachment.svg
  projects/oblique/schematics/index/ng-update/update-v9-to-v10.ts
  projects/oblique/src/assets/obliqueIcons.svg
  projects/oblique/src/lib/icon/icon.model.ts
  projects/oblique/src/styles/scss/oblique-icons.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(autocomplete): harmonize icon height and ensure gap between icons
  projects/oblique/src/lib/autocomplete/autocomplete.component.scss
  projects/oblique/src/lib/autocomplete/autocomplete.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(schematics): ensure `removeImport` and `hasImport` do match multiple lines imports
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

feat(icon): replace `Bundeshaus` and `History` icons with new versions
  projects/oblique/icons/Bundeshaus.svg
  projects/oblique/icons/History.svg
  projects/oblique/src/assets/oblique-icons.ts
  projects/oblique/src/assets/obliqueIcons.svg
  projects/oblique/src/styles/scss/oblique-icons.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(schematics): add missing `upgradeToV10` function
  projects/oblique/schematics/index/ng-update/index.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove `@angular-devkit/build-ng-packagr` dependency and refactor accordingly
  DEPENDENCIES.md
  angular.json
  package-lock.json
  package.json
Due: prettier --write

refactor(bootstrap): remove `bootstrap` and `@ng-bootstrap` dependencies
  CONTRIBUTING.md
  DEPENDENCIES.md
  package-lock.json
  package.json
  projects/oblique/package.json
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
Due: eslint --fix --cache, prettier --write

showcase(icon): replace font-awesome icons with material icons
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.module.ts
  src/app/material/button/button.component.html
  src/app/material/icon/icon.sample.component.html
  src/app/samples/button/button.component.html
  src/app/samples/collapse/collapse-sample.component.html
  src/app/samples/dropdown/dropdown.component.html
  src/app/samples/nav-tree/nav-tree-detail-sample.component.html
  src/app/samples/nav-tree/nav-tree-sample.component.html
  src/app/samples/notification/notification-sample.component.html
  src/app/samples/unsaved-changes/unsaved-changes-sample.component.html
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase: replace `searchBox` with `autocomplete` in the header
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): list `@angular/cdk` as a dependency in addition to a peerDependency
  projects/oblique/ng-package.json
  projects/oblique/package.json
Due: prettier --write

chore(styles): deprecate SCSS files and mark them for removal with Oblique 11
  projects/oblique/src/styles/scss/core/_index.scss
  projects/oblique/src/styles/scss/core/_layouts.scss
  projects/oblique/src/styles/scss/core/_print.scss
  projects/oblique/src/styles/scss/core/components/_autocomplete.scss
  projects/oblique/src/styles/scss/core/components/_external-link.scss
  projects/oblique/src/styles/scss/core/components/_form.scss
  projects/oblique/src/styles/scss/core/components/_grid.scss
  projects/oblique/src/styles/scss/core/components/_index.scss
  projects/oblique/src/styles/scss/core/components/_list.scss
  projects/oblique/src/styles/scss/core/components/_nav-stepper.scss
  projects/oblique/src/styles/scss/core/components/_overlay.scss
  projects/oblique/src/styles/scss/core/components/_popover.scss
  projects/oblique/src/styles/scss/core/components/_table.scss
  projects/oblique/src/styles/scss/core/components/_tabs.scss
  projects/oblique/src/styles/scss/core/components/_text-control.scss
  projects/oblique/src/styles/scss/core/components/_type.scss
  projects/oblique/src/styles/scss/themes/material/_mat-button.scss
  projects/oblique/src/styles/scss/themes/material/_mat-card.scss
  projects/oblique/src/styles/scss/themes/material/_mat-checkbox-radio.scss
  projects/oblique/src/styles/scss/themes/material/_mat-chip.scss
  projects/oblique/src/styles/scss/themes/material/_mat-datepicker.scss
  projects/oblique/src/styles/scss/themes/material/_mat-dialog.scss
  projects/oblique/src/styles/scss/themes/material/_mat-expansion-panel.scss
  projects/oblique/src/styles/scss/themes/material/_mat-form-field.scss
  projects/oblique/src/styles/scss/themes/material/_mat-form.scss
  projects/oblique/src/styles/scss/themes/material/_mat-icon.scss
  projects/oblique/src/styles/scss/themes/material/_mat-paginator.scss
  projects/oblique/src/styles/scss/themes/material/_mat-stepper.scss
  projects/oblique/src/styles/scss/themes/material/_mat-tab.scss
  projects/oblique/src/styles/scss/themes/material/_mat-table.scss
  projects/oblique/src/styles/scss/themes/material/_mat-tooltip.scss
  projects/oblique/src/styles/scss/themes/material/_mat-typography.scss
  projects/oblique/src/styles/scss/themes/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(toolchain): do use `optionalDependencies` anymore
  projects/oblique/package.json
Due: prettier --write

feat: remove `ob-icon` component
  projects/oblique/src/lib/alert/alert.component.html
  projects/oblique/src/lib/alert/alert.module.ts
  projects/oblique/src/lib/autocomplete/autocomplete.component.html
  projects/oblique/src/lib/autocomplete/autocomplete.component.spec.ts
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.module.ts
  projects/oblique/src/lib/breadcrumb/breadcrumb.component.html
  projects/oblique/src/lib/breadcrumb/breadcrumb.module.ts
  projects/oblique/src/lib/collapse/collapse.component.html
  projects/oblique/src/lib/collapse/collapse.component.scss
  projects/oblique/src/lib/collapse/collapse.component.spec.ts
  projects/oblique/src/lib/collapse/collapse.module.ts
  projects/oblique/src/lib/column-layout/column-layout.component.html
  projects/oblique/src/lib/column-layout/column-layout.module.ts
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.html
  projects/oblique/src/lib/file-upload/file-info/file-info.component.html
  projects/oblique/src/lib/file-upload/file-upload.module.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.html
  projects/oblique/src/lib/icon/icon.module.ts
  projects/oblique/src/lib/icon/ob-icon.component.html
  projects/oblique/src/lib/icon/ob-icon.component.spec.ts
  projects/oblique/src/lib/icon/ob-icon.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
  projects/oblique/src/lib/nav-tree/nav-tree.component.html
  projects/oblique/src/lib/nav-tree/nav-tree.module.ts
  projects/oblique/src/lib/scrolling/scrolling.module.ts
  projects/oblique/src/lib/scrolling/top-control.component.html
  projects/oblique/src/lib/search-box/search-box.component.html
  projects/oblique/src/lib/search-box/search-box.module.ts
  projects/oblique/src/lib/spinner/spinner.component.html
  projects/oblique/src/lib/spinner/spinner.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(file-upload): remove deprecated method `areAllItemsSelected` on `ObFileInfoComponent`
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.ts
  projects/oblique/src/lib/file-upload/file-upload.api.json
Due: eslint --fix --cache, prettier --write
