Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox-ssr): add application
  projects/sandbox-ssr/.eslintrc.yml
  projects/sandbox-ssr/CONTRIBUTING.md
  projects/sandbox-ssr/README.md
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/server.ts
  projects/sandbox-ssr/src/Staticfile
  projects/sandbox-ssr/src/app/app.component.html
  projects/sandbox-ssr/src/app/app.component.spec.ts
  projects/sandbox-ssr/src/app/app.component.ts
  projects/sandbox-ssr/src/app/app.config.server.ts
  projects/sandbox-ssr/src/app/app.config.ts
  projects/sandbox-ssr/src/app/app.routes.ts
  projects/sandbox-ssr/src/index.html
  projects/sandbox-ssr/src/main.server.ts
  projects/sandbox-ssr/src/main.ts
  projects/sandbox-ssr/src/styles.scss
  projects/sandbox-ssr/tsconfig.app.json
  projects/sandbox-ssr/tsconfig.spec.json
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox-ssr/toolchain): add `lint` & `format` scripts
  projects/sandbox-ssr/.eslintrc.local.yml
  projects/sandbox-ssr/.eslintrc.yml
  projects/sandbox-ssr/README.md
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/scripts/lint.ts
  projects/sandbox-ssr/tsconfig.scripts.json
Due: eslint --fix --cache, prettier --write

feat(sandbox-ssr/toolchain): add `test` & `test-ci` scripts
  projects/sandbox-ssr/README.md
  projects/sandbox-ssr/jest.config.ci.js
  projects/sandbox-ssr/jest.config.js
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
Due: eslint --fix --cache, prettier --write

feat(toolchain): add SandboxSSR project on Sonar
  Jenkinsfile
Due: none

feat(sandbox-ssr/toolchain): add `release` script
  projects/sandbox-ssr/CHANGELOG.md
  projects/sandbox-ssr/README.md
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/scripts/release.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox-ssr/home): add home page
  projects/sandbox-ssr/CONTRIBUTING.md
  projects/sandbox-ssr/src/app/app.component.html
  projects/sandbox-ssr/src/app/app.component.scss
  projects/sandbox-ssr/src/app/app.component.spec.ts
  projects/sandbox-ssr/src/app/app.component.ts
  projects/sandbox-ssr/src/app/app.routes.ts
  projects/sandbox-ssr/src/app/home/home.component.html
  projects/sandbox-ssr/src/app/home/home.component.spec.ts
  projects/sandbox-ssr/src/app/home/home.component.ts
  projects/sandbox-ssr/src/app/home/logo/logo.component.html
  projects/sandbox-ssr/src/app/home/logo/logo.component.scss
  projects/sandbox-ssr/src/app/home/logo/logo.component.spec.ts
  projects/sandbox-ssr/src/app/home/logo/logo.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox-ssr/toolchain): add design-system module with a test component
  projects/sandbox-ssr/src/app/app.component.html
  projects/sandbox-ssr/src/app/app.component.scss
  projects/sandbox-ssr/src/app/app.routes.ts
  projects/sandbox-ssr/src/app/design-system/design-system.routes.ts
  projects/sandbox-ssr/src/app/design-system/test/test.component.html
  projects/sandbox-ssr/src/app/design-system/test/test.component.spec.ts
  projects/sandbox-ssr/src/app/design-system/test/test.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox-ssr): add translations management with `ngx-translate`
  projects/sandbox-ssr/.eslintrc.yml
  projects/sandbox-ssr/README.md
  projects/sandbox-ssr/jest.config.js
  projects/sandbox-ssr/src/app/app.component.html
  projects/sandbox-ssr/src/app/app.component.spec.ts
  projects/sandbox-ssr/src/app/app.component.ts
  projects/sandbox-ssr/src/app/app.config.ts
  projects/sandbox-ssr/src/app/design-system/test/test.component.html
  projects/sandbox-ssr/src/app/design-system/test/test.component.spec.ts
  projects/sandbox-ssr/src/app/design-system/test/test.component.ts
  projects/sandbox-ssr/src/app/shared/multi-translate-loader/multi-translate-loader.model.ts
  projects/sandbox-ssr/src/app/shared/multi-translate-loader/multi-translate-loader.ts
  projects/sandbox-ssr/src/app/shared/multi-translate-loader/multi-translate-loader.utils.ts
  projects/sandbox-ssr/src/assets/i18n/en.json
  projects/sandbox-ssr/src/assets/i18n/fr.json
Due: eslint --fix --cache, prettier --write

feat(sds/tabbed-page): add deprecation notice to SDS
  projects/sds/src/app/cms/models/tabbed-page.model.ts
  projects/sds/src/app/tabbed-page/tabbed-page.component.html
  projects/sds/src/app/tabbed-page/tabbed-page.component.scss
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/tabbed-page): use `router.navigate()` when clicking on a link inside the deprecation notice
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

test(cli/toolchain): only generate Sonar report on `test-ci`
  projects/cli/jest.config.ci.js
  projects/cli/jest.config.js
  projects/cli/package.json
Due: eslint --fix --cache, prettier --write

test(design-system/toolchain): use full Sonar configuration for `test-ci`
  projects/design-system/jest.config.ci.js
Due: eslint --fix --cache, prettier --write

test(oblique/toolchain): use full Sonar configuration for `test-ci`
  projects/oblique/jest.config.ci.js
Due: eslint --fix --cache, prettier --write

test(sandbox/toolchain): use full Sonar configuration for `test-ci`
  projects/sandbox/jest.config.ci.js
Due: eslint --fix --cache, prettier --write

test(sds/toolchain): use full Sonar configuration for `test-ci`
  projects/sds/jest.config.ci.js
Due: eslint --fix --cache, prettier --write

test(service-navigation/toolchain): use full Sonar configuration for `test-ci`
  projects/service-navigation-web-component/jest.config.ci.js
Due: eslint --fix --cache, prettier --write

test(toolchain): remove Sonar configuration from root configuration
  tests/jest.config.js
Due: eslint --fix --cache, prettier --write

test(sandbox-ssr/toolchain): use full Sonar configuration for `test-ci`
  projects/sandbox-ssr/jest.config.ci.js
Due: eslint --fix --cache, prettier --write

feat(sandbox/material): move buttons in table header from `th` to `td`
  projects/sandbox/src/app/material/table/table.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/material): add selectable table code example
  projects/sds/src/app/code-examples/code-examples/material-table/material-table-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/material-table/material-table-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/material-table/previews/selectable/material-table-example-selectable-preview.component.html
  projects/sds/src/app/code-examples/code-examples/material-table/previews/selectable/material-table-example-selectable-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/material-table/previews/selectable/material-table-example-selectable-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/material-table/previews/selectable/table-manager.ts
  projects/sds/src/app/code-examples/code-examples/material-table/previews/selectable/table.model.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/material): add unit tests for material table
  projects/sds/src/app/code-examples/code-examples/material-table/material-table-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): focus `H1` instead of `main`
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): add possibility to include additional commits to the changelog
  scripts/shared/changelog.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation/toolchain): add `oblique/service-navigation` commits to the changelog
  projects/service-navigation-web-component/scripts/release.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/popover): styles overflowing popover
  projects/oblique/src/styles/scss/core/components/_popover.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/service-navigation): adjust styling of application popover content
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/popover): add example to demonstrate popover with large content
  projects/sds/src/app/code-examples/code-examples/popover/popover-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/popover/previews/default/popover-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/popover/previews/default/popover-example-default-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/popover/previews/default/popover-example-default-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(cli/toolchain): add help and version command
  projects/cli/src/index.spec.ts
  projects/cli/src/index.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): add global script functions
  scripts/shared/utils.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): add logging feature based on chalk
  DEPENDENCIES.md
  package-lock.json
  package.json
  scripts/shared/log.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): add logging to global scripts
  scripts/husky/dependency-update.ts
  scripts/husky/hook.commit-rules.ts
  scripts/lint.ts
  scripts/release.ts
  scripts/sanitize-package-lock.ts
  scripts/shared/banner.ts
  scripts/shared/changelog.ts
  scripts/shared/copy-files.ts
  scripts/shared/git.ts
  scripts/shared/lint.ts
  scripts/shared/package-json.ts
  scripts/shared/static-script.ts
  scripts/shared/utils.ts
  scripts/troubleshoot.ts
  scripts/update-dependencies.ts
Due: eslint --fix --cache, prettier --write

feat(cli/toolchain): add logging to scripts
  projects/cli/scripts/lint.ts
  projects/cli/scripts/post-build.ts
  projects/cli/scripts/release.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/toolchain): add logging to scripts
  projects/sandbox/scripts/lint.ts
  projects/sandbox/scripts/release.ts
Due: eslint --fix --cache, prettier --write

feat(design-system/toolchain): add logging to scripts
  projects/design-system/scripts/lint.ts
  projects/design-system/scripts/post-build.ts
  projects/design-system/scripts/release.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox-ssr/toolchain): add logging to scripts
  projects/sandbox-ssr/scripts/lint.ts
  projects/sandbox-ssr/scripts/release.ts
Due: eslint --fix --cache, prettier --write

feat(sds/toolchain): add logging to scripts
  projects/sds/scripts/lint.ts
  projects/sds/scripts/post-dist.ts
  projects/sds/scripts/release.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation/toolchain): add logging to scripts
  projects/service-navigation-web-component/scripts/lint.ts
  projects/service-navigation-web-component/scripts/post-dist.ts
  projects/service-navigation-web-component/scripts/release.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/toolchain): add logging to scripts
  projects/oblique/scripts/lint.ts
  projects/oblique/scripts/npm-deprecate.ts
  projects/oblique/scripts/post-dist.ts
  projects/oblique/scripts/pre-dist.ts
  projects/oblique/scripts/release.ts
  projects/oblique/scripts/update-icons.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): lint non-project files first
  package.json
Due: prettier --write

fix(sds): use higher contrast colors for accessibility
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
  projects/sds/src/styles/scss/core/_variables.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
