Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

feat(toolchain): add gitHub issue templates
  .github/ISSUE_TEMPLATE/1-bug-report.yaml
  .github/ISSUE_TEMPLATE/2-feature-request.yaml
  .github/ISSUE_TEMPLATE/3-documentation-issue.yaml
Due: none

chore(toolchain): release version 10.3.1
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): allow class patterns with `--` or `__` in stylelint
  .stylelintrc.yml
Due: prettier --write

feat(material): adjust to color palette for new design
  projects/oblique/src/styles/scss/core/_palette.scss
  projects/oblique/src/styles/scss/material/_material-palette.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase(master-layout): add example to showcase for new ob-show-external-link-icon class in footer
  src/app/app.component.html
Due: eslint --fix --cache, prettier --write

showcase(nav-tree): remove fake focus
  src/app/samples/nav-tree/nav-tree-sample.component.html
  src/app/samples/nav-tree/nav-tree-sample.component.ts
Due: eslint --fix --cache, prettier --write

showcase(material): replace `MatLegacyButtonModule` with `MatButtonModule` in showcase
  src/app/app.module.ts
  src/app/material/material.module.ts
  src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

feat(file-upload): replace legacy module of the progress-bar
  projects/oblique/src/lib/file-upload/file-upload.module.ts
Due: eslint --fix --cache, prettier --write

refactor(material): configure each material component styling independently
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): apply new style of material tooltip
  projects/oblique/src/styles/scss/material/_mat-tooltip.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): remove unused `ob-control-icon` class
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(search-box): remove deprecated feature
  CONTRIBUTING.md
  projects/oblique/jest.config.prod.js
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/src/lib/oblique-testing.module.ts
  projects/oblique/src/lib/oblique.module.ts
  projects/oblique/src/lib/search-box/_mocks/mock-search-box.component.ts
  projects/oblique/src/lib/search-box/_mocks/mock-search-box.module.ts
  projects/oblique/src/lib/search-box/search-box.api.json
  projects/oblique/src/lib/search-box/search-box.component.html
  projects/oblique/src/lib/search-box/search-box.component.scss
  projects/oblique/src/lib/search-box/search-box.component.spec.ts
  projects/oblique/src/lib/search-box/search-box.component.ts
  projects/oblique/src/lib/search-box/search-box.description.html
  projects/oblique/src/lib/search-box/search-box.model.ts
  projects/oblique/src/lib/search-box/search-box.module.ts
  projects/oblique/src/public_api.ts
  projects/stylesBuilder/oblique-components.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(schematics): create new schematic harness for oblique 11
  projects/oblique/schematics/index/ng-update/index.ts
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/schematics/migration.json
Due: eslint --fix --cache, prettier --write

feat(master-layout): adjust header to match new design
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): adjust offcanvas ob-close button background coloring
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component-offcanvas.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(schematics): replace scss with css styles in `angular.json`
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
Due: eslint --fix --cache, prettier --write

feat(material): adjust button styles for new design
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): replace `MatLegacyTooltipModule` with `MatTooltipModule`
  projects/oblique/src/lib/breadcrumb/breadcrumb.component.spec.ts
  projects/oblique/src/lib/breadcrumb/breadcrumb.module.ts
  projects/oblique/src/lib/file-upload/file-upload.module.ts
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.harness.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.spec.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.harness.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.spec.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.harness.ts
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.spec.ts
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.harness.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.harness.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/styles/scss/oblique-material.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(icon): merge custom configuration with the default one instead of overriding it
  projects/oblique/src/lib/icon/icon.module.ts
Due: eslint --fix --cache, prettier --write

showcase(service-navigation): use `REF` environment instead of `TEST`
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: eslint --fix --cache, prettier --write

feat(master-layout): small adjustments to match new design
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase: fix icon rotation
  src/app/app.component.html
  src/app/app.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(styles): remove deprecation notices from scss files
  projects/oblique/src/styles/scss/core/_index.scss
  projects/oblique/src/styles/scss/core/_layouts.scss
  projects/oblique/src/styles/scss/core/_print.scss
  projects/oblique/src/styles/scss/core/components/_autocomplete.scss
  projects/oblique/src/styles/scss/core/components/_external-link.scss
  projects/oblique/src/styles/scss/core/components/_form.scss
  projects/oblique/src/styles/scss/core/components/_grid.scss
  projects/oblique/src/styles/scss/core/components/_index.scss
  projects/oblique/src/styles/scss/core/components/_list.scss
  projects/oblique/src/styles/scss/core/components/_nav-stepper.scss
  projects/oblique/src/styles/scss/core/components/_overlay.scss
  projects/oblique/src/styles/scss/core/components/_popover.scss
  projects/oblique/src/styles/scss/core/components/_table.scss
  projects/oblique/src/styles/scss/core/components/_tabs.scss
  projects/oblique/src/styles/scss/core/components/_text-control.scss
  projects/oblique/src/styles/scss/core/components/_type.scss
  projects/oblique/src/styles/scss/material/_mat-button.scss
  projects/oblique/src/styles/scss/material/_mat-card.scss
  projects/oblique/src/styles/scss/material/_mat-checkbox-radio.scss
  projects/oblique/src/styles/scss/material/_mat-chip.scss
  projects/oblique/src/styles/scss/material/_mat-datepicker.scss
  projects/oblique/src/styles/scss/material/_mat-dialog.scss
  projects/oblique/src/styles/scss/material/_mat-expansion-panel.scss
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
  projects/oblique/src/styles/scss/material/_mat-form.scss
  projects/oblique/src/styles/scss/material/_mat-icon.scss
  projects/oblique/src/styles/scss/material/_mat-paginator.scss
  projects/oblique/src/styles/scss/material/_mat-stepper.scss
  projects/oblique/src/styles/scss/material/_mat-tab.scss
  projects/oblique/src/styles/scss/material/_mat-table.scss
  projects/oblique/src/styles/scss/material/_mat-tooltip.scss
  projects/oblique/src/styles/scss/material/_mat-typography.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase: replace `MatLegacyTooltipModule` with `MatTooltipModule`
  src/app/app.module.ts
  src/app/material/material.module.ts
  src/app/material/tooltip/tooltip.component.ts
  src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

fix(service-navigation): remove unwanted margin on authentication
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.scss
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(master-layout): remove unnecessary tooltip position
  src/app/app.component.html
Due: eslint --fix --cache, prettier --write

feat(styles): add `ob-box-shadow` & `ob-focus-visible` mixins to shadow mixins
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(spinner): redesign
  projects/oblique/src/lib/spinner/spinner.component.html
Due: eslint --fix --cache, prettier --write

feat(nav-tree): remove fake focus
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/src/lib/nav-tree/_mocks/mock-nav-tree-fake-focus.directive.ts
  projects/oblique/src/lib/nav-tree/_mocks/mock-nav-tree.module.ts
  projects/oblique/src/lib/nav-tree/nav-tree-fake-focus.directive.spec.ts
  projects/oblique/src/lib/nav-tree/nav-tree-fake-focus.directive.ts
  projects/oblique/src/lib/nav-tree/nav-tree.api.json
  projects/oblique/src/lib/nav-tree/nav-tree.module.ts
  projects/oblique/src/lib/oblique-testing.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(material): apply new style of material paginator
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/paginator/ob-paginator.service.spec.ts
  projects/oblique/src/lib/paginator/ob-paginator.service.ts
  projects/oblique/src/styles/scss/material/_mat-paginator.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(material): remove `MatLegacyPaginator`
  src/app/material/table/table-manager.ts
  src/app/material/table/table.component.ts
Due: eslint --fix --cache, prettier --write

showcase(material): replace legacy module of the progress-bar
  src/app/material/material.module.ts
Due: eslint --fix --cache, prettier --write

feat(material): redesign of the progress-bar
  projects/oblique/src/styles/scss/material/_mat-progress-bar.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

test(material): fix paginator translation
  projects/oblique/src/lib/paginator/ob-paginator.service.spec.ts
Due: eslint --fix --cache, prettier --write

showcase(search-box): remove deprecated feature
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/samples/samples-routing.module.ts
  src/app/samples/samples.module.ts
  src/app/samples/search-box/search-box.component.html
  src/app/samples/search-box/search-box.component.scss
  src/app/samples/search-box/search-box.component.spec.ts
  src/app/samples/search-box/search-box.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(button): add examples for external link ob-buttons
  src/app/samples/button/button.component.html
Due: eslint --fix --cache, prettier --write

showcase(material): add `showFirstLastButtons` option to table.component.html
  src/app/material/table/table.component.html
Due: eslint --fix --cache, prettier --write

feat(styles): no longer distribute scss styles
  projects/oblique/scripts/post-dist/steps/copy-dist-files.ts
Due: eslint --fix --cache, prettier --write

feat(material): replace `MatLegacyButtonModule` with `MatButtonModule`
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
  projects/oblique/src/lib/button/button.directive.spec.ts
  projects/oblique/src/lib/button/button.directive.ts
  projects/oblique/src/lib/file-upload/file-upload.module.ts
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/styles/scss/material/_mat-button.scss
  projects/oblique/src/styles/scss/material/_mat-card.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): adjust footer to match new design
  projects/oblique/src/assets/images/logo-white.svg
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.html
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write
