Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

fix(service-navigation): move applications into a list
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.scss
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
Due: prettier --write

fix(service-navigation): update notification widget's translations
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
Due: prettier --write

fix(service-navigation): add a limitation to 99+ notifications
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.html
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.scss
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.spec.ts
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.ts
  projects/oblique/src/styles/scss/core/_variables.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(service-navigation): short cookie expiration set to 5s
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout-cookie.service.spec.ts
  projects/oblique/src/lib/service-navigation/timeout/service-navigation-timeout-cookie.service.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): add a `deploy` pipeline
  Jenkinsfile.deploy
Due: none

feat(styles): add `$ob-spacing-md` variable
  projects/oblique/src/styles/scss/core/_variables.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase(material): remove `MatLegacyPaginator`
  src/app/material/table/table-manager.ts
  src/app/material/table/table.component.ts
Due: eslint --fix --cache, prettier --write

showcase(master-layout): remove unnecessary classes
  src/app/app.component.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): allow class patterns with `--` or `__` in stylelint
  .stylelintrc.yml
Due: prettier --write

fix(toolchain): don't throw an error when stylelint don't find any changed file
  scripts/lint/steps/stylelint.ts
Due: eslint --fix --cache, prettier --write

feat(styles): add `ob-box-shadow` & `ob-focus-visible` mixins to shadow mixins
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): icon adjustments
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase(material): redesign of the card to match the WGL 2023
  src/app/material/card/card.component.html
  src/app/material/card/card.component.scss
  src/app/material/card/card.component.ts
  src/app/material/material.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(material): configure each material component styling independently
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase(button): add examples for external link ob-buttons
  src/app/samples/button/button.component.html
Due: eslint --fix --cache, prettier --write

feat(spinner): redesign
  projects/oblique/src/lib/spinner/spinner.component.html
Due: eslint --fix --cache, prettier --write

showcase(master-layout): remove unnecessary tooltip position
  src/app/app.component.html
Due: eslint --fix --cache, prettier --write

showcase(nav-tree): remove fake focus
  src/app/samples/nav-tree/nav-tree-sample.component.html
  src/app/samples/nav-tree/nav-tree-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(search-box): remove deprecated feature
  CONTRIBUTING.md
  projects/oblique/jest.config.prod.js
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/src/lib/oblique-testing.module.ts
  projects/oblique/src/lib/oblique.module.ts
  projects/oblique/src/lib/search-box/_mocks/mock-search-box.component.ts
  projects/oblique/src/lib/search-box/_mocks/mock-search-box.module.ts
  projects/oblique/src/lib/search-box/search-box.api.json
  projects/oblique/src/lib/search-box/search-box.component.html
  projects/oblique/src/lib/search-box/search-box.component.scss
  projects/oblique/src/lib/search-box/search-box.component.spec.ts
  projects/oblique/src/lib/search-box/search-box.component.ts
  projects/oblique/src/lib/search-box/search-box.description.html
  projects/oblique/src/lib/search-box/search-box.model.ts
  projects/oblique/src/lib/search-box/search-box.module.ts
  projects/oblique/src/public_api.ts
  projects/stylesBuilder/oblique-components.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(material): add `ObFormField` module to showcase
  src/app/material/material.module.ts
  src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

showcase(material): replace `MatLegacyListModule` and `MatLegacyFormFieldModule`
  src/app/material/material.module.ts
  src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

feat(styles): remove deprecation notices from scss files
  projects/oblique/src/styles/scss/core/_index.scss
  projects/oblique/src/styles/scss/core/_layouts.scss
  projects/oblique/src/styles/scss/core/_print.scss
  projects/oblique/src/styles/scss/core/components/_autocomplete.scss
  projects/oblique/src/styles/scss/core/components/_external-link.scss
  projects/oblique/src/styles/scss/core/components/_form.scss
  projects/oblique/src/styles/scss/core/components/_grid.scss
  projects/oblique/src/styles/scss/core/components/_index.scss
  projects/oblique/src/styles/scss/core/components/_list.scss
  projects/oblique/src/styles/scss/core/components/_nav-stepper.scss
  projects/oblique/src/styles/scss/core/components/_overlay.scss
  projects/oblique/src/styles/scss/core/components/_popover.scss
  projects/oblique/src/styles/scss/core/components/_table.scss
  projects/oblique/src/styles/scss/core/components/_tabs.scss
  projects/oblique/src/styles/scss/core/components/_text-control.scss
  projects/oblique/src/styles/scss/core/components/_type.scss
  projects/oblique/src/styles/scss/material/_mat-button.scss
  projects/oblique/src/styles/scss/material/_mat-card.scss
  projects/oblique/src/styles/scss/material/_mat-checkbox-radio.scss
  projects/oblique/src/styles/scss/material/_mat-chip.scss
  projects/oblique/src/styles/scss/material/_mat-datepicker.scss
  projects/oblique/src/styles/scss/material/_mat-dialog.scss
  projects/oblique/src/styles/scss/material/_mat-expansion-panel.scss
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
  projects/oblique/src/styles/scss/material/_mat-form.scss
  projects/oblique/src/styles/scss/material/_mat-icon.scss
  projects/oblique/src/styles/scss/material/_mat-paginator.scss
  projects/oblique/src/styles/scss/material/_mat-stepper.scss
  projects/oblique/src/styles/scss/material/_mat-tab.scss
  projects/oblique/src/styles/scss/material/_mat-table.scss
  projects/oblique/src/styles/scss/material/_mat-tooltip.scss
  projects/oblique/src/styles/scss/material/_mat-typography.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase(material): add `showFirstLastButtons` option to table.component.html
  src/app/material/table/table.component.html
Due: eslint --fix --cache, prettier --write

refactor(master-layout): improve menu toggle code
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): replace `MatLegacyTooltipModule` with `MatTooltipModule`
  projects/oblique/src/lib/breadcrumb/breadcrumb.component.spec.ts
  projects/oblique/src/lib/breadcrumb/breadcrumb.module.ts
  projects/oblique/src/lib/file-upload/file-upload.module.ts
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.harness.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.spec.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.harness.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.spec.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.harness.ts
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.spec.ts
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.harness.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.harness.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/styles/scss/oblique-material.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(master-layout): remove unnecessary `ob-control-icon` class
  src/app/app.component.html
Due: eslint --fix --cache, prettier --write

feat(master-layout): small adjustments to match new design
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase(material): add list group page
  src/app/app.component.ts
  src/app/material/list/list.component.html
  src/app/material/list/list.component.scss
  src/app/material/list/list.component.ts
  src/app/material/material.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(paginator): remove `MatLegacyPaginatorIntl` and `MatLegacyPaginatorModule`
  projects/oblique/src/lib/paginator/ob-paginator.module.ts
  projects/oblique/src/lib/paginator/ob-paginator.service.ts
  projects/oblique/src/styles/scss/oblique-material.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(file-upload): replace legacy module of the progress-bar
  projects/oblique/src/lib/file-upload/file-upload.module.ts
Due: eslint --fix --cache, prettier --write

refactor(master-layout): improve collapse mode layout button
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): add `mat-form-field` and `mat-select` directives
  projects/oblique/src/lib/form-field/form-field.directive.spec.ts
  projects/oblique/src/lib/form-field/form-field.directive.ts
  projects/oblique/src/lib/form-field/form-field.module.ts
  projects/oblique/src/lib/form-field/select.directive.spec.ts
  projects/oblique/src/lib/form-field/select.directive.ts
  projects/oblique/src/lib/oblique.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(master-layout): remove header controls area and always show service navigation
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout.api.json
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(master-layout): remove unnecessary code
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase: remove `OB_ACTIVATE_SERVICE_NAVIGATION`
  src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

feat(styles): no longer distribute scss styles
  projects/oblique/scripts/post-dist/steps/copy-dist-files.ts
Due: eslint --fix --cache, prettier --write

feat(master-layout): remove unused `ob-control-icon` class
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(schematics): create new schematic harness for oblique 11
  projects/oblique/schematics/index/ng-update/index.ts
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/schematics/migration.json
Due: eslint --fix --cache, prettier --write

fix(material): don't import from `@oblique/utilities`
  projects/oblique/src/lib/form-field/form-field.module.ts
Due: eslint --fix --cache, prettier --write
