Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

feat(sds/toolchain): add `banner` scope
  projects/sds/CONTRIBUTING.md
Due: prettier --write

feat(sds/banner): make banner responsive
  projects/sds/src/app/banner/banner.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/feedback): move trigger to the bottom on mobile view
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds): replace wrapping `span` with `main`
  projects/sds/src/app/app.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/banner): hide the banner
  projects/sds/src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/banner): make banner presence depend on a setting
  projects/sds/src/app/app.component.html
  projects/sds/src/app/app.component.scss
  projects/sds/src/app/app.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/styles): add theme styling for mat-spinner
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/material): add mat-spinner example
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/material/material.module.ts
  projects/sandbox/src/app/material/spinner/spinner.component.html
  projects/sandbox/src/app/material/spinner/spinner.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): add check for multi-project applications
  projects/oblique/schematics/index/ng-add/index.ts
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/sandbox-ssr/package.json
  projects/service-navigation-web-component/package.json
Due: prettier --write

chore(toolchain): update dependencies and refactor accordingly
  projects/oblique/src/lib/selectable/selectable-group.directive.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): correctly match release candidates in the branch name for the release script
  scripts/release.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 12.0.0-rc.1
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/design-system/CHANGELOG.md
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/CHANGELOG.md
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): add pre-versions publish instructions in the release script
  scripts/release.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/oblique/package.json
Due: prettier --write

chore(toolchain): release version 11.3.4
  package-lock.json
  package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
Due: eslint --fix --cache, prettier --write

feat(toolchain): add `Design System` workspace
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  angular.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

feat(design-system/toolchain): add `lint` & `format` scripts
  projects/design-system/.eslintrc.local.yml
  projects/design-system/.eslintrc.yml
  projects/design-system/README.md
  projects/design-system/package.json
  projects/design-system/scripts/lint.ts
  projects/design-system/tsconfig.scripts.json
Due: eslint --fix --cache, prettier --write

feat(design-system): add library
  projects/design-system/.eslintrc.yml
  projects/design-system/CONTRIBUTING.md
  projects/design-system/README.md
  projects/design-system/ng-package.json
  projects/design-system/package.json
  projects/design-system/src/lib/demo.component.html
  projects/design-system/src/lib/demo.component.ts
  projects/design-system/src/public-api.ts
  projects/design-system/tsconfig.lib.json
  projects/design-system/tsconfig.lib.prod.json
  projects/design-system/tsconfig.spec.json
Due: eslint --fix --cache, prettier --write

feat(design-system/toolchain): add `build` script
  projects/design-system/README.md
  projects/design-system/package.json
  projects/design-system/scripts/post-build.ts
Due: eslint --fix --cache, prettier --write

feat(design-system/toolchain): add `test` & `test-ci` scripts
  projects/design-system/README.md
  projects/design-system/jest.config.ci.js
  projects/design-system/jest.config.js
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/design-system/src/lib/demo.component.spec.ts
  projects/design-system/tsconfig.spec.json
Due: eslint --fix --cache, prettier --write

feat(design-system/toolchain): add `release` script
  projects/design-system/CHANGELOG.md
  projects/design-system/README.md
  projects/design-system/package.json
  projects/design-system/scripts/release.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/toolchain): add Design System examples
  projects/sandbox/src/app/app-routing.module.ts
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/design-system/design-system-routing.module.ts
  projects/sandbox/src/app/design-system/design-system.component.html
  projects/sandbox/src/app/design-system/design-system.component.ts
  projects/sandbox/src/app/design-system/design-system.module.ts
Due: eslint --fix --cache, prettier --write

feat(cli): add library
  projects/cli/.eslintrc.yml
  projects/cli/CONTRIBUTING.md
  projects/cli/README.md
  projects/cli/package.json
  projects/cli/src/index.ts
  projects/cli/tsconfig.app.json
Due: eslint --fix --cache, prettier --write

feat(toolchain): add `CLI` workspace
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
Due: prettier --write

feat(cli/toolchain): add `lint` & `format` scripts
  projects/cli/.eslintrc.local.yml
  projects/cli/.eslintrc.yml
  projects/cli/README.md
  projects/cli/package.json
  projects/cli/scripts/lint.ts
  projects/cli/tsconfig.scripts.json
Due: eslint --fix --cache, prettier --write

feat(cli/toolchain): add `test` & `test-ci` scripts
  projects/cli/.eslintrc.local.yml
  projects/cli/.eslintrc.yml
  projects/cli/README.md
  projects/cli/jest.config.js
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/cli/src/index.spec.ts
  projects/cli/tsconfig.spec.json
Due: eslint --fix --cache, prettier --write

feat(cli/toolchain): add `release` script
  projects/cli/CHANGELOG.md
  projects/cli/README.md
  projects/cli/package.json
  projects/cli/scripts/release.ts
Due: eslint --fix --cache, prettier --write

feat(cli/toolchain): add `post-build` script
  projects/cli/package.json
  projects/cli/scripts/post-build.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/scrolling): emit an event when the back to top button is clicked
  projects/oblique/src/lib/scrolling/top-control.component.spec.ts
  projects/oblique/src/lib/scrolling/top-control.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/scrolling): top control only scrolls if a `scrollTarget` is provided
  projects/oblique/src/lib/scrolling/top-control.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): focus `#content` when back to top button is clicked
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/master-layout): use a variable for `content` ID
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/master-layout): avoid code duplication
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/master-layout): add skip link to the "Blick" link in the footer
  projects/sandbox/src/app/app.component.html
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): throw error in case of missing `pamsAppId`
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

fix(cli/toolchain): use existing path for Sonar analysis
  projects/cli/sonar-project.properties
Due: none

fix(cli/toolchain): fix package version
  projects/cli/package.json
  projects/cli/sonar-project.properties
Due: prettier --write

feat(toolchain): add CLI and DesignSystem projects on Sonar
  Jenkinsfile
Due: none

fix(design-system/toolchain): fix package version
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
Due: prettier --write
