Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache, prettier --fix

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache
"*.{ts,js,html,json,yml,md,css,scss}": prettier --fix

fix(toolchain): add missing entries in DEPENDENCIES.md
  DEPENDENCIES.md
Due: prettier --fix

fix(toolchain): use double quotes around globs in linting scripts
  package.json
Due: prettier --fix

fix(toolchain): move dependencies to where they belong
  DEPENDENCIES.md
  package-lock.json
  package.json
Due: prettier --fix

feat(material): support browser font-resize
  projects/oblique/src/styles/scss/themes/material/_mat-typography.scss
  projects/oblique/src/styles/scss/themes/oblique-material.scss
Due: stylelint --fix --cache, prettier --fix

refactor(toolchain): enable all `@angular-eslint/template` rules by default
  .eslintrc.yml
Due: prettier --fix

fix(master-layout): export `ObIJumpLink` interface
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --fix

showcase(master-layout): import `ObIJumpLink` from `@oblique/oblique`
  src/app/app.component.ts
Due: eslint --fix --cache, prettier --fix

fix(schematics): remove unnecessary js-files
  projects/oblique/schematics/testing/ob-schematics-testing-helper.js
  projects/oblique/schematics/testing/ob-schematics-testing.model.js
  tests/jestGlobalMocks.js
  tests/setupJest.js
Due: eslint --fix --cache, prettier --fix

feat(master-layout): for accessibility reasons language is moved to right side of header-controls
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
Due: eslint --fix --cache, prettier --fix

fix(toolchain): activate garbage collection
  package.json
Due: prettier --fix

test(toolchain): add console mocks to the global jest mocks
  tests/jestGlobalMocks.ts
Due: eslint --fix --cache, prettier --fix

test(collapse): refactor tests to avoid timeout failures
  projects/oblique/src/lib/collapse/collapse.component.spec.ts
Due: eslint --fix --cache, prettier --fix

fix(toolchain): add test debug task
  package.json
Due: prettier --fix

test(schema-validation): refactor tests to avoid timeout failures
  projects/oblique/src/lib/schema-validation/schema-validation.spec.ts
Due: eslint --fix --cache, prettier --fix

test(master-layout): change import to reduce memory heap
  projects/oblique/src/lib/master-layout/aria-menu-button.directive.spec.ts
Due: eslint --fix --cache, prettier --fix

fix(master-layout): ensure `padding-bottom` on `main` is correctly applied on firefox
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.firefox.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, stylelint --fix --cache, prettier --fix

fix(toolchain): fix bad formating on DEPENDENCIES.md
  DEPENDENCIES.md
Due: prettier --fix

chore(toolchain): automatically run `npm ci` when necessary on `git pull`
  .husky/post-checkout
  .husky/post-merge
  package.json
  scripts/dependency-update.ts
Due: eslint --fix --cache, prettier --fix

chore(toolchain): use ESM module for node scripts
  projects/oblique/schematics/index/ng-add/templates/default-tsconfig.spec.json
  projects/oblique/tsconfig.spec.json
  projects/stylesBuilder/tsconfig.styles.json
  scripts/adapt-package-json.ts
  scripts/copy-error-messages.ts
  scripts/find-and-replace.ts
  scripts/generate-component-styles.ts
  scripts/icons.ts
  scripts/npm-deprecate.ts
  scripts/release.ts
  scripts/sanitize-package-lock.ts
  src/tsconfig.app.json
  tsconfig.json
Due: eslint --fix --cache, prettier --fix

chore(toolchain): update dependencies
  package-lock.json
  package.json
Due: prettier --fix

chore(toolchain): release version 8.0.1
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --fix

chore(toolchain): update `oblique-components`
  projects/stylesBuilder/oblique-components.scss
Due: stylelint --fix --cache, prettier --fix

chore(toolchain): allow empty css list for `stylelint`
  .lintstagedrc.yml
Due: prettier --fix

fix(toolchain): check for tag existence before removing it with the `npm-deprecate` script
  scripts/npm-deprecate.ts
Due: eslint --fix --cache, prettier --fix

fix(toolchain): validate arguments of the `npm-deprecate` script
  scripts/npm-deprecate.ts
Due: eslint --fix --cache, prettier --fix

fix(toolchain): ignore whitespaces for logged in user in `npm-deprecate` script
  scripts/npm-deprecate.ts
Due: eslint --fix --cache, prettier --fix

fix(master-layout): ensure the title's height matches the one of the coat of arms in collapse mode
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.scss
Due: stylelint --fix --cache, prettier --fix

test: remove mocks and assets from code coverage
  tests/jest.config.js
Due: eslint --fix --cache, prettier --fix

test: add `coverageThreshold` option
  tests/jest.config.js
Due: eslint --fix --cache, prettier --fix

fix(file-upload): show icons even without Oblique icons
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.html
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.scss
  projects/oblique/src/lib/file-upload/file-info/file-info.component.html
  projects/oblique/src/lib/file-upload/progress/progress.component.html
  projects/oblique/src/lib/icon/ob-icon.component.spec.ts
  projects/oblique/src/lib/icon/ob-icon.component.ts
Due: eslint --fix --cache, stylelint --fix --cache, prettier --fix

fix(master-layout): show an icon on the jumplinks without Oblique icons
  projects/oblique/src/lib/icon/ob-icon.component.spec.ts
  projects/oblique/src/lib/icon/ob-icon.component.ts
Due: eslint --fix --cache, prettier --fix

fix(breadcrumb): the separator shows an icon even without Oblique icons
  projects/oblique/src/lib/breadcrumb/breadcrumb.component.html
  projects/oblique/src/lib/breadcrumb/breadcrumb.component.scss
  projects/oblique/src/lib/icon/ob-icon.component.spec.ts
  projects/oblique/src/lib/icon/ob-icon.component.ts
Due: eslint --fix --cache, stylelint --fix --cache, prettier --fix

fix(toolchain): ensure supported browsers are correctly specified
  .browserslistrc
Due: none

fix(toolchain): rewrite `hook.commit-rules` in typescript
  package.json
  scripts/hook.commit-rules.js
  scripts/hook.commit-rules.ts
Due: eslint --fix --cache, prettier --fix

chore(toolchain): update RxJS to version 7 and refactor accordingly
  package-lock.json
  package.json
  projects/oblique/src/lib/datepicker/datepicker-placeholder.directive.ts
  projects/oblique/src/lib/document-meta/document-meta.service.ts
  projects/oblique/src/lib/dropdown/dropdown.component.ts
  projects/oblique/src/lib/error-messages/error-messages.component.ts
  projects/oblique/src/lib/error-messages/error-messages.directive.ts
  projects/oblique/src/lib/error-messages/mat-error.directive.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
  projects/oblique/src/lib/form-control-state/form-control-state.directive.ts
  projects/oblique/src/lib/language/language.service.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-item.directive.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-menu.directive.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
  projects/oblique/src/lib/multiselect/multiselect.component.ts
  projects/oblique/src/lib/nav-tree/nav-tree.component.ts
  projects/oblique/src/lib/off-canvas/off-canvas-backdrop.directive.ts
  projects/oblique/src/lib/off-canvas/off-canvas-container.directive.ts
  projects/oblique/src/lib/spinner/spinner.component.ts
  src/app/samples/nav-tree/nav-tree-detail-sample.component.ts
  src/app/samples/nav-tree/nav-tree-sample.component.ts
Due: eslint --fix --cache, prettier --fix

feat(unsaved-changes): use beforeUnload from GlobalEventsService
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.service.spec.ts
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.service.ts
Due: eslint --fix --cache, prettier --fix

feat(telemetry): use beforeUnload from GlobalEventsService
  projects/oblique/src/lib/telemetry/telemetry.service.spec.ts
  projects/oblique/src/lib/telemetry/telemetry.service.ts
Due: eslint --fix --cache, prettier --fix

feat(global-events): add beforeUnload
  projects/oblique/src/lib/global-events/_mocks/mock-global-events.service.ts
  projects/oblique/src/lib/global-events/global-events.api.json
  projects/oblique/src/lib/global-events/global-events.service.spec.ts
  projects/oblique/src/lib/global-events/global-events.service.ts
Due: eslint --fix --cache, prettier --fix

chore(toolchain): simplify the `commit` npm script
  DEPENDENCIES.md
  gulpfile.ts
  package-lock.json
  package.json
  scripts/release-commit.ts
Due: eslint --fix --cache, prettier --fix

chore(toolchain): use ESM imports for the `post-dist` script
  scripts/post-dist.ts
Due: eslint --fix --cache, prettier --fix
