Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation): add `settingUrl` to profile feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.html
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

chore(styles): add service-navigation styles to `oblique-components.scss`
  projects/stylesBuilder/oblique-components.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation): add application status to applications feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/api/service-navigation.api.model.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-application-image-alt.pipe.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-application-image-alt.pipe.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications-images.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.scss
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.service.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.service.ts
  projects/oblique/src/lib/service-navigation/service-navigation.model.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation): add basic applications feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.harness.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
Due: eslint --fix --cache, prettier --write

showcase(service-navigation): add `infoLinks` to info feature
  src/app/samples/service-navigation/service-navigation-sample.component.html
  src/app/samples/service-navigation/service-navigation-sample.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/fr.json
Due: eslint --fix --cache, prettier --write

feat(master-layout): mark `obLocales` and `obHeaderCustomControl` tokens as deprecated
  projects/oblique/src/lib/master-layout/master-layout.api.json
Due: prettier --write

chore(toolchain): ensure scripted commits have an issue number in footer
  projects/oblique/scripts/release/commit.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): include `returnUrl` into the login url
  projects/oblique/src/lib/service-navigation/service-navigation.api.json
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

feat(master-layout): add option to use the service navigation instead of the header controls area
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/master-layout/master-layout.description.html
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation): translate application name for applications feature
  projects/oblique/src/lib/service-navigation/api/service-navigation.api.model.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.service.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.service.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): allow guest login (S1)
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/shared/is-user-logged-in.pipe.spec.ts
  projects/oblique/src/lib/service-navigation/shared/is-user-logged-in.pipe.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `favoriteApplications` to applications feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

showcase: remove broken navigation route in material menu
  src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add content projection into the header for the popover section component
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.html
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.spec.ts
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.harness.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add possibility to control which widgets are shown
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
Due: eslint --fix --cache, prettier --write

showcase(master-layout): disable service navigation settings when they are not serviceable
  src/app/samples/master-layout/master-layout-sample.component.html
  src/app/samples/master-layout/master-layout-sample.component.ts
Due: eslint --fix --cache, prettier --write

docs(search-box): add deprecation notice in the API
  projects/oblique/src/lib/search-box/search-box.api.json
Due: prettier --write

showcase(service-navigation): add `profileLinks` to profile feature
  src/app/samples/service-navigation/service-navigation-sample.component.html
  src/app/samples/service-navigation/service-navigation-sample.component.scss
  src/app/samples/service-navigation/service-navigation-sample.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/fr.json
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

docs(service-navigation): document the feature
  projects/oblique/src/lib/service-navigation/service-navigation.api.json
  projects/oblique/src/lib/service-navigation/service-navigation.description.html
Due: eslint --fix --cache, prettier --write

feat(service-navigation): include `language` into the login url
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add optional alternate content for the popover section component
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.html
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.spec.ts
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.harness.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `profileLinks` to profile feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/index.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.html
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.model.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

docs: add `deprecated` property to `*.api.json` files
  projects/oblique/schema.json
Due: prettier --write

feat(service-navigation): add basic message feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.html
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.spec.ts
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.ts
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.harness.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
Due: eslint --fix --cache, prettier --write

fix(master-layout): vertically center the menu toggle in collapse mode
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation): limit the number of displayed applications for applications feature
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/lib/service-navigation/shared/limit-array-size.pipe.spec.ts
  projects/oblique/src/lib/service-navigation/shared/limit-array-size.pipe.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `count` to message feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/api/service-navigation-message-count-api.service.spec.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-message-count-api.service.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-polling.service.spec.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-polling.service.ts
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.html
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.scss
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.spec.ts
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.ts
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.harness.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): add service navigation configuration to `ObMasterLayoutConfig`
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/master-layout/master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, prettier --write

showcase(master-layout): add static service navigation configuration
  src/app/app.module.ts
  src/app/service-navigation.config.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `isLoggedIn` feature to authentication widget
  projects/oblique/src/lib/service-navigation/api/service-navigation-polling.service.spec.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-polling.service.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-state-api.service.spec.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-state-api.service.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation.api.model.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.html
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.spec.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.model.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
  projects/oblique/src/lib/service-navigation/shared/is-user-logged-in.pipe.spec.ts
  projects/oblique/src/lib/service-navigation/shared/is-user-logged-in.pipe.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add basic info feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.html
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.spec.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.harness.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
Due: eslint --fix --cache, prettier --write

showcase(service-navigation): add `returnUrl` parameter
  src/app/samples/service-navigation/service-navigation-sample.component.html
  src/app/samples/service-navigation/service-navigation-sample.component.ts
Due: eslint --fix --cache, prettier --write

showcase(service-navigation): include possibility to add custom widgets
  src/app/samples/service-navigation/service-navigation-sample.component.html
  src/app/samples/service-navigation/service-navigation-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): show application name in english for applications feature
  projects/oblique/src/lib/service-navigation/api/service-navigation-applications-api.service.spec.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-applications-api.service.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation.api.model.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.service.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.service.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.model.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): include possibility to add custom widgets
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.harness.ts
Due: eslint --fix --cache, prettier --write

showcase(service-navigation): expose the loginState
  src/app/samples/service-navigation/service-navigation-sample.component.html
  src/app/samples/service-navigation/service-navigation-sample.component.scss
  src/app/samples/service-navigation/service-navigation-sample.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation): add component for popover content
  projects/oblique/src/lib/service-navigation/service-navigation.model.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.html
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.scss
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.spec.ts
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.ts
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.harness.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): expose `loginState$` observable through the `ObMasterLayoutHeaderService`
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout-header.service.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.service.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.service.ts
  projects/oblique/src/lib/master-layout/master-layout.api.json
Due: eslint --fix --cache, prettier --write

showcase(master-layout): use consistent design for header controls
  src/app/app.component.html
  src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add basic profile feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.html
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.scss
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.harness.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover.harness.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
