Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(nav-tree): use `*ngFor` instead of `ngForOf`
  projects/oblique/src/lib/nav-tree/nav-tree.component.html
Due: eslint --fix --cache, prettier --write

refactor(nav-tree): make the code more readable
  projects/oblique/src/lib/nav-tree/nav-tree.component.html
Due: eslint --fix --cache, prettier --write

test(nav-tree): adapt fake focus tests to the changes in the nav tree
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/nav-tree/nav-tree-fake-focus.directive.spec.ts
Due: eslint --fix --cache, prettier --write

fix(nav-tree): ensure that collapsed and expanded states reflect the actual state of the tree
  projects/oblique/src/lib/nav-tree/nav-tree-item.model.ts
  projects/oblique/src/lib/nav-tree/nav-tree.component.html
Due: eslint --fix --cache, prettier --write

showcase(sticky): add an autocomplete example in the main column
  src/app/samples/sticky/sticky-sample.component.html
Due: eslint --fix --cache, prettier --write

showcase(column-layout): add an autocomplete example in the main column
  src/app/samples/column-layout-full-height/column-layout-full-height-sample.component.html
Due: eslint --fix --cache, prettier --write

fix(column-layout): add `cdkScrollable` directive to monitor scroll events
  projects/oblique/src/lib/column-layout/column-layout.component.html
  projects/oblique/src/lib/column-layout/column-layout.module.ts
Due: eslint --fix --cache, prettier --write

fix(sticky): add `cdkScrollable` directive to monitor scroll events
  projects/oblique/src/lib/sticky/sticky.component.html
  projects/oblique/src/lib/sticky/sticky.module.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/oblique/src/assets/oblique-icons.ts
  projects/oblique/src/lib/autocomplete/autocomplete.component.html
  projects/oblique/src/lib/collapse/collapse.component.html
  projects/oblique/src/lib/column-layout/column-layout.component.html
  projects/oblique/src/lib/file-upload/file-info/file-info.component.html
  projects/oblique/src/lib/file-upload/progress/progress.component.html
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
  projects/oblique/src/lib/nav-tree/nav-tree.component.html
  projects/oblique/src/lib/notification/notification.component.html
  projects/oblique/src/lib/search-box/search-box.component.html
  projects/oblique/src/lib/unknown-route/unknown-route.component.html
  projects/oblique/src/styles/scss/oblique-icons.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase: activate `@angular-eslint/template/no-interpolation-in-attributes` rule
  src/app/api/api-element.component.html
  src/app/samples/collapse/collapse-sample.component.html
  src/app/samples/notification/notification-sample.component.html
  src/app/styles/icon/icon.component.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 10.0.1
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): add `dependencies` script to update the dependencies
  package.json
Due: prettier --write

fix(file-upload): make dropzone responsive
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.html
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(autocomplete): avoid marking custom form elements as dirty
  projects/oblique/src/lib/autocomplete/autocomplete.component.ts
Due: eslint --fix --cache, prettier --write

fix(nested-form): avoid marking custom form elements as dirty
  projects/oblique/src/lib/nested-form/nested-form.component.spec.ts
  projects/oblique/src/lib/nested-form/nested-form.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): rename `dependencies` script into `dependencies-update`
  package.json
Due: prettier --write

fix(notification): call `ChangeDetectorRef.detectChanges` after closing a notification
  projects/oblique/src/lib/notification/notification.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies
  package-lock.json
  package.json
  src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 10.0.2
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): deactivate `@typescript-eslint/no-empty-function` for spec files
  .eslintrc.yml
Due: prettier --write

refactor(column-layout): add a type to `ElementRef`
  projects/oblique/src/lib/column-layout/column-layout.component.ts
Due: eslint --fix --cache, prettier --write

test(column-layout): write tests for `column-layout.component.ts`
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/column-layout/column-layout.component.spec.ts
Due: eslint --fix --cache, prettier --write

showcase(column-layout): add text overflow example
  src/app/samples/column-layout/column-layout-sample.component.html
  src/app/samples/column-layout/column-layout-sample.component.ts
Due: eslint --fix --cache, prettier --write

refactor(column-layout): improve code readability
  projects/oblique/src/lib/column-layout/column-layout.component.ts
  projects/oblique/src/lib/column-layout/column-layout.model.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): update `icons` script to remove xml tag from svg file
  projects/oblique/scripts/pre-build/steps/icons.ts
Due: eslint --fix --cache, prettier --write

feat(column-layout): recenter the toggles on any box change, not only scroll event
  projects/oblique/src/lib/column-layout/column-layout.component.ts
Due: eslint --fix --cache, prettier --write

refactor(column-layout): don't react to toggle changes
  projects/oblique/src/lib/column-layout/column-layout.component.ts
Due: eslint --fix --cache, prettier --write

refactor(column-layout): pass dimension to the `center` function
  projects/oblique/src/lib/column-layout/column-layout.component.ts
Due: eslint --fix --cache, prettier --write

refactor(column-layout): add a type to the `WINDOW` token
  projects/oblique/src/lib/column-layout/column-layout.component.ts
Due: eslint --fix --cache, prettier --write

refactor(column-layout): replace deprecated `ClientRect` with `DOMRect`
  projects/oblique/src/lib/column-layout/column-layout.component.ts
Due: eslint --fix --cache, prettier --write

refactor(column-layout): remove unnecessary condition
  projects/oblique/src/lib/column-layout/column-layout.component.ts
Due: eslint --fix --cache, prettier --write

fix(column-layout): correctly centers the toggles
  projects/oblique/src/lib/column-layout/column-layout.component.ts
Due: eslint --fix --cache, prettier --write

fix(column-layout): remove memory leak
  projects/oblique/src/lib/column-layout/column-layout.component.ts
Due: eslint --fix --cache, prettier --write

feat(icon): add new icons
  projects/oblique/icons/EnvelopeOpen.svg
  projects/oblique/icons/Play.svg
  projects/oblique/src/assets/oblique-icons.ts
  projects/oblique/src/assets/obliqueIcons.svg
  projects/oblique/src/lib/icon/icon.model.ts
  projects/oblique/src/styles/scss/oblique-icons.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation): add language switch component
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.html
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.scss
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.spec.ts
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.ts
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.harness.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.model.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation): expose the loginState
  projects/oblique/src/lib/service-navigation/index.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(master-layout): use consistent design for the mobile header control
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(service-navigation): add `infoLinks` to info feature
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.html
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.spec.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
Due: eslint --fix --cache, prettier --write

showcase(master-layout): configure the service navigation
  src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

test(service-navigation): refactor async tests with `firstValueFrom`
  projects/oblique/src/lib/service-navigation/api/service-navigation-config-api.service.spec.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-state-api.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
