Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase: update `@angular-eslint` and refactor accordingly
  src/app/app.component.html
  src/app/material/badge/badge.component.html
  src/app/material/button/button.component.html
  src/app/material/card/card.component.html
  src/app/material/dialog/dialog.component.html
  src/app/material/dialog/example-dialog/example-dialog.component.html
  src/app/material/expansion-panel/expansion-panel.component.html
  src/app/material/mandatory/mandatory.sample.component.html
  src/app/material/stepper-horizontal/stepper-horizontal.component.html
  src/app/material/stepper-vertical/stepper-vertical.component.html
  src/app/material/table/table.component.html
  src/app/material/tooltip/tooltip.component.html
  src/app/samples/button/button.component.html
  src/app/samples/collapse/collapse-sample.component.html
  src/app/samples/column-layout-full-height/column-layout-full-height-sample.component.html
  src/app/samples/column-layout/column-layout-sample.component.html
  src/app/samples/dropdown/dropdown.component.html
  src/app/samples/global-events/global-events-sample.component.html
  src/app/samples/master-layout/master-layout-sample.component.html
  src/app/samples/nav-tree/nav-tree-sample.component.html
  src/app/samples/notification/notification-sample.component.html
  src/app/samples/number-format/number-format-sample.component.html
  src/app/samples/pop-up/pop-up-sample.component.html
  src/app/samples/popover/popover.component.html
  src/app/samples/selectable/selectable-sample.component.html
  src/app/samples/spinner-sample/spinner-sample.component.html
  src/app/samples/unsaved-changes/unsaved-changes-sample.component.html
Due: eslint --fix --cache, prettier --write

feat(toolchain): update `@typescript-eslint` and refactor accordingly
  .eslintrc.yml
  package-lock.json
  package.json
  projects/oblique/src/lib/popover/popover.directive.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): deploy release branch in dev environment
  Jenkinsfile
Due: none

chore(toolchain): release version 9.0.0-RC.1
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): deploy release branch on dedicated space
  Jenkinsfile
  manifest-dev.yml
Due: prettier --write

fix(toolchain): keep `exports` in `package.json`
  projects/oblique/scripts/post-dist/steps/adapt-package-json.ts
Due: eslint --fix --cache, prettier --write

docs(icon): explain that Oblique icons are now used by default
  projects/oblique/src/lib/icon/icon.description.html
Due: eslint --fix --cache, prettier --write

feat: deprecate `ObliqueTestingModule`
  projects/oblique/src/lib/oblique-testing.module.ts
Due: eslint --fix --cache, prettier --write

docs(notification): update the API to match the actual implementation
  projects/oblique/src/lib/notification/notification.api.json
Due: prettier --write

chore(toolchain): release version 9.0.0
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): do not push `develop` on github anymore
  Jenkinsfile
Due: none

chore(toolchain): deploy path releases on `patch` space
  Jenkinsfile
  manifest-patch.yml
Due: prettier --write

chore(toolchain): deploy minor and major releases on `dev` space
  Jenkinsfile
Due: none

chore(toolchain): release version 9.0.1
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

fix(file-upload): getUploadedFilesUrl now returns null if its empty
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.ts
Due: eslint --fix --cache, prettier --write

fix(button): ensure links without `href` are displayed correctly
  projects/oblique/src/styles/scss/themes/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(styles): ensure the whole page is displayed when printed
  projects/oblique/src/styles/scss/core/_print.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(external-link): ensure a correct vertical alignment with the surrounding text
  projects/oblique/src/styles/scss/core/components/_external-link.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(master-layout): remove unwanted animation when printing a page
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component-offcanvas.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(file-upload): don't use deprecated `subscribe` syntax
  projects/oblique/src/lib/file-upload/file-info/file-info.component.ts
Due: eslint --fix --cache, prettier --write

fix(styles): update the print stylesheet to represent the actual state of the markup
  projects/oblique/src/styles/scss/core/_print.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

test(file-upload): improve coverage
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(external-link): don't add the icon for icon only buttons
  projects/oblique/src/styles/scss/core/components/_external-link.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase(external-link): add an example of an external link within a paragraph
  src/app/samples/external-link/external-link.component.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): don't rely on a regex to validate dates
  projects/oblique/scripts/npm-deprecate.ts
Due: eslint --fix --cache, prettier --write

refactor(file-upload): improve code quality
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/file-upload/file-info/file-info.component.ts
Due: eslint --fix --cache, prettier --write

fix(button): ensure vertical alignment of icons
  projects/oblique/src/styles/scss/core/components/_external-link.scss
  projects/oblique/src/styles/scss/themes/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(master-layout): ensure the footer is displayed consistently
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(toolchain): merge version `9.0.0-RC.1` into `9.0.0` in the changelog
  CHANGELOG.md
Due: prettier --write

showcase(button): show all possible variants
  src/app/samples/button/button.component.html
Due: eslint --fix --cache, prettier --write

test(utilities): create spec file and update test coverage accordingly
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/utilities.spec.ts
Due: eslint --fix --cache, prettier --write

fix(master-layout): improve integration of `ObExternalLinkDirective`
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
Due: eslint --fix --cache, prettier --write

fix(master-layout): avoid negations in ternary operators
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
Due: eslint --fix --cache, prettier --write

showcase(master-layout): update label of navigation elemets with `sameTarget`set to `true`
  src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): keep `exports` in `package.json`
  scripts/adapt-package-json.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): execute `test-debugging` in dev mode
  package.json
Due: prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
