Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/banner): avoid conflict with global `banner` class
  projects/sds/src/app/app.component.html
  projects/sds/src/app/app.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/banner): get banner presence and content from directus
  projects/sds/src/app/app.component.html
  projects/sds/src/app/app.component.spec.ts
  projects/sds/src/app/app.component.ts
  projects/sds/src/app/banner/banner.component.html
  projects/sds/src/app/banner/banner.component.scss
  projects/sds/src/app/banner/banner.component.ts
  projects/sds/src/app/cms/cms-data.service.ts
  projects/sds/src/app/cms/models/banner.model.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/schematics): remove `BrowserModule` from `app.module.ts` with ng-add
  projects/oblique/schematics/index/ng-add/rules/oblique.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): deprecate `hasLogoOnScroll` and `reduceOnScroll`
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.service.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.service.ts
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): deprecate `ObFormFieldModule`
  projects/oblique/src/lib/form-field/form-field.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): deprecate `ObFormFieldDirective`
  projects/oblique/src/lib/form-field/form-field.directive.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): deprecate `ObSelectDirective`
  projects/oblique/src/lib/form-field/select.directive.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/master-layout): show parent main menu item without URL
  projects/sandbox/src/app/app-navigation.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox/master-layout): move navigation to a dedicated file
  projects/sandbox/src/app/app-navigation.ts
  projects/sandbox/src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): add support for parent main menu item without URL
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.scss
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/language): remove `DateAdapter` warning
  projects/oblique/src/lib/language/language.service.spec.ts
  projects/oblique/src/lib/language/language.service.ts
Due: eslint --fix --cache, prettier --write

fix(service-navigation/web-component): show focus on language dropdown
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/service-navigation): make language dropdown keyboard accessible
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.html
Due: eslint --fix --cache, prettier --write

fix(oblique/notification): enable dynamic change of translations
  projects/oblique/src/lib/notification/notification.component.html
  projects/oblique/src/lib/notification/notification.component.spec.ts
  projects/oblique/src/lib/notification/notification.module.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/notification): add missing translation keys
  projects/sandbox/src/assets/i18n/en.json
  projects/sandbox/src/assets/i18n/fr.json
Due: prettier --write

feat(sandbox/focus-with-outline): add focus sample
  projects/sandbox/CONTRIBUTING.md
  projects/sandbox/src/app/app-navigation.ts
  projects/sandbox/src/app/samples/focus/focus-sample.component.html
  projects/sandbox/src/app/samples/focus/focus-sample.component.scss
  projects/sandbox/src/app/samples/focus/focus-sample.component.ts
  projects/sandbox/src/app/samples/samples-routing.module.ts
  projects/sandbox/src/app/samples/samples.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/utilities): add API to focus with outline
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(sds/focus-with-outline): add focus with outline example
  projects/sds/CONTRIBUTING.md
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/focus-with-outline/focus-with-outline-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/focus-with-outline/focus-with-outline-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/focus-with-outline/previews/default/focus-with-outline-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/focus-with-outline/previews/default/focus-with-outline-example-default-preview.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/language): remove deprecation notice of `ObLanguageService`
  projects/oblique/src/lib/language/language.service.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/language): remove export of `ObLanguageService`
  projects/oblique/src/lib/language/language.module.ts
Due: eslint --fix --cache, prettier --write

feat(cli/toolchain): add `update` scope
  projects/cli/CONTRIBUTING.md
Due: prettier --write

feat(cli/toolchain): disable rule of no-console for tests
  projects/cli/.eslintrc.yml
Due: prettier --write

feat(cli/update): add `ob update` command
  projects/cli/package.json
  projects/cli/src/index.ts
  projects/cli/src/update/ob-update.model.ts
  projects/cli/src/update/ob-update.spec.ts
  projects/cli/src/update/ob-update.ts
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/oblique/package.json
  projects/sandbox-ssr/package.json
Due: prettier --write

chore(toolchain): release version 12.1.0
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): change settings link to 4 profile links
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.html
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): add id's to the profile links and my-notification button
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.html
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): remove profile links when in guest mode
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 12.2.0
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): don't stretch images in cards
  projects/oblique/src/styles/scss/material/_mat-card.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/icon): remove icon color example
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/icons/previews/color/icons-example-color-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/color/icons-example-color-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/icons/previews/color/icons-example-color-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/material): add an example with a card larger that its image
  projects/sandbox/src/app/material/card/card.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/text-page): preserve fragments when navigating
  projects/sds/src/app/text-page/text-page.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/text-page): scroll to fragment if present
  projects/sds/src/app/text-page/text-page.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): make collapsed mode support th cells
  projects/oblique/src/styles/scss/core/mixins/_table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/master-layout): ensure that the main navigation is scrollable even if initially empty
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/sds/package.json
Due: prettier --write

chore(toolchain): release version 12.2.1
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

fix(sds/side-navigation): make sure a navigation occurs when the version is changed
  projects/sds/src/app/side-navigation/side-navigation.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): correct color for text inside mat dialog
  projects/oblique/src/styles/scss/material/_mat-dialog.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
