Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/service-navigation): finish material legacy migration
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/cms): rename model for `documentation-page` to `text-page`
  projects/sds/src/app/cms/cms-data.service.ts
  projects/sds/src/app/cms/models/text-page.model.ts
Due: eslint --fix --cache, prettier --write

refactor(sds): rename `documentation-pages` to `text-page` and refactor accordingly
  CONTRIBUTING.md
  projects/sds/src/app.routes.ts
  projects/sds/src/app/documentation-pages/documentation-pages.routes.ts
  projects/sds/src/app/text-page/text-page.component.html
  projects/sds/src/app/text-page/text-page.component.scss
  projects/sds/src/app/text-page/text-page.component.spec.ts
  projects/sds/src/app/text-page/text-page.component.ts
  projects/sds/src/app/text-page/text-pages.routes.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/cms): fetch data for the text pages
  projects/sds/src/app/cms/cms-data.service.ts
  projects/sds/src/app/side-navigation/side-navigation.component.ts
  projects/sds/src/app/text-page/text-page.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/external-link): add example with an icon button link
  projects/sandbox/src/app/samples/external-link/external-link.component.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 11.0.0-alpha.2
  CHANGELOG.md
  Jenkinsfile
  package-lock.json
  package.json
  projects/oblique/src/lib/version.ts
  projects/stylesBuilder/oblique-components.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds): add internationalization category
  projects/sds/src/app.routes.ts
Due: eslint --fix --cache, prettier --write

fix(sds/tabbed-page): allow sub pages
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
  projects/sds/src/app/tabbed-page/tabbed-pages.routes.ts
Due: eslint --fix --cache, prettier --write

fix(sds/toolchain): update CSP to allow images from `data:`
  projects/sds/src/nginx/security_headers.conf
Due: none

feat(sds/cms): sort the queries by the name of the page
  projects/sds/src/app/cms/cms-data.service.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/code-examples): avoid deactivating `@typescript-eslint/no-var-requires`
  projects/sds/src/app/code-examples/code-examples.model.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): improve slide toggle hint & error aspect
  projects/oblique/src/styles/scss/material/_mat-slide-toggle.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-slide-toggle.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/code-examples): sort imports in `code-examples.mapper.ts` to reduce merge conflicts
  projects/sds/src/app/code-examples/code-examples.mapper.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/collapse): hidden part is now invisible to screen readers
  projects/oblique/src/lib/collapse/collapse.component.animations.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox): improve code quality
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/material/chips/chips.component.html
  projects/sandbox/src/app/material/chips/chips.component.scss
  projects/sandbox/src/app/material/chips/chips.component.ts
  projects/sandbox/src/app/material/dialog/dialog.component.ts
  projects/sandbox/src/app/material/mandatory/mandatory.sample.component.html
  projects/sandbox/src/app/material/mandatory/mandatory.sample.component.scss
  projects/sandbox/src/app/material/mandatory/mandatory.sample.component.ts
  projects/sandbox/src/app/material/stepper-horizontal/stepper-horizontal.component.html
  projects/sandbox/src/app/material/stepper-horizontal/stepper-horizontal.component.scss
  projects/sandbox/src/app/material/stepper-horizontal/stepper-horizontal.component.ts
  projects/sandbox/src/app/material/stepper-vertical/stepper-vertical.component.html
  projects/sandbox/src/app/material/stepper-vertical/stepper-vertical.component.scss
  projects/sandbox/src/app/material/stepper-vertical/stepper-vertical.component.ts
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.html
  projects/sandbox/src/app/samples/column-layout/column-layout-sample.component.html
  projects/sandbox/src/app/samples/error-messages-sample/error-messages-sample.component.spec.ts
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.html
  projects/sandbox/src/app/samples/popover/popover.component.html
  projects/sandbox/src/app/samples/samples-routing.module.ts
  projects/sandbox/src/app/samples/unsaved-changes/unsaved-changes-sample.component.html
  projects/sandbox/src/app/styles/block-elements/block-elements.component.html
  projects/sandbox/src/app/styles/styles.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

test(oblique/file-upload): enforce testing conventions for file upload validation service
  projects/oblique/src/lib/file-upload/drop-zone/validation.service.spec.ts
Due: eslint --fix --cache, prettier --write

test(oblique): improve test quality
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.directive.spec.ts
  projects/oblique/src/lib/number-format/number-format.directive.spec.ts
  projects/oblique/src/lib/selectable/selectable.directive.spec.ts
  projects/oblique/src/lib/sticky/sticky.component.spec.ts
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.directive.spec.ts
Due: eslint --fix --cache, prettier --write

fix(sds/toolchain): remove unused `index.ts` file from `project/sds/scripts/post-dist`
  projects/sds/scripts/post-dist/index.ts
Due: eslint --fix --cache, prettier --write

test(oblique): use dynamic name for component names
  projects/oblique/src/lib/autocomplete/autocomplete.component.spec.ts
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.directive.spec.ts
  projects/oblique/src/lib/button/button.directive.spec.ts
  projects/oblique/src/lib/collapse/collapse.component.spec.ts
  projects/oblique/src/lib/column-layout/column-layout.component.spec.ts
  projects/oblique/src/lib/external-link/external-link.directive.spec.ts
  projects/oblique/src/lib/file-upload/drop-zone/drag-and-drop.directive.spec.ts
  projects/oblique/src/lib/master-layout/aria-menu-button.directive.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-menu.directive.spec.ts
  projects/oblique/src/lib/nav-tree/nav-tree.component.spec.ts
  projects/oblique/src/lib/number-format/number-format.directive.spec.ts
  projects/oblique/src/lib/popover/popover.directive.spec.ts
  projects/oblique/src/lib/schema-validation/schema-validation.spec.ts
  projects/oblique/src/lib/selectable/selectable-group.directive.spec.ts
  projects/oblique/src/lib/selectable/selectable.directive.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.spec.ts
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.spec.ts
  projects/oblique/src/lib/sticky/sticky.component.spec.ts
  projects/oblique/src/lib/unknown-route/unknown-route.component.spec.ts
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.directive.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/file-upload): update image/* wildcard to accept more common file types
  projects/oblique/src/lib/file-upload/drop-zone/validation.service.spec.ts
  projects/oblique/src/lib/file-upload/file-upload.model.ts
Due: eslint --fix --cache, prettier --write

fix(sds/toolchain): remove warning about unused files
  projects/sds/.eslintrc.yml
  projects/sds/scripts/tsconfig.scripts.json
  projects/sds/tsconfig.app.json
Due: prettier --write

feat(sds/unknown-route): add code example
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/unknown-route/previews/default/unknown-route-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/unknown-route/previews/default/unknown-route-example-default-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/unknown-route/unknown-route-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/unknown-route/unknown-route-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/toolchain): limit `exports` in `package.json` to scss files
  projects/oblique/scripts/post-dist/steps/adapt-package-json.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/autocomplete): remove deprecated `filterRegexPattern`
  projects/oblique/src/lib/autocomplete/autocomplete-text-to-find.service.spec.ts
  projects/oblique/src/lib/autocomplete/autocomplete-text-to-find.service.ts
  projects/oblique/src/lib/autocomplete/autocomplete.component.html
  projects/oblique/src/lib/autocomplete/autocomplete.component.spec.ts
  projects/oblique/src/lib/autocomplete/autocomplete.component.ts
  projects/oblique/src/lib/autocomplete/highlight-text/highlight-text.pipe.spec.ts
  projects/oblique/src/lib/autocomplete/highlight-text/highlight-text.pipe.ts
Due: eslint --fix --cache, prettier --write

fix(sds/material): changed pictures in list group code examples to resolve licensing issue
  projects/sds/src/app/code-examples/code-examples/list-group/previews/avatar-subheader/list-group-example-avatar-subheader.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/unsaved-changes): add stackblitz example
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/unsaved-changes/previews/stackblitz-link/unsaved-changes-example-stackblitz-link-preview.component.html
  projects/sds/src/app/code-examples/code-examples/unsaved-changes/previews/stackblitz-link/unsaved-changes-example-stackblitz-link-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/unsaved-changes/unsaved-changes-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/unsaved-changes/unsaved-changes-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/styles): add space between table and following paragraph
  projects/sds/src/styles/scss/core/_table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds): activate `@angular-eslint/prefer-standalone-component` Eslint rule
  projects/sds/.eslintrc.yml
  projects/sds/src/app/shared/tabs/tabs.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): improve the datepicker's toggle tab focus
  projects/oblique/src/styles/scss/material/_mat-datepicker.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/notification): simplify the code and improve the presentation
  projects/sandbox/src/app/samples/notification/notification-sample.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): enable json previews
  projects/sds/src/app/code-examples/code-example/highlighted-code/highlighted-code.component.ts
  projects/sds/src/app/code-examples/code-examples.model.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/toolchain): limit code duplication in `adapt-package-json.ts`
  projects/oblique/scripts/post-dist/steps/adapt-package-json.ts
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): remove warning about "Critical dependency"
  projects/sds/src/app/code-examples/code-examples.model.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/unknown-route): remove import of `ObMockTranslatePipe`
  projects/oblique/src/lib/unknown-route/unknown-route.component.spec.ts
  projects/oblique/src/lib/unknown-route/unknown-route.component.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/column-layout): make the right column be toggled by the right button
  projects/sandbox/src/app/samples/column-layout-full-height/column-layout-full-height-sample.component.html
  projects/sandbox/src/app/samples/column-layout/column-layout-sample.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/styles): element style adjustments
  projects/sds/src/styles/scss/core/_banner.scss
  projects/sds/src/styles/scss/core/_body.scss
  projects/sds/src/styles/scss/core/_chip-list.scss
  projects/sds/src/styles/scss/core/_code.scss
  projects/sds/src/styles/scss/core/_headings.scss
  projects/sds/src/styles/scss/core/_small.scss
  projects/sds/src/styles/scss/core/_table.scss
  projects/sds/src/styles/styles.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/toolchain): use a script to copy `nginx` configuration files after a build
  angular.json
  projects/sds/package.json
  projects/sds/scripts/post-dist/copy-nginx.ts
  projects/sds/scripts/post-dist/index.ts
  projects/sds/tsconfig.app.json
Due: eslint --fix --cache, prettier --write

feat(sandbox/autocomplete): remove deprecated `filterRegexPattern` from example
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.html
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/styles): move inline styles from Directus into SDS (using elements as selectors)
  projects/sds/src/styles/styles.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/code-examples): import `NgFor` instead of `CommonModule`
  projects/sds/src/app/code-examples/code-examples/list-group/previews/avatar-subheader/list-group-example-avatar-subheader.component.ts
  projects/sds/src/app/code-examples/code-examples/list-group/previews/image/list-group-example-image-preview.component.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
