Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): release version 10.1.0
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

fix(file-upload): replace selector and exported in api with correct selectors
  projects/oblique/src/lib/file-upload/file-upload.api.json
Due: prettier --write

fix(master-layout): make sure the main navigation's chevron icon doesn't move when toggled
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
Due: prettier --write

chore(toolchain): release version 10.1.1
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

fix(material): labels are visible correctly with firefox
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(master-layout): add Input `skipLinks` to mock
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout.component.ts
Due: eslint --fix --cache, prettier --write

docs(master-layout): correct typo from `skiplinks` to `skipLinks` in api
  projects/oblique/src/lib/master-layout/master-layout.api.json
Due: prettier --write

fix(column-layout): add optional chaining operator to observer of column layout
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/column-layout/column-layout.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 10.1.2
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

feat(icon): add new icons
  projects/oblique/icons/AlternateArrow.svg
  projects/oblique/icons/CodeBranch.svg
  projects/oblique/icons/Doctor.svg
  projects/oblique/icons/Hospital.svg
  projects/oblique/icons/PlusCircle.svg
  projects/oblique/icons/Undo.svg
  projects/oblique/src/assets/oblique-icons.ts
  projects/oblique/src/assets/obliqueIcons.svg
  projects/oblique/src/lib/icon/icon.model.ts
  projects/oblique/src/styles/scss/oblique-icons.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

Fixes typo
  projects/oblique/src/assets/i18n/oblique-en.json
Due: prettier --write

test(input-clear): rename `ReactiveFormTestComponent` as `UntypedReactiveFormTestComponent`
  projects/oblique/src/lib/input-clear/input-clear.directive.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(input-clear): change type, cleanup `ngOnInit` & add strongly typed tests
  projects/oblique/src/lib/input-clear/input-clear.directive.spec.ts
  projects/oblique/src/lib/input-clear/input-clear.directive.ts
Due: eslint --fix --cache, prettier --write

test(input-clear): replace `it` with `test`
  projects/oblique/src/lib/input-clear/input-clear.directive.spec.ts
Due: eslint --fix --cache, prettier --write

showcase(input-clear): refactor - replace constructor injection with inject function
  src/app/samples/input-clear/input-clear.component.ts
Due: eslint --fix --cache, prettier --write

showcase(input-clear): refactor - renaming & reordering for clarity
  src/app/samples/input-clear/input-clear.component.html
  src/app/samples/input-clear/input-clear.component.ts
Due: eslint --fix --cache, prettier --write

showcase(input-clear): add strongly typed form example
  src/app/samples/input-clear/input-clear.component.html
  src/app/samples/input-clear/input-clear.component.ts
Due: eslint --fix --cache, prettier --write

refactor(input-clear): replace constructor injection with inject function
  projects/oblique/src/lib/input-clear/input-clear.directive.spec.ts
  projects/oblique/src/lib/input-clear/input-clear.directive.ts
Due: eslint --fix --cache, prettier --write

showcase(service-navigation): add `handleLogout` to authentication feature
  src/app/samples/service-navigation/service-navigation-sample.component.html
  src/app/samples/service-navigation/service-navigation-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add possibility to handle the logout within the application
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.html
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.spec.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.harness.ts
  projects/oblique/src/lib/service-navigation/service-navigation.api.json
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add eportal csrf interceptor
  DEPENDENCIES.md
  package-lock.json
  package.json
  projects/oblique/src/lib/service-navigation/eportal-csrf-interceptor/eportal-csrf-interceptor.spec.ts
  projects/oblique/src/lib/service-navigation/eportal-csrf-interceptor/eportal-csrf-interceptor.ts
  projects/oblique/src/lib/service-navigation/service-navigation.description.html
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
Due: eslint --fix --cache, prettier --write

refactor(service-navigation): update `ObIServiceNavigationResponse` with generic data type
  projects/oblique/src/lib/service-navigation/api/service-navigation-applications-api.service.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-config-api.service.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-message-count-api.service.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation-state-api.service.ts
  projects/oblique/src/lib/service-navigation/api/service-navigation.api.model.ts
Due: eslint --fix --cache, prettier --write

fix(master-layout): correctly treat forced external links
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
Due: eslint --fix --cache, prettier --write

feat(toolchain): ignore commented lines for the commit message
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache, prettier --write

fix(nav-tree): invert chevron icons indicating collapsed/expanded states
  projects/oblique/src/lib/nav-tree/nav-tree.component.html
Due: eslint --fix --cache, prettier --write

fix(translation): typo in English
  projects/oblique/src/assets/i18n/oblique-en.json
Due: prettier --write

fix(translation): typos in French
  projects/oblique/src/assets/i18n/oblique-fr.json
Due: prettier --write

fix(master-layout): remove white space wrap restriction in master layout header
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): explain how to handle multiple issue references in the footer
  CONTRIBUTING.md
Due: prettier --write

docs(nav-tree): deprecate the `activateAncestors` input
  projects/oblique/src/lib/nav-tree/nav-tree.api.json
  projects/oblique/src/lib/nav-tree/nav-tree.component.ts
  projects/oblique/src/lib/nav-tree/nav-tree.description.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): add `js-cookie` as a dependency to the distributed library
  projects/oblique/ng-package.json
  projects/oblique/package.json
Due: prettier --write

docs(service-navigation): improve description for the interceptor
  projects/oblique/src/lib/service-navigation/service-navigation.description.html
Due: eslint --fix --cache, prettier --write

docs(service-navigation): fix typos in the API
  projects/oblique/src/lib/service-navigation/service-navigation.api.json
Due: prettier --write

test(service-navigation): use harness to get authentication button
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.spec.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.harness.ts
Due: eslint --fix --cache, prettier --write

showcase(master-layout): add `handleLogout` and `logoutUrl$` options
  src/app/samples/master-layout/master-layout-sample.component.html
  src/app/samples/master-layout/master-layout-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(master-layout): add the `logoutUrl$` observable
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.service.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.service.ts
  projects/oblique/src/lib/master-layout/master-layout.api.json
Due: eslint --fix --cache, prettier --write

feat(master-layout): add the `handleLogout` configuration option
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/master-layout/master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, prettier --write

fix(autocomplete): escape the `-` character in the pattern
  projects/oblique/src/lib/autocomplete/autocomplete-text-to-find.service.spec.ts
  projects/oblique/src/lib/autocomplete/autocomplete-text-to-find.service.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
