Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

chore(toolchain): remove `run-in-band`option in `test-debugging`because it's the default value
  package.json
Due: prettier --write

chore(toolchain): add a `test-dev` script to run the tests in development mode
  angular.json
  package.json
Due: prettier --write

fix(master-layout): avoid negations in ternary operators
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(icon): update `ObIconConfig` to use Oblique's icons by default
  projects/oblique/src/lib/icon/icon.model.ts
Due: eslint --fix --cache, prettier --write

fix(material): improve icon alignement within `.mat-form-field-prefix` & `.mat-form-field-suffix`
  projects/oblique/src/styles/scss/themes/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): release version 8.2.3
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update `Jenkinsfile` for release 8.2.3
  Jenkinsfile
Due: none

chore(toolchain): add release notes of version 8.2.3
  CHANGELOG.md
Due: prettier --write

chore(toolchain): release version 9.0.2
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

fix(material): do not override button color in table header
  projects/oblique/src/styles/scss/themes/material/_mat-table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(material): use `$ob-default` as color for table header content
  projects/oblique/src/styles/scss/themes/material/_mat-table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase(paginator): add `ObPaginatorModule` to provide translation by language change in table
  src/app/material/material.module.ts
Due: eslint --fix --cache, prettier --write

feat(paginator): add `ObPaginatorService` to provide translation by language change
  CONTRIBUTING.md
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/paginator/ob-paginator.api.json
  projects/oblique/src/lib/paginator/ob-paginator.description.html
  projects/oblique/src/lib/paginator/ob-paginator.module.ts
  projects/oblique/src/lib/paginator/ob-paginator.service.spec.ts
  projects/oblique/src/lib/paginator/ob-paginator.service.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update contributors
  package.json
Due: prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
  projects/oblique/src/styles/scss/core/components/_nav-stepper.scss
  projects/oblique/src/styles/scss/core/components/_type.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_select.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_typography.scss
  projects/oblique/src/styles/scss/themes/bootstrap/mixins/_button.scss
  projects/oblique/src/styles/scss/themes/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): release version 9.1.0
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

docs(paginator): adapt description so mat-paginator is visible as code text
  projects/oblique/src/lib/paginator/ob-paginator.description.html
Due: eslint --fix --cache, prettier --write

showcase: remove usage of `directory` for api & description and refactor accordingly
  src/app/api/api.component.ts
  src/app/description/description.component.ts
  src/app/samples/http-interceptor/http-interceptor-sample.component.html
Due: eslint --fix --cache, prettier --write

docs(icon): add an incompatibility warning with bootstrap theme for the icons
  projects/oblique/src/lib/icon/icon.description.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 9.1.1
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

docs(http-interceptor): fix typo in usage of `ObHttpApiInterceptorConfig`
  projects/oblique/src/lib/http-api-interceptor/http-api-interceptor.api.json
Due: prettier --write

chore(toolchain): update get started from the contributing guidelines
  CONTRIBUTING.md
Due: prettier --write

chore(toolchain): release version 9.1.2
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

fix(schematics): delete comma when removing `ObUseObliqueIcons`
  projects/oblique/schematics/index/ng-update/update-v8-to-v9.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 9.1.3
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

showcase: fix typo in the loading of the description files
  src/app/description/description.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 9.1.4
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/file-upload/drop-zone/accept-all.pipe.ts
  projects/oblique/src/lib/nav-tree/nav-tree-fake-focus.directive.ts
Due: eslint --fix --cache, prettier --write

fix(sticky): use the correct html class to remove the default layout
  projects/oblique/src/lib/sticky/sticky.component.html
  projects/oblique/src/lib/sticky/sticky.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(alert): add telemetry
  projects/oblique/src/lib/alert/alert.module.ts
Due: eslint --fix --cache, prettier --write

fix(paginator): add telemetry
  projects/oblique/src/lib/paginator/ob-paginator.module.ts
  projects/oblique/src/lib/paginator/ob-paginator.service.spec.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 9.1.5
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

feat(autocomplete): create feature
  CONTRIBUTING.md
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/autocomplete/_harness/autocomplete.harness.ts
  projects/oblique/src/lib/autocomplete/_mocks/mock-highlight-text.module.ts
  projects/oblique/src/lib/autocomplete/_mocks/mock-highlight-text.pipe.ts
  projects/oblique/src/lib/autocomplete/_mocks/mock-option-label-icon.directive.ts
  projects/oblique/src/lib/autocomplete/_mocks/mock-option-label-icon.module.ts
  projects/oblique/src/lib/autocomplete/autocomplete-text-to-find.service.spec.ts
  projects/oblique/src/lib/autocomplete/autocomplete-text-to-find.service.ts
  projects/oblique/src/lib/autocomplete/autocomplete.api.json
  projects/oblique/src/lib/autocomplete/autocomplete.component.html
  projects/oblique/src/lib/autocomplete/autocomplete.component.spec.ts
  projects/oblique/src/lib/autocomplete/autocomplete.component.ts
  projects/oblique/src/lib/autocomplete/autocomplete.description.html
  projects/oblique/src/lib/autocomplete/autocomplete.model.ts
  projects/oblique/src/lib/autocomplete/autocomplete.module.ts
  projects/oblique/src/lib/autocomplete/highlight-text/highlight-text.module.ts
  projects/oblique/src/lib/autocomplete/highlight-text/highlight-text.pipe.spec.ts
  projects/oblique/src/lib/autocomplete/highlight-text/highlight-text.pipe.ts
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.directive.spec.ts
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.directive.ts
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.module.ts
  projects/oblique/src/public_api.ts
  projects/oblique/src/styles/scss/core/components/_autocomplete.scss
  projects/oblique/src/styles/scss/core/components/_index.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write
