Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds): display tabbed pages for the categories `helpers` and `foundations`
  projects/sds/src/app.routes.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/cms): rename model for `documentation-page` to `text-page`
  projects/sds/src/app/cms/cms-data.service.ts
  projects/sds/src/app/cms/models/text-page.model.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/schema-validation): add type to private properties
  projects/oblique/src/lib/schema-validation/schema-validation.directive.ts
Due: eslint --fix --cache, prettier --write

feat(sds/side-navigation): allow tabbed pages to be in any category
  projects/sds/src/app/side-navigation/utils/accordion-composer.ts
  projects/sds/src/app/side-navigation/utils/accordion-mapper.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/material): finish material legacy migration for paginator
  projects/oblique/src/styles/scss/material/_mat-paginator.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/cms): rename interface `ComponentPageComplete` to `TabbedPageComplete` and refactor
  projects/sds/src/app/cms/models/component-page.model.ts
Due: eslint --fix --cache, prettier --write

refactor(sds): rename interface `ComponentPageCompleteCms` to `TabbedPageCompleteCms` and refactor
  projects/sds/src/app/cms/cms-data.service.ts
  projects/sds/src/app/cms/models/component-page.model.ts
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): handle correct folder name in `CodeExamples` model
  projects/sds/src/app/code-examples/code-examples.model.ts
  projects/sds/src/app/code-examples/code-examples/form/form-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/notification/notification-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

test(sds): remove unused `moduleNameMapper` values from `jest.config.js`
  projects/sds/jest.config.js
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 11.0.0-alpha.2
  CHANGELOG.md
  Jenkinsfile
  package-lock.json
  package.json
  projects/oblique/src/lib/version.ts
  projects/stylesBuilder/oblique-components.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): remove publish instructions for 11.0.0-alpha.2 from `Jenkinsfile`
  Jenkinsfile
Due: none

fix(oblique/collapse): hidden part is now invisible to screen readers
  projects/oblique/src/lib/collapse/collapse.component.animations.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/collapse): move collapse animations into their own file
  projects/oblique/src/lib/collapse/collapse.component.animations.ts
  projects/oblique/src/lib/collapse/collapse.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/tabbed-page): allow sub pages
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
  projects/sds/src/app/tabbed-page/tabbed-pages.routes.ts
Due: eslint --fix --cache, prettier --write

test(oblique/file-upload): enforce testing conventions for file upload validation service
  projects/oblique/src/lib/file-upload/drop-zone/validation.service.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/file-upload): update image/* wildcard to accept more common file types
  projects/oblique/src/lib/file-upload/drop-zone/validation.service.spec.ts
  projects/oblique/src/lib/file-upload/file-upload.model.ts
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): enable json previews
  projects/sds/src/app/code-examples/code-example/highlighted-code/highlighted-code.component.ts
  projects/sds/src/app/code-examples/code-examples.model.ts
Due: eslint --fix --cache, prettier --write

feat(sds/translate-params): add code example
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/translate-params/previews/default/translate-params-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/translate-params/previews/default/translate-params-example-default-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/translate-params/translate-params-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/translate-params/translate-params-code-examples.component.ts
  projects/sds/src/assets/i18n/en.json
Due: eslint --fix --cache, prettier --write

refactor(sds/code-examples): sort imports in `code-examples.mapper.ts` to reduce merge conflicts
  projects/sds/src/app/code-examples/code-examples.mapper.ts
Due: eslint --fix --cache, prettier --write

feat(sds): add internationalization category
  projects/sds/src/app.routes.ts
Due: eslint --fix --cache, prettier --write

feat(sds/global-events): add global events examples
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/global-events/global-events-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/global-events/global-events-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/global-events/previews/global-events-example-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/global-events/previews/ob-outside-filter/global-events-example-ob-outside-filter-preview.component.html
  projects/sds/src/app/code-examples/code-examples/global-events/previews/ob-outside-filter/global-events-example-ob-outside-filter-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/global-events/previews/properties/global-events-example-properties-preview.component.html
  projects/sds/src/app/code-examples/code-examples/global-events/previews/properties/global-events-example-properties-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/code-examples): kebab-case all keys, which allows routes to be kebab-case
  projects/sds/src/app/code-examples/code-examples.mapper.ts
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): adjust `add-code-example` schematic to check for exact matches
  projects/sds/schematics/src/nodes.utils.ts
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): adjust `add-code-example` schematic to produce kebab-case slugs
  projects/sds/schematics/src/add-code-example/add-code-example.utils.ts
  projects/sds/schematics/src/nodes.utils.ts
Due: eslint --fix --cache, prettier --write

feat(sds): remove internationalization category
  projects/sds/src/app.routes.ts
Due: eslint --fix --cache, prettier --write

feat(sds/styles): move inline styles from Directus into SDS (using elements as selectors)
  projects/sds/src/styles/styles.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): add `sds/styles` as possible scope to `CONTRIBUTING.md`
  CONTRIBUTING.md
Due: prettier --write

feat(sds/schema-validation): add code examples
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/schema-validation/previews/reactive-form/schema-validation-example-reactive-form-preview.component.html
  projects/sds/src/app/code-examples/code-examples/schema-validation/previews/reactive-form/schema-validation-example-reactive-form-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/schema-validation/previews/template-driven-form/schema-validation-example-template-driven-form-preview.component.html
  projects/sds/src/app/code-examples/code-examples/schema-validation/previews/template-driven-form/schema-validation-example-template-driven-form-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/schema-validation/schema-validation-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/schema-validation/schema-validation-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): add translations examples
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/translations/previews/stackblitz-link/translations-example-stackblitz-link-preview.component.html
  projects/sds/src/app/code-examples/code-examples/translations/previews/stackblitz-link/translations-example-stackblitz-link-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/translations/previews/stackblitz-link/translations-example-stackblitz-link-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/translations/translations-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/translations/translations-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/code-examples): add oblique i18n folder to `getJsonRequire` in `code-examples.model.ts`
  projects/sds/src/app/code-examples/code-examples.model.ts
Due: eslint --fix --cache, prettier --write

fix(sds/toolchain): update CSP to allow images from `data:`
  projects/sds/src/nginx/security_headers.conf
Due: none

feat(oblique/autocomplete): remove deprecated `filterRegexPattern`
  projects/oblique/src/lib/autocomplete/autocomplete-text-to-find.service.spec.ts
  projects/oblique/src/lib/autocomplete/autocomplete-text-to-find.service.ts
  projects/oblique/src/lib/autocomplete/autocomplete.component.html
  projects/oblique/src/lib/autocomplete/autocomplete.component.spec.ts
  projects/oblique/src/lib/autocomplete/autocomplete.component.ts
  projects/oblique/src/lib/autocomplete/highlight-text/highlight-text.pipe.spec.ts
  projects/oblique/src/lib/autocomplete/highlight-text/highlight-text.pipe.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/autocomplete): remove deprecated `filterRegexPattern` from example
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.html
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/autocomplete): remove deprecated `filterRegexPattern` code example
  projects/sds/src/app/code-examples/code-examples/autocomplete/autocomplete-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/filter-regex-pattern/autocomplete-example-filter-regex-pattern.component.html
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/filter-regex-pattern/autocomplete-example-filter-regex-pattern.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/unknown-route): remove import of `ObMockTranslatePipe`
  projects/oblique/src/lib/unknown-route/unknown-route.component.spec.ts
  projects/oblique/src/lib/unknown-route/unknown-route.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/unknown-route): add code example
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/unknown-route/previews/default/unknown-route-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/unknown-route/previews/default/unknown-route-example-default-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/unknown-route/unknown-route-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/unknown-route/unknown-route-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/material): changed pictures in list group code examples to resolve licensing issue
  projects/sds/src/app/code-examples/code-examples/list-group/previews/avatar-subheader/list-group-example-avatar-subheader.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/unsaved-changes): add stackblitz example
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/unsaved-changes/previews/stackblitz-link/unsaved-changes-example-stackblitz-link-preview.component.html
  projects/sds/src/app/code-examples/code-examples/unsaved-changes/previews/stackblitz-link/unsaved-changes-example-stackblitz-link-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/unsaved-changes/unsaved-changes-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/unsaved-changes/unsaved-changes-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/styles): element style adjustments
  projects/sds/src/styles/scss/core/_banner.scss
  projects/sds/src/styles/scss/core/_body.scss
  projects/sds/src/styles/scss/core/_chip-list.scss
  projects/sds/src/styles/scss/core/_code.scss
  projects/sds/src/styles/scss/core/_headings.scss
  projects/sds/src/styles/scss/core/_small.scss
  projects/sds/src/styles/scss/core/_table.scss
  projects/sds/src/styles/styles.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds): activate `@angular-eslint/prefer-standalone-component` Eslint rule
  projects/sds/.eslintrc.yml
  projects/sds/src/app/shared/tabs/tabs.component.spec.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
