Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --fix

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{ts,js,html,json}": prettier --fix

showcase: extends `prettier` to `json` files and refactor accordingly
  src/assets/sample-data.json
  src/tsconfig.app.json
  src/tsconfig.spec.json
Due: prettier --fix

refactor(toolchain): extends `prettier` to `yml` files and refactor accordingly
  .eslintrc.yml
  .lintstagedrc.yml
  manifest-dev.yml
  package.json
  projects/oblique/.eslintrc.yml
  src/.eslintrc.yml
Due: prettier --fix

refactor(toolchain): extends `prettier` to `md` files and refactor accordingly
  .lintstagedrc.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DEPENDENCIES.md
  README.md
  package.json
Due: prettier --fix

showcase(toolchain): extends `prettier` to `css` and `scss` files and refactor accordingly
  src/app/home/home.page.scss
  src/app/material/card/card.component.scss
  src/app/material/table/table.component.scss
  src/app/samples/nested-form/mandatory.scss
  src/app/samples/popover/popover.component.scss
  src/app/samples/spinner-sample/spinner-sample.component.scss
  src/app/styles/stepper/stepper.component.scss
  src/app/styles/typography/typography.component.scss
  src/scss/styles.scss
Due: none

refactor: activate stylelint's `declaration-empty-line-before` rule and refactor accordingly
  .stylelintrc.yml
  projects/oblique/src/lib/column-layout/column-layout.component.scss
  projects/oblique/src/lib/sticky/sticky.component.scss
  projects/oblique/src/styles/scss/core/mixins/_column-layout.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_form-check.scss
Due: none

refactor: add a linter for `css` and `scss` files and refactor accordingly
  .gitignore
  .lintstagedrc.yml
  .stylelintignore
  .stylelintrc.yml
  package-lock.json
  package.json
Due: prettier --fix

refactor: activate `declaration-block-no-redundant-longhand-properties` rule and refactor
  .stylelintrc.yml
  projects/oblique/src/lib/column-layout/column-layout.component.scss
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/styles/scss/core/components/_grid.scss
  projects/oblique/src/styles/scss/core/components/_list.scss
  projects/oblique/src/styles/scss/core/components/_nav-stepper.scss
Due: none

showcase: activate stylelint's `length-zero-no-unit` rule and refactor accordingly
  src/app/home/home.page.scss
Due: none

refactor: activate stylelint's `length-zero-no-unit` rule and refactor accordingly
  .stylelintrc.yml
  projects/oblique/src/styles/scss/core/mixins/_nav.scss
  projects/oblique/src/styles/scss/themes/material/_mat-form.scss
Due: none

refactor: activate stylelint's `comment-empty-line-before` rule and refactor accordingly
  .stylelintrc.yml
  projects/oblique/src/styles/css/roboto.css
Due: none

refactor: activate stylelint's `alpha-value-notation` rule and refactor accordingly
  .stylelintrc.yml
  projects/oblique/src/lib/datepicker/datepicker.component.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component-cover.scss
  projects/oblique/src/lib/scrolling/top-control.component.scss
  projects/oblique/src/styles/scss/core/components/_overlay.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_dropdown.scss
Due: none

refactor: activate stylelint's `font-family-name-quotes` rule and refactor accordingly
  .stylelintrc.yml
  projects/oblique/src/styles/css/roboto.css
Due: none

refactor: activate stylelint's `color-hex-length` rule and refactor accordingly
  .stylelintrc.yml
  projects/oblique/src/styles/scss/themes/bootstrap/mixins/_form-check.scss
Due: none

refactor: activate stylelint's `no-duplicate-selectors` rule and refactor accordingly
  .stylelintrc.yml
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.scss
  projects/oblique/src/styles/scss/themes/material/_mat-form-field.scss
Due: none

refactor: activate stylelint's `rule-empty-line-before` rule and refactor accordingly
  .stylelintrc.yml
  projects/oblique/src/lib/datepicker/datepicker.component.scss
  projects/oblique/src/lib/dropdown/dropdown.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component-scrollable.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/nav-tree/nav-tree.component.scss
  projects/oblique/src/lib/spinner/spinner.component.scss
  projects/oblique/src/styles/scss/core/_print.scss
  projects/oblique/src/styles/scss/core/components/_grid.scss
  projects/oblique/src/styles/scss/core/components/_type.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_button-group.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_list-group.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_select.scss
  projects/oblique/src/styles/scss/themes/bootstrap/mixins/_form-check.scss
  projects/oblique/src/styles/scss/themes/bootstrap/mixins/_form.scss
  projects/oblique/src/styles/scss/themes/bootstrap/mixins/_toggle.scss
  projects/oblique/src/styles/scss/themes/material/_mat-dialog.scss
  projects/oblique/src/styles/scss/themes/material/_mat-form-field.scss
  projects/oblique/src/styles/scss/themes/material/_mat-form.scss
  projects/oblique/src/styles/scss/themes/material/_mat-stepper.scss
  projects/oblique/src/styles/scss/themes/material/mixins/_mat-form-field.scss
Due: none

showcase: activate stylelint's `rule-empty-line-before` rule and refactor accordingly
  src/app/api/api.component.scss
  src/app/home/home.page.scss
  src/app/material/progress-bar/progress-bar.component.scss
  src/app/material/tooltip/tooltip.component.scss
  src/app/samples/popover/popover.component.scss
  src/app/styles/typography/typography.component.scss
Due: none

refactor: activate stylelint's `selector-pseudo-element-colon-notation` and refactor accordingly
  .stylelintrc.yml
  projects/oblique/src/lib/column-layout/column-layout.component.scss
  projects/oblique/src/styles/scss/core/_print.scss
  projects/oblique/src/styles/scss/core/components/_nav-stepper.scss
  projects/oblique/src/styles/scss/core/mixins/_bubble-tail.scss
  projects/oblique/src/styles/scss/core/mixins/_nav.scss
  projects/oblique/src/styles/scss/core/mixins/_table.scss
Due: none

refactor: activate stylelint's `shorthand-property-no-redundant-values` and refactor accordingly
  .stylelintrc.yml
  projects/oblique/src/styles/scss/core/components/_type.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_typography.scss
Due: none

showcase: activate stylelint's `selector-pseudo-element-colon-notation` and refactor accordingly
  src/app/samples/popover/popover.component.scss
Due: none

refactor: activate `scss/at-mixin-argumentless-call-parentheses` rule and refactor accordingly
  .stylelintrc.yml
  projects/oblique/src/lib/column-layout/column-layout.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component-offcanvas.scss
  projects/oblique/src/styles/scss/core/components/_table.scss
  projects/oblique/src/styles/scss/core/components/_tabs.scss
  projects/oblique/src/styles/scss/core/components/_type.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_typography.scss
  projects/oblique/src/styles/scss/themes/material/_mat-card.scss
  projects/oblique/src/styles/scss/themes/material/_mat-chip.scss
  projects/oblique/src/styles/scss/themes/material/_mat-dialog.scss
  projects/oblique/src/styles/scss/themes/material/_mat-tooltip.scss
Due: none

refactor: activate `scss/no-global-function-names` rule and refactor accordingly
  .stylelintrc.yml
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
Due: none

refactor: activate `scss/double-slash-comment-whitespace-inside` rule and refactor accordingly
  .stylelintrc.yml
  projects/oblique/src/lib/dropdown/dropdown.component.scss
  projects/oblique/src/lib/scrolling/top-control.component.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_form-check.scss
  projects/oblique/src/styles/scss/themes/material/_mat-form-field.scss
  projects/oblique/src/styles/scss/themes/material/_mat-form.scss
  projects/oblique/src/styles/scss/themes/oblique-bootstrap.scss
Due: none

refactor: activate `scss/dollar-variable-empty-line-before` rule and refactor accordingly
  .stylelintrc.yml
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/oblique-core.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_variables.scss
  projects/oblique/src/styles/scss/themes/material/_material-palette.scss
Due: none

refactor: activate `scss/at-rule-conditional-no-parentheses` rule and refactor accordingly
  .stylelintrc.yml
  projects/oblique/src/styles/scss/core/mixins/_tab-outline.scss
Due: none

showcase: activate `scss/at-mixin-argumentless-call-parentheses` rule and refactor accordingly
  src/app/styles/typography/typography.component.scss
Due: none

refactor: reactivate `@angular-eslint/component-max-inline-declarations` and refactor accordingly
  .eslintrc.yml
  projects/oblique/src/lib/notification/notification.component.animations.ts
  projects/oblique/src/lib/notification/notification.component.ts
  projects/oblique/src/lib/spinner/spinner.component.html
  projects/oblique/src/lib/spinner/spinner.component.ts
Due: eslint --fix --cache, prettier --fix

refactor: reactivate `@angular-eslint/no-forward-ref` rule and refactor accordingly
  .eslintrc.yml
  projects/oblique/src/lib/datepicker/_mocks/mock-datepicker.component.ts
  projects/oblique/src/lib/datepicker/datepicker.component.ts
  projects/oblique/src/lib/multiselect/_mocks/mock-multiselect.component.ts
  projects/oblique/src/lib/multiselect/multiselect.component.ts
  projects/oblique/src/lib/nested-form/_mocks/mock-nested-form.component.ts
  projects/oblique/src/lib/nested-form/nested-form.component.ts
  projects/oblique/src/lib/schema-validation/_mocks/mock-schema-validator.ts
  projects/oblique/src/lib/schema-validation/schema-validator.ts
Due: eslint --fix --cache, prettier --fix

refactor(toolchain): enable all `@angular-eslint` ruled by default
  .eslintrc.yml
Due: none

refactor: reactivate `@angular-eslint/no-lifecycle-call` rule and refactor accordingly
  .eslintrc.yml
  projects/oblique/src/lib/sticky/sticky.component.ts
Due: eslint --fix --cache, prettier --fix

fix(toolchain): pass valid arguments to `prettier`
  .lintstagedrc.yml
Due: none

showcase: reactivate `@angular-eslint/component-max-inline-declarations` and refactor accordingly
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/samples/form-control-state-sample/form-control-state-sample.component.scss
  src/app/samples/form-control-state-sample/form-control-state-sample.component.ts
  src/app/samples/nav-tree/nav-tree-detail-sample.component.html
  src/app/samples/nav-tree/nav-tree-sample.component.ts
  src/app/samples/schema-validation/schema-validation-sample.component.scss
  src/app/samples/schema-validation/schema-validation-sample.component.ts
  src/app/samples/unsaved-changes/unsaved-changes-sample.component.scss
  src/app/samples/unsaved-changes/unsaved-changes-sample.component.ts
  src/app/styles/tabs/tabs.component.scss
  src/app/styles/tabs/tabs.component.ts
Due: eslint --fix --cache, prettier --fix

refactor(toolchain): enable all `@typescript-eslint` rules by default
  .eslintrc.yml
Due: none

refactor: reactivate `@typescript-eslint/unbound-method` rule and refactor accordingly
  .eslintrc.yml
  projects/oblique/src/lib/file-upload/drop-zone/accept-all.pipe.ts
Due: eslint --fix --cache, prettier --fix

refactor: reactivate `@typescript-eslint/no-base-to-string` rule and refactor accordingly
  .eslintrc.yml
  projects/oblique/src/lib/nav-tree/nav-tree-fake-focus.directive.ts
Due: eslint --fix --cache, prettier --fix

refactor: reactivate `@typescript-eslint/consistent-indexed-object-style` and refactor accordingly
  .eslintrc.yml
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
  projects/oblique/schematics/index/ng-update/index.ts
  projects/oblique/schematics/index/ng-update/ng-update.model.ts
  projects/oblique/src/lib/breadcrumb/breadcrumb.component.spec.ts
  projects/oblique/src/lib/error-messages/_mocks/mock-error-messages.component.ts
  projects/oblique/src/lib/error-messages/_mocks/mock-error-messages.service.ts
  projects/oblique/src/lib/error-messages/error-messages.component.ts
  projects/oblique/src/lib/error-messages/error-messages.service.ts
  projects/oblique/src/lib/master-layout/master-layout.model.ts
  projects/oblique/src/lib/nav-tree/nav-tree-item.model.ts
  projects/oblique/src/lib/notification/_mocks/mock-notification.component.ts
  projects/oblique/src/lib/notification/notification.component.ts
  projects/oblique/src/lib/notification/notification.model.ts
  projects/oblique/src/lib/notification/notification.service.ts
  projects/oblique/src/lib/schema-validation/schema-validation.spec.ts
  projects/oblique/src/lib/spinner/spinner.service.ts
  projects/oblique/src/lib/unsaved-changes-tabs/unsaved-changes-tabs.service.ts
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.service.ts
  scripts/adapt-package-json.ts
  scripts/copy-error-messages.ts
  tests/jestGlobalMocks.ts
Due: eslint --fix --cache, prettier --fix

refactor: reactivate `@typescript-eslint/prefer-ts-expect-error` rule and refactor accordingly
  .eslintrc.yml
  projects/oblique/src/lib/error-messages/mat-error.directive.spec.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.spec.ts
  projects/oblique/src/lib/scrolling/top-control.component.spec.ts
  projects/oblique/src/lib/search-box/search-box.component.spec.ts
  projects/oblique/src/lib/selectable/selectable-group.directive.spec.ts
  projects/oblique/src/lib/selectable/selectable.directive.spec.ts
  projects/oblique/src/lib/telemetry/telemetry.service.spec.ts
Due: eslint --fix --cache, prettier --fix

refactor: reactivate `@typescript-eslint/restrict-plus-operands` rule and refactor accordingly
  .eslintrc.yml
  projects/oblique/schematics/index/ng-add/rules/oblique.ts
  projects/oblique/schematics/index/ng-update/update-v5-to-v6.ts
  scripts/release.ts
Due: eslint --fix --cache, prettier --fix

refactor: reactivate `@typescript-eslint/restrict-template-expressions` and refactor accordingly
  .eslintrc.yml
  projects/oblique/schematics/index/ng-update/ng-update-utils.ts
  projects/oblique/schematics/index/ng-update/update-v7-to-v8.ts
  projects/oblique/schematics/index/utils.ts
  projects/oblique/src/lib/datepicker/date-parser-formatter.ts
  projects/oblique/src/lib/document-meta/document-meta.service.ts
  projects/oblique/src/lib/external-link/external-link.directive.ts
  projects/oblique/src/lib/nav-tree/nav-tree-fake-focus.directive.ts
  projects/oblique/src/lib/nav-tree/nav-tree.component.spec.ts
  projects/oblique/src/lib/nav-tree/nav-tree.component.ts
  projects/oblique/src/lib/notification/notification.service.ts
  projects/oblique/src/lib/schema-validation/schema-validator.instance.ts
  scripts/generate-component-styles.ts
  scripts/icons.ts
  scripts/npm-deprecate.ts
Due: eslint --fix --cache, prettier --fix
