Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/sandbox-ssr/package.json
  projects/service-navigation-web-component/package.json
Due: prettier --write

chore(toolchain): release version 12.0.0
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/design-system/CHANGELOG.md
  projects/design-system/package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/CHANGELOG.md
  projects/sandbox-ssr/package.json
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/src/app/version.ts
  projects/stylesBuilder/oblique-components.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(toolchain): create the dockerfile
  Dockerfile_SDS
  projects/sds/src/nginx/conf/includes/custom_headers.conf
  projects/sds/src/nginx/conf/includes/security_headers.conf
  projects/sds/src/nginx/conf/nginx.conf
Due: none

feat(toolchain): adapt npm config
  .npmrc
Due: none

feat(toolchain): remove sandbox to test deployment
  package-lock.json
  package.json
Due: prettier --write

fix(sds/text-page): don't reload whole page for internal links
  projects/sds/src/app/text-page/text-page.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/tabbed-page): don't navigate to welcome page when clicking on component links
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/button): make it an inline element
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/breadcrumb): ensure accessibility using aria attributes
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/breadcrumb/breadcrumb.component.html
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): add a padding around the service navigation
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/service-navigation): make sure the language selection's height is consistent
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/design-system/package.json
  projects/oblique/package.json
  projects/sandbox-ssr/package.json
  projects/service-navigation-web-component/package.json
Due: prettier --write

chore(toolchain): release version 12.0.1
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): increase `maximumError` budget to 1.8mb to avoid error on build
  projects/oblique/schematics/index/ng-add/rules/oblique.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): remove Angular version check for 'allowedCommonJsDependencies' config
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): add 'allowedCommonJsDependencies' config to avoid ajv warnings on build
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): harmonize package names
  package-lock.json
  projects/sandbox-ssr/package.json
  projects/sandbox/package.json
  projects/sds/package.json
  projects/sds/schematics/package.json
Due: prettier --write

fix(toolchain): don't run `install-dependencies` script on windows
  scripts/husky/install-dependencies.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): create the SDS dockerfile
  Dockerfile_SDS
  projects/sds/src/nginx/conf/includes/custom_headers.conf
  projects/sds/src/nginx/conf/includes/security_headers.conf
  projects/sds/src/nginx/conf/nginx.conf
Due: none

feat(toolchain): create the Sandbox dockerfile
  Dockerfile_Sandbox
  projects/sandbox/src/nginx/nginx.conf
Due: none

feat(toolchain): create the SDS dockerfile new path
  projects/sds/Dockerfile_SDS
Due: none

feat(toolchain): create the Sandbox dockerfile new path
  projects/sandbox/Dockerfile_Sandbox
Due: none

feat(toolchain): set no registry
  .npmrc
Due: none

feat(toolchain): create the SDS dockerfile old path
  projects/sds/Dockerfile_SDS
Due: none

feat(toolchain): create the SDS dockerfile
  projects/sds/Dockerfile_SDS
  projects/sds/src/nginx/conf/includes/custom_headers.conf
  projects/sds/src/nginx/conf/includes/security_headers.conf
  projects/sds/src/nginx/conf/nginx.conf
Due: none

feat(toolchain): create the Sandbox dockerfile
  projects/sandbox/Dockerfile_Sandbox
  projects/sandbox/src/nginx/nginx.conf
Due: none

feat(sds/toolchain): create the SDS dockerfile
  projects/sds/Dockerfile_SDS
  projects/sds/src/nginx/conf/includes/custom_headers.conf
  projects/sds/src/nginx/conf/includes/security_headers.conf
  projects/sds/src/nginx/conf/nginx.conf
Due: none

feat(sandbox/toolchain): create the Sandbox dockerfile
  projects/sandbox/Dockerfile_Sandbox
  projects/sandbox/src/nginx/nginx.conf
Due: none

fix(service-navigation/web-component): only import needed styles
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.scss
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/service-navigation): avoid `undefined` error when started without PAMS
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): ensure that peerDependencies are not modified
  scripts/dependencies-update.ts
Due: eslint --fix --cache, prettier --write

test(oblique/master-layout): remove deprecated `RouterTestingModule`
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
Due: eslint --fix --cache, prettier --write

test(oblique/master-layout): fix typo in `describe`
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): don't process fragments if none is provided
  projects/oblique/jest.config.js
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, prettier --write

test(oblique/master-layout): add route test cases on component initialization
  projects/oblique/jest.config.js
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/service-navigation): increase the padding around the profile & authentication widgets
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.scss
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/master-layout): removes the padding around the service navigation in collapsed mode
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/oblique/src/styles/scss/material/_mat-datepicker.scss
  projects/sandbox-ssr/package.json
  projects/service-navigation-web-component/package.json
Due: stylelint --fix --cache --allow-empty-input, prettier --write
