Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

feat(oblique/service-navigation): don't show the authentication widget until `loginState` is known
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/banner): make banner responsive
  projects/sds/src/app/banner/banner.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/toolchain): add `banner` scope
  projects/sds/CONTRIBUTING.md
Due: prettier --write

feat(sds/feedback): move trigger to the bottom on mobile view
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds): replace wrapping `span` with `main`
  projects/sds/src/app/app.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/banner): make banner presence depend on a setting
  projects/sds/src/app/app.component.html
  projects/sds/src/app/app.component.scss
  projects/sds/src/app/app.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/banner): hide the banner
  projects/sds/src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): add check for multi-project applications
  projects/oblique/schematics/index/ng-add/index.ts
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): correctly match release candidates in the branch name for the release script
  scripts/release.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/oblique/src/lib/selectable/selectable-group.directive.ts
  projects/sandbox-ssr/package.json
  projects/service-navigation-web-component/package.json
Due: eslint --fix --cache, prettier --write

feat(toolchain): add pre-versions publish instructions in the release script
  scripts/release.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 12.0.0-rc.1
  Jenkinsfile
  package-lock.json
  package.json
  projects/cli/CHANGELOG.md
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/design-system/CHANGELOG.md
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/CHANGELOG.md
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove publish instructions for version 12.0.0-rc.1
  Jenkinsfile
Due: none

fix(toolchain): correct corrupt dependencies after rebase
  package-lock.json
  package.json
Due: prettier --write

fix(oblique/toolchain): tarball script correctly match release candidates
  projects/oblique/scripts/tarball.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): adapt npm config
  .npmrc
Due: none

feat(toolchain): create the dockerfile
  Dockerfile_SDS
  projects/sds/src/nginx/conf/includes/custom_headers.conf
  projects/sds/src/nginx/conf/includes/security_headers.conf
  projects/sds/src/nginx/conf/nginx.conf
Due: none

fix(oblique/styles): add theme styling for mat-spinner
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/schematics): ng-add correctly removes default Angular favicon
  projects/oblique/schematics/index/ng-add/rules/toolchain.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): ng-add add `src/assets` entry to Angular.json's assets configuration
  projects/oblique/schematics/index/ng-add/rules/oblique.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): remove sandbox to test deployment
  package-lock.json
  package.json
Due: prettier --write

feat(toolchain): add sandbox docker file
  Dockerfile_Sandbox
Due: none

feat(toolchain): test sca check with renamed sandbox
  package-lock.json
  projects/sandbox/package.json
Due: prettier --write

feat(toolchain): add sandbox docker file
  Dockerfile_Sandbox
  package-lock.json
  projects/sandbox/package.json
Due: prettier --write

feat(toolchain): add sandbox docker file
  Dockerfile_Sandbox
  package-lock.json
  projects/sandbox/package.json
  projects/sandbox/src/nginx/nginx.conf
Due: prettier --write

feat(toolchain): create the SDS dockerfile
  .npmrc
  Dockerfile_SDS
  projects/sds/src/nginx/conf/includes/custom_headers.conf
  projects/sds/src/nginx/conf/includes/security_headers.conf
  projects/sds/src/nginx/conf/nginx.conf
Due: none

feat(toolchain): create the Sandbox docker file
  Dockerfile_Sandbox
  package-lock.json
  projects/sandbox/package.json
  projects/sandbox/src/nginx/nginx.conf
Due: prettier --write

feat(toolchain): simplify access to projects scripts
  projects/package.json
  scripts/generate-projects-scripts.ts
Due: eslint --fix --cache, prettier --write

fix(sds/cms): add `base_url` tp the `Version` interface
  projects/sds/src/app/cms/models/version.model.ts
Due: eslint --fix --cache, prettier --write

feat(sds/tabbed-page): update the base url according to the current version in the API tab
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/popover): remove event example from version 11
  projects/sds/src/app/code-examples/code-examples/popover/popover-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/popover/popover-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/popover/previews/events/popover-example-events-preview.component.html
  projects/sds/src/app/code-examples/code-examples/popover/previews/events/popover-example-events-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/popover/previews/events/popover-example-events-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/cms): add a version service to store the version data
  projects/sds/src/app/shared/version/version.service.spec.ts
  projects/sds/src/app/shared/version/version.service.ts
Due: eslint --fix --cache, prettier --write

fix(sds/side-navigation): redirect to the correct page when the version changes
  projects/sds/src/app/side-navigation/side-navigation.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/side-navigation): store version info into the version service
  projects/sds/src/app/side-navigation/side-navigation.component.ts
  projects/sds/src/app/side-navigation/version/version.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/master-layout): add documentation for version 12
  projects/sds/src/app/code-examples/code-examples.mapper.ts
Due: eslint --fix --cache, prettier --write

fix(sds/side-navigation): make sure the selected version match the one in the URL
  projects/sds/src/app/side-navigation/version/version.component.spec.ts
  projects/sds/src/app/side-navigation/version/version.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/popover): add documentation for version 12
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/popover-12/popover12-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/popover-12/popover12-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/popover-12/previews/default/popover12-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/popover-12/previews/default/popover12-example-default-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/popover-12/previews/default/popover12-example-default-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/popover-12/previews/events/popover12-example-events-preview.component.html
  projects/sds/src/app/code-examples/code-examples/popover-12/previews/events/popover12-example-events-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/popover-12/previews/events/popover12-example-events-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/popover-12/previews/other-options/popover12-example-other-options-preview.component.html
  projects/sds/src/app/code-examples/code-examples/popover-12/previews/other-options/popover12-example-other-options-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/popover-12/previews/other-options/popover12-example-other-options-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write
