Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

feat(toolchain): use NodeJS version 18.19.0
  Jenkinsfile
Due: none

feat(oblique/styles): remove `ob-table-cicd` class
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/src/styles/scss/core/components/_table.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/styles): invert selector to apply hover style
  projects/sandbox/src/app/styles/table/table.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/styles): remove `ob-tabs` and associated classes
  projects/oblique/src/styles/scss/core/components/_index.scss
  projects/oblique/src/styles/scss/core/components/_tabs.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/styles): simplify code for table
  projects/oblique/src/styles/scss/core/components/_table.scss
  projects/oblique/src/styles/scss/core/mixins/_table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/styles): add missing example for `ins` element
  projects/sandbox/src/app/styles/inline-element/inline-element.component.html
Due: eslint --fix --cache, prettier --write

feat(toolchain): update `.gitignore` to include nx cache
  .gitignore
Due: none

fix(oblique/column-layout): sort lifecycle methods
  projects/oblique/src/lib/column-layout/column-layout.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox/styles): adjust usage of `@`, `{` & `}`
  projects/sandbox/src/app/styles/block-elements/block-elements.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): remove `ob-body2-line-height-letter-spacing` mixin
  projects/sds/src/app/code-examples/code-examples/typography/previews/typography/typography-example-typography-preview.component.html
  projects/sds/src/app/code-examples/code-examples/typography/previews/typography/typography-example-typography-preview.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/styles): remove `hover-visible` and `bg-secondary` classes
  projects/oblique/src/styles/scss/core/_layouts.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/unsaved-changes): remove the deprecated pop-up feature
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.service.spec.ts
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.service.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/service-navigation): use the WGL 2023 tab outline
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.scss
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/file-upload): use `WINDOW` token from Oblique instead of `window` property form JS
  projects/oblique/src/lib/file-upload/progress/progress.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/toolchain): remove `pop-up` scope
  CONTRIBUTING.md
Due: prettier --write

feat(toolchain): add `^` to start of `jest-sonar-reporter` version in `ng-add-utils.ts`
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
Due: eslint --fix --cache, prettier --write

test(oblique/column-layout): enforce testing conventions in component tests
  projects/oblique/src/lib/column-layout/column-layout.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): add `removeInjectionInClass` function
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): clean up styling of hints and errors in form fileds
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): remove `hint-error-backdrop-filter` mixin
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/styles): add `$hr-color` variable and update `headings.scss` file accordingly
  projects/sds/src/styles/scss/core/_headings.scss
  projects/sds/src/styles/scss/core/_variables.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/file-upload): add file amount limit input
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.ts
  projects/oblique/src/lib/file-upload/drop-zone/validation.service.spec.ts
  projects/oblique/src/lib/file-upload/drop-zone/validation.service.ts
  projects/oblique/src/lib/file-upload/file-upload.component.html
  projects/oblique/src/lib/file-upload/file-upload.component.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/material): ensure action column width is stable
  projects/sandbox/src/app/material/table/table.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(toolchain): use jeap-pipelinelibrary@feature/oblique6
  Jenkinsfile
  Jenkinsfile.deploy
Due: none

feat(toolchain): add @angular-devkit/core@17.0.5 as dev dependency
  package-lock.json
  package.json
Due: prettier --write

fix(sandbox/material): add title to Actions column in collapsed mode
  projects/sandbox/src/app/material/table/table.component.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 11.0.0-beta.1
  CHANGELOG.md
  Jenkinsfile
  package-lock.json
  package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/material): remove progress bar images used on `.mdc-linear-progress__buffer-dots`
  projects/oblique/src/styles/scss/material/_mat-progress-bar.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique): finalize WGL 2023 color migration
  projects/oblique/src/lib/alert/alert.component.scss
  projects/oblique/src/lib/column-layout/column-layout.component.scss
  projects/oblique/src/lib/file-upload/progress/progress.component.scss
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component-scrollable.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component-offcanvas.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
  projects/oblique/src/lib/nav-tree/nav-tree.component.scss
  projects/oblique/src/lib/notification/notification.component.scss
  projects/oblique/src/lib/scrolling/top-control.component.scss
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.scss
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.scss
  projects/oblique/src/styles/scss/core/components/_form.scss
  projects/oblique/src/styles/scss/core/components/_type.scss
  projects/oblique/src/styles/scss/core/mixins/_column-layout.scss
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
  projects/oblique/src/styles/scss/material/_mat-button.scss
  projects/oblique/src/styles/scss/material/_mat-card.scss
  projects/oblique/src/styles/scss/material/_mat-datepicker.scss
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
  projects/oblique/src/styles/scss/material/_mat-list.scss
  projects/oblique/src/styles/scss/material/_mat-select.scss
  projects/oblique/src/styles/scss/material/_mat-stepper.scss
  projects/oblique/src/styles/scss/oblique-alert.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/styles): migrate Oblique colors to WGL 2023 color scheme
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/style/colors.model.ts
  projects/oblique/src/styles/scss/core/_variables.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): remove pseudo selector `:has`
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-item.directive.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-item.directive.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/breadcrumb): link to stackblitz example
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/breadcrumb/breadcrumb-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/breadcrumb/breadcrumb-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/breadcrumb/previews/default/breadcrumb-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/breadcrumb/previews/default/breadcrumb-example-default-preview.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): add has prefix & suffix classes to `ObFormFieldDirective`
  projects/oblique/src/lib/form-field/form-field.directive.spec.ts
  projects/oblique/src/lib/form-field/form-field.directive.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove publish instructions for 11.0.0-beta.1 from Jenkinsfile
  Jenkinsfile
Due: none

chore(oblique): remove deprecation notice from scss file
  projects/oblique/src/styles/scss/material/_mat-progress-bar.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/styles): add high `z-index` to `ob-tab-focus-border` to ensure border isn't covered
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): finalize WGL 2023 color migration
  projects/oblique/src/styles/scss/material/_material-palette.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/styles): finalize color migration to WGL 2023
  projects/sandbox/src/app/styles/grid/grid.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/code-examples): import from `@oblique/oblique` in the material editable table preview
  projects/sds/src/app/code-examples/code-examples/material-table/previews/editable/material-table-example-editable-preview.component.ts
Due: eslint --fix --cache, prettier --write
