Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/nav-tree): redesign to match wgl 2023
  projects/oblique/src/lib/nav-tree/nav-tree.component.scss
  projects/oblique/src/styles/scss/core/mixins/_nav.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

test(sds/component-pages): improve`datepicker-code-examples` tests
  projects/sds/src/app/component-pages/code-examples/datepicker/datepicker-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

test(sds/component-pages): add dialog tests
  projects/sds/src/app/component-pages/code-examples/dialog/dialog-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/nav-tree): add `hasFilter` input
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/nav-tree/nav-tree.component.html
  projects/oblique/src/lib/nav-tree/nav-tree.component.ts
  projects/oblique/src/lib/nav-tree/nav-tree.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/nav-tree): remove deprecated `activateAncestors` input
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/src/lib/nav-tree/_mocks/mock-nav-tree.component.ts
  projects/oblique/src/lib/nav-tree/nav-tree.api.json
  projects/oblique/src/lib/nav-tree/nav-tree.component.html
  projects/oblique/src/lib/nav-tree/nav-tree.component.spec.ts
  projects/oblique/src/lib/nav-tree/nav-tree.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/styles): distribute scss files that only export mixins and variables
  projects/oblique/scripts/post-dist/steps/copy-dist-files.ts
Due: eslint --fix --cache, prettier --write

feat(sds): add ` | undefined` to the return type of `CodeExamplesMapper.getCodeExampleComponent`
  projects/sds/src/app/component-pages/code-examples.mapper.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/material): extract logic out of select directive so it can be reused
  projects/oblique/src/lib/form-field/select-panel-class-helper.spec.ts
  projects/oblique/src/lib/form-field/select-panel-class-helper.ts
  projects/oblique/src/lib/form-field/select.directive.ts
Due: eslint --fix --cache, prettier --write

test(sds/component-pages): improve `alert-code-examples` tests
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sds): add file-upload interceptor
  projects/sds/src/app/component-pages/code-examples/file-upload/file-upload-simulate-interceptor.ts
  projects/sds/src/main.ts
Due: eslint --fix --cache, prettier --write

fix(sds/component-pages): correct typo
  projects/sds/src/app/component-pages/code-examples/dialog/previews/spinner/example-dialog-spinner/example-dialog-spinner.component.html
Due: eslint --fix --cache, prettier --write

feat(sandbox/nav-tree): remove deprecated `activateAncestors` input
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.html
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): adjust code-example title to accept html so code tag can be used
  projects/sds/src/app/component-pages/code-example/code-example.component.html
  projects/sds/src/app/component-pages/code-example/code-example.component.scss
  projects/sds/src/app/component-pages/code-example/code-example.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): ensure icon & test prefix and suffix are displayed
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds): load translation files, add 2 file-upload translations
  projects/sds/src/assets/i18n/en.json
  projects/sds/src/main.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/material): add icon & test prefix and suffix examples for form inputs
  projects/sandbox/src/app/material/form/form.component.html
Due: eslint --fix --cache, prettier --write

test(sds/component-pages): improve `button-code-examples` tests
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

test(oblique/material): `ObOutlineDirective` cleanup
  projects/oblique/src/lib/master-layout/outline.directive.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/file-upload): replace constructor injection with inject function
  projects/oblique/src/lib/file-upload/progress/progress.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/component-pages): `list-group` examples cleanup
  projects/sds/src/app/component-pages/code-examples/list-group/list-group-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/avatar-subheader/list-group-example-avatar-subheader.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/avatar-subheader/list-group-example-avatar-subheader.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/checkbox/list-group-example-checkbox.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/checkbox/list-group-example-checkbox.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/default/list-group-example-default.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/default/list-group-example-default.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/icon-checkbox/list-group-example-icon-checkbox.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/icon-checkbox/list-group-example-icon-checkbox.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/image/list-group-example-image-preview.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/image/list-group-example-image-preview.component.ts
  projects/sds/src/assets/images/ListGroupImageExample.svg
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): add schematic rule migrate to run material mdc-migration
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): `mat-datepicker` corrections
  projects/oblique/src/styles/scss/material/_mat-datepicker.scss
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/file-upload): fix change detection issues in SDS
  projects/oblique/src/lib/file-upload/progress/progress.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): make datepicker adhere to sds component documentation guidelines
  projects/sds/src/app/component-pages/code-examples/datepicker/datepicker-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/datepicker/previews/default/datepicker-example-default.component.html
  projects/sds/src/app/component-pages/code-examples/datepicker/previews/default/datepicker-example-default.component.ts
  projects/sds/src/app/component-pages/code-examples/datepicker/previews/other-options/datepicker-example-other-options-preview.component.html
  projects/sds/src/app/component-pages/code-examples/datepicker/previews/other-options/datepicker-example-other-options-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/nav-tree): remove deprecated `variant` input
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/schematics/index/utils.ts
  projects/oblique/src/lib/nav-tree/_mocks/mock-nav-tree.component.ts
  projects/oblique/src/lib/nav-tree/nav-tree.api.json
  projects/oblique/src/lib/nav-tree/nav-tree.component.html
  projects/oblique/src/lib/nav-tree/nav-tree.component.scss
  projects/oblique/src/lib/nav-tree/nav-tree.component.spec.ts
  projects/oblique/src/lib/nav-tree/nav-tree.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/component-pages): add file-upload examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/file-upload/file-upload-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/file-upload/file-upload-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/file-upload/previews/first/file-upload-example-first-preview.component.html
  projects/sds/src/app/component-pages/code-examples/file-upload/previews/first/file-upload-example-first-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/file-upload/previews/fourth/file-upload-example-fourth-preview.component.html
  projects/sds/src/app/component-pages/code-examples/file-upload/previews/fourth/file-upload-example-fourth-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/file-upload/previews/second/file-upload-example-second-preview.component.html
  projects/sds/src/app/component-pages/code-examples/file-upload/previews/second/file-upload-example-second-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/file-upload/previews/third/file-upload-example-third-preview.component.html
  projects/sds/src/app/component-pages/code-examples/file-upload/previews/third/file-upload-example-third-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/nav-tree): remove deprecated `variant` input
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.html
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/file-upload): file-upload redesign to match the WGL 2023
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.scss
  projects/oblique/src/lib/file-upload/progress/progress.component.html
  projects/oblique/src/lib/file-upload/progress/progress.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): `mat-list` corrections
  projects/oblique/src/styles/scss/material/_mat-list.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): update the pipeline and refactor accordingly
  Jenkinsfile
  projects/sds/manifest-dev.yml
Due: prettier --write

chore(sandbox/alert): remove api & description sections
  projects/sandbox/src/app/samples/alert/alert.component.html
Due: eslint --fix --cache, prettier --write

chore(sandbox/column-layout): remove api & description sections
  projects/sandbox/src/app/samples/column-layout-full-height/column-layout-full-height-sample.component.html
  projects/sandbox/src/app/samples/column-layout/column-layout-sample.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/material): replace the illustration image for the card example
  projects/sds/src/app/component-pages/code-examples/card/previews/card-with-multiple-sections/card-with-multiple-sections.component.html
  projects/sds/src/assets/images/alex-shuper_person-in-a-space-suit.jpg
Due: eslint --fix --cache, prettier --write

feat(oblique/file-upload): update to standalone
  projects/oblique/src/lib/file-upload/_mocks/mock-drop-zone.component.ts
  projects/oblique/src/lib/file-upload/_mocks/mock-file-info.component.ts
  projects/oblique/src/lib/file-upload/_mocks/mock-file-upload.component.ts
  projects/oblique/src/lib/file-upload/_mocks/mock-file-upload.module.ts
  projects/oblique/src/lib/file-upload/drop-zone/accept-all.pipe.ts
  projects/oblique/src/lib/file-upload/drop-zone/drag-and-drop.directive.spec.ts
  projects/oblique/src/lib/file-upload/drop-zone/drag-and-drop.directive.ts
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.spec.ts
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.ts
  projects/oblique/src/lib/file-upload/file-upload.component.spec.ts
  projects/oblique/src/lib/file-upload/file-upload.component.ts
  projects/oblique/src/lib/file-upload/file-upload.module.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.spec.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): `mat-paginator` corrections
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
  projects/oblique/src/styles/scss/material/_mat-paginator.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/spinner): update to standalone
  projects/oblique/src/lib/spinner/_mocks/mock-spinner.component.ts
  projects/oblique/src/lib/spinner/_mocks/mock-spinner.module.ts
  projects/oblique/src/lib/spinner/spinner.component.spec.ts
  projects/oblique/src/lib/spinner/spinner.component.ts
  projects/oblique/src/lib/spinner/spinner.module.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): add grid system examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/grid-system/grid-system-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/grid-system/grid-system-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/grid-system/previews/flex/grid-system-example-flex-preview.component.html
  projects/sds/src/app/component-pages/code-examples/grid-system/previews/flex/grid-system-example-flex-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/grid-system/previews/grid-system.scss
  projects/sds/src/app/component-pages/code-examples/grid-system/previews/grid/grid-system-example-grid-preview.component.html
  projects/sds/src/app/component-pages/code-examples/grid-system/previews/grid/grid-system-example-grid-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

chore(sandbox/autocomplete): remove api & description sections
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/autocomplete): update to standalone
  projects/oblique/src/lib/autocomplete/_mocks/mock-highlight-text.module.ts
  projects/oblique/src/lib/autocomplete/_mocks/mock-highlight-text.pipe.ts
  projects/oblique/src/lib/autocomplete/_mocks/mock-option-label-icon.directive.ts
  projects/oblique/src/lib/autocomplete/_mocks/mock-option-label-icon.module.ts
  projects/oblique/src/lib/autocomplete/autocomplete.component.spec.ts
  projects/oblique/src/lib/autocomplete/autocomplete.component.ts
  projects/oblique/src/lib/autocomplete/autocomplete.module.ts
  projects/oblique/src/lib/autocomplete/highlight-text/highlight-text.module.ts
  projects/oblique/src/lib/autocomplete/highlight-text/highlight-text.pipe.ts
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.directive.spec.ts
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.directive.ts
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.module.ts
Due: eslint --fix --cache, prettier --write

chore(oblique/alert): remove `api.json` & `description.html` files
  projects/oblique/src/lib/alert/alert.api.json
  projects/oblique/src/lib/alert/alert.description.html
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
