Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/file-upload): remove uploaded event emission upon upload cancellation
  projects/oblique/src/lib/file-upload/file-upload.component.spec.ts
  projects/oblique/src/lib/file-upload/file-upload.component.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/schematics): correct the path to the `CodeExamplesMapper`
  projects/sds/schematics/src/sds.utils.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): apply material legacy migration for typography
  projects/oblique/src/styles/scss/material/_mat-typography.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/side-navigation): rename `documentation-pages` to `text-pages`
  projects/sds/src/app/side-navigation/side-navigation.component.ts
  projects/sds/src/app/side-navigation/utils/accordion-composer.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/autocomplete): finish material legacy migration
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds): rename interface `ComponentPageShort` to `TabbedPageShort` and refactor
  projects/sds/src/app/cms/models/component-page.model.ts
  projects/sds/src/app/side-navigation/utils/accordion-mapper.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/tabbed-page): rename method `monitorForComponentPageChanges` to `monitorForPageChanges`
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/master-layout): add stackblitz code example
  projects/sds/src/app/code-examples/code-examples/banner/banner-code-examples.component.html
  projects/sds/src/app/code-examples/code-examples/banner/banner-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/banner/banner-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/banner/previews/default/banner-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/banner/previews/default/banner-example-default-preview.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/file-upload): update preview component names to meaningful names
  projects/sds/src/app/code-examples/code-examples/file-upload/file-upload-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/basic-options/file-upload-basic-options-preview.component.html
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/basic-options/file-upload-basic-options-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/fully-functioning/file-upload-fully-functioning-preview.component.html
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/fully-functioning/file-upload-fully-functioning-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/map-function-and-ob-file-info/file-upload-map-function-and-ob-file-info-preview.component.html
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/map-function-and-ob-file-info/file-upload-map-function-and-ob-file-info-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/upload-event/file-upload-upload-event-preview.component.html
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/upload-event/file-upload-upload-event-preview.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox/button): add text to explain why some buttons are empty
  projects/sandbox/src/app/samples/button/button.component.html
Due: eslint --fix --cache, prettier --write

refactor(oblique/material): finish material legacy migration for chips
  projects/sandbox/src/app/material/material.module.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/alert): finish material legacy migration
  projects/sandbox/src/app/samples/alert/alert.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds): rename `documentation-pages` to `text-page` and refactor accordingly
  CONTRIBUTING.md
  projects/sds/src/app.routes.ts
  projects/sds/src/app/documentation-pages/documentation-pages.routes.ts
  projects/sds/src/app/text-page/text-page.component.html
  projects/sds/src/app/text-page/text-page.component.scss
  projects/sds/src/app/text-page/text-page.component.spec.ts
  projects/sds/src/app/text-page/text-page.component.ts
  projects/sds/src/app/text-page/text-pages.routes.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/styles): finish material legacy migration for screen reader only
  projects/sandbox/src/app/styles/screen-reader-only/screen-reader-only.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): apply material legacy migration for list
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/number-format): add code examples
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/number-format/number-format-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/number-format/number-format-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/number-format/previews/default-with-reactive-form/number-format-example-default-with-reactive-form-preview.component.html
  projects/sds/src/app/code-examples/code-examples/number-format/previews/default-with-reactive-form/number-format-example-default-with-reactive-form-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/number-format/previews/default-with-template-from/number-format-example-default-with-template-from-preview.component.html
  projects/sds/src/app/code-examples/code-examples/number-format/previews/default-with-template-from/number-format-example-default-with-template-from-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/number-format/previews/other-options/number-format-example-other-options-preview.component.html
  projects/sds/src/app/code-examples/code-examples/number-format/previews/other-options/number-format-example-other-options-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): add form examples
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/form/form-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/form/form-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/horizontal/form-example-horizontal-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/horizontal/form-example-horizontal-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/input-clear/form-example-input-clear-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/input-clear/form-example-input-clear-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/sizes/form-example-sizes-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/sizes/form-example-sizes-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/form/previews/sizes/form-example-sizes-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/ux/form-example-ux-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/ux/form-example-ux-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/form/previews/ux/form-example-ux-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

test(sds/tabbed-page): use the component class name instead of strings for the test description
  projects/sds/src/app/tabbed-page/tabbed-page.component.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(sds): create new model for CMS pages info used in the side-nav and refactor accordingly
  projects/sds/src/app/cms/cms-data.service.ts
  projects/sds/src/app/cms/models/cms-page.model.ts
  projects/sds/src/app/cms/models/tabbed-page.model.ts
  projects/sds/src/app/side-navigation/utils/accordion-composer.ts
  projects/sds/src/app/side-navigation/utils/accordion-mapper.ts
Due: eslint --fix --cache, prettier --write

refactor(sds): rename file `component-page.model.ts` to `tabbed-page-model.ts`
  projects/sds/src/app/cms/cms-data.service.ts
  projects/sds/src/app/cms/models/tabbed-page.model.ts
  projects/sds/src/app/side-navigation/utils/accordion-composer.ts
  projects/sds/src/app/side-navigation/utils/accordion-mapper.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/material): finish material legacy migration for tabs
  projects/sandbox/src/app/material/material.module.ts
Due: eslint --fix --cache, prettier --write

feat(sds/selectable): add code examples
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/selectable/previews/checkbox/selectable-example-checkbox-preview.component.html
  projects/sds/src/app/code-examples/code-examples/selectable/previews/checkbox/selectable-example-checkbox-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/selectable/previews/radio/selectable-example-radio-preview.component.html
  projects/sds/src/app/code-examples/code-examples/selectable/previews/radio/selectable-example-radio-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/selectable/previews/selectable-example-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/selectable/previews/windows/selectable-example-windows-preview.component.html
  projects/sds/src/app/code-examples/code-examples/selectable/previews/windows/selectable-example-windows-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/selectable/selectable-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/selectable/selectable-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/material): finish material legacy migration for checkbox
  projects/oblique/src/styles/scss/material/_mat-checkbox-radio.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-checkbox-radio.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/material): remove unused code
  projects/sandbox/src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): apply material legacy migration for menu
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/side-navigation): rename parameters of the `AccordionComposer`
  projects/sds/src/app/side-navigation/side-navigation.component.ts
  projects/sds/src/app/side-navigation/utils/accordion-composer.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/service-navigation): finish material legacy migration
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/material): finish material legacy migration for slide-toggle
  projects/oblique/src/styles/scss/material/_mat-slide-toggle.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/material): reorder material theme alphabetically
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/cms): add `category` property to the `TabbedPageComplete` model
  projects/sds/src/app/cms/models/tabbed-page.model.ts
Due: eslint --fix --cache, prettier --write

refactor(sds): rename interface `ComponentPageShortCms` to `TabbedPageShortCms` and refactor
  projects/sds/src/app/cms/cms-data.service.ts
  projects/sds/src/app/cms/models/component-page.model.ts
  projects/sds/src/app/side-navigation/side-navigation.component.ts
  projects/sds/src/app/side-navigation/utils/accordion-composer.ts
  projects/sds/src/app/side-navigation/utils/accordion-mapper.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/external-link): finish material legacy migration
  projects/sandbox/src/app/samples/external-link/external-link.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/material): finish material legacy migration for list
  projects/sandbox/src/app/material/list/list.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/material): finish material legacy migration for radio button
  projects/oblique/src/styles/scss/material/_mat-checkbox-radio.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-checkbox-radio.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/material): finish material legacy migration for form field
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
  projects/oblique/src/styles/scss/material/_mat-form.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/styles): finish material legacy migration
  projects/oblique/src/styles/scss/core/mixins/_tab-outline.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/material): remove `sb-description` from mandatory page
  projects/sandbox/src/app/material/mandatory/mandatory.sample.component.html
Due: eslint --fix --cache, prettier --write

refactor(sandbox/material): remove unused code
  projects/sandbox/src/app/material/badge/badge.component.scss
  projects/sandbox/src/app/material/badge/badge.component.ts
  projects/sandbox/src/app/material/progress-bar/progress-bar.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/material): finish material legacy migration for chips
  projects/sandbox/src/app/material/chips/chips.component.html
  projects/sandbox/src/app/material/chips/chips.component.ts
Due: eslint --fix --cache, prettier --write

chore(sds/toolchain): remove unused `paths` from `tsconfig.app.json`
  projects/sds/tsconfig.app.json
Due: prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
