Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

chore(toolchain): transpile schematics files directly in the `dist` folder
  projects/oblique/schematics/tsconfig.schematics.json
  scripts/schematics-copy.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): ensure schematics are compiled when `npm run dist` is executed
  package.json
Due: prettier --write

chore(toolchain): use `ng-package` to copy static schematics files
  package.json
  projects/oblique/ng-package.json
  scripts/schematics-copy.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): ensure `oblique-component.scss` is correctly generated on Windows
  scripts/generate-component-styles.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): ensure the presence of a trailing empty line in `oblique-component.scss`
  scripts/generate-component-styles.ts
Due: eslint --fix --cache, prettier --write

feat(popover): open popover on mouseover
  projects/oblique/src/lib/popover/_mocks/mock-popover.directive.ts
  projects/oblique/src/lib/popover/popover.api.json
  projects/oblique/src/lib/popover/popover.directive.spec.ts
  projects/oblique/src/lib/popover/popover.directive.ts
  projects/oblique/src/lib/popover/popover.model.ts
  projects/oblique/src/lib/popover/popover.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

test(popover): update coverage threshold to 100
  tests/jest.config.js
Due: eslint --fix --cache, prettier --write

showcase(popover): open popover on mouseover
  src/app/samples/popover/popover.component.html
  src/app/samples/popover/popover.component.scss
  src/app/samples/popover/popover.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

test: update global coverage threshold
  tests/jest.config.js
Due: eslint --fix --cache, prettier --write

refactor(toolchain): reactivate @typescript-eslint/no-var-requires rule and refactor accordingly
  .eslintrc.yml
  projects/oblique/schematics/index/utils.ts
  scripts/dependency-update.ts
Due: eslint --fix --cache, prettier --write

showcase(toolchain): reactivate @typescript-eslint/no-var-requires rule and refactor accordingly
  src/app/api/api.component.ts
  src/app/description/description.component.ts
  src/app/home/home.page.ts
  tsconfig.json
Due: eslint --fix --cache, prettier --write

showcase(material): add "delete row" option for tables
  src/app/material/table/table-manager.ts
  src/app/material/table/table.component.html
  src/app/material/table/table.component.scss
  src/app/material/table/table.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(material): add "edit row" option for tables
  src/app/material/material.module.ts
  src/app/material/table/table-manager.ts
  src/app/material/table/table.component.html
  src/app/material/table/table.component.scss
  src/app/material/table/table.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase: add a table manager to material table sample
  src/app/material/table/table-manager.ts
  src/app/material/table/table.component.html
  src/app/material/table/table.component.ts
Due: eslint --fix --cache, prettier --write

showcase(material): ensure global buttons for tables are shown in collapsed mode
  src/app/material/table/table.component.html
  src/app/material/table/table.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase: refactor the material table sample
  src/app/material/table/table.component.html
  src/app/material/table/table.component.scss
  src/app/material/table/table.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(material): add "add row" option for tables
  src/app/material/table/table-manager.ts
  src/app/material/table/table.component.html
Due: eslint --fix --cache, prettier --write

showcase(material): add Dialog edition mode for tables
  src/app/material/material.module.ts
  src/app/material/table/table-edit.component.html
  src/app/material/table/table-edit.component.ts
  src/app/material/table/table-manager.ts
  src/app/material/table/table.component.html
  src/app/material/table/table.component.ts
Due: eslint --fix --cache, prettier --write

showcase(material): add "delete selected rows" option for tables
  src/app/material/table/table-manager.ts
  src/app/material/table/table.component.html
Due: eslint --fix --cache, prettier --write

docs(alert): provide a more accurate `usage` of the component
  projects/oblique/src/lib/alert/alert.api.json
Due: prettier --write

feat(alert): add an `Input` and an `InjectionToken` to configure the `role` attribute
  projects/oblique/src/lib/alert/_mocks/mock-alert.component.ts
  projects/oblique/src/lib/alert/alert.api.json
  projects/oblique/src/lib/alert/alert.component.spec.ts
  projects/oblique/src/lib/alert/alert.component.ts
  projects/oblique/src/lib/alert/alert.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

showcase(alert): add example for Input that adds `role=alert`
  src/app/samples/alert/alert.component.html
  src/app/samples/alert/alert.component.scss
  src/app/samples/alert/alert.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(bootstrap): ensure horizontal form are indeed horizontal with bootstrap theme
  projects/oblique/src/styles/scss/themes/bootstrap/_form.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(popover): add an option to close only when clicking on the toggle element
  projects/oblique/src/lib/popover/_mocks/mock-popover.directive.ts
  projects/oblique/src/lib/popover/popover.api.json
  projects/oblique/src/lib/popover/popover.directive.spec.ts
  projects/oblique/src/lib/popover/popover.directive.ts
  projects/oblique/src/lib/popover/popover.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

showcase(popover): add an option to close only when clicking on the toggle element
  src/app/samples/popover/popover.component.html
  src/app/samples/popover/popover.component.ts
Due: eslint --fix --cache, prettier --write

fix(popover): correct the type of `toggleHandle` in the mocks
  projects/oblique/src/lib/popover/_mocks/mock-popover.directive.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 8.1.0
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

showcase(material): link the mode handle to the `tableManager` mode
  src/app/material/table/table.component.ts
Due: eslint --fix --cache, prettier --write

fix(alert): correct the name ´of hasRoleAlert´ in the mocks
  projects/oblique/src/lib/alert/_mocks/mock-alert.component.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): reactivate @angular-eslint/sort-ngmodule-metadata-arrays rule and refactor
  .eslintrc.yml
  projects/oblique/src/lib/alert/alert.module.ts
  projects/oblique/src/lib/breadcrumb/breadcrumb.module.ts
  projects/oblique/src/lib/column-layout/column-layout.module.ts
  projects/oblique/src/lib/datepicker/_mocks/mock-datepicker.module.ts
  projects/oblique/src/lib/datepicker/datepicker.module.ts
  projects/oblique/src/lib/error-messages/_mocks/mock-error-messages.module.ts
  projects/oblique/src/lib/error-messages/error-messages.module.ts
  projects/oblique/src/lib/file-upload/_mock/mock-file-upload.module.ts
  projects/oblique/src/lib/file-upload/file-upload.module.ts
  projects/oblique/src/lib/icon/icon.module.ts
  projects/oblique/src/lib/input-clear/input-clear.module.ts
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout.module.ts
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/lib/nav-tree/nav-tree.module.ts
  projects/oblique/src/lib/nested-form/nested-form.module.ts
  projects/oblique/src/lib/notification/notification.module.ts
  projects/oblique/src/lib/off-canvas/_mocks/mock-off-canvas.module.ts
  projects/oblique/src/lib/off-canvas/off-canvas.module.ts
  projects/oblique/src/lib/schema-validation/_mocks/mock-schema-validation.module.ts
  projects/oblique/src/lib/schema-validation/schema-validation.module.ts
  projects/oblique/src/lib/scrolling/scrolling.module.ts
  projects/oblique/src/lib/search-box/_mocks/mock-search-box.module.ts
  projects/oblique/src/lib/search-box/search-box.module.ts
  src/app/app.module.ts
  src/app/common/shared.module.ts
  src/app/material/material.module.ts
  src/app/samples/samples.module.ts
  src/app/styles/styles.module.ts
Due: eslint --fix --cache, prettier --write

showcase(column-layout): add a sample for the column layout in fixed mode
  src/app/app.component.ts
  src/app/samples/column-layout-full-height/column-layout-full-height-sample.component.html
  src/app/samples/column-layout-full-height/column-layout-full-height-sample.component.ts
  src/app/samples/samples-routing.module.ts
  src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

docs(column-layout): rewrite the description
  projects/oblique/src/lib/column-layout/column-layout.description.html
Due: eslint --fix --cache, prettier --write

fix(column-layout): correctly display the column layout in fixed mode
  projects/oblique/src/lib/column-layout/column-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(toolchain): reactivate @typescript-eslint/no-shadow rule and refactor accordingly
  .eslintrc.yml
  projects/oblique/schematics/index/utils.ts
  projects/oblique/src/lib/breadcrumb/breadcrumb.component.ts
  projects/oblique/src/lib/button/button.directive.spec.ts
  projects/oblique/src/lib/button/button.directive.ts
  projects/oblique/src/lib/file-upload/drop-zone/validation.service.spec.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
  projects/oblique/src/lib/file-upload/file-upload.service.spec.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.spec.ts
  projects/oblique/src/lib/global-events/outsideFilter.spec.ts
  projects/oblique/src/lib/icon/icon.service.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
  projects/oblique/src/lib/selectable/selectable-group.directive.spec.ts
  scripts/release.ts
  src/app/material/table/table-manager.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(toolchain): release version 8.1.1
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

docs(collapse): typo - missing s in animate
  projects/oblique/src/lib/collapse/collapse.description.html
Due: eslint --fix --cache, prettier --write

feat(collapse): make collapse keyboard accessible
  projects/oblique/src/lib/collapse/_mocks/mock-collapse.component.ts
  projects/oblique/src/lib/collapse/collapse.api.json
  projects/oblique/src/lib/collapse/collapse.component.html
  projects/oblique/src/lib/collapse/collapse.component.spec.ts
  projects/oblique/src/lib/collapse/collapse.component.ts
  projects/oblique/src/lib/collapse/collapse.description.html
Due: eslint --fix --cache, prettier --write

test(collapse): remove unnecessary token
  projects/oblique/src/lib/collapse/collapse.component.spec.ts
Due: eslint --fix --cache, prettier --write
