Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/component-pages): clean styles of `ComponentPagesComponent`
  projects/sds/src/app/component-pages/component-pages/component-pages.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(toolchain): simplify SDS schematics commands
  projects/sds/package.json
  projects/sds/schematics/README.md
Due: prettier --write

feat(sandbox/master-layout): add granchildren examples to samples sub menu
  projects/sandbox/src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): datepicker design according to WGL 2023
  projects/oblique/src/styles/scss/material/_mat-datepicker.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/material): add list-group code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/list-group/list-group-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/list-group/list-group-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/list-group-example-checkbox/list-group-example-checkbox.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/list-group-example-checkbox/list-group-example-checkbox.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/list-group-example-default/list-group-example-default.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/list-group-example-default/list-group-example-default.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/list-group-example-icon-checkbox/list-group-example-icon-checkbox.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/list-group-example-icon-checkbox/list-group-example-icon-checkbox.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/list-group-example-icon/list-group-example-icon.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/list-group-example-icon/list-group-example-icon.component.ts
  projects/sds/src/app/component-pages/component-pages.module.ts
Due: eslint --fix --cache, prettier --write

feat(sds/material): add progress bar code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/progress-bar/previews/colors/progress-bar-example-colors-preview.component.html
  projects/sds/src/app/component-pages/code-examples/progress-bar/previews/colors/progress-bar-example-colors-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/progress-bar/previews/colors/progress-bar-example-colors-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/progress-bar/previews/modes/progress-bar-example-modes-preview.component.html
  projects/sds/src/app/component-pages/code-examples/progress-bar/previews/modes/progress-bar-example-modes-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/progress-bar/previews/modes/progress-bar-example-modes-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/progress-bar/progress-bar-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/progress-bar/progress-bar-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/material): use the correct id for the slider's preview
  projects/sds/src/app/component-pages/code-examples/slider/slider-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/spinner): remove dead code
  projects/oblique/src/lib/spinner/spinner.component.html
  projects/oblique/src/lib/spinner/spinner.component.ts
Due: eslint --fix --cache, prettier --write

test(oblique/master-layout): refactor `master-layout-navigation` spec
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): use new shadow mixin for expansion panels
  projects/oblique/src/styles/scss/material/_mat-expansion-panel.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/service-navigation): adjust non login ob buttons from `secondary` to `tertiary`
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.html
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/master-layout): consolidate 2 previously seperated ob-sub-menu styles
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique): adjust standard label font size & weight
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/core/components/_type.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): redesign of the dialog to match the WGL 2023
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
  projects/oblique/src/styles/scss/material/_mat-dialog.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): add recursive master layout sub menu item component
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.harness.ts
  projects/oblique/src/lib/master-layout/master-layout.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/component-pages): rename tab property `title` to `name` to remove standard browser tooltip
  projects/sds/src/app/component-pages/code-example/code-example.component.html
  projects/sds/src/app/component-pages/code-example/source-code.model.ts
  projects/sds/src/app/component-pages/component-pages/component-pages.component.html
  projects/sds/src/app/component-pages/tabs/tab/tab.component.ts
  projects/sds/src/app/component-pages/tabs/tabs.component.html
  projects/sds/src/app/component-pages/tabs/tabs.component.spec.ts
  projects/sds/src/app/component-pages/tabs/tabs.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): add placeholder box-shadow variable
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
  projects/oblique/src/styles/scss/material/_mat-select.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/styles): add mixins for shadows
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): adjust sub-menu open content brightness filters (0.5 => 0.9)
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): add dynamic back button to sub menu
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-item.directive.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): use new shadow mixin for autocompletes
  projects/oblique/src/lib/autocomplete/autocomplete.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): set default value of `footer.hasLogoOnScroll` to `false`
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/master-layout/master-layout.config.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): use new shadow mixin for sliders
  projects/oblique/src/styles/scss/material/_mat-slider.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/translation): replace key `i18n.oblique.off-canvas.close` with `i18n.common.close`
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 11.0.0-alpha.1
  CHANGELOG.md
  Jenkinsfile
  package-lock.json
  package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

feat(sds): load translation files, add 2 file-upload translations
  projects/sds/src/assets/i18n/en.json
  projects/sds/src/main.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): update buttons with new color scheme
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/material): add icon & test prefix and suffix examples for form inputs
  projects/sandbox/src/app/material/form/form.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/nav-tree): add `hasFilter` input
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/nav-tree/nav-tree.component.html
  projects/oblique/src/lib/nav-tree/nav-tree.component.ts
  projects/oblique/src/lib/nav-tree/nav-tree.module.ts
Due: eslint --fix --cache, prettier --write

feat(sds): add file-upload interceptor
  projects/sds/src/app/component-pages/code-examples/file-upload/file-upload-simulate-interceptor.ts
  projects/sds/src/main.ts
Due: eslint --fix --cache, prettier --write

test(sds/component-pages): improve `badge-code-examples` tests
  projects/sds/src/app/component-pages/code-examples/badge/badge-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/styles): distribute scss files that only export mixins and variables
  projects/oblique/scripts/post-dist/steps/copy-dist-files.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): ensure icon & test prefix and suffix are displayed
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/nav-tree): remove commented test case
  projects/oblique/src/lib/nav-tree/nav-tree.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/nav-tree/nav-tree-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/file-upload): fix change detection issues in SDS
  projects/oblique/src/lib/file-upload/progress/progress.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove `masterBranchName` from `Jenkinsfile`
  Jenkinsfile
Due: none

feat(oblique/file-upload): fix progress margin issue
  projects/oblique/src/lib/file-upload/progress/progress.component.html
  projects/oblique/src/lib/file-upload/progress/progress.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

test(sds/component-pages): add dialog tests
  projects/sds/src/app/component-pages/code-examples/dialog/dialog-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): `mat-list` corrections
  projects/oblique/src/styles/scss/material/_mat-list.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/side-navigation): add margin to last item
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
