Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

fix(oblique/material): `mat-form-field` corrections
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/styles): adapt the palette to the new colors
  projects/sandbox/src/app/styles/palette/palette.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/code-examples): rename form `UX` preview from `UX` to `States`
  projects/sds/src/app/code-examples/code-examples/form/form-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/form/form-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/states/form-example-states-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/states/form-example-states-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/form/previews/states/form-example-states-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/styles): don't use Oblique colors in `_code.scss`
  projects/sds/src/styles/scss/core/_code.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds): sort imports in code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples.mapper.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/styles): remove unnecessary colors
  projects/oblique/src/styles/scss/core/_palette.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/code-examples): add confirmation for deletion in the material editable table preview
  projects/sds/src/app/code-examples/code-examples/material-table/previews/editable/material-table-example-editable-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): add form input prefixes & suffixes preview
  projects/sds/src/app/code-examples/code-examples/form/form-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/form/form-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/input-prefixes-and-suffixes/form-example-input-prefixes-and-suffixes-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/input-prefixes-and-suffixes/form-example-input-prefixes-and-suffixes-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/form/previews/input-prefixes-and-suffixes/form-example-input-prefixes-and-suffixes-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/code-examples): display `form-example-input-clear-preview.component.scss` in preview
  projects/sds/src/app/code-examples/code-examples/form/form-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): add `min-width`s to input clear examples that overflowed
  projects/sds/src/app/code-examples/code-examples/form/previews/input-clear/form-example-input-clear-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/input-clear/form-example-input-clear-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/form/previews/input-clear/form-example-input-clear-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/styles): make sure table styles are only applied to code from Directus
  projects/sds/src/styles/scss/core/_table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/side-navigation): always use default font size for all viewports
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
  projects/sds/src/app/side-navigation/version/version.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/code-examples): ensure every scss file content is presented
  projects/sds/src/app/code-examples/code-examples/alert/alert-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/badge/badge-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/button/button-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/datepicker/datepicker-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/file-upload/file-upload-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/number-format/number-format-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/paginator/paginator-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/popover/popover-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/shadow/shadow-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/slide-toggle/slide-toggle-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/spacing-and-layout-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/sticky/sticky-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/translations/translations-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/typography/typography-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds): add generic comment to scss files to identify demo code
  projects/sds/src/app/code-examples/code-example-flex-layout.scss
  projects/sds/src/app/code-examples/code-examples/card/previews/card-with-multiple-sections/card-with-multiple-sections.component.scss
  projects/sds/src/app/code-examples/code-examples/card/previews/clickable-cards/clickable-cards.component.scss
  projects/sds/src/app/code-examples/code-examples/chips/previews/stack/chips-example-stack-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/cancel-upload/file-upload-cancel-upload-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/form/previews/sizes/form-example-sizes-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/form/previews/states/form-example-states-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/global-events/previews/global-events-example-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/grid-system/previews/grid-system.scss
  projects/sds/src/app/code-examples/code-examples/html-table/previews/collapse/html-table-example-collapse-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/html-table/previews/sizes/html-table-example-sizes-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/material-table/previews/editable/material-table-example-editable-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/material-table/previews/sizes/material-table-example-sizes-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/nav-tree/previews/expand-collapse/nav-tree-example-expand-collapse-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/nested-form/previews/nested-form-example-preview.scss
  projects/sds/src/app/code-examples/code-examples/notification/previews/other-options/notification-example-other-options-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/paginator/previews/paginator-example-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/popover/previews/other-options/popover-example-other-options-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/progress-bar/previews/colors/progress-bar-example-colors-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/progress-bar/previews/modes/progress-bar-example-modes-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/selectable/previews/selectable-example-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/shadow/previews/shadow/shadow-example-shadow-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/slider/previews/basic-slider/basic-slider.component.scss
  projects/sds/src/app/code-examples/code-examples/slider/previews/range-slider/range-slider.component.scss
  projects/sds/src/app/code-examples/code-examples/slider/previews/slider-options/slider-options.component.scss
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/layout/spacing-and-layout-example-layout-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/spacing/spacing-and-layout-example-spacing-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/spinner/previews/custom-channel/custom-channel-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/spinner/previews/multiple-activations/multiple-activations-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/stepper/previews/default/stepper-example-default-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/stepper/previews/other-options/stepper-example-other-options-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/sticky/previews/sticky-example.scss
  projects/sds/src/app/code-examples/code-examples/tabs/previews/variations/tabs-example-variations-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/tooltip/previews/position/tooltip-example-position-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/typography/previews/typography/typography-example-typography-preview.component.scss
  projects/sds/src/app/code-examples/stackblitz-link.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/schematics): allow hyphen in input
  projects/sds/schematics/src/add-code-example/add-code-example.utils.ts
  projects/sds/schematics/src/add-preview/add-preview.utils.ts
  projects/sds/schematics/src/sds.utils.ts
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): make code snippets optional
  projects/sds/src/app/code-examples/code-examples.model.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): add spacing around input text prefixes & suffixes
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/code-examples): remove file preview in off-canvas
  projects/sds/src/app/code-examples/code-examples/off-canvas/off-canvas-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/code-examples): remove empty code snippets arrays
  projects/sds/src/app/code-examples/code-examples/banner/banner-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/breadcrumb/breadcrumb-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/column-layout/column-layout-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/master-layout/master-layout-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/translations/translations-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/unsaved-changes/unsaved-changes-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/styles): remove duplicate property
  projects/sds/src/styles/scss/core/_table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/styles): add styling of table caption
  projects/sds/src/styles/scss/core/_table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/material): add NgOptimizedImage import to list Group code example to fix broken images
  projects/sds/src/app/code-examples/code-examples/list-group/previews/avatar-subheader/list-group-example-avatar-subheader.component.ts
Due: eslint --fix --cache, prettier --write

feat(master-layout): add removable links feature to navigation component
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
  projects/oblique/src/lib/master-layout/master-layout.model.ts
  src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/material): improve chips showcase
  projects/sandbox/src/app/material/chips/chips.component.html
  projects/sandbox/src/app/material/chips/chips.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/material): improve chips showcase
  projects/sds/src/app/code-examples/code-examples/chips/previews/autocomplete/chips-example-autocomplete-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/material): implement design of the chips
  projects/oblique/src/styles/scss/material/_mat-chip.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/code-examples): fix a typo that makes the content of the sticky component page not load
  projects/sds/src/app/code-examples/code-examples/sticky/sticky-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/styles): scope out headings scss file to resolve interference with sticky code examples
  projects/sds/src/styles/scss/core/_headings.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): remove green color to valid form fields
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): fix alignment of icons in relation to autocomplete
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): adjust hover styles for mobile back buttons
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): remove `chevron-right` icon from mobile main nav items
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
Due: eslint --fix --cache, prettier --write

refactor(oblique): make button height global and use it in `master-layout-navigation`
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): adjust mobile button & nav item sizing & disable ripple for 1st level
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique): move styles from nav to nav sub menu and nav go to children
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/masterLayoutNavigationSubMenuFilter.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/masterLayoutNavigationSubMenuFilter.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/service-navigation): add ability to make custom controls full-width on mobile
  projects/oblique/src/lib/service-navigation/service-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): add `ob-master-layout-navigation-go-to-children`
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/go-to-children/master-layout-navigation-go-to-children.harness.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.html
  projects/oblique/src/lib/master-layout/master-layout.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/autocomplete): fix vertical alignment of search icons
  projects/oblique/src/lib/autocomplete/autocomplete.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox): make autocomplete full-width on small screens
  projects/sandbox/src/app/app.component.html
Due: eslint --fix --cache, prettier --write

chore(oblique): fix github links in changelog for version 10.3.0
  CHANGELOG.md
Due: prettier --write
