Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): add an option to hide the label for main navigation links
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/master-layout/master-layout.description.html
  projects/oblique/src/lib/master-layout/master-layout.model.ts
  projects/oblique/src/lib/master-layout/master-layout.module.ts
Due: eslint --fix --cache, prettier --write

feat(master-layout): add a possibility to show an icon after external links in the main navigation
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/master-layout/master-layout.model.ts
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(master-layout): activate external links in the main navigation
  src/app/app.component.ts
  src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 8.2.0
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

fix(master-layout): use relative path for import of `ObEIcon`
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(master-layout): right align external link icons in the main navigation
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): release version 8.2.1
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): move `rxjs` from `peerDependencies` to `dependencies`
  projects/oblique/ng-package.json
  projects/oblique/package.json
Due: prettier --write

chore(toolchain): release version 8.2.2
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/schematics/package-lock.json
  projects/oblique/schematics/package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

chore(schematics): ensure that ng-update imports `ObIconModule.forRoot` in the root module
  projects/oblique/schematics/index/ng-update/update-v8-to-v9.ts
Due: eslint --fix --cache, prettier --write

chore(schematics): ensure `opened$` don't end up with two dollars
  projects/oblique/schematics/index/ng-update/update-v8-to-v9.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): adapt GitHub actions configuration
  .github/workflows/main.yml
Due: prettier --write

fix(schematics): remove unnecessary replacement
  projects/oblique/schematics/index/ng-update/update-v5-to-v6.ts
Due: eslint --fix --cache, prettier --write

feat(http-interceptor): revise http status messages
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
Due: prettier --write

showcase: activate stylelint's `selector-class-pattern` rule and refactor accordingly
  src/app/home/home.page.html
  src/app/home/home.page.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): remove `home` jumplink
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, prettier --write

fix(multiselect): fix typo
  projects/oblique/src/assets/i18n/oblique-de.json
Due: prettier --write

chore(toolchain): update contributors
  package.json
Due: prettier --write

feat(schematics): add `ob-no-script` class to `default-index-template`
  projects/oblique/schematics/index/ng-add/templates/default-index.html
Due: eslint --fix --cache, prettier --write

fix(master-layout): remove orFooter remainder
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.html
Due: eslint --fix --cache, prettier --write

refactor(master-layout): unify labels of jumplinks
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
Due: prettier --write

test(external-link): simplify code
  projects/oblique/src/lib/external-link/external-link.directive.spec.ts
  tests/jest.config.js
Due: eslint --fix --cache, prettier --write

refactor: activate stylelint's `scss/dollar-variable-pattern` rule and refactor accordingly
  .stylelintrc.yml
  projects/oblique/src/lib/nav-tree/nav-tree.component.scss
  projects/oblique/src/styles/scss/core/mixins/_grid.scss
  projects/oblique/src/styles/scss/themes/bootstrap/_form-check.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase: rename `jumplink` to `skiplink`
  src/app/app.component.html
  src/app/app.component.ts
  src/assets/i18n/de.json
  src/assets/i18n/en.json
  src/assets/i18n/fr.json
  src/assets/i18n/it.json
Due: eslint --fix --cache, prettier --write

showcase: unify labels of jumplinks
  src/app/app.component.ts
  src/assets/i18n/de.json
  src/assets/i18n/en.json
  src/assets/i18n/fr.json
  src/assets/i18n/it.json
Due: eslint --fix --cache, prettier --write

refactor(toolchain): integrate npm script `minify` into the `run-post-dist-steps.ts` container
  package.json
  projects/oblique/scripts/post-dist/run-post-dist-steps.ts
  projects/oblique/scripts/post-dist/steps/distribute-ob-features.ts
Due: eslint --fix --cache, prettier --write

fix(master-layout): remove focus color on navigation items
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase: activate stylelint's `keyframes-name-pattern` rule and refactor accordingly
  src/app/home/home.page.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(master-layout): let the menu in collapsed mode use the whole available height
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

docs(master-layout): add missing `footer.isSmall` variable in `ObMasterLayoutConfig`
  projects/oblique/src/lib/master-layout/master-layout.api.json
Due: prettier --write

fix(file-upload): change named parameter in error message to match parameter in code
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/file-upload/file-upload.service.ts
Due: eslint --fix --cache, prettier --write

fix(material): center icon in input group
  projects/oblique/src/styles/scss/themes/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(master-layout): don't set `overflow: hidden` on the main navigation in collapsed mode
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(schematics): add a rule to update the browser compatibility messages
  projects/oblique/schematics/index/ng-update/update-v8-to-v9.ts
Due: eslint --fix --cache, prettier --write

showcase: activate stylelint's `selector-id-pattern` rule and refactor accordingly
  src/app/home/home.page.html
  src/app/home/home.page.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(toolchain): use external script files `lint` and `format` npm scripts
  package.json
  scripts/lint/run-format-steps.ts
  scripts/lint/run-lint-steps.ts
  scripts/lint/steps/eslint.ts
  scripts/lint/steps/prettier.ts
  scripts/lint/steps/stylelint.ts
Due: eslint --fix --cache, prettier --write

fix(external-link): moved aria-label text into a screenreader only span at the end of the link
  projects/oblique/src/lib/external-link/external-link.directive.spec.ts
  projects/oblique/src/lib/external-link/external-link.directive.ts
Due: eslint --fix --cache, prettier --write

fix(master-layout): remove left padding for navigation 1st level
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
