Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

test(oblique): use dynamic name for component names
  projects/oblique/src/lib/autocomplete/autocomplete.component.spec.ts
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.directive.spec.ts
  projects/oblique/src/lib/button/button.directive.spec.ts
  projects/oblique/src/lib/collapse/collapse.component.spec.ts
  projects/oblique/src/lib/column-layout/column-layout.component.spec.ts
  projects/oblique/src/lib/external-link/external-link.directive.spec.ts
  projects/oblique/src/lib/file-upload/drop-zone/drag-and-drop.directive.spec.ts
  projects/oblique/src/lib/master-layout/aria-menu-button.directive.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-menu.directive.spec.ts
  projects/oblique/src/lib/nav-tree/nav-tree.component.spec.ts
  projects/oblique/src/lib/number-format/number-format.directive.spec.ts
  projects/oblique/src/lib/popover/popover.directive.spec.ts
  projects/oblique/src/lib/schema-validation/schema-validation.spec.ts
  projects/oblique/src/lib/selectable/selectable-group.directive.spec.ts
  projects/oblique/src/lib/selectable/selectable.directive.spec.ts
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.spec.ts
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.spec.ts
  projects/oblique/src/lib/sticky/sticky.component.spec.ts
  projects/oblique/src/lib/unknown-route/unknown-route.component.spec.ts
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.directive.spec.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): migrate from Angular 15 to 16
  .eslintrc.yml
  package-lock.json
  package.json
  projects/oblique/.eslintrc.yml
  projects/oblique/package.json
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
  projects/oblique/schematics/index/ng-add/templates/default-jestGlobalMocks.config
  projects/oblique/schematics/index/ng-add/templates/home.component.html
  projects/oblique/schematics/index/ng-add/templates/home.component.scss.config
  projects/oblique/src/styles/scss/material/_mat-chip.scss
  projects/oblique/tsconfig.spec.json
  projects/sandbox/.eslintrc.yml
  projects/sandbox/src/app/material/tooltip/tooltip.component.scss
  projects/sandbox/src/app/samples/error-messages-sample/error-messages-sample.component.html
  projects/sandbox/src/app/styles/stepper/stepper.component.scss
  projects/sds/.eslintrc.yml
  projects/sds/package.json
  projects/sds/schematics/src/add-code-example/add-code-example.utils.ts
  projects/sds/schematics/src/add-preview/add-preview.utils.ts
  projects/sds/schematics/src/nodes.utils.ts
  projects/sds/schematics/src/sds.utils.ts
  projects/sds/schematics/src/workspace.utils.ts
  tests/setupJest.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): improve select aspect
  projects/oblique/src/styles/scss/material/mixins/_mat-panel.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

test(sandbox): use dynamic name for component names
  projects/sandbox/src/app/api/api-element.component.spec.ts
  projects/sandbox/src/app/api/api.component.spec.ts
  projects/sandbox/src/app/home/home.page.spec.ts
  projects/sandbox/src/app/samples/breadcrumb/breadcrumb.component.spec.ts
  projects/sandbox/src/app/samples/collapse/collapse-sample.component.spec.ts
  projects/sandbox/src/app/samples/error-messages-sample/error-messages-sample.component.spec.ts
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.spec.ts
  projects/sandbox/src/app/samples/number-format/number-format-sample.component.spec.ts
  projects/sandbox/src/app/samples/schema-validation/schema-validation-sample.component.spec.ts
  projects/sandbox/src/app/samples/sticky/sticky-sample.component.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/code-examples): import `NgFor` instead of `CommonModule`
  projects/sds/src/app/code-examples/code-examples/list-group/previews/avatar-subheader/list-group-example-avatar-subheader.component.ts
  projects/sds/src/app/code-examples/code-examples/list-group/previews/image/list-group-example-image-preview.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique): activate `@angular-eslint/sort-lifecycle-methods`
  projects/oblique/.eslintrc.yml
  projects/oblique/src/lib/autocomplete/autocomplete.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
  projects/oblique/src/lib/sticky/sticky.component.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): activate `@angular-eslint/template/prefer-ngsrc` Eslint rule
  .eslintrc.yml
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.html
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.html
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.spec.ts
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/material/_mat-card.scss
  projects/sandbox/src/app/material/card/card.component.html
  projects/sandbox/src/app/material/material.module.ts
  projects/sds/src/app/code-examples/code-examples/card/previews/card-with-multiple-sections/card-with-multiple-sections.component.html
  projects/sds/src/app/code-examples/code-examples/card/previews/card-with-multiple-sections/card-with-multiple-sections.component.ts
  projects/sds/src/app/code-examples/code-examples/list-group/previews/avatar-subheader/list-group-example-avatar-subheader.component.html
  projects/sds/src/app/code-examples/code-examples/list-group/previews/image/list-group-example-image-preview.component.html
  projects/sds/src/app/code-examples/code-examples/list-group/previews/image/list-group-example-image-preview.component.ts
  projects/sds/src/app/side-navigation/image/image.component.html
  projects/sds/src/app/side-navigation/image/image.component.spec.ts
  projects/sds/src/app/side-navigation/image/image.component.ts
  projects/sds/src/app/side-navigation/side-navigation.component.html
  projects/sds/src/app/side-navigation/side-navigation.component.ts
  projects/sds/src/app/side-navigation/side-navigation.model.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): improve slide toggle hint & error aspect
  projects/oblique/src/styles/scss/material/_mat-slide-toggle.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-slide-toggle.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/notification): simplify the code and improve the presentation
  projects/sandbox/src/app/samples/notification/notification-sample.component.html
Due: eslint --fix --cache, prettier --write

fix(sandbox/column-layout): make the right column be toggled by the right button
  projects/sandbox/src/app/samples/column-layout-full-height/column-layout-full-height-sample.component.html
  projects/sandbox/src/app/samples/column-layout/column-layout-sample.component.html
Due: eslint --fix --cache, prettier --write

fix(sandbox/material): use `mat-chip-row` inside `mat-chip-listbox`
  projects/sandbox/src/app/material/chips/chips.component.html
Due: eslint --fix --cache, prettier --write

refactor(sds/toolchain): use a script to copy `nginx` configuration files after a build
  angular.json
  projects/sds/package.json
  projects/sds/scripts/post-dist/copy-nginx.ts
  projects/sds/scripts/post-dist/index.ts
  projects/sds/tsconfig.app.json
Due: eslint --fix --cache, prettier --write

feat(oblique/material): improve the datepicker's toggle tab focus
  projects/oblique/src/styles/scss/material/_mat-datepicker.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/material): include paginator icons directly in the CSS
  projects/oblique/src/styles/scss/material/_mat-paginator.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/code-examples): correct duplicate component selectors from copy paste
  projects/sds/src/app/code-examples/code-examples/chips/chips-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/paginator/paginator-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/spinner/spinner-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox): improve code quality
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/material/chips/chips.component.html
  projects/sandbox/src/app/material/chips/chips.component.scss
  projects/sandbox/src/app/material/chips/chips.component.ts
  projects/sandbox/src/app/material/dialog/dialog.component.ts
  projects/sandbox/src/app/material/mandatory/mandatory.sample.component.html
  projects/sandbox/src/app/material/mandatory/mandatory.sample.component.scss
  projects/sandbox/src/app/material/mandatory/mandatory.sample.component.ts
  projects/sandbox/src/app/material/stepper-horizontal/stepper-horizontal.component.html
  projects/sandbox/src/app/material/stepper-horizontal/stepper-horizontal.component.scss
  projects/sandbox/src/app/material/stepper-horizontal/stepper-horizontal.component.ts
  projects/sandbox/src/app/material/stepper-vertical/stepper-vertical.component.html
  projects/sandbox/src/app/material/stepper-vertical/stepper-vertical.component.scss
  projects/sandbox/src/app/material/stepper-vertical/stepper-vertical.component.ts
  projects/sandbox/src/app/samples/autocomplete/autocomplete.component.html
  projects/sandbox/src/app/samples/column-layout/column-layout-sample.component.html
  projects/sandbox/src/app/samples/error-messages-sample/error-messages-sample.component.spec.ts
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.html
  projects/sandbox/src/app/samples/popover/popover.component.html
  projects/sandbox/src/app/samples/samples-routing.module.ts
  projects/sandbox/src/app/samples/unsaved-changes/unsaved-changes-sample.component.html
  projects/sandbox/src/app/styles/block-elements/block-elements.component.html
  projects/sandbox/src/app/styles/styles.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

test(oblique): improve test quality
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.directive.spec.ts
  projects/oblique/src/lib/number-format/number-format.directive.spec.ts
  projects/oblique/src/lib/selectable/selectable.directive.spec.ts
  projects/oblique/src/lib/sticky/sticky.component.spec.ts
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.directive.spec.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/toolchain): list `js-cookie` as a `dependencies`
  projects/oblique/package.json
Due: prettier --write

feat(sds/cms): sort the queries by the name of the page
  projects/sds/src/app/cms/cms-data.service.ts
Due: eslint --fix --cache, prettier --write

fix(sds/toolchain): call `perform` function within `CopyNginx` script
  projects/sds/scripts/post-dist/copy-nginx.ts
Due: eslint --fix --cache, prettier --write

feat(sds/styles): add space between table and following paragraph
  projects/sds/src/styles/scss/core/_table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/toolchain): remove unused `index.ts` file from `project/sds/scripts/post-dist`
  projects/sds/scripts/post-dist/index.ts
Due: eslint --fix --cache, prettier --write

fix(sds/toolchain): copy Staticfile into dist/sds
  projects/sds/scripts/post-dist/copy-nginx.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/toolchain): limit `exports` in `package.json` to scss files
  projects/oblique/scripts/post-dist/steps/adapt-package-json.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/toolchain): limit code duplication in `adapt-package-json.ts`
  projects/oblique/scripts/post-dist/steps/adapt-package-json.ts
Due: eslint --fix --cache, prettier --write

fix(sds/toolchain): remove warning about `ajv` and `ajv-formats`
  angular.json
Due: prettier --write

fix(sds/toolchain): remove warning about unused files
  projects/sds/.eslintrc.yml
  projects/sds/scripts/tsconfig.scripts.json
  projects/sds/tsconfig.app.json
Due: prettier --write

feat(sds/code-examples): ensure `getJsonSnippet` is only used to load JSON files
  projects/sds/src/app/code-examples/code-examples.model.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/code-examples): avoid deactivating `@typescript-eslint/no-var-requires`
  projects/sds/src/app/code-examples/code-examples.model.ts
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): remove warning about "Critical dependency"
  projects/sds/src/app/code-examples/code-examples.model.ts
Due: eslint --fix --cache, prettier --write

feat(sds): change application title to "Oblique"
  projects/sds/src/index.html
Due: eslint --fix --cache, prettier --write

feat(oblique/styles): remove `hover-visible` and `bg-secondary` classes
  projects/oblique/src/styles/scss/core/_layouts.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/alert): redesign to match wgl 2023
  projects/oblique/src/lib/alert/alert.component.scss
  projects/oblique/src/styles/scss/oblique-alert.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/styles): remove `ob-tabs` and associated classes
  projects/oblique/src/styles/scss/core/components/_index.scss
  projects/oblique/src/styles/scss/core/components/_tabs.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/styles): remove HTML tabs example
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/styles/styles.module.ts
  projects/sandbox/src/app/styles/tabs/tabs.component.html
  projects/sandbox/src/app/styles/tabs/tabs.component.scss
  projects/sandbox/src/app/styles/tabs/tabs.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/styles): update CSS for consistent error and valid visuals in all form types
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/code-examples): fix required behavior in form
  projects/sds/src/app/code-examples/code-examples/form/previews/ux/form-example-ux-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/ux/form-example-ux-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): remove `ob-selected` class for chips
  projects/oblique/src/styles/scss/material/_mat-chip.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/material): remove `ob-selected` class for chips
  projects/sandbox/src/app/material/chips/chips.component.html
  projects/sandbox/src/app/material/chips/chips.component.ts
Due: eslint --fix --cache, prettier --write
