Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): icon adjustments
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(paginator): remove `MatLegacyPaginatorIntl` and `MatLegacyPaginatorModule`
  projects/oblique/src/lib/paginator/ob-paginator.module.ts
  projects/oblique/src/lib/paginator/ob-paginator.service.ts
  projects/oblique/src/styles/scss/oblique-material.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): adjust navigation styles for new design
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/styles/scss/core/mixins/_nav.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): remove header controls area and always show service navigation
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout.api.json
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): redesign of the slider
  projects/oblique/src/styles/scss/material/_mat-slider.scss
  projects/oblique/src/styles/scss/material/_material-palette.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-slider.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(material): don't import from `@oblique/utilities`
  projects/oblique/src/lib/form-field/form-field.module.ts
Due: eslint --fix --cache, prettier --write

showcase(material): replace legacy module of the slider
  src/app/material/material.module.ts
  src/app/material/slider/slider.component.html
  src/app/material/slider/slider.component.scss
  src/app/material/slider/slider.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): redesign of the list to match the WGL 2023
  projects/oblique/src/styles/scss/material/_mat-list.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase(material): redesign of the card to match the WGL 2023
  src/app/material/card/card.component.html
  src/app/material/card/card.component.scss
  src/app/material/card/card.component.ts
  src/app/material/material.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): replace the legacy modules of the cards
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
  projects/oblique/src/styles/scss/oblique-material.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(master-layout): remove unnecessary classes
  src/app/app.component.html
Due: eslint --fix --cache, prettier --write

showcase(material): replace legacy module of the cards
  src/app/app.module.ts
  src/app/material/material.module.ts
  src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

feat(material): redesign of the card to match the WGL 2023
  projects/oblique/src/styles/scss/material/_mat-card.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): add `mat-form-field` and `mat-select` directives
  projects/oblique/src/lib/form-field/form-field.directive.spec.ts
  projects/oblique/src/lib/form-field/form-field.directive.ts
  projects/oblique/src/lib/form-field/form-field.module.ts
  projects/oblique/src/lib/form-field/select.directive.spec.ts
  projects/oblique/src/lib/form-field/select.directive.ts
  projects/oblique/src/lib/oblique.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

refactor(master-layout): improve collapse mode layout button
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): remove `OB_ACTIVATE_SERVICE_NAVIGATION` token
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/schematics/index/service-navigation/index.ts
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

fix(button): don't style buttons with the `ob-button-card` class
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase: remove `OB_ACTIVATE_SERVICE_NAVIGATION`
  src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

showcase(material): add list group page
  src/app/app.component.ts
  src/app/material/list/list.component.html
  src/app/material/list/list.component.scss
  src/app/material/list/list.component.ts
  src/app/material/material.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase: remove `obHeaderCustomControl` content projection
  src/app/app.component.html
Due: eslint --fix --cache, prettier --write

feat(styles): add `$ob-spacing-md` variable
  projects/oblique/src/styles/scss/core/_variables.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(master-layout): remove unnecessary code
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(master-layout): remove unnecessary `ob-control-icon` class
  src/app/app.component.html
Due: eslint --fix --cache, prettier --write

feat(master-layout): `obLocales` and `obHeaderCustomControl` content projection options are gone
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/master-layout/master-layout.description.html
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
Due: eslint --fix --cache, prettier --write

refactor(master-layout): remove unused `ob-control-link` code & styles
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(master-layout): improve menu toggle code
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(toolchain): don't throw an error when stylelint don't find any changed file
  scripts/lint/steps/stylelint.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove unused `projects/oblique/package-lock.json` file
  projects/oblique/package-lock.json
Due: prettier --write

showcase(material): add `ObFormField` module to showcase
  src/app/material/material.module.ts
  src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

showcase(material): replace `MatLegacyListModule` and `MatLegacyFormFieldModule`
  src/app/material/material.module.ts
  src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

refactor(master-layout): remove unused language management
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): move `release` scripts to oblique
  package.json
  projects/oblique/package.json
  projects/oblique/scripts/release/release.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): move `update-dependency` script to the root
  package.json
  projects/oblique/scripts/release/release-commit.ts
  scripts/commit.ts
  scripts/update-dependencies.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): simplify `lint` scripts
  package.json
  scripts/lint.ts
  scripts/lint/run-format-steps.ts
  scripts/lint/run-lint-steps.ts
  scripts/lint/steps/eslint.ts
  scripts/lint/steps/prettier.ts
  scripts/lint/steps/stylelint.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): turn `oblique` and `sandbox` into npm workspaces
  package-lock.json
  package.json
  projects/oblique/package.json
  projects/sandbox/package.json
Due: prettier --write

chore(toolchain): add `update-icon` script to oblique
  projects/oblique/package.json
  projects/oblique/scripts/pre-build/run-pre-build-steps.ts
  projects/oblique/scripts/update-icons.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): add `update-error-messages` script to oblique
  package.json
  projects/oblique/package.json
  projects/oblique/scripts/pre-build/run-pre-build-steps.ts
  projects/oblique/scripts/update-error-messages.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): move `test` script to sandbox and oblique
  package.json
  projects/oblique/jest.config.js
  projects/oblique/package.json
  projects/sandbox/jest.config.js
  projects/sandbox/package.json
  tests/jest.config.js
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
