Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

feat(sds/component-pages): add public scss variables and mixins examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/layout/public-scss-variables-and-mixins-example-layout-preview.component.html
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/layout/public-scss-variables-and-mixins-example-layout-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/layout/public-scss-variables-and-mixins-example-layout-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/palette/public-scss-variables-and-mixins-example-palette-preview.component.html
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/palette/public-scss-variables-and-mixins-example-palette-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/palette/public-scss-variables-and-mixins-example-palette-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/public-scss-variables-and-mixins-example-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/shadow/public-scss-variables-and-mixins-example-shadow-preview.component.html
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/shadow/public-scss-variables-and-mixins-example-shadow-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/shadow/public-scss-variables-and-mixins-example-shadow-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/typography/public-scss-variables-and-mixins-example-typography-preview.component.html
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/typography/public-scss-variables-and-mixins-example-typography-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/typography/public-scss-variables-and-mixins-example-typography-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/variables/public-scss-variables-and-mixins-example-variables-preview.component.html
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/variables/public-scss-variables-and-mixins-example-variables-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/previews/variables/public-scss-variables-and-mixins-example-variables-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/public-scss-variables-and-mixins-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/public-scss-variables-and-mixins/public-scss-variables-and-mixins-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

chore(sandbox/button): remove api & description sections
  projects/sandbox/src/app/samples/button/button.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): improve tabs styling
  projects/sds/src/app/component-pages/tabs/tabs.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(sandbox/spinner): remove api & description sections
  projects/sandbox/src/app/samples/spinner-sample/spinner-sample.component.html
Due: eslint --fix --cache, prettier --write

chore(sandbox/sticky): remove api & description sections
  projects/sandbox/src/app/samples/sticky/sticky-sample.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/collapse): update to standalone
  projects/oblique/src/lib/collapse/_mocks/mock-collapse.component.ts
  projects/oblique/src/lib/collapse/_mocks/mock-collapse.module.ts
  projects/oblique/src/lib/collapse/collapse.component.spec.ts
  projects/oblique/src/lib/collapse/collapse.component.ts
  projects/oblique/src/lib/collapse/collapse.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/nested-form): update to standalone
  projects/oblique/src/lib/nested-form/_mocks/mock-nested-form.component.ts
  projects/oblique/src/lib/nested-form/_mocks/mock-nested-form.module.ts
  projects/oblique/src/lib/nested-form/_mocks/mock-parent-form.directive.ts
  projects/oblique/src/lib/nested-form/nested-form.component.spec.ts
  projects/oblique/src/lib/nested-form/nested-form.component.ts
  projects/oblique/src/lib/nested-form/nested-form.module.ts
  projects/oblique/src/lib/nested-form/parent-form.directive.ts
Due: eslint --fix --cache, prettier --write

refactor(sds): move common variables
  projects/sds/src/app/component-pages/tabs/tabs.component.scss
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
  projects/sds/src/app/side-navigation/side-navigation.component.scss
  projects/sds/src/styles/scss/core/_variables.scss
  projects/sds/src/variables.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): `mat-paginator` corrections
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
  projects/oblique/src/styles/scss/material/_mat-paginator.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

test(oblique/material): `ObOutlineDirective` cleanup
  projects/oblique/src/lib/master-layout/outline.directive.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sds/sticky): add code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/sticky/previews/default/sticky-example-default-preview.component.html
  projects/sds/src/app/component-pages/code-examples/sticky/previews/default/sticky-example-default-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/sticky/previews/sizes/sticky-example-sizes-preview.component.html
  projects/sds/src/app/component-pages/code-examples/sticky/previews/sizes/sticky-example-sizes-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/sticky/previews/sticky-example.scss
  projects/sds/src/app/component-pages/code-examples/sticky/sticky-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/sticky/sticky-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/spinner): update to standalone
  projects/oblique/src/lib/spinner/_mocks/mock-spinner.component.ts
  projects/oblique/src/lib/spinner/_mocks/mock-spinner.module.ts
  projects/oblique/src/lib/spinner/spinner.component.spec.ts
  projects/oblique/src/lib/spinner/spinner.component.ts
  projects/oblique/src/lib/spinner/spinner.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): create `ObPaginator` directive
  projects/oblique/src/lib/paginator/ob-paginator.api.json
  projects/oblique/src/lib/paginator/ob-paginator.module.ts
  projects/oblique/src/lib/paginator/paginator.directive.spec.ts
  projects/oblique/src/lib/paginator/paginator.directive.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(oblique): update mocks to standalone
  projects/oblique/src/lib/_mocks/mock-mat-element.ts
  projects/oblique/src/lib/_mocks/mock-module.ts
  projects/oblique/src/lib/_mocks/mock-translate.pipe.ts
  projects/oblique/src/lib/oblique-testing.module.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): make paginator adhere to sds component documentation guidelines
  projects/sds/src/app/component-pages/code-examples/paginator/paginator-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/paginator/previews/common-options/paginator-example-common-options-preview.component.html
  projects/sds/src/app/component-pages/code-examples/paginator/previews/common-options/paginator-example-common-options-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/paginator/previews/other-options/paginator-example-other-options-preview.component.html
  projects/sds/src/app/component-pages/code-examples/paginator/previews/other-options/paginator-example-other-options-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/paginator/previews/paginator-example-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/paginator/previews/paginator/paginator.component.html
  projects/sds/src/app/component-pages/code-examples/paginator/previews/paginator/paginator.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/toolchain): set `LOCALE_ID` to `en-CH`
  projects/sds/src/main.ts
Due: eslint --fix --cache, prettier --write

chore(oblique/column-layout): remove `api.json` & `description.html` files
  projects/oblique/src/lib/column-layout/column-layout.api.json
  projects/oblique/src/lib/column-layout/column-layout.description.html
Due: eslint --fix --cache, prettier --write

test(oblique/master-layout): update to standalone
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
Due: eslint --fix --cache, prettier --write

chore(oblique/autocomplete): remove `api.json` & `description.html` files
  projects/oblique/src/lib/autocomplete/autocomplete.api.json
  projects/oblique/src/lib/autocomplete/autocomplete.description.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): update the pipeline and refactor accordingly
  Jenkinsfile
  projects/sds/manifest-dev.yml
Due: prettier --write

feat(oblique/toolchain): adapt `angular.json` to use standalone configuration
  angular.json
Due: prettier --write

fix(sds/notification): deduplicate css selector
  projects/sds/src/app/component-pages/code-examples/notification/previews/other-options/notification-example-other-options-preview.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/popover): add code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/popover/popover-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/popover/popover-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/popover/previews/default/popover-example-default-preview.component.html
  projects/sds/src/app/component-pages/code-examples/popover/previews/default/popover-example-default-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/popover/previews/other-options/popover-example-other-options-preview.component.html
  projects/sds/src/app/component-pages/code-examples/popover/previews/other-options/popover-example-other-options-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/popover/previews/other-options/popover-example-other-options-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/cms): fetching `TabbedPage` from the CMS instead of `Component`
  projects/sds/src/app/cms/cms-data.service.ts
Due: eslint --fix --cache, prettier --write

feat(sds/cms): fetch the category for the tabbed pages
  projects/sds/src/app/cms/cms-data.service.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/external-link): finish material legacy migration
  projects/oblique/src/styles/scss/core/components/_external-link.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/material): finish material legacy migration for mandatory
  projects/sandbox/src/app/material/mandatory/mandatory.sample.component.html
Due: eslint --fix --cache, prettier --write

fix(oblique/schema-validation): remove incorrect `private readonly` on input
  projects/oblique/src/lib/schema-validation/schema-validation.directive.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/material): finish material legacy migration for progress bar
  projects/sandbox/src/app/material/progress-bar/progress-bar.component.html
  projects/sandbox/src/app/material/progress-bar/progress-bar.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/file-upload): add cancel confirmation prompt toggle
  projects/sandbox/src/app/samples/file-upload-sample/file-upload-sample.component.html
  projects/sandbox/src/app/samples/file-upload-sample/file-upload-sample.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/tabbed-page): use correct `componentId`
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): finish material legacy migration for autocomplete in the header
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/file-upload): implement optional cancel confirmation prompt
  projects/oblique/src/lib/file-upload/file-upload.component.html
  projects/oblique/src/lib/file-upload/file-upload.component.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.spec.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/external-link): add example with an icon button link
  projects/sandbox/src/app/samples/external-link/external-link.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/cms): fetch data for the text pages
  projects/sds/src/app/cms/cms-data.service.ts
  projects/sds/src/app/side-navigation/side-navigation.component.ts
  projects/sds/src/app/text-page/text-page.component.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/material): finish material legacy migration for table
  projects/sandbox/src/app/material/table/table.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/material): remove unused legacy variables
  projects/oblique/src/styles/scss/material/_material-palette.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(toolchain): correct lint script to consider css & scss files and refactor accordingly
  projects/oblique/src/lib/autocomplete/autocomplete.component.scss
  scripts/lint.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/file-upload): add cancel confirmation example
  projects/sds/src/app/code-examples/code-examples/file-upload/file-upload-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/file-upload/file-upload-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/file-upload/file-upload-simulate-interceptor.ts
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/cancel-upload/file-upload-cancel-upload-preview.component.html
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/cancel-upload/file-upload-cancel-upload-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/file-upload/previews/cancel-upload/file-upload-cancel-upload-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): apply material legacy migration for core styles
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write
