Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

fix(alert): add check if `role=alert` changes from `true` to `undefined` and if no role set in html
  projects/oblique/src/lib/alert/_mocks/mock-alert.component.ts
  projects/oblique/src/lib/alert/alert.component.spec.ts
  projects/oblique/src/lib/alert/alert.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): use a node script to copy and replace in files
  DEPENDENCIES.md
  gulpfile.ts
  package-lock.json
  package.json
  scripts/update-paths.ts
Due: eslint --fix --cache, prettier --write

feat(styles): add vertical spacing between adjacent `fieldset`s
  projects/oblique/src/styles/scss/core/components/_form.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(bootstrap): remove unnecessary CSS rules for `fieldset` and `legend`
  projects/oblique/src/styles/scss/themes/bootstrap/_typography.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): use a node script to add banner in distributed files
  DEPENDENCIES.md
  gulpfile.ts
  package-lock.json
  package.json
  scripts/add-banner.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): simplify `distiOS` script
  package.json
Due: prettier --write

showcase(translation): improve warnings texts in `index.html`
  src/index.html
Due: eslint --fix --cache, prettier --write

feat(translation): update warnings texts in `index.html` for new projects
  projects/oblique/schematics/index/ng-add/templates/default-index.html
Due: eslint --fix --cache, prettier --write

feat(master-layout): improve main navigation for screenreader
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
Due: eslint --fix --cache, prettier --write

showcase(spinner): the toggle button activates the spinner when deactivated
  src/app/samples/spinner-sample/spinner-sample.component.ts
Due: eslint --fix --cache, prettier --write

fix(spinner): avoid expression changes during component initialization
  projects/oblique/src/lib/spinner/spinner.component.ts
Due: eslint --fix --cache, prettier --write

refactor(spinner): move initialization code into `ngOnInit`
  projects/oblique/src/lib/spinner/spinner.component.ts
Due: eslint --fix --cache, prettier --write

showcase(material): add options to dialog to show the spinner either globally or within the dialog
  src/app/material/dialog/dialog.component.html
  src/app/material/dialog/dialog.component.ts
  src/app/material/dialog/dialog.model.ts
  src/app/material/dialog/example-dialog/example-dialog.component.html
  src/app/material/dialog/example-dialog/example-dialog.component.ts
  src/app/material/material.module.ts
Due: eslint --fix --cache, prettier --write

fix(spinner): trigger transitions only on state change
  projects/oblique/src/lib/spinner/spinner.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove "mandatory" from scope
  CONTRIBUTING.md
Due: prettier --write

showcase: remove duplicate `ObMasterLayoutModule` import
  src/app/app.module.ts
Due: eslint --fix --cache, prettier --write

feat(styles): expose Oblique colors in new colors enum
  projects/oblique/src/lib/style/colors.model.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

showcase(styles): use color enum in palette component
  src/app/styles/palette/palette.component.ts
Due: eslint --fix --cache, prettier --write

feat(notification): add accessibility text on the close button
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/notification/notification.component.html
  projects/oblique/src/lib/notification/notification.component.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(master-layout): add an interface for languages
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, prettier --write

fix(master-layout): adapt `ObMockMasterLayoutConfig` to actually represent `ObMasterLayoutConfig`
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): adapt jest thresholds to the sub-folders
  tests/jest.config.js
Due: eslint --fix --cache, prettier --write

refactor(master-layout): improve code readability for languages management
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
Due: eslint --fix --cache, prettier --write

feat(master-layout): add accessible language name for language selection buttons
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout.model.ts
  tests/jest.config.js
Due: eslint --fix --cache, prettier --write

feat(master-layout): change banner background-color based on the environment
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, prettier --write

showcase(master-layout): use current year in the footer and remove outdated info
  src/app/app.component.html
  src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

refactor(external-link): use flexbox instead of `margin` to add space between the icon and the link
  projects/oblique/src/lib/external-link/external-link.directive.spec.ts
  projects/oblique/src/lib/external-link/external-link.directive.ts
  projects/oblique/src/styles/scss/core/components/_external-link.scss
  projects/oblique/src/styles/scss/core/components/_index.scss
  projects/oblique/src/styles/scss/themes/material/_mat-icon.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(master-layout): simplify CSS rules for scrollable navigation
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component-scrollable.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(master-layout): animate the main navigation transition between scrolled and normal modes
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component-scrollable.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(master-layout): animate the main navigation's scroll button on hover
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component-scrollable.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(master-layout): remove unnecessary CSS rules for scrollable navigation
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component-scrollable.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(master-layout): vertically center the main navigation's scroll buttons
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component-scrollable.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(master-layout): use flexbox to position main navigation toggle icons
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(master-layout): remove unnecessary CSS rule for the banner
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): increase main navigation icon size
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(master-layout): simplify navigation toggles SCSS code
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(master-layout): use a SCSS variable for the `line-height`
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/styles/scss/core/_layouts.scss
  projects/oblique/src/styles/scss/core/_variables.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(icon): ensure FontAwesome icons are displayed when provided directly
  projects/oblique/src/lib/icon/ob-icon.component.html
Due: eslint --fix --cache, prettier --write

showcase: add some icons to the main navigation
  src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

feat(master-layout): add the possibility to add icons to the main navigation links
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/master-layout/master-layout.description.html
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, prettier --write
