Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/nav-tree): add `border-bottom` line to last nav element
  projects/oblique/src/lib/nav-tree/nav-tree.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/nav-tree): remove `box-shadow`
  projects/oblique/src/lib/nav-tree/nav-tree.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(service-navigation): make sure the widgets wraps on multiple lines when necessary
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.scss
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(toolchain): deploy SDS on oblique.bit.admin.ch
  Jenkinsfile
  projects/sds/manifest-prod.yml
Due: prettier --write

chore(toolchain): release version 11.0.0
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

fix(sds): ensure no heading levels are skipped
  projects/sds/src/app/code-examples/code-examples/global-events/previews/ob-outside-filter/global-events-example-ob-outside-filter-preview.component.html
  projects/sds/src/app/code-examples/code-examples/global-events/previews/properties/global-events-example-properties-preview.component.html
Due: eslint --fix --cache, prettier --write

refactor(oblique/input-clear): remove redundant `role=button` attributes
  projects/oblique/src/lib/input-clear/input-clear.directive.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/tabbed-page): directly pass `slug` to `getContentForSelectedSlug`
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): ensure hint and error are displayed right below their form element
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): release version 11.0.1
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/tabbed-page): merge `getContentForSelectedSlug` into `monitorForSlugToIdChanges`
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/text-page): map slug to selected content
  projects/sds/src/app/text-page/text-page.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/text-page): merge `getContent` into the constructor
  projects/sds/src/app/text-page/text-page.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): make sure badges are displayed above any following element
  projects/oblique/src/styles/scss/material/_mat-badge.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): keep font-size constant for stepper label
  projects/oblique/src/styles/scss/material/_mat-stepper.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sandbox/input-clear): remove redundant `role=button` attributes
  projects/sandbox/src/app/samples/input-clear/input-clear.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/tabbed-page): keep fragment in URL when navigating to a tab and then in the body
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

chore(sandbox/toolchain): ensure patch minor and major branches are deployed on `bit-oblique`
  Jenkinsfile
  projects/sandbox/manifest-patch.yml
Due: prettier --write

refactor(sds/tabbed-page): move code example loading out of `monitorForPageChanges`
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/text-page): merge `ngOnInit` into the constructor
  projects/sds/src/app/text-page/text-page.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): ensure hint and error don't move when hovered
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/tabbed-page): ensure that material components have enough time to load
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/tabbed-page): map slug to source code in CMS data
  projects/sds/src/app/cms/models/tabbed-page.model.ts
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): correct `jest-preset-angular` import in the `setupJest` file
  projects/oblique/schematics/index/ng-add/rules/tests.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/popover): enable `cdkInitialFocus`
  projects/sandbox/src/app/samples/popover/popover.component.html
  projects/sandbox/src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/tabbed-page): read `title` from `cmsData$` in the template
  projects/sds/src/app/tabbed-page/tabbed-page.component.html
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/tabbed-page): use `cmsData$` in `monitorForPageChanges`
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/text-page): use `inject` function for dependency injection
  projects/sds/src/app/text-page/text-page.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/tabbed-page): emit CMS data in a shared observable
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): reduce top padding for horizontal stepper label
  projects/oblique/src/styles/scss/material/_mat-stepper.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/popover): support for `cdkFocusInitial`
  projects/oblique/src/lib/popover/popover.directive.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/tabbed-page): rename `monitorForSlugToIdChanges` and turn it in a pure function
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/autocomplete): ensure that results are vertically aligned
  projects/oblique/src/lib/autocomplete/option-label-icon/option-label-icon.directive.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/material): remove form elements CSS code that had no effect
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(sds/toolchain): ensure minor and major branches are deployed on `bit-oblique`
  Jenkinsfile
  projects/sds/manifest-dev.yml
  projects/sds/manifest-prod.yml
Due: prettier --write

refactor(sandbox/material): remove `mat-list` from the badge example
  projects/sandbox/src/app/material/badge/badge.component.html
Due: eslint --fix --cache, prettier --write

fix(oblique): inject `window` for ssr compatibility
  projects/oblique/src/lib/external-link/external-link.directive.ts
  projects/oblique/src/lib/selectable/selectable-group.directive.spec.ts
  projects/oblique/src/lib/selectable/selectable-group.directive.ts
  projects/oblique/src/lib/sticky/sticky.component.spec.ts
  projects/oblique/src/lib/sticky/sticky.component.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/material): make the badge examples work
  projects/sandbox/src/app/material/badge/badge.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/material): ensure that badges are not overlapping text
  projects/sds/src/app/code-examples/code-examples/badge/badge-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/badge/previews/colors/badge-example-colors.component.html
  projects/sds/src/app/code-examples/code-examples/badge/previews/other-options/badge-example-other-options.component.html
Due: eslint --fix --cache, prettier --write

refactor(sds/text-page): merge `getContentForSelectedSlug` into the constructor
  projects/sds/src/app/text-page/text-page.component.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
