Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/material): remove `color` option for chips
  projects/sandbox/src/app/material/chips/chips.component.html
  projects/sandbox/src/app/material/chips/chips.component.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/material): remove illegal `selected` option for chips
  projects/sandbox/src/app/material/chips/chips.component.html
Due: eslint --fix --cache, prettier --write

fix(oblique/alert): use correct default icon
  projects/oblique/src/lib/alert/alert.component.spec.ts
  projects/oblique/src/lib/alert/alert.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/column-layout): make toggles work when column is initially disabled
  projects/oblique/src/lib/column-layout/column-layout.component.spec.ts
  projects/oblique/src/lib/column-layout/column-layout.component.ts
Due: eslint --fix --cache, prettier --write

test(oblique/column-layout): enforce testing conventions in component tests
  projects/oblique/src/lib/column-layout/column-layout.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/column-layout): sort lifecycle methods
  projects/oblique/src/lib/column-layout/column-layout.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/file-upload): add file amount limit input
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.ts
  projects/oblique/src/lib/file-upload/drop-zone/validation.service.spec.ts
  projects/oblique/src/lib/file-upload/drop-zone/validation.service.ts
  projects/oblique/src/lib/file-upload/file-upload.component.html
  projects/oblique/src/lib/file-upload/file-upload.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/file-upload): add file amount limit showcase
  projects/sandbox/src/app/samples/file-upload-sample/file-upload-sample.component.html
  projects/sandbox/src/app/samples/file-upload-sample/file-upload-sample.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/file-upload): use new file validation options object
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.ts
  projects/oblique/src/lib/file-upload/drop-zone/validation.service.spec.ts
  projects/oblique/src/lib/file-upload/drop-zone/validation.service.ts
  projects/oblique/src/lib/file-upload/file-upload.model.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/styles): remove styling for HTML stepper
  projects/oblique/src/styles/scss/core/components/_index.scss
  projects/oblique/src/styles/scss/core/components/_nav-stepper.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/styles): remove stepper example
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/styles/stepper/stepper.component.html
  projects/sandbox/src/app/styles/stepper/stepper.component.scss
  projects/sandbox/src/app/styles/stepper/stepper.component.ts
  projects/sandbox/src/app/styles/styles.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/scrolling): simplify code for back to top button
  projects/oblique/src/lib/scrolling/top-control.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/sticky): remove unused code
  projects/oblique/src/lib/sticky/sticky.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/service-navigation): use the WGL 2023 tab outline
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.scss
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/styles): add missing example for `ins` element
  projects/sandbox/src/app/styles/inline-element/inline-element.component.html
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): finalize WGL 2023 migration for hamburger button
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/styles): remove unused code
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.scss
  projects/oblique/src/styles/scss/core/mixins/_tab-outline.scss
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/scrolling): finalize WGL 2023 migration for back to top button
  projects/oblique/src/lib/scrolling/top-control.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/material): remove CSS code that has no effect
  projects/oblique/src/styles/scss/material/_mat-button.scss
  projects/oblique/src/styles/scss/material/_mat-chip.scss
  projects/oblique/src/styles/scss/material/_mat-stepper.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/tabbed-page): order the methods of `TabbedPageComponent` based on their usage
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds): allow tabbed pages to have anchor links to the active tab
  projects/sds/src/app/shared/tabs/tabs.component.ts
  projects/sds/src/app/shared/url/url.const.ts
  projects/sds/src/app/tabbed-page/tabbed-page.component.html
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
  projects/sds/src/app/tabbed-page/tabbed-pages.routes.ts
  projects/sds/src/app/tabbed-page/utils/tab-name-mapper.spec.ts
  projects/sds/src/app/tabbed-page/utils/tab-name-mapper.ts
Due: eslint --fix --cache, prettier --write

refactor(sds): order the methods of `TabsComponent` based on their usage
  projects/sds/src/app/shared/tabs/tabs.component.ts
Due: eslint --fix --cache, prettier --write

test(sds): use input `initiallyActive` instead of `active` in `TabsComponent`
  projects/sds/src/app/shared/tabs/tabs.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/styles): remove `ob-table-cicd` table option
  projects/sandbox/src/app/styles/table/table.component.html
  projects/sandbox/src/app/styles/table/table.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): remove table examples with `ob-table-cicd` class
  projects/sds/src/app/code-examples/code-examples/html-table/html-table-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/html-table/previews/styles/html-table-example-styles-preview.component.html
  projects/sds/src/app/code-examples/code-examples/html-table/previews/styles/html-table-example-styles-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/html-table/previews/styles/html-table-example-styles-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/material-table/material-table-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/material-table/previews/styles/material-table-example-styles-preview.component.html
  projects/sds/src/app/code-examples/code-examples/material-table/previews/styles/material-table-example-styles-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/material-table/previews/styles/material-table-example-styles-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/material): remove `ob-table-cicd` table option
  projects/sandbox/src/app/material/table/table.component.html
  projects/sandbox/src/app/material/table/table.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/styles): remove `ob-table-cicd` class
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/src/styles/scss/core/components/_table.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/code-examples): split up `public-scss-variables-and-mixins-code-examples`
  projects/sds/src/app/code-examples/code-example/code-example.component.ts
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/layout/public-scss-variables-and-mixins-example-layout-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/palette/public-scss-variables-and-mixins-example-palette-preview.component.html
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/palette/public-scss-variables-and-mixins-example-palette-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/palette/public-scss-variables-and-mixins-example-palette-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/public-scss-variables-and-mixins-example-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/shadow/public-scss-variables-and-mixins-example-shadow-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/typography/public-scss-variables-and-mixins-example-typography-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/variables/public-scss-variables-and-mixins-example-variables-preview.component.html
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/variables/public-scss-variables-and-mixins-example-variables-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/variables/public-scss-variables-and-mixins-example-variables-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/public-scss-variables-and-mixins-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/public-scss-variables-and-mixins-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/shadow/previews/shadow/shadow-example-shadow-preview.component.html
  projects/sds/src/app/code-examples/code-examples/shadow/previews/shadow/shadow-example-shadow-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/shadow/previews/shadow/shadow-example-shadow-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/shadow/shadow-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/shadow/shadow-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/layout/spacing-and-layout-example-layout-preview.component.html
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/layout/spacing-and-layout-example-layout-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/layout/spacing-and-layout-example-layout-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/spacing/spacing-and-layout-example-spacing-preview.component.html
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/spacing/spacing-and-layout-example-spacing-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/spacing/spacing-and-layout-example-spacing-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/spacing-and-layout-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/spacing-and-layout-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/typography/previews/typography/typography-example-typography-preview.component.html
  projects/sds/src/app/code-examples/code-examples/typography/previews/typography/typography-example-typography-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/typography/previews/typography/typography-example-typography-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/typography/typography-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/typography/typography-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): adjust selected warn slide toggle track color
  projects/oblique/src/styles/scss/material/_mat-slide-toggle.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/styles): add section styles
  projects/sds/src/styles/scss/core/_section.scss
  projects/sds/src/styles/styles.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/styles): add `$hr-color` variable and update `headings.scss` file accordingly
  projects/sds/src/styles/scss/core/_headings.scss
  projects/sds/src/styles/scss/core/_variables.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/styles): add envelope icon after `mailto:` links
  projects/sds/src/styles/scss/core/_link.scss
  projects/sds/src/styles/styles.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(toolchain): use jeap-pipelinelibrary@feature/oblique6
  Jenkinsfile
  Jenkinsfile.deploy
Due: none

fix(oblique/styles): finalize WGL 2023 migration for tables
  projects/oblique/src/styles/scss/core/components/_table.scss
  projects/oblique/src/styles/scss/core/mixins/_table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/material): ensure action column width is stable
  projects/sandbox/src/app/material/table/table.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/styles): simplify code for table
  projects/oblique/src/styles/scss/core/components/_table.scss
  projects/oblique/src/styles/scss/core/mixins/_table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/code-examples): remove `ob-body2-line-height-letter-spacing` mixin
  projects/sds/src/app/code-examples/code-examples/typography/previews/typography/typography-example-typography-preview.component.html
  projects/sds/src/app/code-examples/code-examples/typography/previews/typography/typography-example-typography-preview.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/styles): ensure table styles for API don't affect Oblique tables
  projects/sds/src/styles/scss/core/_table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): finalize WGL 2023 migration for tables
  projects/oblique/src/styles/scss/material/_mat-table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/styles): remove unnecessary mixin for typography
  projects/oblique/src/styles/scss/core/mixins/_typography.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
