Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/feedback): automatically fill `Documentation URL`
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.spec.ts
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds): add fallback with a dialog to collector
  projects/sds/src/app/shared/collector/collector.service.spec.ts
  projects/sds/src/app/shared/collector/collector.service.ts
Due: eslint --fix --cache, prettier --write

feat(sds/feedback): add fallback to sending a mail when the collector doesn't work
  projects/sds/src/app/feedback/feedback-button/feedback-button.component.ts
  projects/sds/src/app/feedback/feedback-form/feedback-form.component.html
  projects/sds/src/app/feedback/feedback-form/feedback-form.component.scss
  projects/sds/src/app/feedback/feedback-form/feedback-form.component.spec.ts
  projects/sds/src/app/feedback/feedback-form/feedback-form.component.ts
  projects/sds/src/app/feedback/feedback-form/feedback-form.model.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/code-examples): add disabled value to disabled checkbox
  projects/sds/src/app/code-examples/code-examples/form/previews/states/form-example-states-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): multiselect examples
  projects/sds/src/app/code-examples/code-examples/form/form-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/horizontal/form-example-horizontal-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/sizes/form-example-sizes-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/states/form-example-states-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): add types to labels
  projects/sds/src/app/code-examples/code-examples/form/previews/sizes/form-example-sizes-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/states/form-example-states-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/icon): add examples
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/icons/previews/color/icons-example-color-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/color/icons-example-color-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/icons/previews/color/icons-example-color-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/icons/previews/default/icons-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/default/icons-example-default-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/icons/previews/font-size/icons-example-font-size-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/font-size/icons-example-font-size-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/icons/previews/font-size/icons-example-font-size-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.ts
  projects/sds/src/assets/i18n/en.json
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox): remove `ApiComponent` & `DescriptionComponent`
  projects/sandbox/src/app/api/api-element.component.html
  projects/sandbox/src/app/api/api-element.component.spec.ts
  projects/sandbox/src/app/api/api-element.component.ts
  projects/sandbox/src/app/api/api.component.html
  projects/sandbox/src/app/api/api.component.scss
  projects/sandbox/src/app/api/api.component.spec.ts
  projects/sandbox/src/app/api/api.component.ts
  projects/sandbox/src/app/api/api.model.ts
  projects/sandbox/src/app/common/shared.module.ts
  projects/sandbox/src/app/description/description.component.html
  projects/sandbox/src/app/description/description.component.spec.ts
  projects/sandbox/src/app/description/description.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/toolchain): remove `update-error-messages` script
  projects/oblique/package.json
  projects/oblique/scripts/update-error-messages.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox): remove api & description sections
  projects/sandbox/src/app/material/icon/icon.sample.component.html
  projects/sandbox/src/app/samples/breadcrumb/breadcrumb.component.html
  projects/sandbox/src/app/samples/collapse/collapse-sample.component.html
  projects/sandbox/src/app/samples/error-messages-sample/error-messages-sample.component.html
  projects/sandbox/src/app/samples/external-link/external-link.component.html
  projects/sandbox/src/app/samples/global-events/global-events-sample.component.html
  projects/sandbox/src/app/samples/http-interceptor/http-interceptor-sample.component.html
  projects/sandbox/src/app/samples/input-clear/input-clear.component.html
  projects/sandbox/src/app/samples/language/language-sample.component.html
  projects/sandbox/src/app/samples/multi-translate-loader/multi-tranlsate-loader-sample.component.html
  projects/sandbox/src/app/samples/number-format/number-format-sample.component.html
  projects/sandbox/src/app/samples/popover/popover.component.html
  projects/sandbox/src/app/samples/schema-validation/schema-validation-sample.component.html
  projects/sandbox/src/app/samples/selectable/selectable-sample.component.html
  projects/sandbox/src/app/samples/service-navigation/service-navigation-sample.component.html
  projects/sandbox/src/app/samples/unknown-route/unknown-route-sample.component.html
  projects/sandbox/src/app/samples/unsaved-changes/unsaved-changes-sample.component.html
Due: eslint --fix --cache, prettier --write

feat(sandbox): remove `SharedModule`
  projects/sandbox/src/app/common/shared.module.ts
  projects/sandbox/src/app/material/material.module.ts
  projects/sandbox/src/app/samples/samples.module.ts
  projects/sandbox/src/app/styles/styles.module.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): reserve space for the error icon in form fields
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/service-navigation): remove the possibility to display languages as button
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.html
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.scss
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.spec.ts
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): remove the possibility to display languages as button
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout.model.ts
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): extend update to V11 to remove `transform` mock in jest configuration
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): menu icon size proportional to font size
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/button): vertical centering of button icon
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/feedback): add a 'close' button to the feedback form
  projects/sds/src/app/feedback/feedback-form/feedback-form.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/toolchain): update CSP to allow scripts from 'jira'
  projects/sds/src/nginx/security_headers.conf
Due: none

fix(sds/feedback): fix error messages not showing up when input is left blank
  projects/sds/src/app/feedback/feedback-form/feedback-form.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): ensure `ob-table-sm` and `ob-table-lg` work again
  projects/oblique/src/styles/scss/core/components/_table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): ensure focused tab uses the correct color
  projects/oblique/src/styles/scss/material/_mat-tab.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/icon): make sure only the actual icon is enlarged
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/styles): deprecate `frutiger.css` & `roboto.css`
  projects/oblique/src/styles/css/frutiger.css
  projects/oblique/src/styles/css/roboto.css
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/service-navigation): let the schematics map header widget inputs & outputs
  projects/oblique/schematics/index/service-navigation/index.ts
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/service-navigation): make sure the schematics use `.` in regex correctly
  projects/oblique/schematics/index/service-navigation/index.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): keep injected service name camelCased and remove `ob` prefix
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/service-navigation): let the schematics remove the `header-widget-mobile` in 1 go
  projects/oblique/schematics/index/service-navigation/index.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): avoid double slash in file path
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): make sure the schematics runs for all projects
  projects/oblique/schematics/index/service-navigation/index.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/service-navigation): let the schematics remove the `header-widget` in 1 go
  projects/oblique/schematics/index/service-navigation/index.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): remove empty `nav` when no navigation is provided
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): add expansion-panel examples
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/expansion-panel/expansion-panel-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/expansion-panel/expansion-panel-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/expansion-panel/previews/basic/expansion-panel-example-basic-preview.component.html
  projects/sds/src/app/code-examples/code-examples/expansion-panel/previews/basic/expansion-panel-example-basic-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/expansion-panel/previews/other-options/expansion-panel-example-other-options-preview.component.html
  projects/sds/src/app/code-examples/code-examples/expansion-panel/previews/other-options/expansion-panel-example-other-options-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/expansion-panel/previews/toggle/expansion-panel-example-toggle-preview.component.html
  projects/sds/src/app/code-examples/code-examples/expansion-panel/previews/toggle/expansion-panel-example-toggle-preview.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): ensure `popupService` is properly replaced by `window`
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 11.0.0-RC.1
  CHANGELOG.md
  Jenkinsfile
  package-lock.json
  package.json
  projects/oblique/src/lib/version.ts
  projects/stylesBuilder/oblique-components.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): remove publish instructions for 11.0.0-rc.1
  Jenkinsfile
Due: none

feat(sds/code-examples): add typography examples
  projects/sds/src/app/code-examples/code-examples/typography/previews/block-elements/typography-example-block-elements-preview.component.html
  projects/sds/src/app/code-examples/code-examples/typography/previews/block-elements/typography-example-block-elements-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/typography/previews/block-elements/typography-example-block-elements-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/typography/previews/headings/typography-example-headings-preview.component.html
  projects/sds/src/app/code-examples/code-examples/typography/previews/headings/typography-example-headings-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/typography/previews/inline-elements/typography-example-inline-elements-preview.component.html
  projects/sds/src/app/code-examples/code-examples/typography/previews/inline-elements/typography-example-inline-elements-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/typography/previews/inline-elements/typography-example-inline-elements-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/typography/previews/mixins/typography-example-mixins-preview.component.html
  projects/sds/src/app/code-examples/code-examples/typography/previews/mixins/typography-example-mixins-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/typography/previews/mixins/typography-example-mixins-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/typography/previews/typography/typography-example-typography-preview.component.html
  projects/sds/src/app/code-examples/code-examples/typography/previews/typography/typography-example-typography-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/typography/typography-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/typography/typography-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/code-examples): add collapse examples
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/collapse/collapse-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/collapse/collapse-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/collapse/previews/animation-duration/collapse-example-animation-duration-preview.component.html
  projects/sds/src/app/code-examples/code-examples/collapse/previews/animation-duration/collapse-example-animation-duration-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/collapse/previews/default/collapse-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/collapse/previews/default/collapse-example-default-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/collapse/previews/icon-position/collapse-example-icon-position-preview.component.html
  projects/sds/src/app/code-examples/code-examples/collapse/previews/icon-position/collapse-example-icon-position-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/collapse/previews/state/collapse-example-state-preview.component.html
  projects/sds/src/app/code-examples/code-examples/collapse/previews/state/collapse-example-state-preview.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): use the correct hover and focus color, and icon
  projects/oblique/src/styles/scss/material/_mat-expansion-panel.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
