Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): replace legacy mat form modules & implement their redesign
  projects/oblique/src/lib/autocomplete/_harness/autocomplete.harness.ts
  projects/oblique/src/lib/autocomplete/autocomplete.component.html
  projects/oblique/src/lib/autocomplete/autocomplete.component.scss
  projects/oblique/src/lib/autocomplete/autocomplete.component.spec.ts
  projects/oblique/src/lib/autocomplete/autocomplete.module.ts
  projects/oblique/src/lib/form-field/select.directive.spec.ts
  projects/oblique/src/lib/form-field/select.directive.ts
  projects/oblique/src/lib/input-clear/input-clear.directive.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/styles/scss/core/components/_form.scss
  projects/oblique/src/styles/scss/material/_mat-autocomplete.scss
  projects/oblique/src/styles/scss/material/_mat-button.scss
  projects/oblique/src/styles/scss/material/_mat-checkbox-radio.scss
  projects/oblique/src/styles/scss/material/_mat-dialog.scss
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
  projects/oblique/src/styles/scss/material/_mat-select.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-checkbox-radio.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-form-field.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-panel.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): remove unnecessary button focus style
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): adjust scopes to allow `material` scope with `sds`
  CONTRIBUTING.md
Due: prettier --write

refactor(sds/component-pages): add a comment to explain why CodeExamples is empty
  projects/sds/src/app/component-pages/code-examples.model.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): correction for nginx configuration
  angular.json
  manifest-dev.yml
  projects/sds/src/nginx/Staticfile
Due: prettier --write

feat(sandbox/material): add checkbox module
  projects/sandbox/src/app/material/material.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/file-upload): adjust file upload table classes
  projects/oblique/src/lib/file-upload/file-info/file-info.component.html
Due: eslint --fix --cache, prettier --write

refactor(toolchain): simplify `adapt-package-json.ts` and `adapt-schematics-package-json.ts`
  projects/oblique/scripts/post-dist/steps/adapt-package-json.ts
  projects/oblique/scripts/post-dist/steps/adapt-schematics-package-json.ts
  projects/oblique/scripts/post-dist/steps/package-json.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): add style for example components
  projects/sds/src/styles/examples.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/component-pages): move all `component-pages.component` files into an eponymous folder
  projects/sds/src/app/component-pages/component-pages-routing.module.ts
  projects/sds/src/app/component-pages/component-pages.module.ts
  projects/sds/src/app/component-pages/component-pages/component-pages.component.html
  projects/sds/src/app/component-pages/component-pages/component-pages.component.scss
  projects/sds/src/app/component-pages/component-pages/component-pages.component.spec.ts
  projects/sds/src/app/component-pages/component-pages/component-pages.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/component-pages): move the `idParts` info to `previews` property
  projects/sds/src/app/component-pages/code-examples.model.ts
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

fix:(toolchain): change the path of the assets from relative to absolute in angular.json
  angular.json
Due: prettier --write

refactor(sds/alert): improve the structure of the code examples
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/alert/previews/info/alert-example-info-preview.component.html
  projects/sds/src/app/component-pages/code-examples/alert/previews/info/alert-example-info-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/alert/previews/success/alert-example-success-preview.component.html
  projects/sds/src/app/component-pages/code-examples/alert/previews/success/alert-example-success-preview.component.ts
  projects/sds/src/app/component-pages/component-pages.module.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/component-pages): allow free number of source file of each type in the code examples
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/code-example/code-example.component.html
  projects/sds/src/app/component-pages/code-examples/code-example/code-example.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/code-example/code-example.component.ts
  projects/sds/src/app/component-pages/code-examples/code-example/code-example.model.ts
  projects/sds/src/app/component-pages/code-examples/code-example/source-code.model.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): move the `snippets` info to the `previews` property
  projects/sds/src/app/component-pages/code-examples.model.ts
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/material): adjust table hover & checked class application
  projects/sandbox/src/app/material/button/button.component.html
  projects/sandbox/src/app/material/table/table.component.html
  projects/sandbox/src/app/material/table/table.component.ts
  projects/sandbox/src/app/samples/external-link/external-link.component.html
  projects/sandbox/src/app/samples/form/form.component.html
  projects/sandbox/src/app/styles/grid/grid.component.html
  projects/sandbox/src/app/styles/table/table.component.html
Due: eslint --fix --cache, prettier --write

refactor(toolchain): improve `hook.commit-rules.ts` code quality
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): let the previews render a component instead of a template
  projects/sds/src/app/component-pages/code-example/code-example.component.html
  projects/sds/src/app/component-pages/code-example/code-example.component.spec.ts
  projects/sds/src/app/component-pages/code-example/code-example.component.ts
  projects/sds/src/app/component-pages/code-examples.model.ts
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/alert/previews/info/alert-example-info-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/alert/previews/success/alert-example-success-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/primary-link-frown/button-example-primary-link-frown.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/primary-login-disabled/button-example-primary-login-disabled.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-link-no-icon/button-example-secondary-link-no-icon.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-wheelchair/button-example-secondary-wheelchair.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-link-no-icon-disabled/button-example-tertiary-link-no-icon-disabled.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-repeat-no-text/button-example-tertiary-repeat-no-text.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): add `ObCheckboxDirective` & `ObCheckboxModule`
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/checkbox/checkbox.directive.spec.ts
  projects/oblique/src/lib/checkbox/checkbox.directive.ts
  projects/oblique/src/lib/checkbox/checkbox.module.ts
  projects/oblique/src/lib/oblique.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): feat(oblique/material): redesign of table to match the WGL 2023
  projects/oblique/src/styles/scss/core/components/_table.scss
  projects/oblique/src/styles/scss/core/mixins/_table.scss
  projects/oblique/src/styles/scss/core/mixins/_typography.scss
  projects/oblique/src/styles/scss/material/_mat-table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/spinner): remove unnecessary default values in some private functions
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/spinner/spinner.service.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): adapt `additional scopes` usage in `CONTRIBUTING.md`
  CONTRIBUTING.md
Due: prettier --write

refactor(sds/component-pages): add `scss` for responsive layout in code previews
  projects/sds/src/app/component-pages/code-example-flex-layout.scss
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-color-warn/badge-example-color-warn.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-default/badge-example-default.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-default/badge-example-default.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-overlap-false/badge-example-overlap-false.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-position-below-before/badge-example-position-below-before.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/shared/badge-code-examples.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/spinner): use `inject` for dependency injection
  projects/oblique/src/lib/spinner/spinner.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/schematics): add code-example and preview generation
  .eslintignore
  .gitignore
  .prettierignore
  projects/sds/.eslintrc.yml
  projects/sds/jest.config.js
  projects/sds/package.json
  projects/sds/schematics/README.md
  projects/sds/schematics/collection.json
  projects/sds/schematics/package.json
  projects/sds/schematics/src/add-code-example/add-code-example.model.ts
  projects/sds/schematics/src/add-code-example/add-code-example.utils.ts
  projects/sds/schematics/src/add-code-example/index.ts
  projects/sds/schematics/src/add-code-example/schema.json
  projects/sds/schematics/src/add-code-example/templates/__name@dasherize__-code-examples.component.spec.ts
  projects/sds/schematics/src/add-code-example/templates/__name@dasherize__-code-examples.component.ts
  projects/sds/schematics/src/add-preview/add-preview.model.ts
  projects/sds/schematics/src/add-preview/add-preview.utils.ts
  projects/sds/schematics/src/add-preview/index.ts
  projects/sds/schematics/src/add-preview/schema.json
  projects/sds/schematics/src/add-preview/templates/__codeExample@dasherize__-example-__preview@dasherize__-preview.component.html
  projects/sds/schematics/src/add-preview/templates/__codeExample@dasherize__-example-__preview@dasherize__-preview.component.ts
  projects/sds/schematics/src/host.utils.ts
  projects/sds/schematics/src/nodes.utils.ts
  projects/sds/schematics/src/sds.utils.ts
  projects/sds/schematics/src/workspace.utils.ts
  projects/sds/schematics/tsconfig.schematics.json
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): add `languageSelectorStyle` with `dropdown` and `tabs` options
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/master-layout/master-layout.model.ts
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(sds/alert): add TS files to the previews
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): redesign of the chips to match the WGL 2023
  projects/oblique/src/styles/scss/material/_mat-chip.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-chip.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/master-layout): adjust custom header control ob buttons from `secondary` to `tertiary`
  projects/sandbox/src/app/app.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/material): add TS files to the card's previews
  projects/sds/src/app/component-pages/code-examples/card/card-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): adjust `mat-select` panel styles for `.ob-language-dropdown`
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.scss
  projects/oblique/src/styles/scss/material/_mat-select.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(toolchain): correctly extract lists in `hook.commit-rules.ts`
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache, prettier --write

feat(sds/material): reorder snippets of the datepicker's previews
  projects/sds/src/app/component-pages/code-examples/datepicker/datepicker-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/autocomplete): add autocomplete code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/autocomplete/autocomplete-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/autocomplete/autocomplete-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/autocomplete/previews/default/autocomplete-example-default.component.html
  projects/sds/src/app/component-pages/code-examples/autocomplete/previews/default/autocomplete-example-default.component.ts
  projects/sds/src/app/component-pages/code-examples/autocomplete/previews/filter-regex-pattern/autocomplete-example-filter-regex-pattern.component.html
  projects/sds/src/app/component-pages/code-examples/autocomplete/previews/filter-regex-pattern/autocomplete-example-filter-regex-pattern.component.ts
  projects/sds/src/app/component-pages/code-examples/autocomplete/previews/icon-position-start/autocomplete-example-icon-position-start.component.html
  projects/sds/src/app/component-pages/code-examples/autocomplete/previews/icon-position-start/autocomplete-example-icon-position-start.component.ts
  projects/sds/src/app/component-pages/code-examples/autocomplete/previews/options-group/autocomplete-example-options-group.component.html
  projects/sds/src/app/component-pages/code-examples/autocomplete/previews/options-group/autocomplete-example-options-group.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): correct mobile sub menu when scrolling down
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): add option to move links to right side
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/navigation-link.model.ts
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/material): improve forms examples vertical alignment
  projects/sandbox/src/app/samples/form/form.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/component-pages): `slide-toggle` tests cleanup
  projects/sds/src/app/component-pages/code-examples/slide-toggle/slide-toggle-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): add previews for tooltip
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/tooltip/previews/basic/tooltip-example-basic-preview.component.html
  projects/sds/src/app/component-pages/code-examples/tooltip/previews/basic/tooltip-example-basic-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/tooltip/previews/position/tooltip-example-position-preview.component.html
  projects/sds/src/app/component-pages/code-examples/tooltip/previews/position/tooltip-example-position-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/tooltip/previews/position/tooltip-example-position-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/tooltip/tooltip-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/toolchain): ensure newly generated components, directives and pipes are standalone
  angular.json
Due: prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
