Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): add `update-error-messages` script to oblique
  package.json
  projects/oblique/package.json
  projects/oblique/scripts/pre-build/run-pre-build-steps.ts
  projects/oblique/scripts/update-error-messages.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): move `build` scripts to sandbox
  package.json
  projects/sandbox/package.json
Due: prettier --write

chore(toolchain): simplify `lint` scripts
  package.json
  scripts/lint.ts
  scripts/lint/run-format-steps.ts
  scripts/lint/run-lint-steps.ts
  scripts/lint/steps/eslint.ts
  scripts/lint/steps/prettier.ts
  scripts/lint/steps/stylelint.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): move `release` scripts to oblique
  package.json
  projects/oblique/package.json
  projects/oblique/scripts/release/release.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): ensure error messages and icons are updated before a release
  projects/oblique/package.json
Due: prettier --write

chore(toolchain): move `update-dependency` script to the root
  package.json
  projects/oblique/scripts/release/release-commit.ts
  scripts/commit.ts
  scripts/update-dependencies.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): move `dist` scripts to oblique
  package.json
  projects/oblique/package.json
  projects/oblique/scripts/post-dist/steps/adapt-package-json.ts
  projects/oblique/scripts/post-dist/steps/add-banner.ts
  projects/oblique/scripts/post-dist/steps/copy-dist-files.ts
  projects/oblique/scripts/post-dist/steps/distribute-ob-features.ts
  projects/oblique/scripts/post-dist/steps/rename-distribution.ts
  projects/oblique/scripts/post-dist/steps/update-paths.ts
  projects/oblique/scripts/pre-dist/generate-component-styles.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): update path in `manifest-dev.yml`
  manifest-dev.yml
Due: prettier --write

feat(oblique/material): material table legacy replacements
  projects/oblique/src/lib/checkbox/checkbox.directive.spec.ts
  projects/oblique/src/lib/checkbox/checkbox.directive.ts
  projects/oblique/src/lib/error-messages/error-messages.directive.ts
  projects/oblique/src/lib/file-upload/_mocks/mock-file-info.component.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.ts
  projects/oblique/src/lib/file-upload/file-upload.module.ts
  projects/oblique/src/styles/scss/oblique-material.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(material): alphabetize samples nav sub menu
  projects/sandbox/src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): use `oblique4` pipeline and refactor accordingly
  Jenkinsfile
  projects/oblique/package.json
Due: prettier --write

refactor(sds/component-pages): keep only code examples in `code-examples` folder
  projects/sds/src/app/component-pages/code-example/code-example.component.html
  projects/sds/src/app/component-pages/code-example/code-example.component.scss
  projects/sds/src/app/component-pages/code-example/code-example.component.spec.ts
  projects/sds/src/app/component-pages/code-example/code-example.component.ts
  projects/sds/src/app/component-pages/code-example/highlighted-code/highlighted-code.component.html
  projects/sds/src/app/component-pages/code-example/highlighted-code/highlighted-code.component.scss
  projects/sds/src/app/component-pages/code-example/highlighted-code/highlighted-code.component.spec.ts
  projects/sds/src/app/component-pages/code-example/highlighted-code/highlighted-code.component.ts
  projects/sds/src/app/component-pages/code-example/source-code.model.ts
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples.model.ts
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/banner/banner-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
  projects/sds/src/app/component-pages/component-pages.module.ts
  projects/sds/src/app/component-pages/component-pages/component-pages.component.ts
  projects/sds/src/app/component-pages/no-match/no-code-examples-match.component.html
  projects/sds/src/app/component-pages/no-match/no-code-examples-match.component.spec.ts
  projects/sds/src/app/component-pages/no-match/no-code-examples-match.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/component-pages): add a title to button previews
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): add workspaces description and a list of commands
  CONTRIBUTING.md
Due: prettier --write

refactor(sandbox/master-layout): use shortened SCSS imports
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase(material): add readonly samples to form
  projects/sandbox/src/app/samples/form/form.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): add possibility to add a title to the previews
  projects/sds/src/app/component-pages/code-example/code-example.component.html
  projects/sds/src/app/component-pages/code-example/code-example.component.scss
  projects/sds/src/app/component-pages/code-example/code-example.component.spec.ts
  projects/sds/src/app/component-pages/code-example/code-example.component.ts
  projects/sds/src/app/component-pages/code-examples.component.html
  projects/sds/src/app/component-pages/code-examples.model.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/component-pages): use the same template for all `CodeExamples` components
  projects/sds/src/app/component-pages/code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): loop on each preview instead of duplicating the code
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): add more information context for mail template in requests
  README.md
Due: prettier --write

feat(sds/button): add code examples
  projects/sds/src/app/app.module.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/primary-link-frown/button-example-primary-link-frown.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/primary-link-frown/button-example-primary-link-frown.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/primary-login-disabled/button-example-primary-login-disabled.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/primary-login-disabled/button-example-primary-login-disabled.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-link-no-icon/button-example-secondary-link-no-icon.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-link-no-icon/button-example-secondary-link-no-icon.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-wheelchair/button-example-secondary-wheelchair.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-wheelchair/button-example-secondary-wheelchair.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-link-no-icon-disabled/button-example-tertiary-link-no-icon-disabled.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-link-no-icon-disabled/button-example-tertiary-link-no-icon-disabled.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-repeat-no-text/button-example-tertiary-repeat-no-text.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-repeat-no-text/button-example-tertiary-repeat-no-text.component.ts
  projects/sds/src/app/component-pages/code-examples/code-examples.mapper.ts
  projects/sds/src/app/component-pages/component-pages.module.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): simplify `hook.commit-rules.ts`
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): add a title to badge previews
  projects/sds/src/app/component-pages/code-examples/badge/badge-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): ensure backdrop works with sticky layout
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(toolchain): remove `schematics/package-lock.json`
  projects/oblique/schematics/package-lock.json
  projects/oblique/scripts/release/release.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/component-pages): use a function to `require` the snippet
  projects/sds/src/app/component-pages/code-examples.model.ts
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/banner/banner-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
  projects/sds/src/app/component-pages/no-match/no-code-examples-match.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/component-pages): ensure a content is shown when no preview is available
  projects/sds/src/app/component-pages/tabs/tab/tab.component.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): update root path in Staticfile
  projects/sds/src/nginx/Staticfile
Due: none

feat(sds/material): add badge code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/badge/badge-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/badge/badge-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-color-warn/badge-example-color-warn.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-color-warn/badge-example-color-warn.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-default/badge-example-default.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-default/badge-example-default.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-overlap-false/badge-example-overlap-false.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-overlap-false/badge-example-overlap-false.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-position-below-before/badge-example-position-below-before.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-position-below-before/badge-example-position-below-before.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/shared/badge-code-examples.component.scss
  projects/sds/src/app/component-pages/component-pages.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): adjust badge to match new design
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(toolchain): add package name as scope prefix for commit message
  CONTRIBUTING.md
  projects/oblique/scripts/release/release.ts
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): adapt `schematics/package.json` during publish instead of release
  projects/oblique/schematics/package.json
  projects/oblique/scripts/post-dist/run-post-dist-steps.ts
  projects/oblique/scripts/post-dist/steps/adapt-schematics-package-json.ts
  projects/oblique/scripts/release/release.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox/material): legacy module replacements
  projects/sandbox/src/app/material/chips/chips.component.ts
  projects/sandbox/src/app/material/material.module.ts
  projects/sandbox/src/app/material/table/table-manager.ts
  projects/sandbox/src/app/material/table/table.component.ts
  projects/sandbox/src/app/samples/collapse/collapse-sample.component.spec.ts
  projects/sandbox/src/app/samples/samples.module.ts
  projects/sandbox/src/app/styles/styles.module.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): move `publishConfig` into oblique
  package.json
  projects/oblique/package.json
  projects/oblique/scripts/post-dist/steps/adapt-package-json.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): add a title to alert previews
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

chore: update contributing for sandbox package
  CONTRIBUTING.md
Due: prettier --write

refactor(sds/component-pages): remove unnecessary CSS code
  projects/sds/src/app/component-pages/code-example/code-example.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/master-layout): adapt to the removal of Angular Material legacy components
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase(material): replace form related legacy modules & alphabetize material module imports
  projects/sandbox/src/app/app.module.ts
  projects/sandbox/src/app/material/material.module.ts
  projects/sandbox/src/app/samples/error-messages-sample/error-messages-sample.component.spec.ts
  projects/sandbox/src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
