Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): release version 12.0.2
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/master-layout): use immutable methods to alter array of links
  projects/sandbox/src/app/samples/master-layout/dynamic-navigation.service.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): check for high contrast mode limited to init
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/oblique/package.json
Due: prettier --write

chore(toolchain): release version 12.0.3
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): provide `provideHttpClient` instead of deprecated `HttpClientModule`
  projects/oblique/schematics/index/ng-add/rules/locales.ts
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): add missing shadow to mat-menu
  projects/oblique/src/styles/scss/material/_mat-menu.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/service-navigation): change `flex` to `inline-flex` for authentication widget
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(service-navigation/web-component): add missing default values
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): add missing theme for pseudo-checkboxes
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/material): add stretchTabs example for tabs
  projects/sds/src/app/code-examples/code-examples/tabs/previews/stretched/tabs-example-stretched-preview.component.html
  projects/sds/src/app/code-examples/code-examples/tabs/previews/stretched/tabs-example-stretched-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/tabs/tabs-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/tabs/tabs-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): deactivate stretchTabs per default
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
Due: eslint --fix --cache, prettier --write

fix(service-navigation/web-component): add missing styles
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.scss
  projects/service-navigation-web-component/src/app/service-navigation-web-component.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): release version 12.0.4
  package-lock.json
  package.json
  projects/cli/package.json
  projects/cli/sonar-project.properties
  projects/design-system/package.json
  projects/design-system/sonar-project.properties
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/sonar-project.properties
  projects/oblique/src/lib/version.ts
  projects/sandbox-ssr/package.json
  projects/sandbox-ssr/sonar-project.properties
  projects/sandbox/package.json
  projects/sandbox/sonar-project.properties
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/sonar-project.properties
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/sonar-project.properties
  projects/service-navigation-web-component/src/app/version.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/oblique/package.json
  projects/sandbox-ssr/package.json
  projects/sds/.stylelintrc.yml
  projects/service-navigation-web-component/package.json
Due: prettier --write

feat(oblique/schematics): increase `maximumError` budget to 1.8mb to avoid error on build
  projects/oblique/schematics/index/ng-add/rules/oblique.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): remove Angular version check for 'allowedCommonJsDependencies' config
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/schematics): add 'allowedCommonJsDependencies' config to avoid ajv warnings on build
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): harmonize package names
  package-lock.json
  projects/sandbox-ssr/package.json
  projects/sandbox/package.json
  projects/sds/package.json
  projects/sds/schematics/package.json
Due: prettier --write

fix(oblique/input-clear): ensure the control is visible when the field is in error
  projects/oblique/src/styles/scss/core/components/_text-control.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): add padding before an input suffix
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/input-clear): demonstrate clear button with error icon and suffix
  projects/sandbox/src/app/samples/input-clear/input-clear.component.html
  projects/sandbox/src/app/samples/input-clear/input-clear.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-page): add new component-page component
  projects/sds/CONTRIBUTING.md
  projects/sds/src/app/component-page/component-page.component.html
  projects/sds/src/app/component-page/component-page.component.scss
  projects/sds/src/app/component-page/component-page.component.spec.ts
  projects/sds/src/app/component-page/component-page.component.ts
  projects/sds/src/app/component-page/component-page.mapper.ts
  projects/sds/src/app/component-page/component-page.ts
  projects/sds/src/app/component-page/component-pages.routes.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/component-page): add newsletter
  projects/sds/src/app.routes.ts
  projects/sds/src/app/component-page/component-page.mapper.ts
  projects/sds/src/app/component-page/component-pages/newsletter/newsletter-token.model.ts
  projects/sds/src/app/component-page/component-pages/newsletter/newsletter.component.html
  projects/sds/src/app/component-page/component-pages/newsletter/newsletter.component.scss
  projects/sds/src/app/component-page/component-pages/newsletter/newsletter.component.spec.ts
  projects/sds/src/app/component-page/component-pages/newsletter/newsletter.component.ts
  projects/sds/src/app/component-page/component-pages/newsletter/newsletter.service.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(cli/toolchain): disable `no-magic-number` and `no-unsafe-assignment` rules for tests
  projects/cli/.eslintrc.yml
Due: prettier --write

feat(cli/toolchain): add `no-magic-numbers` rule
  projects/cli/.eslintrc.yml
Due: prettier --write

refactor(cli/utils): encapsulate version and help options under 'ob' key in `optionDescriptions`
  projects/cli/src/index.ts
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

feat(cli/toolchain): add `utils` scope
  projects/cli/CONTRIBUTING.md
Due: prettier --write

refactor(cli/utils): show information about `--help` option after error
  projects/cli/src/index.ts
Due: eslint --fix --cache, prettier --write

refactor(cli/utils): enhance help text with usage examples and spacing adjustments
  projects/cli/src/index.ts
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

fix(cli/utils): correct example command output formatting
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

feat(cli/toolchain): add `new` scope
  projects/cli/CONTRIBUTING.md
Due: prettier --write

refactor(cli/utils): simplify `startObCommand` signature
  projects/cli/src/index.spec.ts
  projects/cli/src/index.ts
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
Due: eslint --fix --cache, prettier --write

feat(cli/new): add `ob new` command
  projects/cli/src/index.spec.ts
  projects/cli/src/index.ts
  projects/cli/src/new/ob-new.model.ts
  projects/cli/src/new/ob-new.spec.ts
  projects/cli/src/new/ob-new.ts
  projects/cli/src/new/schema.json
  projects/cli/src/utils/cli-utils.spec.ts
  projects/cli/src/utils/cli-utils.ts
  projects/cli/src/utils/ob-cli.model.ts
  projects/cli/src/utils/ob-configure-command.spec.ts
  projects/cli/src/utils/ob-configure-command.ts
Due: eslint --fix --cache, prettier --write

feat(cli/toolchain): add `link` command
  projects/cli/README.md
  projects/cli/package.json
Due: prettier --write

fix(oblique/material): remove margin-top from all chip variants
  projects/oblique/src/styles/scss/material/_mat-chip.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): ensure chips autocomplete is the same height as a form field
  projects/oblique/src/styles/scss/material/_mat-chip.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/material): add missing label to chips autocomplete example
  projects/sds/src/app/code-examples/code-examples/chips/previews/autocomplete/chips-example-autocomplete-preview.component.html
Due: eslint --fix --cache, prettier --write

fix(sandbox/material): add missing label to chips autocomplete example
  projects/sandbox/src/app/material/chips/chips.component.html
Due: eslint --fix --cache, prettier --write

fix(oblique/material): don't mix CSS pseudo-class with `not`
  projects/oblique/src/styles/scss/material/_mat-list.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
