Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

refactor(toolchain): create a shared `executeCommand` function and refactor accordingly
  projects/oblique/scripts/lint.ts
  projects/oblique/scripts/npm-deprecate.ts
  projects/oblique/scripts/post-dist/steps/add-banner.ts
  projects/oblique/scripts/post-dist/steps/distribute-ob-features.ts
  projects/oblique/scripts/release/changelog.ts
  projects/oblique/scripts/release/release.ts
  projects/oblique/scripts/update-icons.ts
  projects/sandbox/scripts/lint.ts
  projects/sds/scripts/lint.ts
  projects/service-navigation-web-component/scripts/lint.ts
  projects/service-navigation-web-component/scripts/post-dist/add-banner.ts
  scripts/husky/dependency-update.ts
  scripts/lint.ts
  scripts/shared/utils.ts
  scripts/update-dependencies.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): use global script to copy files and refactor accordingly
  projects/oblique/scripts/post-dist/steps/copy-dist-files.ts
  projects/sds/scripts/post-dist/copy-nginx.ts
  scripts/shared/copy-files.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/toolchain): update `package.json` version on release
  projects/oblique/scripts/release.ts
  scripts/shared/utils.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): execute releases from the root package.json
  package.json
  projects/oblique/scripts/release.ts
  scripts/release.ts
  scripts/shared/changelog.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): skip empty version in CHANGELOG generation
  scripts/shared/changelog.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/toolchain): let Oblique have its own CHANGELOG
  CHANGELOG.md
  projects/oblique/CHANGELOG.md
  projects/oblique/scripts/post-dist.ts
  scripts/shared/changelog.ts
  scripts/shared/copy-files.ts
Due: eslint --fix --cache, prettier --write

feat(sds/toolchain): generate `CHANGELOG.md`
  CHANGELOG.md
  projects/sds/CHANGELOG.md
Due: prettier --write

feat(sandbox/toolchain): generate `CHANGELOG.md`
  CHANGELOG.md
  projects/sandbox/CHANGELOG.md
Due: prettier --write

feat(sandbox/toolchain): add a `release` script
  projects/sandbox/package.json
  projects/sandbox/scripts/release.ts
  scripts/release.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): generate `CHANGELOG.md`
  CHANGELOG.md
  projects/service-navigation-web-component/CHANGELOG.md
Due: prettier --write

feat(sds/toolchain): add a `release` script
  package.json
  projects/sds/package.json
  projects/sds/scripts/oblique-version.ts
  projects/sds/scripts/release.ts
  scripts/release.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add a `release` script
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/scripts/release.ts
  scripts/release.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add `LICENSE`, `README.md` and `CHANGELOG.md` to the distribution
  projects/service-navigation-web-component/scripts/post-dist.ts
Due: eslint --fix --cache, prettier --write

fix(sds/autocomplete): ensure input prefix don't overlap with input label
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/default/autocomplete-example-default.component.html
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/default/autocomplete-example-default.component.ts
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/icon-position-start/autocomplete-example-icon-position-start.component.html
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/icon-position-start/autocomplete-example-icon-position-start.component.ts
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/options-group/autocomplete-example-options-group.component.html
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/options-group/autocomplete-example-options-group.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/material): ensure input prefix don't overlap with input label
  projects/sds/src/app/code-examples/code-examples/form/form-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/form/previews/input-prefixes-and-suffixes/form-example-input-prefixes-and-suffixes-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/input-prefixes-and-suffixes/form-example-input-prefixes-and-suffixes-preview.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/service-navigation): add `aria-hidden` to profile image
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.html
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): show separation line between header and content
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(toolchain): move scope lists to individual projects
  CONTRIBUTING.md
  projects/oblique/CONTRIBUTING.md
  projects/sandbox/CONTRIBUTING.md
  projects/sds/CONTRIBUTING.md
  projects/service-navigation-web-component/CONTRIBUTING.md
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): add one `README.md` per project
  README.md
  projects/oblique/README.md
  projects/sandbox/README.md
  projects/sds/README.md
  projects/service-navigation-web-component/README.md
  projects/stylesBuilder/README.md
Due: prettier --write

refactor(toolchain): simplify and consolidate commit message script
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): display footer info below logo on small viewports
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/master-layout): make sure that footer info is always correctly aligned
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/master-layout): add a link in the footer info area
  projects/sandbox/src/app/app.component.html
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): ensure the links area in the footer has the correct background color
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/oblique/package.json
Due: prettier --write

chore(toolchain): release version 11.2.2
  package-lock.json
  package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox/CHANGELOG.md
  projects/sandbox/package.json
  projects/sds/CHANGELOG.md
  projects/sds/package.json
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/CHANGELOG.md
  projects/service-navigation-web-component/package.json
Due: eslint --fix --cache, prettier --write

fix(sds/toolchain): ensure `Staticfile` is copied at the dist's root
  projects/sds/scripts/post-dist.ts
Due: eslint --fix --cache, prettier --write

fix(oblique): export `package.json` and `oblique.mjs` from `package.json`
  scripts/shared/package-json.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 11.2.3
  package-lock.json
  package.json
  projects/oblique/CHANGELOG.md
  projects/oblique/package.json
  projects/oblique/src/lib/version.ts
  projects/sandbox/package.json
  projects/sds/package.json
  projects/sds/src/obliqueVersion.ts
  projects/service-navigation-web-component/package.json
Due: eslint --fix --cache, prettier --write

feat(sds/toolchain): disable the version dropdown if the version is set via url
  projects/sds/src/app/side-navigation/side-navigation.component.html
  projects/sds/src/app/side-navigation/version/version.component.html
  projects/sds/src/app/side-navigation/version/version.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/toolchain): enable the oblique version to be overwritten by url parameter
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.html
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.ts
  projects/sds/src/app/side-navigation/side-navigation.component.html
  projects/sds/src/app/side-navigation/side-navigation.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): update link to new stackblitz off canvas example
  projects/sds/src/app/code-examples/code-examples/off-canvas/previews/stackblitz-link/off-canvas-example-stackblitz-link-preview.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): update link to new stackblitz banner example
  projects/sds/src/app/code-examples/code-examples/banner/previews/default/banner-example-default-preview.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): update link to new stackblitz setLocaleOnAdapter() example
  projects/sds/src/app/code-examples/code-examples/language/previews/default/language-example-default-preview.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): update link to new stackblitz unsaved changes example
  projects/sds/src/app/code-examples/code-examples/unsaved-changes/previews/stackblitz-link/unsaved-changes-example-stackblitz-link-preview.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): update link to new stackblitz date pipe example
  projects/sds/src/app/code-examples/code-examples/date/previews/default/date-example-default-preview.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): update link to new stackblitz column layout example
  projects/sds/src/app/code-examples/code-examples/column-layout/previews/stackblitz-link/column-layout-example-stackblitz-link-preview.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): update link to new stackblitz breadcrumb example
  projects/sds/src/app/code-examples/code-examples/breadcrumb/previews/default/breadcrumb-example-default-preview.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): update link to new stackblitz translations example
  projects/sds/src/app/code-examples/code-examples/translations/previews/stackblitz-link/translations-example-stackblitz-link-preview.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): update link to new stackblitz unknown route example
  projects/sds/src/app/code-examples/code-examples/unknown-route/previews/stackblitz-link/unknown-route-example-stackblitz-link-preview.component.html
Due: eslint --fix --cache, prettier --write
