Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/styles): invert selector to apply hover style
  projects/sandbox/src/app/styles/table/table.component.html
Due: eslint --fix --cache, prettier --write

refactor(sandbox/styles): remove unnecessary code
  projects/sandbox/src/app/styles/table/table.component.html
Due: eslint --fix --cache, prettier --write

fix(sandbox/material): add title to Actions column in collapsed mode
  projects/sandbox/src/app/material/table/table.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/side-navigation): make links in navigation unclickable when collapsed
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/side-navigation): remove margin-bottom from last navigation element
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/cms): update URL to the new CMS instance
  projects/sds/src/app/cms/cms-data.service.ts
  projects/sds/src/nginx/security_headers.conf
Due: eslint --fix --cache, prettier --write

feat(sds/toolchain): update CSP to allow `frame-src` from the CMS
  projects/sds/src/nginx/security_headers.conf
Due: none

fix(oblique/notification): replace legacy tooltip module with current tooltip module
  projects/oblique/src/lib/notification/notification.module.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): add @angular-devkit/core@17.0.5 as dev dependency
  package-lock.json
  package.json
Due: prettier --write

feat(toolchain): add `^` to start of `jest-sonar-reporter` version in `ng-add-utils.ts`
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): update `.gitignore` to include nx cache
  .gitignore
Due: none

feat(toolchain): update all non angular dependencies
  .eslintrc.yml
  package-lock.json
  package.json
  projects/oblique/package.json
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
  projects/oblique/src/lib/authentication/authentication.service.ts
  scripts/lint.ts
Due: eslint --fix --cache, prettier --write

refactor(sandbox/styles): adjust usage of `@`, `{` & `}`
  projects/sandbox/src/app/styles/block-elements/block-elements.component.html
Due: eslint --fix --cache, prettier --write

feat(toolchain): update deprecated class names in `home.component.scss` template for `ng-add`
  projects/oblique/schematics/index/ng-add/templates/home.component.scss.config
Due: none

feat(toolchain): adjust `default-eslintrc.json.config`
  projects/oblique/schematics/index/ng-add/templates/default-eslintrc.json.config
Due: none

feat(toolchain): improve layout & spacing in `home.component.scss` template for `ng-add`
  projects/oblique/schematics/index/ng-add/templates/home.component.scss.config
Due: none

feat(toolchain): migrate from angular 16 to 17
  angular.json
  package-lock.json
  package.json
  projects/oblique/package.json
  projects/sandbox/.eslintrc.yml
  projects/sandbox/tsconfig.env.json
  projects/sds/.eslintrc.yml
  projects/sds/package.json
  projects/sds/tsconfig.model.json
Due: prettier --write

fix(oblique/material): clean up styling of hints and errors in form fileds
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/material): remove `hint-error-backdrop-filter` mixin
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/schematics): add `addInjectionInClass` function
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/pop-up): remove the deprecated pop-up sample
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/samples/pop-up/pop-up-sample.component.html
  projects/sandbox/src/app/samples/pop-up/pop-up-sample.component.ts
  projects/sandbox/src/app/samples/samples-routing.module.ts
  projects/sandbox/src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

test(sds/file-upload): remove use of the deprecated pop-up feature
  projects/sds/src/app/code-examples/code-examples/file-upload/file-upload-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/pop-up): remove the deprecated pop-up feature
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/src/lib/oblique-testing.module.ts
  projects/oblique/src/lib/pop-up/_mocks/mock-pop-up.module.ts
  projects/oblique/src/lib/pop-up/_mocks/mock-pop-up.service.ts
  projects/oblique/src/lib/pop-up/pop-up.api.json
  projects/oblique/src/lib/pop-up/pop-up.description.html
  projects/oblique/src/lib/pop-up/pop-up.service.spec.ts
  projects/oblique/src/lib/pop-up/pop-up.service.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schematics): add `removeInjectionInClass` function
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/material): remove use of the deprecated pop-up feature
  projects/sandbox/src/app/material/table/table-manager.ts
  projects/sandbox/src/app/material/table/table.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/file-upload): remove the deprecated pop-up feature
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.spec.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/toolchain): remove `pop-up` scope
  CONTRIBUTING.md
Due: prettier --write

fix(oblique/file-upload): use `WINDOW` token from Oblique instead of `window` property form JS
  projects/oblique/src/lib/file-upload/progress/progress.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/unsaved-changes): remove the deprecated pop-up feature
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.service.spec.ts
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.service.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): add gitHub issue templates
  .github/ISSUE_TEMPLATE/1-bug-report.yaml
  .github/ISSUE_TEMPLATE/2-feature-request.yaml
  .github/ISSUE_TEMPLATE/3-documentation-issue.yaml
Due: none

feat(toolchain): use jeap-pipelinelibrary@feature/oblique3.1
  Jenkinsfile
Due: none

feat(toolchain): use NodeJS version 18.19.0
  Jenkinsfile
Due: none

chore(toolchain): release version 11.0.0-beta.1
  CHANGELOG.md
  Jenkinsfile
  package-lock.json
  package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove publish instructions for 11.0.0-beta.1 from Jenkinsfile
  Jenkinsfile
Due: none

fix(service-navigation): correct typo with the yourReturnURL
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

showcase(service-navigation): add pamsAppId
  src/app/app.module.ts
  src/app/samples/service-navigation/service-navigation-sample.component.html
Due: eslint --fix --cache, prettier --write

feat(master-layout): add pamsAppId
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/master-layout/master-layout.config.ts
  projects/oblique/src/lib/master-layout/master-layout.model.ts
Due: eslint --fix --cache, prettier --write

feat(service-navigation): add pamsAppId
  projects/oblique/src/lib/service-navigation/service-navigation.api.json
  projects/oblique/src/lib/service-navigation/service-navigation.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.service.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
