Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

refactor(oblique/material): split margin-top-and-active mixin into two mixins
  projects/oblique/src/styles/scss/material/_mat-autocomplete.scss
  projects/oblique/src/styles/scss/material/_mat-select.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-panel.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): sub-menu fixes & nav cleanup
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/component-pages): add title above the tab selection
  projects/sds/src/app/component-pages/component-pages/component-pages.component.html
  projects/sds/src/app/component-pages/component-pages/component-pages.component.scss
  projects/sds/src/app/component-pages/component-pages/component-pages.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

test(oblique/master-layout): refactor `master-layout-navigation-item` `directive`
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-item.directive.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/master-layout): add startOfRightSideLinks to samples
  projects/sandbox/src/app/app.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): remove legacy-chips-theme
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/master-layout): add go to children button to sub menu
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/service-navigation): move login icon from left side to right side of login text
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.scss
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/material): add spinner code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/spinner/previews/custom-channel/custom-channel-preview.component.html
  projects/sds/src/app/component-pages/code-examples/spinner/previews/custom-channel/custom-channel-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/spinner/previews/custom-channel/custom-channel-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/spinner/previews/multiple-activations/multiple-activations-preview.component.html
  projects/sds/src/app/component-pages/code-examples/spinner/previews/multiple-activations/multiple-activations-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/spinner/previews/multiple-activations/multiple-activations-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/spinner/spinner-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/spinner/spinner-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/component-pages): use the `inject` method instead of constructor parameters for DI
  projects/sds/src/app/component-pages/component-pages/component-pages.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): use new shadow mixin for primary buttons
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/material): add card code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/card/card-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/card/card-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/card/previews/basic-card/basic-card.component.html
  projects/sds/src/app/component-pages/code-examples/card/previews/basic-card/basic-card.component.ts
  projects/sds/src/app/component-pages/code-examples/card/previews/card-with-multiple-sections/card-with-multiple-sections.component.html
  projects/sds/src/app/component-pages/code-examples/card/previews/card-with-multiple-sections/card-with-multiple-sections.component.scss
  projects/sds/src/app/component-pages/code-examples/card/previews/card-with-multiple-sections/card-with-multiple-sections.component.ts
  projects/sds/src/app/component-pages/code-examples/card/previews/clickable-cards/clickable-cards.component.html
  projects/sds/src/app/component-pages/code-examples/card/previews/clickable-cards/clickable-cards.component.scss
  projects/sds/src/app/component-pages/code-examples/card/previews/clickable-cards/clickable-cards.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/spinner): simplify code with an observable for the state
  projects/oblique/src/lib/spinner/spinner.component.html
  projects/oblique/src/lib/spinner/spinner.component.spec.ts
  projects/oblique/src/lib/spinner/spinner.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/service-navigation): utilize `languageSelectorStyle` input from master layout
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.html
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.scss
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.spec.ts
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.ts
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.harness.ts
  projects/oblique/src/lib/service-navigation/service-navigation.component.html
  projects/oblique/src/lib/service-navigation/service-navigation.component.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

test(sds/material): renamed & refactore test file for the dialog
  projects/sds/src/app/component-pages/code-examples/dialog/dialog-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): navigation redesign to match the WGL 2023
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/core/mixins/_nav.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): change focus boxshadow color acording to wgl 2023
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): use new shadow mixin for tables
  projects/oblique/src/styles/scss/core/components/_table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): add subheading-1 value as font-size variable & use it in `mat-typography`
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/material/_mat-typography.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): increase budget for styles to accomodate `master-layout-navigation.component.scss`
  angular.json
Due: prettier --write

feat(sds/material): add TS files to the chips's previews
  projects/sds/src/app/component-pages/code-examples/chips/chips-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): use new shadow mixin for notifications
  projects/oblique/src/lib/notification/notification.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds): remove unused & duplicated `styles.scss` file
  projects/sds/src/styles.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/material): add paginator code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/paginator/paginator-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/paginator/paginator-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/paginator/previews/paginator/paginator.component.html
  projects/sds/src/app/component-pages/code-examples/paginator/previews/paginator/paginator.component.ts
  projects/sds/src/app/component-pages/component-pages.module.ts
Due: eslint --fix --cache, prettier --write

test(oblique/service-navigation): remove `BrowserModule` from test-imports
  projects/oblique/src/lib/service-navigation/shared/safe-image.pipe.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sds/material): add chips code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/chips/chips-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/chips/chips-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/chips/previews/autocomplete/chips-example-autocomplete-preview.component.html
  projects/sds/src/app/component-pages/code-examples/chips/previews/autocomplete/chips-example-autocomplete-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/chips/previews/color/chips-example-color-preview.component.html
  projects/sds/src/app/component-pages/code-examples/chips/previews/color/chips-example-color-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/chips/previews/stack/chips-example-stack-preview.component.html
  projects/sds/src/app/component-pages/code-examples/chips/previews/stack/chips-example-stack-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/chips/previews/stack/chips-example-stack-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): adjust tab focus color
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): slide-toggle redesign to match the WGL 2023
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/material/_mat-slide-toggle.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/material): renamed TS tab of the list-group's previews
  projects/sds/src/app/component-pages/code-examples/list-group/list-group-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): increase `anyComponentStyle` budget
  angular.json
Due: prettier --write

feat(sds/material): default datepicker demonstrating the WGL 2023 design
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/datepicker/datepicker-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/datepicker/datepicker-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/datepicker/previews/default/datepicker-example-default.component.html
  projects/sds/src/app/component-pages/code-examples/datepicker/previews/default/datepicker-example-default.component.ts
  projects/sds/src/app/component-pages/component-pages.module.ts
Due: eslint --fix --cache, prettier --write

feat(sds/material): add TS files to the badge's previews
  projects/sds/src/app/component-pages/code-examples/badge/badge-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): add slide toggle code examples
  projects/sds/src/app/component-pages/code-example-flex-layout.scss
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-default/badge-example-default.component.ts
  projects/sds/src/app/component-pages/code-examples/slide-toggle/previews/first-colors/slide-toggle-example-first-colors-preview.component.html
  projects/sds/src/app/component-pages/code-examples/slide-toggle/previews/first-colors/slide-toggle-example-first-colors-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/slide-toggle/previews/second/slide-toggle-example-second-preview.component.html
  projects/sds/src/app/component-pages/code-examples/slide-toggle/previews/second/slide-toggle-example-second-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/slide-toggle/slide-toggle-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/slide-toggle/slide-toggle-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/button): add TS files to the previews
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): replace MatLegacyDialog with MatDialog
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(toolchain): allow scope prefixes to be used alone
  CONTRIBUTING.md
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/master-layout): sub-menu layout & color changes
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): redesign of the autocomplete to match the WGL 2023
  projects/oblique/src/lib/autocomplete/autocomplete.component.html
  projects/oblique/src/lib/autocomplete/autocomplete.component.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): remove `readonly` styles from `mat-radio` & `mat-checkbox`
  projects/oblique/src/styles/scss/material/_mat-checkbox-radio.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write
