Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

feat(sds): improve aesthetics on xl devices
  projects/sds/src/app/app.component.scss
  projects/sds/src/app/component-pages/component-pages/component-pages.component.scss
  projects/sds/src/app/documentation-pages/documentation-pages.component.scss
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
  projects/sds/src/app/side-navigation/version/version.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): deploy the sandbox
  Jenkinsfile
  angular.json
  projects/sandbox/manifest-dev.yml
  projects/sandbox/src/Staticfile
Due: prettier --write

feat(sds/component-pages): add `.flex-end` option to `.layout-column`
  projects/sds/src/app/component-pages/code-example-flex-layout.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/schematics): fix comma issue in route declaration when adding oblique
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/unknown-route): update to standalone
  projects/oblique/src/lib/unknown-route/_mocks/mock-unknown-route.component.ts
  projects/oblique/src/lib/unknown-route/_mocks/mock-unknown-route.module.ts
  projects/oblique/src/lib/unknown-route/unknown-route.component.spec.ts
  projects/oblique/src/lib/unknown-route/unknown-route.component.ts
  projects/oblique/src/lib/unknown-route/unknown-route.module.ts
Due: eslint --fix --cache, prettier --write

refactor(sds): move common variables
  projects/sds/src/app/component-pages/tabs/tabs.component.scss
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
  projects/sds/src/app/side-navigation/side-navigation.component.scss
  projects/sds/src/styles/scss/core/_variables.scss
  projects/sds/src/variables.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/material): replace the illustration image for the image example of the List page
  projects/sds/src/app/component-pages/code-examples/list-group/previews/image/list-group-example-image-preview.component.html
  projects/sds/src/assets/images/ListGroupImageExample.jpg
  projects/sds/src/assets/images/ListGroupImageExample.svg
Due: eslint --fix --cache, prettier --write

feat(oblique/unsaved-changes): update to standalone
  projects/oblique/src/lib/unsaved-changes/_mocks/mock-unsaved-changes.directive.ts
  projects/oblique/src/lib/unsaved-changes/_mocks/mock-unsaved-changes.module.ts
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.directive.spec.ts
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.directive.ts
  projects/oblique/src/lib/unsaved-changes/unsaved-changes.module.ts
Due: eslint --fix --cache, prettier --write

feat(sds/master-layout): improve link in master layout example
  projects/sds/src/app/component-pages/code-examples/master-layout/previews/stackblitz-link/master-layout-example-stackblitz-link-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/scrolling): update to standalone
  projects/oblique/src/lib/scrolling/_mocks/mock-scrolling.module.ts
  projects/oblique/src/lib/scrolling/_mocks/mock-top-control.component.ts
  projects/oblique/src/lib/scrolling/scrolling.module.ts
  projects/oblique/src/lib/scrolling/top-control.component.spec.ts
  projects/oblique/src/lib/scrolling/top-control.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/translate-params): update to standalone
  projects/oblique/src/lib/translate-params/_mocks/mock-translate-params.module.ts
  projects/oblique/src/lib/translate-params/_mocks/mock-translate-params.pipe.ts
  projects/oblique/src/lib/translate-params/translate-params.module.ts
  projects/oblique/src/lib/translate-params/translate-params.pipe.ts
Due: eslint --fix --cache, prettier --write

chore(oblique/button): remove `api.json` & `description.html` files
  projects/oblique/src/lib/button/button.api.json
  projects/oblique/src/lib/button/button.description.html
Due: eslint --fix --cache, prettier --write

feat(oblique/collapse): update to standalone
  projects/oblique/src/lib/collapse/_mocks/mock-collapse.component.ts
  projects/oblique/src/lib/collapse/_mocks/mock-collapse.module.ts
  projects/oblique/src/lib/collapse/collapse.component.spec.ts
  projects/oblique/src/lib/collapse/collapse.component.ts
  projects/oblique/src/lib/collapse/collapse.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/toolchain): adapt `angular.json` to use standalone configuration
  angular.json
Due: prettier --write

fix(oblique/material): remove overwritten & unused form-field outline styles
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

test(oblique/service-navigation): update to standalone
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.spec.ts
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.spec.ts
  projects/oblique/src/lib/service-navigation/info/service-navigation-info.component.spec.ts
  projects/oblique/src/lib/service-navigation/languages/service-navigation-languages.component.spec.ts
  projects/oblique/src/lib/service-navigation/message/service-navigation-message.component.spec.ts
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/component-pages): utilize `ob-media-breakpoint` mixins in place of media queries
  projects/sds/src/app/component-pages/code-example-flex-layout.scss
  projects/sds/src/app/component-pages/code-examples/paginator/previews/paginator-example-preview.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/input-clear): update to standalone
  projects/oblique/src/lib/input-clear/_mocks/mock-input-clear.directive.ts
  projects/oblique/src/lib/input-clear/_mocks/mock-input-clear.module.ts
  projects/oblique/src/lib/input-clear/input-clear.directive.spec.ts
  projects/oblique/src/lib/input-clear/input-clear.directive.ts
  projects/oblique/src/lib/input-clear/input-clear.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/button): update to standalone
  projects/oblique/src/lib/button/_mocks/mock-button.directive.ts
  projects/oblique/src/lib/button/_mocks/mock-button.module.ts
  projects/oblique/src/lib/button/button.directive.spec.ts
  projects/oblique/src/lib/button/button.directive.ts
  projects/oblique/src/lib/button/button.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/off-canvas): update to standalone
  projects/oblique/src/lib/off-canvas/_mocks/mock-off-canvas-backdrop.directive.ts
  projects/oblique/src/lib/off-canvas/_mocks/mock-off-canvas-container.directive.ts
  projects/oblique/src/lib/off-canvas/_mocks/mock-off-canvas-toggle.directive.ts
  projects/oblique/src/lib/off-canvas/_mocks/mock-off-canvas.module.ts
  projects/oblique/src/lib/off-canvas/off-canvas-backdrop.directive.ts
  projects/oblique/src/lib/off-canvas/off-canvas-container.directive.ts
  projects/oblique/src/lib/off-canvas/off-canvas-toggle.directive.ts
  projects/oblique/src/lib/off-canvas/off-canvas.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/popover): update to standalone
  projects/oblique/src/lib/popover/_mocks/mock-popover.directive.ts
  projects/oblique/src/lib/popover/_mocks/mock-popover.module.ts
  projects/oblique/src/lib/popover/popover.directive.spec.ts
  projects/oblique/src/lib/popover/popover.directive.ts
  projects/oblique/src/lib/popover/popover.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/alert): update to standalone
  projects/oblique/src/lib/alert/_mocks/mock-alert.component.ts
  projects/oblique/src/lib/alert/_mocks/mock-alert.module.ts
  projects/oblique/src/lib/alert/alert.component.spec.ts
  projects/oblique/src/lib/alert/alert.component.ts
  projects/oblique/src/lib/alert/alert.module.ts
Due: eslint --fix --cache, prettier --write

test(sds/file-upload): update to standalone
  projects/sds/src/app/component-pages/code-examples/file-upload/file-upload-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): create `ObPaginator` directive
  projects/oblique/src/lib/paginator/ob-paginator.api.json
  projects/oblique/src/lib/paginator/ob-paginator.module.ts
  projects/oblique/src/lib/paginator/paginator.directive.spec.ts
  projects/oblique/src/lib/paginator/paginator.directive.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(sds/column-layout): add code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/column-layout/column-layout-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/column-layout/column-layout-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/column-layout/previews/stackblitz-link/column-layout-example-stackblitz-link-preview.component.html
  projects/sds/src/app/component-pages/code-examples/column-layout/previews/stackblitz-link/column-layout-example-stackblitz-link-preview.component.ts
Due: eslint --fix --cache, prettier --write

test(oblique/breadcrumb): update to standalone
  projects/oblique/src/lib/breadcrumb/breadcrumb.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/sticky): update to standalone
  projects/oblique/src/lib/sticky/_mocks/mock-sticky.component.ts
  projects/oblique/src/lib/sticky/_mocks/mock-sticky.module.ts
  projects/oblique/src/lib/sticky/sticky.component.spec.ts
  projects/oblique/src/lib/sticky/sticky.component.ts
  projects/oblique/src/lib/sticky/sticky.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/error-messages): update to standalone
  projects/oblique/src/lib/error-messages/_mocks/mock-error-messages.component.ts
  projects/oblique/src/lib/error-messages/_mocks/mock-error-messages.directive.ts
  projects/oblique/src/lib/error-messages/_mocks/mock-error-messages.module.ts
  projects/oblique/src/lib/error-messages/_mocks/mock-mat-error.directive.ts
  projects/oblique/src/lib/error-messages/error-messages.directive.ts
  projects/oblique/src/lib/error-messages/error-messages.module.ts
  projects/oblique/src/lib/error-messages/mat-error.directive.ts
Due: eslint --fix --cache, prettier --write

feat(sds/material): add stepper code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/stepper/previews/default/stepper-example-default-preview.component.html
  projects/sds/src/app/component-pages/code-examples/stepper/previews/default/stepper-example-default-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/stepper/previews/default/stepper-example-default-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/stepper/previews/other-options/stepper-example-other-options-preview.component.html
  projects/sds/src/app/component-pages/code-examples/stepper/previews/other-options/stepper-example-other-options-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/stepper/previews/other-options/stepper-example-other-options-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/stepper/stepper-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/stepper/stepper-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/sticky): deprecate `ObStickyComponent`
  projects/oblique/src/lib/sticky/sticky.api.json
  projects/oblique/src/lib/sticky/sticky.component.ts
  projects/oblique/src/lib/sticky/sticky.description.html
  projects/oblique/src/lib/sticky/sticky.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/schema-validation): update to standalone
  projects/oblique/src/lib/schema-validation/_mocks/mock-schema-required.directive.ts
  projects/oblique/src/lib/schema-validation/_mocks/mock-schema-validation.directive.ts
  projects/oblique/src/lib/schema-validation/_mocks/mock-schema-validation.module.ts
  projects/oblique/src/lib/schema-validation/_mocks/mock-schema-validator.ts
  projects/oblique/src/lib/schema-validation/schema-required.directive.ts
  projects/oblique/src/lib/schema-validation/schema-validation.directive.ts
  projects/oblique/src/lib/schema-validation/schema-validation.module.ts
  projects/oblique/src/lib/schema-validation/schema-validation.spec.ts
  projects/oblique/src/lib/schema-validation/schema-validator.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): update form-field to standalone
  projects/oblique/src/lib/form-field/form-field.directive.ts
  projects/oblique/src/lib/form-field/form-field.module.ts
  projects/oblique/src/lib/form-field/select.directive.ts
Due: eslint --fix --cache, prettier --write

test(oblique/master-layout): update to standalone
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/sub-menu-item/master-layout-navigation-sub-menu-item.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sds/master-layout): adjust structure of stackblitz example to match guidelines
  projects/sds/src/app/component-pages/code-examples/master-layout/previews/stackblitz-link/master-layout-example-stackblitz-link-preview.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): make paginator adhere to sds component documentation guidelines
  projects/sds/src/app/component-pages/code-examples/paginator/paginator-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/paginator/previews/common-options/paginator-example-common-options-preview.component.html
  projects/sds/src/app/component-pages/code-examples/paginator/previews/common-options/paginator-example-common-options-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/paginator/previews/other-options/paginator-example-other-options-preview.component.html
  projects/sds/src/app/component-pages/code-examples/paginator/previews/other-options/paginator-example-other-options-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/paginator/previews/paginator-example-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/paginator/previews/paginator/paginator.component.html
  projects/sds/src/app/component-pages/code-examples/paginator/previews/paginator/paginator.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/material): replace the illustration image for the card example
  projects/sandbox/src/app/material/card/card.component.html
  projects/sandbox/src/app/material/card/card.component.scss
  projects/sandbox/src/assets/images/alex-shuper_person-in-a-space-suit.jpg
  projects/sandbox/src/assets/images/alex-shuper_person-in-a-space-suit_40x53.jpg
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

test(oblique/column-layout): update to standalone
  projects/oblique/src/lib/column-layout/column-layout.component.spec.ts
Due: eslint --fix --cache, prettier --write

chore(sandbox/file-upload): remove api & description sections
  projects/sandbox/src/app/samples/file-upload-sample/file-upload-sample.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique): update mocks to standalone
  projects/oblique/src/lib/_mocks/mock-mat-element.ts
  projects/oblique/src/lib/_mocks/mock-module.ts
  projects/oblique/src/lib/_mocks/mock-translate.pipe.ts
  projects/oblique/src/lib/oblique-testing.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/selectable): update to standalone
  projects/oblique/src/lib/selectable/_mocks/mock-selectable-group.directive.ts
  projects/oblique/src/lib/selectable/_mocks/mock-selectable.directive.ts
  projects/oblique/src/lib/selectable/_mocks/mock-selectable.module.ts
  projects/oblique/src/lib/selectable/selectable-group.directive.spec.ts
  projects/oblique/src/lib/selectable/selectable-group.directive.ts
  projects/oblique/src/lib/selectable/selectable.directive.spec.ts
  projects/oblique/src/lib/selectable/selectable.directive.ts
  projects/oblique/src/lib/selectable/selectable.module.ts
Due: eslint --fix --cache, prettier --write
