Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds): change application title to "Oblique"
  projects/sds/src/index.html
Due: eslint --fix --cache, prettier --write

fix(oblique/material): finalize WGL 2023 migration for tables
  projects/oblique/src/styles/scss/material/_mat-table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(toolchain): adjust `default-eslintrc.json.config`
  projects/oblique/schematics/index/ng-add/templates/default-eslintrc.json.config
Due: none

fix(sds/side-navigation): remove margin-bottom from last navigation element
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/styles): remove unused code
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.scss
  projects/oblique/src/styles/scss/core/mixins/_tab-outline.scss
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/tabbed-page): order the methods of `TabbedPageComponent` based on their usage
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): migrate from angular 16 to 17
  angular.json
  package-lock.json
  package.json
  projects/oblique/package.json
  projects/sandbox/.eslintrc.yml
  projects/sandbox/tsconfig.env.json
  projects/sds/.eslintrc.yml
  projects/sds/package.json
  projects/sds/tsconfig.model.json
Due: prettier --write

feat(oblique/styles): remove styling for HTML stepper
  projects/oblique/src/styles/scss/core/components/_index.scss
  projects/oblique/src/styles/scss/core/components/_nav-stepper.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(toolchain): update all non angular dependencies
  .eslintrc.yml
  package-lock.json
  package.json
  projects/oblique/package.json
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
  projects/oblique/src/lib/authentication/authentication.service.ts
  scripts/lint.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): adjust selected warn slide toggle track color
  projects/oblique/src/styles/scss/material/_mat-slide-toggle.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/notification): replace legacy tooltip module with current tooltip module
  projects/oblique/src/lib/notification/notification.module.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/material): remove `ob-table-cicd` table option
  projects/sandbox/src/app/material/table/table.component.html
  projects/sandbox/src/app/material/table/table.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/file-upload): use new file validation options object
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.ts
  projects/oblique/src/lib/file-upload/drop-zone/validation.service.spec.ts
  projects/oblique/src/lib/file-upload/drop-zone/validation.service.ts
  projects/oblique/src/lib/file-upload/file-upload.model.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/sticky): remove unused code
  projects/oblique/src/lib/sticky/sticky.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/master-layout): finalize WGL 2023 migration for hamburger button
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/styles): remove unnecessary mixin for typography
  projects/oblique/src/styles/scss/core/mixins/_typography.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

test(sds): use input `initiallyActive` instead of `active` in `TabsComponent`
  projects/sds/src/app/shared/tabs/tabs.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): remove `ob-selected` class for chips
  projects/oblique/src/styles/scss/material/_mat-chip.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/styles): remove HTML tabs example
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/styles/styles.module.ts
  projects/sandbox/src/app/styles/tabs/tabs.component.html
  projects/sandbox/src/app/styles/tabs/tabs.component.scss
  projects/sandbox/src/app/styles/tabs/tabs.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds): allow tabbed pages to have anchor links to the active tab
  projects/sds/src/app/shared/tabs/tabs.component.ts
  projects/sds/src/app/shared/url/url.const.ts
  projects/sds/src/app/tabbed-page/tabbed-page.component.html
  projects/sds/src/app/tabbed-page/tabbed-page.component.ts
  projects/sds/src/app/tabbed-page/tabbed-pages.routes.ts
  projects/sds/src/app/tabbed-page/utils/tab-name-mapper.spec.ts
  projects/sds/src/app/tabbed-page/utils/tab-name-mapper.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/alert): redesign to match wgl 2023
  projects/oblique/src/lib/alert/alert.component.scss
  projects/oblique/src/styles/scss/oblique-alert.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/code-examples): split up `public-scss-variables-and-mixins-code-examples`
  projects/sds/src/app/code-examples/code-example/code-example.component.ts
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/layout/public-scss-variables-and-mixins-example-layout-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/palette/public-scss-variables-and-mixins-example-palette-preview.component.html
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/palette/public-scss-variables-and-mixins-example-palette-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/palette/public-scss-variables-and-mixins-example-palette-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/public-scss-variables-and-mixins-example-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/shadow/public-scss-variables-and-mixins-example-shadow-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/typography/public-scss-variables-and-mixins-example-typography-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/variables/public-scss-variables-and-mixins-example-variables-preview.component.html
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/variables/public-scss-variables-and-mixins-example-variables-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/previews/variables/public-scss-variables-and-mixins-example-variables-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/public-scss-variables-and-mixins-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/public-scss-variables-and-mixins/public-scss-variables-and-mixins-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/shadow/previews/shadow/shadow-example-shadow-preview.component.html
  projects/sds/src/app/code-examples/code-examples/shadow/previews/shadow/shadow-example-shadow-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/shadow/previews/shadow/shadow-example-shadow-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/shadow/shadow-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/shadow/shadow-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/layout/spacing-and-layout-example-layout-preview.component.html
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/layout/spacing-and-layout-example-layout-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/layout/spacing-and-layout-example-layout-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/spacing/spacing-and-layout-example-spacing-preview.component.html
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/spacing/spacing-and-layout-example-spacing-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/previews/spacing/spacing-and-layout-example-spacing-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/spacing-and-layout-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/spacing-and-layout/spacing-and-layout-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/typography/previews/typography/typography-example-typography-preview.component.html
  projects/sds/src/app/code-examples/code-examples/typography/previews/typography/typography-example-typography-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/typography/previews/typography/typography-example-typography-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/typography/typography-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/typography/typography-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

test(sds/file-upload): remove use of the deprecated pop-up feature
  projects/sds/src/app/code-examples/code-examples/file-upload/file-upload-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/scrolling): finalize WGL 2023 migration for back to top button
  projects/oblique/src/lib/scrolling/top-control.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/styles): ensure table styles for API don't affect Oblique tables
  projects/sds/src/styles/scss/core/_table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/material): remove CSS code that has no effect
  projects/oblique/src/styles/scss/material/_mat-button.scss
  projects/oblique/src/styles/scss/material/_mat-chip.scss
  projects/oblique/src/styles/scss/material/_mat-stepper.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/file-upload): remove the deprecated pop-up feature
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.spec.ts
  projects/oblique/src/lib/file-upload/progress/progress.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/styles): finalize WGL 2023 migration for tables
  projects/oblique/src/styles/scss/core/components/_table.scss
  projects/oblique/src/styles/scss/core/mixins/_table.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sandbox/material): remove `color` option for chips
  projects/sandbox/src/app/material/chips/chips.component.html
  projects/sandbox/src/app/material/chips/chips.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/pop-up): remove the deprecated pop-up sample
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/samples/pop-up/pop-up-sample.component.html
  projects/sandbox/src/app/samples/pop-up/pop-up-sample.component.ts
  projects/sandbox/src/app/samples/samples-routing.module.ts
  projects/sandbox/src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/pop-up): remove the deprecated pop-up feature
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/src/lib/oblique-testing.module.ts
  projects/oblique/src/lib/pop-up/_mocks/mock-pop-up.module.ts
  projects/oblique/src/lib/pop-up/_mocks/mock-pop-up.service.ts
  projects/oblique/src/lib/pop-up/pop-up.api.json
  projects/oblique/src/lib/pop-up/pop-up.description.html
  projects/oblique/src/lib/pop-up/pop-up.service.spec.ts
  projects/oblique/src/lib/pop-up/pop-up.service.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/material): remove `ob-selected` class for chips
  projects/sandbox/src/app/material/chips/chips.component.html
  projects/sandbox/src/app/material/chips/chips.component.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): update deprecated class names in `home.component.scss` template for `ng-add`
  projects/oblique/schematics/index/ng-add/templates/home.component.scss.config
Due: none

feat(oblique/schematics): add `addInjectionInClass` function
  projects/oblique/schematics/index/utils.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/column-layout): make toggles work when column is initially disabled
  projects/oblique/src/lib/column-layout/column-layout.component.spec.ts
  projects/oblique/src/lib/column-layout/column-layout.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/styles): update CSS for consistent error and valid visuals in all form types
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/code-examples): fix required behavior in form
  projects/sds/src/app/code-examples/code-examples/form/previews/ux/form-example-ux-preview.component.html
  projects/sds/src/app/code-examples/code-examples/form/previews/ux/form-example-ux-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/cms): update URL to the new CMS instance
  projects/sds/src/app/cms/cms-data.service.ts
  projects/sds/src/nginx/security_headers.conf
Due: eslint --fix --cache, prettier --write

fix(oblique/alert): use correct default icon
  projects/oblique/src/lib/alert/alert.component.spec.ts
  projects/oblique/src/lib/alert/alert.component.ts
Due: eslint --fix --cache, prettier --write

fix(sandbox/material): remove illegal `selected` option for chips
  projects/sandbox/src/app/material/chips/chips.component.html
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
