Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(dropdown): remove deprecated `dropdown`
  CONTRIBUTING.md
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/dropdown/_mocks/mock-dropdown.component.ts
  projects/oblique/src/lib/dropdown/_mocks/mock-dropdown.module.ts
  projects/oblique/src/lib/dropdown/dropdown.api.json
  projects/oblique/src/lib/dropdown/dropdown.component.html
  projects/oblique/src/lib/dropdown/dropdown.component.scss
  projects/oblique/src/lib/dropdown/dropdown.component.spec.ts
  projects/oblique/src/lib/dropdown/dropdown.component.ts
  projects/oblique/src/lib/dropdown/dropdown.description.html
  projects/oblique/src/lib/dropdown/dropdown.module.ts
  projects/oblique/src/lib/oblique-testing.module.ts
  projects/oblique/src/lib/oblique.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

test(search-box): remove `ObMockSearchBoxDirective`
  projects/oblique/src/lib/oblique-testing.module.ts
  projects/oblique/src/lib/search-box/_mocks/mock-search-box.directive.ts
  projects/oblique/src/lib/search-box/_mocks/mock-search-box.module.ts
Due: eslint --fix --cache, prettier --write

chore: postpone `ObliqueTestingModule` removal to Oblique 11
  projects/oblique/src/lib/oblique-testing.module.ts
Due: eslint --fix --cache, prettier --write

feat(search-box): replace dropdown with popover
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/search-box/_mocks/mock-search-box.component.ts
  projects/oblique/src/lib/search-box/search-box.component.html
  projects/oblique/src/lib/search-box/search-box.component.scss
  projects/oblique/src/lib/search-box/search-box.component.spec.ts
  projects/oblique/src/lib/search-box/search-box.component.ts
  projects/oblique/src/lib/search-box/search-box.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(material): remove close button from dialog
  src/app/material/dialog/example-dialog/example-dialog.component.html
Due: eslint --fix --cache, prettier --write

showcase(dropdown): replace deprecated `ob-dropdown` with `ob-popover`
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/samples/dropdown/dropdown.component.html
  src/app/samples/dropdown/dropdown.component.ts
  src/app/samples/samples-routing.module.ts
  src/app/samples/samples.module.ts
  src/assets/i18n/de.json
  src/assets/i18n/en.json
  src/assets/i18n/fr.json
  src/assets/i18n/it.json
Due: eslint --fix --cache, prettier --write

feat(material): remove close button from dialog
  projects/oblique/src/styles/scss/themes/material/_mat-dialog.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

test(search-box): update `ObMockSearchBoxComponent` to match `ObSearchBoxComponent`'s signature
  projects/oblique/src/lib/search-box/_mocks/mock-search-box.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  .eslintrc.yml
  package-lock.json
  package.json
Due: prettier --write

chore(toolchain): update `package-lock` to version 2
  package-lock.json
  package.json
Due: prettier --write

showcase: use `@use` instead of `@import`
  src/app/app.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): solve dependency conflict
  package-lock.json
  package.json
Due: prettier --write

chore(toolchain): use node 18 on jenkins
  Jenkinsfile
Due: none

test: set `global` coverage to 100%
  projects/oblique/jest.config.prod.js
  tsconfig.json
Due: eslint --fix --cache, prettier --write

feat(schematics): ng-add don't set `emitDecoratorMetadata` to `true` anymore
  projects/oblique/schematics/index/ng-add/rules/tests.ts
Due: eslint --fix --cache, prettier --write

feat(icon): use dedicated icons for alerts
  projects/oblique/src/lib/alert/alert-icons.ts
  projects/oblique/src/lib/alert/alert.component.spec.ts
  projects/oblique/src/lib/alert/alert.component.ts
  projects/oblique/src/styles/scss/oblique-alert.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

test(alert): reduce code duplication with `each`
  projects/oblique/src/lib/alert/alert.component.spec.ts
Due: eslint --fix --cache, prettier --write

showcase(telemetry): remove telemetry information
  src/main.ts
Due: eslint --fix --cache, prettier --write

fix(schematics): correctly update prefix of components
  projects/oblique/schematics/index/ng-add/rules/toolchain.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  angular.json
  package-lock.json
  package.json
  projects/oblique/package.json
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
  projects/oblique/schematics/index/ng-add/templates/default-eslintrc.json.config
  projects/oblique/schematics/index/ng-add/templates/default-tsconfig.spec.json
  projects/oblique/schematics/index/ng-add/templates/home.component.scss.config
  projects/oblique/src/lib/autocomplete/_harness/autocomplete.harness.ts
  projects/oblique/src/lib/autocomplete/autocomplete.component.spec.ts
  projects/oblique/src/lib/autocomplete/autocomplete.module.ts
  projects/oblique/src/lib/breadcrumb/breadcrumb.component.spec.ts
  projects/oblique/src/lib/breadcrumb/breadcrumb.module.ts
  projects/oblique/src/lib/button/button.directive.spec.ts
  projects/oblique/src/lib/button/button.directive.ts
  projects/oblique/src/lib/error-messages/error-messages.directive.ts
  projects/oblique/src/lib/file-upload/_mocks/mock-file-info.component.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.ts
  projects/oblique/src/lib/file-upload/file-upload.module.ts
  projects/oblique/src/lib/input-clear/input-clear.directive.spec.ts
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/lib/paginator/ob-paginator.module.ts
  projects/oblique/src/lib/paginator/ob-paginator.service.ts
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/styles/scss/themes/material/_mat-typography.scss
  projects/oblique/src/styles/scss/themes/oblique-material.scss
  tsconfig.json
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(schematics): ng-add uses `@use` instead of `@import` for the default home component
  projects/oblique/schematics/index/ng-add/templates/home.component.scss.config
Due: none

refactor(schematics): add a generic function to add dependencies
  projects/oblique/schematics/index/ng-add/index.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove `@angular/localize`
  .eslintrc.yml
  DEPENDENCIES.md
  package-lock.json
  package.json
  projects/oblique/package.json
  projects/oblique/schematics/index/ng-add/index.ts
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
Due: eslint --fix --cache, prettier --write

refactor(authentication): use `provideOAuthClient` method instead of copying the `forRoot` method
  projects/oblique/src/lib/authentication/authentication.module.ts
Due: eslint --fix --cache, prettier --write

feat(button): throw an explicit error message if no reference to `MatButton` can be found
  projects/oblique/src/lib/button/button.directive.spec.ts
  projects/oblique/src/lib/button/button.directive.ts
Due: eslint --fix --cache, prettier --write

showcase(toolchain): update dependencies and refactor accordingly
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/material/chips/chips.component.ts
  src/app/material/dialog/dialog.component.ts
  src/app/material/dialog/example-dialog/example-dialog.component.ts
  src/app/material/material.module.ts
  src/app/material/table/table-edit.component.ts
  src/app/material/table/table-manager.ts
  src/app/material/table/table.component.ts
  src/app/material/tooltip/tooltip.component.ts
  src/app/samples/collapse/collapse-sample.component.spec.ts
  src/app/samples/error-messages-sample/error-messages-sample.component.spec.ts
  src/app/samples/samples.module.ts
  src/app/styles/styles.module.ts
  src/polyfills.ts
Due: eslint --fix --cache, prettier --write

showcase(toolchain): remove `polyfills.ts`
  angular.json
  src/polyfills.ts
  src/tsconfig.app.json
Due: eslint --fix --cache, prettier --write

feat(schematics): ng-add installs `angular-oauth2-oidc` and `jwt-decode`
  projects/oblique/schematics/index/ng-add/index.ts
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
Due: eslint --fix --cache, prettier --write

feat(schematics): add an option for ng-add to create the environment files
  projects/oblique/schematics/index/ng-add/ng-add.model.ts
  projects/oblique/schematics/index/ng-add/rules/toolchain.ts
  projects/oblique/schematics/index/ng-add/schema.json
Due: eslint --fix --cache, prettier --write

fix(schematics): ng-add directly create the environment files with the banner
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
  projects/oblique/schematics/index/ng-add/rules/toolchain.ts
Due: eslint --fix --cache, prettier --write

feat(schematics): ng-add don't add the banner if no environment is provided
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
  projects/oblique/schematics/index/ng-add/schema.json
Due: eslint --fix --cache, prettier --write

feat(schematics): ng-add don't add the application's title in `package.json` anymore
  projects/oblique/schematics/index/ng-add/rules/toolchain.ts
Due: eslint --fix --cache, prettier --write

feat(schematics): ng-update removes `oblique-bootstrap` and `oblique-utilities` from `angular.json`
  projects/oblique/schematics/index/ng-update/update-v9-to-v10.ts
Due: eslint --fix --cache, prettier --write

feat(translation): add `i18n.common.clear` translation key in all 4 languages
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
Due: prettier --write

fix(column-layout): remove redundant scrollbars
  projects/oblique/src/lib/column-layout/column-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(material): fix labels are not fully displayed
  projects/oblique/src/styles/scss/themes/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

test(off-canvas): add tests for `off-canvas-backdrop.directive.ts`
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/off-canvas/off-canvas-backdrop.directive.spec.ts
Due: eslint --fix --cache, prettier --write

feat(spinner): use a dedicated icon instead of an Oblique one
  projects/oblique/src/lib/spinner/spinner.component.html
  projects/oblique/src/lib/spinner/spinner.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

test(spinner): add tests for `spinner.component.ts`
  projects/oblique/jest.config.prod.js
  projects/oblique/src/lib/spinner/spinner.component.spec.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
