Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/side-navigation): use a `MatSelect` for the version selector
  projects/sds/src/app/side-navigation/version/version.component.html
  projects/sds/src/app/side-navigation/version/version.component.scss
  projects/sds/src/app/side-navigation/version/version.component.spec.ts
  projects/sds/src/app/side-navigation/version/version.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/side-navigation): initialize versions in constructor
  projects/sds/src/app/side-navigation/version/version.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/side-navigation): mark readonly field as `readonly` in version component
  projects/sds/src/app/side-navigation/version/version.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/side-navigation): use `inject` for dependency injection in version component
  projects/sds/src/app/side-navigation/version/version.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/side-navigation): use a `MatInput` for the filter input
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.scss
  projects/sds/src/app/side-navigation/side-navigation.component.html
  projects/sds/src/app/side-navigation/side-navigation.component.scss
  projects/sds/src/app/side-navigation/side-navigation.component.spec.ts
  projects/sds/src/app/side-navigation/side-navigation.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/side-navigation): avoid all subscriptions in version component
  projects/sds/src/app/side-navigation/version/version.component.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/side-navigation): avoid to subscribe to version observable
  projects/sds/src/app/side-navigation/version/version.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/toolchain): make `changelog.ts` add a `#` before a new release
  CHANGELOG.md
  projects/oblique/scripts/release/changelog.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/toolchain): fix version 11.0.2 in `CHANGELOG.md`
  CHANGELOG.md
Due: prettier --write

fix(oblique/toolchain): correct path to `obliqueVersion.ts`
  projects/sds/scripts/oblique-version.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): make margin-top consistent for all mat-chip
  projects/oblique/src/styles/scss/material/_mat-chip.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sandbox/material): add default chip type
  projects/sandbox/src/app/material/chips/chips.component.html
  projects/sandbox/src/app/material/chips/chips.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/material): add `mat-chip-set`to code examples
  projects/sds/src/app/code-examples/code-examples/chips/previews/color/chips-example-color-preview.component.html
  projects/sds/src/app/code-examples/code-examples/chips/previews/stack/chips-example-stack-preview.component.html
Due: eslint --fix --cache, prettier --write

chore(toolchain): release version 11.0.3
  CHANGELOG.md
  package-lock.json
  package.json
  projects/oblique/src/lib/version.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): update dependencies and refactor accordingly
  package-lock.json
  package.json
  projects/service-navigation-web-component/package.json
Due: prettier --write

fix(oblique/material): ensure that chip colors are applied for all types of chips
  projects/oblique/src/styles/scss/material/_mat-chip.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/side-navigation): show exact latest version number in the versions dropdown
  package.json
  projects/sds/package.json
  projects/sds/scripts/oblique-version.ts
  projects/sds/src/app/side-navigation/version/version.component.html
  projects/sds/src/app/side-navigation/version/version.component.ts
  projects/sds/src/app/side-navigation/version/version.model.ts
  projects/sds/src/obliqueVersion.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/global-events): `obOutsideFilter` accepts generics of type `Event`
  projects/oblique/src/lib/global-events/outsideFilter.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/icon): add filtering field to the gallery
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.html
  projects/sds/src/app/code-examples/code-examples/icons/previews/icons-gallery/icons-example-icons-gallery-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/button): add right-side icon example
  projects/sds/src/app/code-examples/code-examples/button/button-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/button/previews/other-options/button-example-other-options.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/language): change text for required fields
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
Due: prettier --write

feat(sds/code-examples): add list examples
  projects/sds/src/app/code-examples/code-examples/typography/previews/lists/typography-example-lists-preview.component.html
  projects/sds/src/app/code-examples/code-examples/typography/previews/lists/typography-example-lists-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/typography/previews/lists/typography-example-lists-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/typography/typography-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/typography/typography-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/icon): change code example order
  projects/sds/src/app/code-examples/code-examples/icons/icons-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): only keep global rules in root `eslintrc.yml`
  .eslintrc.yml
  projects/oblique/.eslintrc.yml
  projects/sds/.eslintrc.yml
  projects/service-navigation-web-component/.eslintrc.yml
  projects/service-navigation-web-component/tsconfig.app.json
  projects/service-navigation-web-component/tsconfig.scripts.json
  projects/stylesBuilder/.eslintrc.yml
  tsconfig.other.json
Due: prettier --write

chore(toolchain): only keep global rules in root `stylintrc.yml`
  .stylelintrc.yml
  projects/oblique/.stylelintrc.yml
  projects/sds/.stylelintrc.yml
Due: prettier --write

chore(toolchain): let oblique project take care of its own linting
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  package.json
  projects/oblique/.eslintrc.local.yml
  projects/oblique/.eslintrc.yml
  projects/oblique/.prettierignore
  projects/oblique/.stylelintignore
  projects/oblique/package.json
  projects/oblique/scripts/lint.ts
  scripts/lint.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): let sandbox project take care of its own linting
  package.json
  projects/sandbox/.eslintrc.local.yml
  projects/sandbox/package.json
  projects/sandbox/scripts/lint.ts
  scripts/lint.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): let SDS project take care of its own linting
  .eslintignore
  .prettierignore
  package.json
  projects/sds/.eslintrc.local.yml
  projects/sds/.eslintrc.yml
  projects/sds/.prettierignore
  projects/sds/package.json
  projects/sds/scripts/lint.ts
  scripts/lint.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): let service navigation project take care of its own linting
  package.json
  projects/service-navigation-web-component/.eslintrc.local.yml
  projects/service-navigation-web-component/package.json
  projects/service-navigation-web-component/scripts/lint.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove lint configuration for stylesBuilder
  .stylelintignore
  projects/stylesBuilder/.eslintrc.yml
Due: prettier --write

feat(oblique/material): add datepicker validation translations
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
Due: prettier --write

feat(sandbox/material): add obErrorMessages to the min/max datepicker example
  projects/sandbox/src/app/material/datepicker/datepicker.component.html
  projects/sandbox/src/app/material/datepicker/datepicker.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/material): add datepicker example with a filter
  projects/sandbox/src/app/material/datepicker/datepicker.component.html
  projects/sandbox/src/app/material/datepicker/datepicker.component.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
