Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/schematics): add schematic rule migrate to run material mdc-migration
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
Due: eslint --fix --cache, prettier --write

fix(sds/component-pages): `list-group` examples cleanup
  projects/sds/src/app/component-pages/code-examples/list-group/list-group-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/avatar-subheader/list-group-example-avatar-subheader.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/avatar-subheader/list-group-example-avatar-subheader.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/checkbox/list-group-example-checkbox.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/checkbox/list-group-example-checkbox.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/default/list-group-example-default.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/default/list-group-example-default.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/icon-checkbox/list-group-example-icon-checkbox.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/icon-checkbox/list-group-example-icon-checkbox.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/image/list-group-example-image-preview.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/image/list-group-example-image-preview.component.ts
  projects/sds/src/assets/images/ListGroupImageExample.svg
Due: eslint --fix --cache, prettier --write

test(sds/component-pages): improve `button-code-examples` tests
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

test(sds/component-pages): improve `alert-code-examples` tests
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.spec.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/nav-tree): remove deprecated `activateAncestors` input
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.html
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/component-pages): correct typo
  projects/sds/src/app/component-pages/code-examples/dialog/previews/spinner/example-dialog-spinner/example-dialog-spinner.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): make button adhere to sds component documentation guidelines
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/colors/button-example-colors.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/colors/button-example-colors.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/other-options/button-example-other-options.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/other-options/button-example-other-options.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/primary-link-frown/button-example-primary-link-frown.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/primary-login-disabled/button-example-primary-login-disabled.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-link-no-icon/button-example-secondary-link-no-icon.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-link-no-icon/button-example-secondary-link-no-icon.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-wheelchair/button-example-secondary-wheelchair.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-wheelchair/button-example-secondary-wheelchair.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-link-no-icon-disabled/button-example-tertiary-link-no-icon-disabled.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-link-no-icon-disabled/button-example-tertiary-link-no-icon-disabled.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-repeat-no-text/button-example-tertiary-repeat-no-text.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-repeat-no-text/button-example-tertiary-repeat-no-text.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): make alert adhere to sds component documentation guidelines
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/alert/previews/has-role-alert/alert-example-has-role-alert-preview.component.html
  projects/sds/src/app/component-pages/code-examples/alert/previews/has-role-alert/alert-example-has-role-alert-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/alert/previews/info/alert-example-info-preview.component.html
  projects/sds/src/app/component-pages/code-examples/alert/previews/info/alert-example-info-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/alert/previews/success/alert-example-success-preview.component.html
  projects/sds/src/app/component-pages/code-examples/alert/previews/success/alert-example-success-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/alert/previews/type/alert-example-type-preview.component.html
  projects/sds/src/app/component-pages/code-examples/alert/previews/type/alert-example-type-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): adjust code-example title to accept html so code tag can be used
  projects/sds/src/app/component-pages/code-example/code-example.component.html
  projects/sds/src/app/component-pages/code-example/code-example.component.scss
  projects/sds/src/app/component-pages/code-example/code-example.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/file-upload): file-upload redesign to match the WGL 2023
  projects/oblique/src/lib/file-upload/drop-zone/ob-drop-zone.component.scss
  projects/oblique/src/lib/file-upload/progress/progress.component.html
  projects/oblique/src/lib/file-upload/progress/progress.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/component-pages): extend tabs with additional functions/options
  projects/sds/src/app/component-pages/tabs/tab/tab.component.ts
  projects/sds/src/app/component-pages/tabs/tabs.component.html
  projects/sds/src/app/component-pages/tabs/tabs.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/nav-tree): remove deprecated `variant` input
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/schematics/index/utils.ts
  projects/oblique/src/lib/nav-tree/_mocks/mock-nav-tree.component.ts
  projects/oblique/src/lib/nav-tree/nav-tree.api.json
  projects/oblique/src/lib/nav-tree/nav-tree.component.html
  projects/oblique/src/lib/nav-tree/nav-tree.component.scss
  projects/oblique/src/lib/nav-tree/nav-tree.component.spec.ts
  projects/oblique/src/lib/nav-tree/nav-tree.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds): add ` | undefined` to the return type of `CodeExamplesMapper.getCodeExampleComponent`
  projects/sds/src/app/component-pages/code-examples.mapper.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/nav-tree): redesign to match wgl 2023
  projects/oblique/src/lib/nav-tree/nav-tree.component.scss
  projects/oblique/src/styles/scss/core/mixins/_nav.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/nav-tree): remove deprecated `activateAncestors` input
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/src/lib/nav-tree/_mocks/mock-nav-tree.component.ts
  projects/oblique/src/lib/nav-tree/nav-tree.api.json
  projects/oblique/src/lib/nav-tree/nav-tree.component.html
  projects/oblique/src/lib/nav-tree/nav-tree.component.spec.ts
  projects/oblique/src/lib/nav-tree/nav-tree.component.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/material): `mat-datepicker` corrections
  projects/oblique/src/styles/scss/material/_mat-datepicker.scss
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/nav-tree): add code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/nav-tree/nav-tree-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/nav-tree/nav-tree-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/data-from-service/nav-tree-data.service.ts
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/data-from-service/nav-tree-example-data-from-service-preview.component.html
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/data-from-service/nav-tree-example-data-from-service-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/default/nav-tree-example-default-preview.component.html
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/default/nav-tree-example-default-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/expand-collapse/nav-tree-example-expand-collapse-preview.component.html
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/expand-collapse/nav-tree-example-expand-collapse-preview.component.scss
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/expand-collapse/nav-tree-example-expand-collapse-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/filter/nav-tree-example-filter-preview.component.html
  projects/sds/src/app/component-pages/code-examples/nav-tree/previews/filter/nav-tree-example-filter-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/file-upload): replace constructor injection with inject function
  projects/oblique/src/lib/file-upload/progress/progress.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): make badge adhere to sds component documentation guidelines
  projects/sds/src/app/component-pages/code-examples/badge/badge-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-color-warn/badge-example-color-warn.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-color-warn/badge-example-color-warn.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-default/badge-example-default.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-overlap-false/badge-example-overlap-false.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-overlap-false/badge-example-overlap-false.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-position-below-before/badge-example-position-below-before.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-position-below-before/badge-example-position-below-before.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/colors/badge-example-colors.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/colors/badge-example-colors.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/other-options/badge-example-other-options.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/other-options/badge-example-other-options.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): add file-upload examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/file-upload/file-upload-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/file-upload/file-upload-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/file-upload/previews/first/file-upload-example-first-preview.component.html
  projects/sds/src/app/component-pages/code-examples/file-upload/previews/first/file-upload-example-first-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/file-upload/previews/fourth/file-upload-example-fourth-preview.component.html
  projects/sds/src/app/component-pages/code-examples/file-upload/previews/fourth/file-upload-example-fourth-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/file-upload/previews/second/file-upload-example-second-preview.component.html
  projects/sds/src/app/component-pages/code-examples/file-upload/previews/second/file-upload-example-second-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/file-upload/previews/third/file-upload-example-third-preview.component.html
  projects/sds/src/app/component-pages/code-examples/file-upload/previews/third/file-upload-example-third-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/nav-tree): remove deprecated `variant` input
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.html
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds): add `SafeHtmlPipe` (`safeHtml`) to turn a string into `SafeHtml`
  projects/sds/src/app/shared/safeHtml/safeHtml.pipe.spec.ts
  projects/sds/src/app/shared/safeHtml/safeHtml.pipe.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/master-layout): ensure the `sub menu` is always fully displayed
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(oblique/file-upload): correct `ob-button` sizing within `ob-file-info` & `ob-file-progress`
  projects/oblique/src/lib/file-upload/file-info/file-info.component.scss
  projects/oblique/src/lib/file-upload/progress/progress.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/component-pages): hide tabs that have no content
  projects/sds/src/app/component-pages/component-pages/component-pages.component.html
  projects/sds/src/app/component-pages/component-pages/component-pages.component.ts
  projects/sds/src/app/component-pages/no-match/no-code-examples-match.component.html
  projects/sds/src/app/component-pages/no-match/no-code-examples-match.component.spec.ts
  projects/sds/src/app/component-pages/no-match/no-code-examples-match.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/nav-tree): add toggle for the filter feature
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.html
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.spec.ts
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): make datepicker adhere to sds component documentation guidelines
  projects/sds/src/app/component-pages/code-examples/datepicker/datepicker-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/datepicker/previews/default/datepicker-example-default.component.html
  projects/sds/src/app/component-pages/code-examples/datepicker/previews/default/datepicker-example-default.component.ts
  projects/sds/src/app/component-pages/code-examples/datepicker/previews/other-options/datepicker-example-other-options-preview.component.html
  projects/sds/src/app/component-pages/code-examples/datepicker/previews/other-options/datepicker-example-other-options-preview.component.ts
Due: eslint --fix --cache, prettier --write

chore(sandbox/master-layout): remove api & description sections
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/master-layout): improve link in master layout example
  projects/sds/src/app/component-pages/code-examples/master-layout/previews/stackblitz-link/master-layout-example-stackblitz-link-preview.component.html
Due: eslint --fix --cache, prettier --write

chore(sds/toolchain): add a manifest for the `demo` environment
  projects/sds/manifest-demo.yml
Due: prettier --write

feat(sds): add `ob-media-breakpoint` mixins with same structure as oblique
  projects/sds/src/styles/scss/core/_variables.scss
  projects/sds/src/styles/scss/core/mixins/_layout.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/toolchain): remove copying of `*.api.json` & `*.description.html` files
  projects/oblique/scripts/post-dist/steps/copy-dist-files.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/material): extract logic out of select directive so it can be reused
  projects/oblique/src/lib/form-field/select-panel-class-helper.spec.ts
  projects/oblique/src/lib/form-field/select-panel-class-helper.ts
  projects/oblique/src/lib/form-field/select.directive.ts
Due: eslint --fix --cache, prettier --write

fix(sds/notification): remove `PreviewComponent` interface
  projects/sds/src/app/component-pages/code-examples/notification/previews/default/notification-example-default-preview.component.ts
  projects/sds/src/app/component-pages/code-examples/notification/previews/other-options/notification-example-other-options-preview.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/button): update to standalone
  projects/oblique/src/lib/button/_mocks/mock-button.directive.ts
  projects/oblique/src/lib/button/_mocks/mock-button.module.ts
  projects/oblique/src/lib/button/button.directive.spec.ts
  projects/oblique/src/lib/button/button.directive.ts
  projects/oblique/src/lib/button/button.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): update checkbox to standalone
  projects/oblique/src/lib/checkbox/checkbox.directive.ts
  projects/oblique/src/lib/checkbox/checkbox.module.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/popover): add `panelContentId` input
  projects/oblique/src/lib/popover/popover.directive.spec.ts
  projects/oblique/src/lib/popover/popover.directive.ts
Due: eslint --fix --cache, prettier --write

chore(sandbox/column-layout): remove api & description sections
  projects/sandbox/src/app/samples/column-layout-full-height/column-layout-full-height-sample.component.html
  projects/sandbox/src/app/samples/column-layout/column-layout-sample.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/component-pages): correct `.layout-column` by prefixing it with `&`
  projects/sds/src/app/component-pages/code-example-flex-layout.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/popover): update to standalone
  projects/oblique/src/lib/popover/_mocks/mock-popover.directive.ts
  projects/oblique/src/lib/popover/_mocks/mock-popover.module.ts
  projects/oblique/src/lib/popover/popover.directive.spec.ts
  projects/oblique/src/lib/popover/popover.directive.ts
  projects/oblique/src/lib/popover/popover.module.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
