Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): move `dist` scripts to oblique
  package.json
  projects/oblique/package.json
  projects/oblique/scripts/post-dist/steps/adapt-package-json.ts
  projects/oblique/scripts/post-dist/steps/add-banner.ts
  projects/oblique/scripts/post-dist/steps/copy-dist-files.ts
  projects/oblique/scripts/post-dist/steps/distribute-ob-features.ts
  projects/oblique/scripts/post-dist/steps/rename-distribution.ts
  projects/oblique/scripts/post-dist/steps/update-paths.ts
  projects/oblique/scripts/pre-dist/generate-component-styles.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): ensure error messages and icons are updated before a release
  projects/oblique/package.json
Due: prettier --write

chore(toolchain): move `start` script to sandbox
  package.json
  projects/sandbox/package.json
Due: prettier --write

chore(toolchain): move `build` scripts to sandbox
  package.json
  projects/sandbox/package.json
Due: prettier --write

chore(toolchain): use `oblique4` pipeline and refactor accordingly
  Jenkinsfile
  projects/oblique/package.json
Due: prettier --write

refactor(toolchain): improve `hook.commit-rules.ts` code quality
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): add package name as scope prefix for commit message
  CONTRIBUTING.md
  projects/oblique/scripts/release/release.ts
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): simplify `hook.commit-rules.ts`
  scripts/husky/hook.commit-rules.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): remove `schematics/package-lock.json`
  projects/oblique/schematics/package-lock.json
  projects/oblique/scripts/release/release.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): move `publishConfig` into oblique
  package.json
  projects/oblique/package.json
  projects/oblique/scripts/post-dist/steps/adapt-package-json.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): adapt `schematics/package.json` during publish instead of release
  projects/oblique/schematics/package.json
  projects/oblique/scripts/post-dist/run-post-dist-steps.ts
  projects/oblique/scripts/post-dist/steps/adapt-schematics-package-json.ts
  projects/oblique/scripts/release/release.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/master-layout): adjust custom header control ob buttons from `secondary` to `tertiary`
  projects/sandbox/src/app/app.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/material): add list-group code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/list-group/list-group-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/list-group/list-group-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/list-group-example-checkbox/list-group-example-checkbox.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/list-group-example-checkbox/list-group-example-checkbox.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/list-group-example-default/list-group-example-default.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/list-group-example-default/list-group-example-default.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/list-group-example-icon-checkbox/list-group-example-icon-checkbox.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/list-group-example-icon-checkbox/list-group-example-icon-checkbox.component.ts
  projects/sds/src/app/component-pages/code-examples/list-group/previews/list-group-example-icon/list-group-example-icon.component.html
  projects/sds/src/app/component-pages/code-examples/list-group/previews/list-group-example-icon/list-group-example-icon.component.ts
  projects/sds/src/app/component-pages/component-pages.module.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): simplify `adapt-package-json.ts` and `adapt-schematics-package-json.ts`
  projects/oblique/scripts/post-dist/steps/adapt-package-json.ts
  projects/oblique/scripts/post-dist/steps/adapt-schematics-package-json.ts
  projects/oblique/scripts/post-dist/steps/package-json.ts
Due: eslint --fix --cache, prettier --write

feat(material): replace legacy mat form modules & implement their redesign
  projects/oblique/src/lib/autocomplete/_harness/autocomplete.harness.ts
  projects/oblique/src/lib/autocomplete/autocomplete.component.html
  projects/oblique/src/lib/autocomplete/autocomplete.component.scss
  projects/oblique/src/lib/autocomplete/autocomplete.component.spec.ts
  projects/oblique/src/lib/autocomplete/autocomplete.module.ts
  projects/oblique/src/lib/form-field/select.directive.spec.ts
  projects/oblique/src/lib/form-field/select.directive.ts
  projects/oblique/src/lib/input-clear/input-clear.directive.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.scss
  projects/oblique/src/lib/utilities.model.ts
  projects/oblique/src/lib/utilities.spec.ts
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/styles/scss/core/components/_form.scss
  projects/oblique/src/styles/scss/material/_mat-autocomplete.scss
  projects/oblique/src/styles/scss/material/_mat-button.scss
  projects/oblique/src/styles/scss/material/_mat-checkbox-radio.scss
  projects/oblique/src/styles/scss/material/_mat-dialog.scss
  projects/oblique/src/styles/scss/material/_mat-form-field.scss
  projects/oblique/src/styles/scss/material/_mat-select.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-checkbox-radio.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-form-field.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-panel.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): add subheading-1 value as font-size variable & use it in `mat-typography`
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/material/_mat-typography.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore: update contributing for sandbox package
  CONTRIBUTING.md
Due: prettier --write

feat(oblique/master-layout): add `languageSelectorStyle` with `dropdown` and `tabs` options
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/master-layout/master-layout.model.ts
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): add a title to badge previews
  projects/sds/src/app/component-pages/code-examples/badge/badge-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

feat(oblique/material): material table legacy replacements
  projects/oblique/src/lib/checkbox/checkbox.directive.spec.ts
  projects/oblique/src/lib/checkbox/checkbox.directive.ts
  projects/oblique/src/lib/error-messages/error-messages.directive.ts
  projects/oblique/src/lib/file-upload/_mocks/mock-file-info.component.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.spec.ts
  projects/oblique/src/lib/file-upload/file-info/file-info.component.ts
  projects/oblique/src/lib/file-upload/file-upload.module.ts
  projects/oblique/src/styles/scss/oblique-material.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/service-navigation): move login icon from left side to right side of login text
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.scss
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): change focus boxshadow color acording to wgl 2023
  projects/oblique/src/styles/scss/core/mixins/_shadow.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(toolchain): update root path in Staticfile
  projects/sds/src/nginx/Staticfile
Due: none

fix(toolchain): correction for nginx configuration
  angular.json
  manifest-dev.yml
  projects/sds/src/nginx/Staticfile
Due: prettier --write

refactor(sds/component-pages): use a function to `require` the snippet
  projects/sds/src/app/component-pages/code-examples.model.ts
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/banner/banner-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
  projects/sds/src/app/component-pages/no-match/no-code-examples-match.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/material): adjust table hover & checked class application
  projects/sandbox/src/app/material/button/button.component.html
  projects/sandbox/src/app/material/table/table.component.html
  projects/sandbox/src/app/material/table/table.component.ts
  projects/sandbox/src/app/samples/external-link/external-link.component.html
  projects/sandbox/src/app/samples/form/form.component.html
  projects/sandbox/src/app/styles/grid/grid.component.html
  projects/sandbox/src/app/styles/table/table.component.html
Due: eslint --fix --cache, prettier --write

feat(oblique/file-upload): adjust file upload table classes
  projects/oblique/src/lib/file-upload/file-info/file-info.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/component-pages): move the `snippets` info to the `previews` property
  projects/sds/src/app/component-pages/code-examples.model.ts
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/component-pages): ensure a content is shown when no preview is available
  projects/sds/src/app/component-pages/tabs/tab/tab.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/button): add code examples
  projects/sds/src/app/app.module.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/primary-link-frown/button-example-primary-link-frown.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/primary-link-frown/button-example-primary-link-frown.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/primary-login-disabled/button-example-primary-login-disabled.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/primary-login-disabled/button-example-primary-login-disabled.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-link-no-icon/button-example-secondary-link-no-icon.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-link-no-icon/button-example-secondary-link-no-icon.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-wheelchair/button-example-secondary-wheelchair.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/secondary-wheelchair/button-example-secondary-wheelchair.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-link-no-icon-disabled/button-example-tertiary-link-no-icon-disabled.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-link-no-icon-disabled/button-example-tertiary-link-no-icon-disabled.component.ts
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-repeat-no-text/button-example-tertiary-repeat-no-text.component.html
  projects/sds/src/app/component-pages/code-examples/button/previews/tertiary-repeat-no-text/button-example-tertiary-repeat-no-text.component.ts
  projects/sds/src/app/component-pages/code-examples/code-examples.mapper.ts
  projects/sds/src/app/component-pages/component-pages.module.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): adjust scopes to allow `material` scope with `sds`
  CONTRIBUTING.md
Due: prettier --write

feat(oblique/material): datepicker design according to WGL 2023
  projects/oblique/src/styles/scss/material/_mat-datepicker.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sandbox/material): legacy module replacements
  projects/sandbox/src/app/material/chips/chips.component.ts
  projects/sandbox/src/app/material/material.module.ts
  projects/sandbox/src/app/material/table/table-manager.ts
  projects/sandbox/src/app/material/table/table.component.ts
  projects/sandbox/src/app/samples/collapse/collapse-sample.component.spec.ts
  projects/sandbox/src/app/samples/samples.module.ts
  projects/sandbox/src/app/styles/styles.module.ts
Due: eslint --fix --cache, prettier --write

refactor(sds/component-pages): move all `component-pages.component` files into an eponymous folder
  projects/sds/src/app/component-pages/component-pages-routing.module.ts
  projects/sds/src/app/component-pages/component-pages.module.ts
  projects/sds/src/app/component-pages/component-pages/component-pages.component.html
  projects/sds/src/app/component-pages/component-pages/component-pages.component.scss
  projects/sds/src/app/component-pages/component-pages/component-pages.component.spec.ts
  projects/sds/src/app/component-pages/component-pages/component-pages.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): remove unnecessary button focus style
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(toolchain): update path in `manifest-dev.yml`
  manifest-dev.yml
Due: prettier --write

refactor(sandbox/master-layout): use shortened SCSS imports
  projects/sandbox/src/app/samples/master-layout/master-layout-sample.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/component-pages): remove unnecessary CSS code
  projects/sds/src/app/component-pages/code-example/code-example.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/material): add badge code examples
  projects/sds/src/app/component-pages/code-examples.mapper.ts
  projects/sds/src/app/component-pages/code-examples/badge/badge-code-examples.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/badge/badge-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-color-warn/badge-example-color-warn.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-color-warn/badge-example-color-warn.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-default/badge-example-default.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-default/badge-example-default.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-overlap-false/badge-example-overlap-false.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-overlap-false/badge-example-overlap-false.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-position-below-before/badge-example-position-below-before.component.html
  projects/sds/src/app/component-pages/code-examples/badge/previews/badge-example-position-below-before/badge-example-position-below-before.component.ts
  projects/sds/src/app/component-pages/code-examples/badge/previews/shared/badge-code-examples.component.scss
  projects/sds/src/app/component-pages/component-pages.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sds/component-pages): allow free number of source file of each type in the code examples
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/alert/alert-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.html
  projects/sds/src/app/component-pages/code-examples/button/button-code-examples.component.ts
  projects/sds/src/app/component-pages/code-examples/code-example/code-example.component.html
  projects/sds/src/app/component-pages/code-examples/code-example/code-example.component.spec.ts
  projects/sds/src/app/component-pages/code-examples/code-example/code-example.component.ts
  projects/sds/src/app/component-pages/code-examples/code-example/code-example.model.ts
  projects/sds/src/app/component-pages/code-examples/code-example/source-code.model.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
