Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

feat(sds/autocomplete): remove deprecated `filterRegexPattern` code example
  projects/sds/src/app/code-examples/code-examples/autocomplete/autocomplete-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/filter-regex-pattern/autocomplete-example-filter-regex-pattern.component.html
  projects/sds/src/app/code-examples/code-examples/autocomplete/previews/filter-regex-pattern/autocomplete-example-filter-regex-pattern.component.ts
Due: eslint --fix --cache, prettier --write

test(sandbox): use dynamic name for component names
  projects/sandbox/src/app/api/api-element.component.spec.ts
  projects/sandbox/src/app/api/api.component.spec.ts
  projects/sandbox/src/app/home/home.page.spec.ts
  projects/sandbox/src/app/samples/breadcrumb/breadcrumb.component.spec.ts
  projects/sandbox/src/app/samples/collapse/collapse-sample.component.spec.ts
  projects/sandbox/src/app/samples/error-messages-sample/error-messages-sample.component.spec.ts
  projects/sandbox/src/app/samples/nav-tree/nav-tree-sample.component.spec.ts
  projects/sandbox/src/app/samples/number-format/number-format-sample.component.spec.ts
  projects/sandbox/src/app/samples/schema-validation/schema-validation-sample.component.spec.ts
  projects/sandbox/src/app/samples/sticky/sticky-sample.component.spec.ts
Due: eslint --fix --cache, prettier --write

fix(oblique/toolchain): list `js-cookie` as a `dependencies`
  projects/oblique/package.json
Due: prettier --write

feat(sds/translate-params): add code example
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/translate-params/previews/default/translate-params-example-default-preview.component.html
  projects/sds/src/app/code-examples/code-examples/translate-params/previews/default/translate-params-example-default-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/translate-params/translate-params-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/translate-params/translate-params-code-examples.component.ts
  projects/sds/src/assets/i18n/en.json
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): ensure `getJsonSnippet` is only used to load JSON files
  projects/sds/src/app/code-examples/code-examples.model.ts
Due: eslint --fix --cache, prettier --write

fix(sds/code-examples): correct duplicate component selectors from copy paste
  projects/sds/src/app/code-examples/code-examples/chips/chips-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/paginator/paginator-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/spinner/spinner-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique): activate `@angular-eslint/sort-lifecycle-methods`
  projects/oblique/.eslintrc.yml
  projects/oblique/src/lib/autocomplete/autocomplete.component.ts
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
  projects/oblique/src/lib/sticky/sticky.component.ts
Due: eslint --fix --cache, prettier --write

feat(sds/global-events): add global events examples
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/global-events/global-events-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/global-events/global-events-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/global-events/previews/global-events-example-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/global-events/previews/ob-outside-filter/global-events-example-ob-outside-filter-preview.component.html
  projects/sds/src/app/code-examples/code-examples/global-events/previews/ob-outside-filter/global-events-example-ob-outside-filter-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/global-events/previews/properties/global-events-example-properties-preview.component.html
  projects/sds/src/app/code-examples/code-examples/global-events/previews/properties/global-events-example-properties-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(oblique/material): improve select aspect
  projects/oblique/src/styles/scss/material/mixins/_mat-panel.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/code-examples): adjust `add-code-example` schematic to check for exact matches
  projects/sds/schematics/src/nodes.utils.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): add `sds/styles` as possible scope to `CONTRIBUTING.md`
  CONTRIBUTING.md
Due: prettier --write

fix(sandbox/material): use `mat-chip-row` inside `mat-chip-listbox`
  projects/sandbox/src/app/material/chips/chips.component.html
Due: eslint --fix --cache, prettier --write

fix(sds/toolchain): copy Staticfile into dist/sds
  projects/sds/scripts/post-dist/copy-nginx.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/material): include paginator icons directly in the CSS
  projects/oblique/src/styles/scss/material/_mat-paginator.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(sds/toolchain): call `perform` function within `CopyNginx` script
  projects/sds/scripts/post-dist/copy-nginx.ts
Due: eslint --fix --cache, prettier --write

feat(toolchain): migrate from Angular 15 to 16
  .eslintrc.yml
  package-lock.json
  package.json
  projects/oblique/.eslintrc.yml
  projects/oblique/package.json
  projects/oblique/schematics/index/ng-add/ng-add-utils.ts
  projects/oblique/schematics/index/ng-add/templates/default-jestGlobalMocks.config
  projects/oblique/schematics/index/ng-add/templates/home.component.html
  projects/oblique/schematics/index/ng-add/templates/home.component.scss.config
  projects/oblique/src/styles/scss/material/_mat-chip.scss
  projects/oblique/tsconfig.spec.json
  projects/sandbox/.eslintrc.yml
  projects/sandbox/src/app/material/tooltip/tooltip.component.scss
  projects/sandbox/src/app/samples/error-messages-sample/error-messages-sample.component.html
  projects/sandbox/src/app/styles/stepper/stepper.component.scss
  projects/sds/.eslintrc.yml
  projects/sds/package.json
  projects/sds/schematics/src/add-code-example/add-code-example.utils.ts
  projects/sds/schematics/src/add-preview/add-preview.utils.ts
  projects/sds/schematics/src/nodes.utils.ts
  projects/sds/schematics/src/sds.utils.ts
  projects/sds/schematics/src/workspace.utils.ts
  tests/setupJest.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/code-examples): adjust `add-code-example` schematic to produce kebab-case slugs
  projects/sds/schematics/src/add-code-example/add-code-example.utils.ts
  projects/sds/schematics/src/nodes.utils.ts
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): add oblique i18n folder to `getJsonRequire` in `code-examples.model.ts`
  projects/sds/src/app/code-examples/code-examples.model.ts
Due: eslint --fix --cache, prettier --write

refactor(oblique/collapse): move collapse animations into their own file
  projects/oblique/src/lib/collapse/collapse.component.animations.ts
  projects/oblique/src/lib/collapse/collapse.component.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove publish instructions for 11.0.0-alpha.2 from `Jenkinsfile`
  Jenkinsfile
Due: none

feat(sds/code-examples): add translations examples
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/translations/previews/stackblitz-link/translations-example-stackblitz-link-preview.component.html
  projects/sds/src/app/code-examples/code-examples/translations/previews/stackblitz-link/translations-example-stackblitz-link-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/translations/previews/stackblitz-link/translations-example-stackblitz-link-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/translations/translations-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/translations/translations-code-examples.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds): remove internationalization category
  projects/sds/src/app.routes.ts
Due: eslint --fix --cache, prettier --write

feat(sds/code-examples): kebab-case all keys, which allows routes to be kebab-case
  projects/sds/src/app/code-examples/code-examples.mapper.ts
Due: eslint --fix --cache, prettier --write

feat(sds/schema-validation): add code examples
  projects/sds/src/app/code-examples/code-examples.mapper.ts
  projects/sds/src/app/code-examples/code-examples/schema-validation/previews/reactive-form/schema-validation-example-reactive-form-preview.component.html
  projects/sds/src/app/code-examples/code-examples/schema-validation/previews/reactive-form/schema-validation-example-reactive-form-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/schema-validation/previews/template-driven-form/schema-validation-example-template-driven-form-preview.component.html
  projects/sds/src/app/code-examples/code-examples/schema-validation/previews/template-driven-form/schema-validation-example-template-driven-form-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/schema-validation/schema-validation-code-examples.component.spec.ts
  projects/sds/src/app/code-examples/code-examples/schema-validation/schema-validation-code-examples.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/toolchain): remove warning about `ajv` and `ajv-formats`
  angular.json
Due: prettier --write

refactor(toolchain): activate `@angular-eslint/template/prefer-ngsrc` Eslint rule
  .eslintrc.yml
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.html
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
  projects/oblique/src/lib/service-navigation/applications/service-navigation-applications.component.html
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.html
  projects/oblique/src/lib/service-navigation/profile/service-navigation-profile.component.spec.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/lib/service-navigation/shared/popover-section/service-navigation-popover-section.component.spec.ts
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/material/_mat-card.scss
  projects/sandbox/src/app/material/card/card.component.html
  projects/sandbox/src/app/material/material.module.ts
  projects/sds/src/app/code-examples/code-examples/card/previews/card-with-multiple-sections/card-with-multiple-sections.component.html
  projects/sds/src/app/code-examples/code-examples/card/previews/card-with-multiple-sections/card-with-multiple-sections.component.ts
  projects/sds/src/app/code-examples/code-examples/list-group/previews/avatar-subheader/list-group-example-avatar-subheader.component.html
  projects/sds/src/app/code-examples/code-examples/list-group/previews/image/list-group-example-image-preview.component.html
  projects/sds/src/app/code-examples/code-examples/list-group/previews/image/list-group-example-image-preview.component.ts
  projects/sds/src/app/side-navigation/image/image.component.html
  projects/sds/src/app/side-navigation/image/image.component.spec.ts
  projects/sds/src/app/side-navigation/image/image.component.ts
  projects/sds/src/app/side-navigation/side-navigation.component.html
  projects/sds/src/app/side-navigation/side-navigation.component.ts
  projects/sds/src/app/side-navigation/side-navigation.model.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

refactor(oblique/scrolling): simplify code for back to top button
  projects/oblique/src/lib/scrolling/top-control.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/styles): add section styles
  projects/sds/src/styles/scss/core/_section.scss
  projects/sds/src/styles/styles.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(toolchain): improve layout & spacing in `home.component.scss` template for `ng-add`
  projects/oblique/schematics/index/ng-add/templates/home.component.scss.config
Due: none

refactor(sds): order the methods of `TabsComponent` based on their usage
  projects/sds/src/app/shared/tabs/tabs.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/material): remove use of the deprecated pop-up feature
  projects/sandbox/src/app/material/table/table-manager.ts
  projects/sandbox/src/app/material/table/table.component.ts
Due: eslint --fix --cache, prettier --write

feat(sandbox/file-upload): add file amount limit showcase
  projects/sandbox/src/app/samples/file-upload-sample/file-upload-sample.component.html
  projects/sandbox/src/app/samples/file-upload-sample/file-upload-sample.component.ts
Due: eslint --fix --cache, prettier --write

fix(sds/side-navigation): make links in navigation unclickable when collapsed
  projects/sds/src/app/side-navigation/accordion-links/accordion-links.component.html
Due: eslint --fix --cache, prettier --write

feat(sandbox/styles): remove stepper example
  projects/sandbox/src/app/app.component.ts
  projects/sandbox/src/app/styles/stepper/stepper.component.html
  projects/sandbox/src/app/styles/stepper/stepper.component.scss
  projects/sandbox/src/app/styles/stepper/stepper.component.ts
  projects/sandbox/src/app/styles/styles.module.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/code-examples): remove table examples with `ob-table-cicd` class
  projects/sds/src/app/code-examples/code-examples/html-table/html-table-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/html-table/previews/styles/html-table-example-styles-preview.component.html
  projects/sds/src/app/code-examples/code-examples/html-table/previews/styles/html-table-example-styles-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/html-table/previews/styles/html-table-example-styles-preview.component.ts
  projects/sds/src/app/code-examples/code-examples/material-table/material-table-code-examples.component.ts
  projects/sds/src/app/code-examples/code-examples/material-table/previews/styles/material-table-example-styles-preview.component.html
  projects/sds/src/app/code-examples/code-examples/material-table/previews/styles/material-table-example-styles-preview.component.scss
  projects/sds/src/app/code-examples/code-examples/material-table/previews/styles/material-table-example-styles-preview.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(sds/styles): add envelope icon after `mailto:` links
  projects/sds/src/styles/scss/core/_link.scss
  projects/sds/src/styles/styles.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(sandbox/styles): remove unnecessary code
  projects/sandbox/src/app/styles/table/table.component.html
Due: eslint --fix --cache, prettier --write

feat(sds/toolchain): update CSP to allow `frame-src` from the CMS
  projects/sds/src/nginx/security_headers.conf
Due: none

feat(sandbox/styles): remove `ob-table-cicd` table option
  projects/sandbox/src/app/styles/table/table.component.html
  projects/sandbox/src/app/styles/table/table.component.ts
Due: eslint --fix --cache, prettier --write
