Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

.lintstagedrc.yml:

"*.{ts,js,html}": eslint --fix --cache
"*.{css,scss}": stylelint --fix --cache --allow-empty-input
"*.{ts,js,html,json,yml,md,css,scss}": prettier --write

refactor(multi-translate-loader): improve code quality
  projects/oblique/src/lib/multi-translate-loader/multi-translate-loader.model.ts
  projects/oblique/src/lib/multi-translate-loader/multi-translate-loader.ts
Due: eslint --fix --cache, prettier --write

feat(multi-translate-loader): provide a useful error message in case of missing translations
  projects/oblique/src/lib/multi-translate-loader/multi-translate-loader.ts
Due: eslint --fix --cache, prettier --write

fix(toolchain): fix bad formating on DEPENDENCIES.md
  DEPENDENCIES.md
Due: prettier --write

test(global-events): clean up the ObMockGlobalEventsService
  projects/oblique/src/lib/global-events/_mocks/mock-global-events.service.ts
Due: eslint --fix --cache, prettier --write

feat(authentication): add feature
  CONTRIBUTING.md
  DEPENDENCIES.md
  package-lock.json
  package.json
  projects/oblique/package.json
  projects/oblique/src/lib/authentication/_mocks/mock-authentication-config-service.ts
  projects/oblique/src/lib/authentication/_mocks/mock-authentication-module.ts
  projects/oblique/src/lib/authentication/_mocks/mock-authentication-service.ts
  projects/oblique/src/lib/authentication/authentication-config.service.spec.ts
  projects/oblique/src/lib/authentication/authentication-config.service.ts
  projects/oblique/src/lib/authentication/authentication.api.json
  projects/oblique/src/lib/authentication/authentication.description.html
  projects/oblique/src/lib/authentication/authentication.model.ts
  projects/oblique/src/lib/authentication/authentication.module.ts
  projects/oblique/src/lib/authentication/authentication.service.spec.ts
  projects/oblique/src/lib/authentication/authentication.service.ts
  projects/oblique/src/lib/oblique-testing.module.ts
  projects/oblique/src/lib/oblique.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

test(master-layout): add coverage for jump links
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
Due: eslint --fix --cache, prettier --write

refactor(master-layout): only check navigation changes in the ObMasterLayoutComponent`
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, prettier --write

fix(master-layout): ensure the jump links numbering is refreshed on navigation change
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, prettier --write

fix(master-layout): the `jumpLink` input accepts `ObIJumpLink`
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.ts
Due: eslint --fix --cache, prettier --write

showcase(toolchain): activate telemetry
  src/main.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove unnecessary post dist processing
  gulpfile.ts
  package.json
Due: eslint --fix --cache, prettier --write

feat(telemetry): read project's data from an injection token instead of from `package.json`
  projects/oblique/src/lib/telemetry/telemetry-record.spec.ts
  projects/oblique/src/lib/telemetry/telemetry-record.ts
  projects/oblique/src/lib/telemetry/telemetry.model.ts
  projects/oblique/src/lib/telemetry/telemetry.service.spec.ts
  projects/oblique/src/lib/telemetry/telemetry.service.ts
Due: eslint --fix --cache, prettier --write

fix(telemetry): ensure the telemetry marker is kept is production mode
  projects/oblique/src/styles/scss/themes/oblique-bootstrap.scss
  projects/oblique/src/styles/scss/themes/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): use a node script to distribute the schematics
  DEPENDENCIES.md
  package-lock.json
  package.json
  projects/oblique/schematics/package.json
  scripts/schematics-copy.ts
Due: eslint --fix --cache, prettier --write

fix(authentication): remove the `ObAuthenticationModule` from the `ObliqueModule`
  projects/oblique/src/lib/oblique.module.ts
Due: eslint --fix --cache, prettier --write

refactor(material): simplify button's code
  projects/oblique/src/styles/scss/themes/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(material): ensures Oblique style for `mat-icon-button` only applies to Oblique buttons
  projects/oblique/src/styles/scss/themes/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(material): use `$ob-font-size-biggest` for icon size within buttons
  projects/oblique/src/styles/scss/themes/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(material): justify magic numbers for buttons or replace them with variables
  projects/oblique/src/styles/scss/core/_variables.scss
  projects/oblique/src/styles/scss/themes/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(column-layout): center the icons within toggles
  projects/oblique/src/lib/column-layout/column-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(notification): improve code
  projects/oblique/src/lib/notification/notification.component.ts
  tests/jest.config.js
Due: eslint --fix --cache, prettier --write

chore(toolchain): add missing member types on `@typescript-eslint/member-ordering` ESlint rule
  .eslintrc.yml
Due: prettier --write

refactor(toolchain): improve `copy-error-messages` code
  scripts/copy-error-messages.ts
Due: eslint --fix --cache, prettier --write

refactor(toolchain): improve `icons` code
  scripts/icons.ts
Due: eslint --fix --cache, prettier --write

showcase(styles): change the path of the imports
  src/app/api/api.component.scss
  src/app/home/home.page.scss
  src/app/material/card/card.component.scss
  src/app/samples/button/button.component.scss
  src/app/samples/file-upload-sample/file-upload-sample.component.scss
  src/app/samples/master-layout/master-layout-sample.component.scss
  src/app/samples/selectable/selectable-sample.component.scss
  src/app/styles/grid/grid.component.scss
  src/app/styles/palette/palette.component.scss
  src/app/styles/screen-reader-only/screen-reader-only.component.scss
  src/app/styles/stepper/stepper.component.scss
  src/app/styles/tabs/tabs.component.scss
  src/app/styles/typography/typography.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(styles): activate the preprocessor option
  angular.json
Due: prettier --write

chore(toolchain): use a node script instead of gulp tasks to copy files in the distribution
  gulpfile.ts
  package.json
  scripts/copy-dist-files.ts
Due: eslint --fix --cache, prettier --write

fix(material): remove the hover effect on disabled buttons
  projects/oblique/src/styles/scss/core/mixins/_tab-outline.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(material): ensure the ripple effect don't hide the icon with `mat-icon-button`
  projects/oblique/src/styles/scss/themes/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(column-layout): ensure the column layout uses the full height in a fixed layout context
  projects/oblique/src/lib/column-layout/column-layout.component.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(styles): remove unwanted styles from `oblique-utilities.scss`
  projects/oblique/src/styles/scss/oblique-utilities.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

chore(toolchain): disable automatically running `npm ci` when necessary on `git pull` on windows
  scripts/dependency-update.ts
Due: eslint --fix --cache, prettier --write

fix(material): ensure correct positioning of form's hint and error messages
  projects/oblique/src/styles/scss/themes/material/_mat-form-field.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

refactor(toolchain): reactivate @typescript-eslint/ban-types rule and refactor accordingly
  .eslintrc.yml
  projects/oblique/schematics/index/utils.ts
  projects/oblique/src/lib/_mocks/mock-translate.service.ts
  projects/oblique/src/lib/file-upload/_mock/mock-file-upload.sevice.ts
  projects/oblique/src/lib/file-upload/file-upload.service.ts
  projects/oblique/src/lib/http-api-interceptor/http-api-interceptor.spec.ts
  projects/oblique/src/lib/http-api-interceptor/http-api-interceptor.ts
  projects/oblique/src/lib/selectable/_mocks/mock-selectable-group.directive.ts
  projects/oblique/src/lib/translate-params/translate-params.pipe.ts
Due: eslint --fix --cache, prettier --write

showcase(input-clear): add a `bootstrap` sample
  src/app/samples/input-clear/input-clear.component.html
  src/app/samples/input-clear/input-clear.component.ts
Due: eslint --fix --cache, prettier --write

fix(input-clear): icon is vertically centered for bootstrap theme
  projects/oblique/src/styles/scss/themes/bootstrap/_text-control.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

fix(master-layout): allow expanding of main navigation item when another one is already opened
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-item.directive.ts
Due: eslint --fix --cache, prettier --write

fix(master-layout): allow closing of main navigation item with the escape key
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation-item.directive.ts
Due: eslint --fix --cache, prettier --write

fix(master-layout): toggle `aria-expanded` when a widget is closed with the escape key
  projects/oblique/src/lib/master-layout/_mocks/mock-aria-menu-button.directive.ts
  projects/oblique/src/lib/master-layout/aria-menu-button.directive.spec.ts
  projects/oblique/src/lib/master-layout/aria-menu-button.directive.ts
Due: eslint --fix --cache, prettier --write
