Repository oblique-bit/oblique: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(master-layout): add example to showcase for new ob-show-external-link-icon class in footer
  src/app/app.component.html
Due: eslint --fix --cache, prettier --write

showcase(material): replace legacy module of the cards
  src/app/app.module.ts
  src/app/material/material.module.ts
  src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): remove unused `projects/oblique/package-lock.json` file
  projects/oblique/package-lock.json
Due: prettier --write

fix(service-navigation): remove unwanted margin on authentication
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.scss
  projects/oblique/src/lib/service-navigation/authentication/service-navigation-authentication.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(schematics): replace scss with css styles in `angular.json`
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
Due: eslint --fix --cache, prettier --write

feat(material): apply new style of material paginator
  projects/oblique/src/assets/i18n/oblique-de.json
  projects/oblique/src/assets/i18n/oblique-en.json
  projects/oblique/src/assets/i18n/oblique-fr.json
  projects/oblique/src/assets/i18n/oblique-it.json
  projects/oblique/src/lib/paginator/ob-paginator.service.spec.ts
  projects/oblique/src/lib/paginator/ob-paginator.service.ts
  projects/oblique/src/styles/scss/material/_mat-paginator.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): adjust button styles for new design
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase(search-box): remove deprecated feature
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/samples/samples-routing.module.ts
  src/app/samples/samples.module.ts
  src/app/samples/search-box/search-box.component.html
  src/app/samples/search-box/search-box.component.scss
  src/app/samples/search-box/search-box.component.spec.ts
  src/app/samples/search-box/search-box.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): adjust footer to match new design
  projects/oblique/src/assets/images/logo-white.svg
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.html
  projects/oblique/src/lib/master-layout/master-layout-footer/master-layout-footer.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(nav-tree): remove fake focus
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/src/lib/nav-tree/_mocks/mock-nav-tree-fake-focus.directive.ts
  projects/oblique/src/lib/nav-tree/_mocks/mock-nav-tree.module.ts
  projects/oblique/src/lib/nav-tree/nav-tree-fake-focus.directive.spec.ts
  projects/oblique/src/lib/nav-tree/nav-tree-fake-focus.directive.ts
  projects/oblique/src/lib/nav-tree/nav-tree.api.json
  projects/oblique/src/lib/nav-tree/nav-tree.module.ts
  projects/oblique/src/lib/oblique-testing.module.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

refactor(master-layout): remove unused language management
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
Due: eslint --fix --cache, prettier --write

feat(material): redesign of the progress-bar
  projects/oblique/src/styles/scss/material/_mat-progress-bar.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): redesign of the list to match the WGL 2023
  projects/oblique/src/styles/scss/material/_mat-list.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): adjust offcanvas ob-close button background coloring
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component-offcanvas.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): remove `OB_ACTIVATE_SERVICE_NAVIGATION` token
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/schematics/index/service-navigation/index.ts
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/utilities.ts
  projects/oblique/src/public_api.ts
Due: eslint --fix --cache, prettier --write

showcase(material): replace legacy module of the slider
  src/app/material/material.module.ts
  src/app/material/slider/slider.component.html
  src/app/material/slider/slider.component.scss
  src/app/material/slider/slider.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): replace the legacy modules of the cards
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
  projects/oblique/src/styles/scss/oblique-material.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase(service-navigation): use `REF` environment instead of `TEST`
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: eslint --fix --cache, prettier --write

feat(icon): merge custom configuration with the default one instead of overriding it
  projects/oblique/src/lib/icon/icon.module.ts
Due: eslint --fix --cache, prettier --write

test(material): fix paginator translation
  projects/oblique/src/lib/paginator/ob-paginator.service.spec.ts
Due: eslint --fix --cache, prettier --write

feat(master-layout): adjust navigation styles for new design
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.html
  projects/oblique/src/lib/master-layout/master-layout-navigation/master-layout-navigation.component.scss
  projects/oblique/src/styles/scss/core/mixins/_nav.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): redesign of the card to match the WGL 2023
  projects/oblique/src/styles/scss/material/_mat-card.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase(material): replace `MatLegacyButtonModule` with `MatButtonModule` in showcase
  src/app/app.module.ts
  src/app/material/material.module.ts
  src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

feat(material): apply new style of material tooltip
  projects/oblique/src/styles/scss/material/_mat-tooltip.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): adjust to color palette for new design
  projects/oblique/src/styles/scss/core/_palette.scss
  projects/oblique/src/styles/scss/material/_material-palette.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

showcase: remove `obHeaderCustomControl` content projection
  src/app/app.component.html
Due: eslint --fix --cache, prettier --write

refactor(master-layout): remove unused `ob-control-link` code & styles
  projects/oblique/src/lib/master-layout/_mocks/mock-master-layout-header.component.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.spec.ts
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.ts
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

fix(button): don't style buttons with the `ob-button-card` class
  projects/oblique/src/styles/scss/material/_mat-button.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): redesign of the slider
  projects/oblique/src/styles/scss/material/_mat-slider.scss
  projects/oblique/src/styles/scss/material/_material-palette.scss
  projects/oblique/src/styles/scss/material/mixins/_mat-slider.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: stylelint --fix --cache --allow-empty-input, prettier --write

feat(material): replace `MatLegacyButtonModule` with `MatButtonModule`
  projects/oblique/schematics/index/ng-add/rules/obliqueFeatures.ts
  projects/oblique/src/lib/button/button.directive.spec.ts
  projects/oblique/src/lib/button/button.directive.ts
  projects/oblique/src/lib/file-upload/file-upload.module.ts
  projects/oblique/src/lib/master-layout/master-layout.module.ts
  projects/oblique/src/lib/service-navigation/service-navigation.module.ts
  projects/oblique/src/styles/scss/material/_mat-button.scss
  projects/oblique/src/styles/scss/material/_mat-card.scss
  projects/oblique/src/styles/scss/oblique-material.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

showcase: fix icon rotation
  src/app/app.component.html
  src/app/app.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): adjust header to match new design
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component-controls.scss
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.html
  projects/oblique/src/lib/master-layout/master-layout-header/master-layout-header.component.scss
Due: eslint --fix --cache, stylelint --fix --cache --allow-empty-input, prettier --write

feat(master-layout): `obLocales` and `obHeaderCustomControl` content projection options are gone
  projects/oblique/schematics/index/ng-update/update-v10-to-v11.ts
  projects/oblique/src/lib/master-layout/master-layout.api.json
  projects/oblique/src/lib/master-layout/master-layout.description.html
  projects/oblique/src/lib/master-layout/master-layout/master-layout.component.html
Due: eslint --fix --cache, prettier --write

showcase: replace `MatLegacyTooltipModule` with `MatTooltipModule`
  src/app/app.module.ts
  src/app/material/material.module.ts
  src/app/material/tooltip/tooltip.component.ts
  src/app/samples/samples.module.ts
Due: eslint --fix --cache, prettier --write

showcase(material): replace legacy module of the progress-bar
  src/app/material/material.module.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): turn `oblique` and `sandbox` into npm workspaces
  package-lock.json
  package.json
  projects/oblique/package.json
  projects/sandbox/package.json
Due: prettier --write

chore(toolchain): add `update-icon` script to oblique
  projects/oblique/package.json
  projects/oblique/scripts/pre-build/run-pre-build-steps.ts
  projects/oblique/scripts/update-icons.ts
Due: eslint --fix --cache, prettier --write

chore(toolchain): move `start` script to sandbox
  package.json
  projects/sandbox/package.json
Due: prettier --write

chore(toolchain): move `test` script to sandbox and oblique
  package.json
  projects/oblique/jest.config.js
  projects/oblique/package.json
  projects/sandbox/jest.config.js
  projects/sandbox/package.json
  tests/jest.config.js
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{ts,js,html}
  stylelint --fix --cache --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{ts,js,html,json,yml,md,css,scss}
